<template>
    <span :class="[$style.SiteHeaderHamburger, color, {_active: isActive}]">
        <i :class="[$style.line, '_up']"></i>
        <i :class="[$style.line, '_center']"></i>
        <i :class="[$style.line, '_down']"></i>
    </span>
</template>

<script>
    export default {
        name: 'TheHeaderHamburger',

        props: {
            color: {
                type: String,
                default: '_black',
            },
            isActive: {
                type: Boolean,
                default: false
            },
        }
    };
</script>

<style lang="scss" module>
    .SiteHeaderHamburger {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        cursor: pointer;
        transition: opacity .3s $easing;

        &:global(._black) .line {
            background-color: $black;
        }

        &:global(._white) .line {
            background-color: $white;
        }

        &:global(._active) {

            .line:global(._up) {
                transform: translateY(-50%) rotate(45deg);
            }

            .line:global(._center) {
                opacity: 0;
            }

            .line:global(._down) {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    .line {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 100%;
        height: 2px;
        transition: transform .26s $easing, background-color .4s $easing, opacity .26s $easing;

        &:global(._up) {
            transform: translateY(-5px);
        }

        &:global(._center) {
            width: 70%;
        }

        &:global(._down) {
            transform: translateY(5px);
        }
    }
</style>
