<template>
    <section :class="[$style.Favourites, 'container']">
        <div :class="$style.top">
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">Избранное</span>
                <span class="custom-title__shadow">Избранное</span>
            </h1>
            <div v-if="flats && flats.length"
                 :class="$style.shared"
                 @click.prevent="isOpened = !isOpened">
                <svg viewBox="0 0 24 32"
                     :class="[$style.icon, {_active: isOpened}]">
                    <use xlink:href="#icon-shared"></use>
                </svg>
                <span v-if="!isOpened">поделиться избранным</span>

                <Share v-else
                       :class="$style.ShareLinks"
                       :url="fullURL"/>
            </div>
        </div>

        <template v-if="flats && flats.length">
            <ul :class="$style.FlatsList">
                <li v-for="flat in flats"
                    :key="flat.id"
                    :class="$style.cell">
                    <!--FlatCard-->
                    <FlatCard :flat="flat"/>
                </li>
            </ul>
        </template>
        <template v-else>
            <p :class="$style.text">В вашем избранном не добавлено ни одной квартиры... <br>Давайте исправим это!</p>
            <UiButton :class="$style.link"
                      url="/flats/"
                      label="Перейти к подбору"/>
        </template>
    </section>
</template>

<script>
    //vuex
    import {mapState} from 'vuex';

    //utils

    import {objectToQuery} from '../../assets/js/utils';

    //queries
    import allFavourite from '../../queries/favourite/allFavourite.gql';
    import allFlats from '../../queries/flat/allFlats.gql';
    // components
    import FlatCard from '../../components/flats/FlatCard';
    import UiButton from '../../components/ui/UiButton';
    import Share from '../../components/common/Share';

    export default {
        name: 'FavouritesIndex',
        components: {
            Share,
            UiButton,
            FlatCard,
        },

        data() {
            return {
                flats: [],
                isOpened: false,
                originURL: null,
                flatsIdString: '',
            };
        },

        computed: {
            ...mapState({
                favouriteList: state => state.favourite.favouriteList,
            }),

            fullURL() {
                return this.originURL ? `${this.originURL}/favourites/?${this.flatsIdString}` : '';
            },
        },

        async asyncData({ app, store, query }) {
            try {
                if (query.id) {
                    const { data } = await app.$gql.query({
                        query: allFlats,
                        variables: {
                            id: query.id,
                        },
                    });

                    if (!data) return;

                    return {
                        flats: data?.allFlats?.edges ? data.allFlats.edges.map(item => item.node) : [],
                    };
                } else {
                    const { data } = await app.$gql.query({
                        query: allFavourite,
                    });

                    if (!data) return;

                    return {
                        flats: data?.allFavourites?.length ? data.allFavourites : [],
                    };
                }

            } catch (e) {
                console.error(e);
            }
        },

        async fetch({store}) {
            if (store.state.menu.color !== '_white') {
                store.dispatch('menu/CHANGE_COLOR_DEFAULT');
            }
        },

        mounted() {
            this.originURL = location.origin;
            if (this.flats.length) {
                this.getFlatsId();
            }
        },

        methods: {
            getFlatsId() {
                let flatsId = this.flats.map(item => item.id);
                this.flatsIdString = objectToQuery({ id: flatsId });
            },
        },

    };
</script>

<style lang="scss" module>
    .Favourites {
        //
    }

    .top {
        display: flex;
        align-items: center;

        @include respond-to(mobile) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .shared {
        display: flex;
        align-items: center;
        margin-left: 4.7rem;
        font-size: 1.4rem;
        line-height: 1;
        font-family: $font-secondary;
        color: rgba($black, .8);
        transition: color .3s ease-out;
        cursor: pointer;

        &:hover {
            color: $orange;
            transition: color .3s ease-out;

            & .icon {
                fill: $orange;
                transition: fill .3s ease-out;
            }
        }

        @include respond-to(mobile) {
            margin-left: 24px;
            margin-top: 30px;
        }
    }

    .icon {
        width: 2.4rem;
        height: 3.2rem;
        margin-right: .8rem;
        fill: $grey;
        transition: fill .3s ease-out;

        &:global(._active) {
            fill: $green;
        }
    }

    .ShareLinks {
        margin-left: 1.6rem;
    }

    .FlatsList {
        display: flex;
        flex-wrap: wrap;
        margin: 4.7rem -2rem 0;

        @include respond-to(mobile) {
            margin: 30px 0 0 0;
            justify-content: center;
        }
    }

    .cell {
        width: 100%;
        max-width: 25rem;
        margin: 0 2rem 1.2rem;

        @include respond-to(s-mobile) {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .text {
        margin-top: 4.7rem;
        font-size: 1.3rem;
        line-height: 2;
    }

    .link {
        margin-top: 4.2rem;
    }
</style>
