<template>
    <div id="page-wrapper"
         :class="$style.pageWrapper">
        <noscript inline-template>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLBN7Z4"
                    height="0"
                    width="0"
                    style="display: none; visibility: hidden;">
            </iframe>
        </noscript>
        <noscript inline-template>
            <div>
                <img src="https://mc.yandex.ru/watch/71153968"
                      style="position: absolute; left: -9999px;"
                     alt="" />
            </div>
        </noscript>
        <TheSprite />
        <template v-if="$mq === 'xs'">
            <TheHeader />
        </template>
        <!--TheMenu-->
        <TheMenu />

        <main :class="$style.main">
            <nuxt />
        </main>

        <!--        <TheFooter/>-->
        <TheFooter />
        <!--        <TheModal/>-->
        <TheModal />
    </div>
</template>

<script>
    import {mapMutations} from 'vuex';

    import TheHeader from '~/components/layout/TheHeader';
    import TheFooter from '~/components/layout/TheFooter';
    import TheSprite from '~/components/common/TheSprite';
    import TheModal from '~/components/common/TheModal';
    import TheMenu from '../components/layout/TheMenu';

    export default {
        components: {
            TheMenu,
            TheHeader,
            TheFooter,
            TheSprite,
            TheModal,
        },

        watch: {
            $route(to, from) {
                if (this.$mq === 'xs') {
                    this.$nextTick(() => {
                        setTimeout(() => {
                            this.changeMenuState(false);
                        }, 500);
                    });
                }
            },
        },

        methods: {
            ...mapMutations({
                changeMenuState: 'menu/SET_MENU_STATE',
            }),
        },
    };
</script>

<style lang="scss" module>
    .main {
        min-height: calc(100vh - 15.8rem);

        @include respond-to(mobile) {
            min-height: calc(100vh - 90px);
        }
    }
</style>
