<template>
    <div :class="$style.error">
        <div :class="$style.description">
            <p :class="['pageTitleSmall',$style.message]">{{ message }}</p>

            <p :class="$style.linkWrap">
                Вы можете вернуться
                <a :class="$style.link"
                   @click.prevent="$router.go(-1)">
                    назад
                </a>
                или вернуться
                <n-link to="/"
                        :class="$style.link">
                    на главную
                </n-link>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'NuxtError',

        props: {
            error: {
                type: Object,
                default: null
            }
        },

        head() {
            return {
                title: this.message,
                meta: [
                    {
                        name: 'viewport',
                        content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'
                    }
                ]
            };
        },

        computed: {
            statusCode() {
                return (this.error && this.error.statusCode) || 500;
            },

            message() {
                if (this.error.statusCode === 404) {
                    return 'Страница не найдена';
                } else {
                    return this.error.message;
                }
            }
        },
    };
</script>

<style lang="scss" module>
    .error {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding-bottom: 214px;
        text-align: center;
    }

    .status {
        width: 100%;
        height: 300px;
        background-repeat: repeat;
        background-position: center;

        @include respond-to(mobile) {
            font-size: 140px;
        }
    }

    .description {
        font-size: 18px;
        font-weight: 300;

        @include respond-to(mobile) {
            font-size: 14px;
        }
    }

    .message {
        margin-top: 116px;

        @include respond-to(mobile) {
            margin-top: 32px;
        }
    }

    .linkWrap {
        margin-top: 20px;
    }

    .link {
        cursor: pointer;
        color: $orange;
    }

    .svg {
        width: 100%;
        height: 100%;
    }

    .svg rect {
        display: block;
    }

    .text {
        font: inherit;
        font-weight: 900;
        font-size: 350px;
        line-height: 1;
    }
</style>
