<template>
    <div>
        <svg style="display: block; width: 0; height: 0;">
            <SpLogo/>
        </svg>

        <nuxt/>
    </div>
</template>

<script>
    import SpLogo from '../components/common/SpriteSet/SpLogo';

    export default {
        components: {
            SpLogo
        },
    };
</script>

<style lang="scss" module>
</style>
