<template>
    <section ref="page"
             :class="[$style.MortgagePage, 'container']">
        <div class="main-container">
            <UiBackLink v-if="!$device.isMobile"
                        :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">Ипотека</span>
                <span class="custom-title__shadow">Ипотека</span>
            </h1>

<!--            <a v-if="pdfLink"-->
<!--               :href="pdfLink"-->
<!--               target="_blank"-->
<!--               :class="$style.pdfLink">-->
<!--                <svg viewBox="0 0 18 24" xmlns="http://www.w3.org/2000/svg">-->
<!--                    <use xlink:href="#icon-pdf"></use>-->
<!--                </svg>-->
<!--                <span>Скачать PDF с расчетом</span>-->
<!--            </a>-->

            <!--mortgage calculator-->
            <MortgageCalculator :class="$style.MortgageCalculator"
                                :specs="specs"
                                :payment="payment"
                                :values="values"
                                @change="onValueChange"/>
            <div v-if="!$device.isMobile"
                 :class="$style.controls">
                <div :class="$style.count">
                    <template v-if="offersCount !== 0">
                        Найдено
                        {{ offersCount }}
                        {{ offersCount|plural(['предложение', 'предложения', 'предложений']) }}
                    </template>
                    <template v-else>Ничего не найдено :(</template>
                </div>

                <FilterResetButton @reset="onReset"/>
            </div>
            <UiButton :class="$style.button"
                      type="button"
                      label="оставить заявку"
                      :is-long="true"
                      @click="$modal.open('Callback', {type: 'mortgage', title: 'Заявка на ипотеку'})"/>
            <div :class="$style.listWrap">
                <div :class="$style.header">
                    <span :class="[$style.cell, $style._bank]">Банк</span>
                    <span :class="[$style.cell, $style._rate]">Ставка</span>
                    <span :class="[$style.cell, $style._term]">Срок</span>
                    <span :class="[$style.cell, $style._payment]">Ежемесячный платеж</span>
                </div>
                <transition-group :class="$style.list"
                                  name="list"
                                  tag="div"
                                  @afterLeave="flags.reloading = false">
                    <li v-for="offer in offers"
                        :key="offer.node.id"
                        :class="$style.card">
                        <MortgageOfferCard :class-display="$mq !== 'xs' ? '_row' : '_card'"
                                           :logo="offer.node.bank.logo"
                                           :is-special="offer.node.special"
                                           :min-rate="offer.node.minRate"
                                           :payment="Math.floor(offer.node.payment)"
                                           :max-term="offer.node.maxTerm"/>
                    </li>
                    <div v-if="$device.isMobile && offersCount"
                         key="loadMore"
                         :class="$style.card">
                        <div :class="$style.cardMore">
                            <svg :class="$style.icon">
                                <use xlink:href="#icon-close"></use>
                            </svg>
                            <button type="button"
                                    :class="['btn-reset', $style.buttonMore]"
                                    @click.prevent="getOffers(true)">
                                <span>еще {{ offersCount }} <br>{{ offersCount|plural(['предложение', 'предложения', 'предложений']) }}</span>
                            </button>
                        </div>
                    </div>
                </transition-group>
            </div>
        </div>
    </section>
</template>

<script>
    // queries
    import mortgageOffersSpecs from '../../../queries/mortgage/mortgageOffersSpecs.gql';
    import flatStats from '../../../queries/mortgage/flatStats.gql';
    import allMortgageOffers from '../../../queries/mortgage/allMortgageOffers.gql';

    // components
    import UiBackLink from '../../../components/ui/UiBackLink';
    import MortgageCalculator from '../../../components/purchases/mortgage/MortgageCalculator';
    import UiButton from '../../../components/ui/UiButton';
    import FilterResetButton from '../../../components/common/filter/FilterResetButton';
    // import MortgageOfferRow from '../../../components/purchases/mortgage/MortgageOfferRow';
    import MortgageOfferCard from '../../../components/purchases/mortgage/MortgageOfferCard';

    export default {
        name: 'MortgagePage',

        components: {
            MortgageOfferCard,
            // MortgageOfferRow,
            FilterResetButton,
            UiButton,
            MortgageCalculator,
            UiBackLink,
        },

        data() {
            return {
                offersCount: 0,
                date: new Date().toLocaleString(),
                specs: {},

                values: {},
                defaultValues: {},
                offers: [],
                pageInfo: {},

                flags: {
                    reloading: false,
                    isTicking: false,
                    loading: false,
                },
            };
        },

        computed: {
            payment() {
                return this.offers.length ? Math.floor(this.offers[0].node.payment) : '';
            },
        },

        async asyncData({ app, params, store, query }) {
            await app.$gql.clearStore();
            try {
                let specsResponse = app.$gql.query({
                    query: mortgageOffersSpecs,
                });

                let flatsPriceResponse = app.$gql.query({
                    query: flatStats,
                });

                let [
                    specsData,
                    flatsPriceData,
                ] = await Promise.all([
                    specsResponse,
                    flatsPriceResponse,
                ]);

                let specs = {};

                await specsData.data.mortgageOffersSpecs.forEach(spec => {
                    specs[spec.name] = spec.choices ? spec.choices : spec.ranges;
                });

                let priceSpecs = flatsPriceData.data.flatStats;

                specs = { ...specs, ...{ 'price': { 'min': priceSpecs.minPrice, 'max': priceSpecs.maxPrice } } };
                specs['min_term'].min = 10;

                const price = Math.floor((priceSpecs.minPrice + priceSpecs.maxPrice) / 2);
                const mortgageTerm = 10;
                const mortgageDeposit = Math.floor((specs['max_deposit'].min + specs['max_deposit'].max) / 2);


                const offers = await app.$gql.query({
                    query: allMortgageOffers,
                    variables: {
                        first: 8,
                        price: price,
                        maxDeposit: mortgageDeposit,
                        minTerm: mortgageTerm,
                    },
                });

                return {
                    specs: specs,
                    defaultValues: {
                        price: price,
                        maxDeposit: mortgageDeposit,
                        minTerm: mortgageTerm,
                    },
                    offers: offers?.data?.allMortgageOffers?.edges?.length ? offers.data.allMortgageOffers.edges : [],
                    offersCount: offers?.data?.allMortgageOffers?.totalCount ? offers.data.allMortgageOffers.totalCount : 0,
                    pageInfo: {
                        first: 8,
                        after: offers.data.allMortgageOffers.pageInfo.endCursor,
                        hasNext: offers.data.allMortgageOffers.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log(e);
            }
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.purchases.purchasesList.length)
                await store.dispatch('purchases/getPurchases');
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
            this.values = { ...this.defaultValues };
            // this.setDate()
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {

            pushQueries() {
                let query = {};
                Object.keys(this.values).forEach(key => {
                    if (this.values[key] !== '' && this.values[key] !== null) {
                        query[key] = this.values[key];
                    }
                });

                this.$router.replace({
                    query: query,
                });
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },

            async getOffers(append) {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;
                await this.$gql.clearStore();

                let offers = await this.$gql.query({
                    query: allMortgageOffers,
                    variables: {
                        ...this.values,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });

                if (!append) this.flags.reloading = true;

                this.offers = !append
                    ? offers.data.allMortgageOffers.edges.slice()
                    : [].concat.apply(this.offers, offers.data.allMortgageOffers.edges);

                if (!append) this.offersCount = offers.data.allMortgageOffers.totalCount || 0;

                this.pageInfo.after = offers.data.allMortgageOffers.pageInfo.endCursor;
                this.pageInfo.hasNext = offers.data.allMortgageOffers.pageInfo.hasNextPage;

                this.$nextTick(() => {
                    this.flags.loading = false;
                });
            },

            pdfLink() {
                return `/pdf/purchases/mortgage/print/?format=a4&date=${this.date}&price=${this.values.price}&maxDeposit=${this.values.maxDeposit}&minTerm=${this.values.minTerm}&payment=${this.payment}`;
            },

            // Event listeners

            async onValueChange(val) {
                this.values = { ...this.values, ...val };

                await this.resetPageInfo();
                this.getOffers();
                this.pushQueries();
            },

            async onReset() {
                if (JSON.stringify(this.values) !== JSON.stringify(this.defaultValues)) {
                    this.values = { ...this.defaultValues };
                    await this.resetPageInfo();
                    this.getOffers();
                    this.pushQueries();
                }
            },

            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getOffers(true);
                }

                this.flags.isTicking = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .MortgagePage {
        position: relative;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .MortgageCalculator {
        margin-top: 4.7rem;

        @include respond-to(mobile) {
            margin-top: 28px;
        }
    }

    .controls {
        display: flex;
        justify-content: space-between;
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .count {
        font-size: 1.4rem;
        line-height: 1.15;
        font-family: $font-secondary;
        color: rgba($black, .5);
    }

    .button {
        margin-top: 3.2rem;
    }

    .listWrap {
        margin-top: 2rem;
        border-top: 2px solid $light-grey;

        @include respond-to(mobile) {
            margin: 28px -16px 0;
            border-top: none;
            border-bottom: 2px solid $light-grey;
        }
    }

    .list {
        @include respond-to(mobile) {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            padding-bottom: 32px;
            overflow-y: scroll;
        }
    }

    .card {
        height: 10rem;
        margin-bottom: .4rem;
        transition: opacity .5s ease-out, transform .5s ease-out;

        @include respond-to(mobile) {
            flex-shrink: 0;
            width: 212px;
            min-height: 290px;
            padding-right: 6px;
            padding-left: 6px;
            padding-top: 5px;
            margin-bottom: 0;

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 16px;
            }
        }

        &:global(.list-enter),
        &:global(.list-leave-active) {
            opacity: 0;
            transform: translate3d(0, 10px, 0) scale(.999);
        }
    }

    .buttonMore {
        font-size: 1.2rem;
        line-height: 1;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            color: $white;
        }
    }

    .cardMore {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $orange;

        & svg {
            display: block;
            margin-bottom: 12px;
            fill: $white;
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
        height: 1rem;
        margin-left: .8rem;
        transform: rotate(45deg);
        fill: $orange;
    }

    .header {
        display: flex;
        align-items: center;
        padding: 2.4rem 0;
        font-size: 1.3rem;
        line-height: 1.6;
        color: rgba($black, .5);

        @include respond-to(mobile) {
            display: none;
        }
    }

    .pdfLink {
        position: absolute;
        top: 8.3rem;
        right: 33.8rem;
        color: #4c4548;
        font-size: 1.4rem;
        font-family: $font-secondary;
        letter-spacing: .05rem;

        svg {
            position: absolute;
            left: -3rem;
            top: -.9rem;
            width: 2.4rem;
            height: 3.2rem;
            opacity: .5;
        }

        @include respond-to(mobile) {
            display: none;
        }
    }

    .cell {
        text-align: left;
    }

    ._bank {
        width: 34%;
    }

    ._rate {
        width: 18%;
    }

    ._term {
        width: 23%;
    }

</style>