<template>
    <div :class="[$style.FlatInner, 'container']">

        <div v-if="$mq !== 'xs'"
             :class="$style.actionBlockWrap">
            <!--actionBlock-->
            <div :class="$style.actionBlock">
                <button type="button"
                        :class="['btn-reset', $style.actionIcon, $style._fav, {_active: isInFavourite}]"
                        title="Добавить в избранное"
                        aria-label="добавить в избранное"
                        @click.prevent="onFavoriteClick">
                    <svg viewBox="0 0 24 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H24V32L12 26.6667L0 32V0Z" stroke="#FE7011" stroke-width="2" />
                    </svg>
                </button>
                <a v-if="pdfLink"
                   :href="pdfLink"
                   :class="[$style.actionIcon, $style._pdf]"
                   title="Скачать PDF"
                   aria-label="скачать pdf"
                   target="_blank">
                    <svg viewBox="0 0 24 32" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-pdf"></use>
                    </svg>
                </a>
            </div>

            <UiBackLink v-if="isDisplayBack"
                        :class="$style.UiBackLink" />
        </div>

        <div :class="$style.title" class="custom-title">
            <span
                class="custom-title__origin">{{ flatName }} {{ flat.area|pointsByComma }} м<sup>2</sup></span>
            <span
                class="custom-title__shadow">{{ flatName }} {{ flat.area|pointsByComma }} м<sup>2</sup></span>
        </div>

        <!--flat content-->
        <div :class="$style.flat">
            <div :class="$style.header">
                <!--price-->
                <div :class="$style.priceBlock">
                    <template v-if="flat && flat.promoPrice">
                        <span :class="$style.price">{{ flat.promoPrice|splitThousands }} <i>руб.</i></span>
                        <span
                            :class="$style.oldPrice">{{ flat.price|splitThousands }} <i>руб.</i></span>
                        <span :class="$style.saleCount">-{{ saleCount }}%</span>
                    </template>

                    <template v-else>
                        <span
                            :class="$style.price">{{ flat.price|splitThousands }} <i>руб.</i></span>
                    </template>
                </div>
                <!--mortgage-->
                <div v-if="$mq !== 'xs'"
                     :class="$style.mortgageBlock">
                    <div v-if="offers"
                         :class="$style.bankLogo">
                        <div v-for="(logo, i) in bankMinilogoArray"
                             :key="i"
                             :class="$style.logo"
                             :style="{backgroundImage: `url(${logo})`}"></div>
                    </div>
                    <div :class="$style.mortgagePrice">
                        <span>Эта квартира в ипотеку</span>
                        <span>от <i>{{ mortgagePayment|splitThousands }}</i> руб./мес</span>
                    </div>
                </div>
            </div>

            <!--PlanBlock-->
            <div :class="$style.PlanBlock">

                <!--Plan-->
                <div :class="$style.planWrap">
                    <transition name="fade" mode="out-in"
                                @beforeEnter="flags.isLoaded = false"
                                @afterEnter="flags.isLoaded = true">
                        <!--flatPlan-->
                        <div v-if="type === 'flat'"
                             key="flat"
                             :class="$style.flatPlan"
                             :style="{backgroundImage: `url(${flat.plan})`}"></div>

                        <!--floorPlan-->
                        <div v-else-if="type === 'floor'"
                             key="floor"
                             :class="$style.floorPlan"
                             :style="{backgroundImage: `url(${flat.floor.plan})`}">
                            <svg :viewBox="floorPlanViewbox"
                                 :class="[$style.hover, {_visible: flags.isLoaded}]">
                                <defs>
                                    <filter id="feMatrix" x="-10%" y="-10%" width="120%"
                                            height="120%"
                                            filterUnits="objectBoundingBox"
                                            primitiveUnits="userSpaceOnUse"
                                            color-interpolation-filters="sRGB">
                                        <feColorMatrix type="matrix" values="1 0 0 0 0
                                                                                1 0 0 0 0
                                                                                1 0 0 0 0
                                                                                0 0 0 1 0"
                                                       in="SourceGraphic"
                                                       result="colormatrix" />
                                        <feComponentTransfer in="colormatrix"
                                                             result="componentTransfer">
                                            <feFuncR type="table" tableValues="0.98 1" />
                                            <feFuncG type="table" tableValues="0.35 1" />
                                            <feFuncB type="table" tableValues="0.07 1" />
                                            <feFuncA type="table" tableValues="0 1" />
                                        </feComponentTransfer>
                                        <feBlend mode="normal" in="componentTransfer"
                                                 in2="SourceGraphic"
                                                 result="blend" />
                                    </filter>
                                    <clipPath
                                        id="HOVERED_FLAT"
                                        v-html="flat.planHover ? flat.planHover : ''">
                                    </clipPath>
                                </defs>
                                <image :xlink:href="flat.floor.plan"
                                       x="0"
                                       y="0"
                                       width="100%"
                                       height="100%"
                                       style="overflow: visible;"
                                       filter="url(#feMatrix)"
                                       :style="{clipPath: `url(#HOVERED_FLAT)`}">
                                </image>
                            </svg>
                        </div>

                        <div v-if="type === 'genplan'"
                             key="genplan"
                             :class="$style.floorPlan">
                            <FlatGenplan
                                :genplan-origin="flat.building.plan"
                                :hover="flat.section.planHover"
                            />
                        </div>
                    </transition>
                </div>

                <!--planViews-->
                <div :class="$style.planViews">
                    <button type="button"
                            :class="['btn-reset', $style.btnViews, {_active: type === 'flat'}]"
                            @click.prevent="changeViews('flat')">
                        Планировка
                    </button>
                    <button v-if="flat.floor.plan"
                            type="button"
                            :class="['btn-reset', $style.btnViews, {_active: type === 'floor'}]"
                            @click.prevent="changeViews('floor')">
                        На этаже
                    </button>
                    <button v-if="flat.building.plan"
                            type="button"
                            :class="['btn-reset', $style.btnViews, {_active: type === 'genplan'}]"
                            @click.prevent="changeViews('genplan')">
                        На генплане
                    </button>
                </div>
            </div>
            <div :class="$style.info">
                <!--location-->
                <div :class="$style.location">
                    <div v-if="flat.building && flat.building.number"><span
                        v-html="flat.building.number"></span> Дом
                    </div>
                    <div v-if="flat.section && flat.section.name"><span
                        v-html="flat.section.name"></span> секция
                    </div>
                    <div v-if="flat.floor && flat.floor.number"><span
                        v-html="flat.floor.number"></span> этаж
                    </div>
                </div>
                <!--features-->
                <div :class="$style.features">

                    <div v-if="flat.facing"
                         :class="$style.featuresItem">
                        <svg :class="$style.icon" viewBox="0 0 20 20">
                            <use xlink:href="#icon-flat-facing"></use>
                        </svg>
                        <div :class="$style.featuresWrap">
                            <span>с отделкой</span>
                            <n-link to="/decoration/"
                                    target="_blank"
                                    :class="$style.featuresLink">
                                Подробнее
                            </n-link>
                        </div>
                    </div>

                    <div v-if="flat && flat.combinedFlat"
                         :class="[$style.featuresItem, '_combine']">
                        <svg :class="$style.icon" viewBox="0 0 20 20">
                            <use xlink:href="#icon-combine"></use>
                        </svg>
                        <div :class="$style.featuresWrap">
                            <span>Совмещение</span>
                            <n-link :to="{name: 'flats-id', params: {id: flat.combinedFlat.id}}"
                                    target="_blank"
                                    :class="$style.featuresLink">
                                С квартирой {{ flat.combinedFlat.area|pointsByComma }} м<sup>2</sup>
                            </n-link>
                        </div>
                    </div>

                    <div v-if="flat.hasView"
                         :class="$style.featuresItem">
                        <svg :class="$style.icon" viewBox="0 0 20 20">
                            <use xlink:href="#icon-eye"></use>
                        </svg>
                        <span>Вид на воду</span>
                    </div>
                </div>
            </div>
        </div>


        <!--buttonBlock-->
        <div :class="$style.buttonBlock">
            <UiButton :class="$style.button"
                      type="button"
                      label="Забронировать"
                      @click="$modal.open('Callback', {type: 'booking', title: 'Зaбронировать квартиру', flatId: flat.id})" />

            <nuxt-link to="/parking/"
                       :class="[$style.link, '_grey']">
                <span>Подобрать машиноместо</span>
                <svg>
                    <use xlink:href="#icon-triangle"></use>
                </svg>
            </nuxt-link>

            <button type="button"
                    :class="[$style.link, '_transparent', 'btn-reset']"
                    @click.prevent="scroll('similar')">
                <span>вас могут заинтересовать</span>
                <svg>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>

        <!--mobile flat block-->
        <div v-if="$device.isMobile"
             :class="$style.actionBlockWrap">

            <!--actionBlock-->
            <div :class="$style.actionBlock">
                <button type="button"
                        :class="['btn-reset', $style.actionIcon, $style._fav, {_active: isInFavourite}]"
                        @click.prevent="onFavoriteClick">
                    <svg viewBox="0 0 24 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0H24V32L12 26.6667L0 32V0Z" stroke="#FE7011" stroke-width="2" />
                    </svg>
                    <span>в избранное</span>
                </button>
                <a v-if="pdfLink"
                   :href="pdfLink"
                   :class="[$style.actionIcon, $style._pdf]"
                   target="_blank">
                    <svg viewBox="0 0 24 32" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#icon-pdf"></use>
                    </svg>
                    <span>скачать pdf</span>
                </a>
            </div>

            <!--mortgage mobile-->
            <div :class="$style.mortgageBlock">
                <div v-if="offers"
                     :class="$style.bankLogo">
                    <div v-for="(logo, i) in bankMinilogoArray"
                         :key="i"
                         :class="$style.logo"
                         :style="{backgroundImage: `url(${logo})`}"></div>
                </div>
                <div :class="$style.mortgagePrice">
                    <span>Эта квартира в ипотеку</span>
                    <span>от <i>{{ mortgagePayment|splitThousands }}</i> руб./мес</span>
                </div>
            </div>
        </div>

        <!--FlatsSimilar-->
        <template v-if="flat && flat.similarFlats">
            <FlatsSimilar id="similar"
                          :class="$style.flatsSimilar"
                          :flats="flat.similarFlats" />
        </template>

        <!--FlatMortgage-->
        <FlatMortgage :class="$style.FlatMortgage"
                      :offers="offers"
                      :specs="specs"
                      :values="values"
                      :price="flat.price"
                      :offers-count="offersCounter"
                      :reloading="flags.reloading"
                      @change="onValuesChange"
                      @endAnimation="flags.reloading = false"
                      @click="getOffers(true)" />

        <!--Feedback-->
        <Feedback :class="$style.feedback" />
    </div>
</template>

<script>
    // vuex
    import {mapState} from 'vuex';
    //utils
    import {scrollTo} from '../../../assets/js/utils';
    //queries
    import oneFlat from '../../../queries/flat/oneFlat.gql';
    import mortgageOffersSpecs from '../../../queries/mortgage/mortgageOffersSpecs.gql';
    import allMortgageOffers from '../../../queries/mortgage/allMortgageOffers.gql';
    // components
    import Feedback from '../../../components/common/formBlocks/Feedback';
    import UiBackLink from '../../../components/ui/UiBackLink';
    import FlatsSimilar from '../../../components/flats/id/FlatsSimilar';
    import FlatMortgage from '../../../components/flats/id/FlatMortgage';
    import UiButton from '../../../components/ui/UiButton';
    import FlatGenplan from '../../../components/flats/id/FlatGenplan';

    export default {
        name: 'FlatInner',

        components: {
            FlatGenplan,
            UiButton,
            FlatMortgage,
            FlatsSimilar,
            UiBackLink,
            Feedback,
        },

        data() {
            return {
                type: 'flat',
                flags: {
                    reloading: false,
                    isLoaded: false,
                    loading: false,
                },
                isDisplayBack: false,
                flat: {},
                pageInfo: {
                    first: 4,
                    after: null,
                    hasNext: false,
                },

                values: {
                    maxDeposit: null,
                    minTerm: null,

                },
                offersTotalCount: 0,
                offersCounter: 0,
                offers: [],
                date: new Date().toLocaleString(),
            };
        },

        computed: {
            ...mapState({
                favouriteList: state => state.favourite.favouriteList,
            }),

            isInFavourite() {
                return this.favouriteList.includes(this.flat.id);
            },

            pdfLink() {
                return this.flat.id
                    ? `/pdf/flats/print/${this.flat.id}/?format=a4&date=${this.date}`
                    : null;
            },

            genplanUrl() {
                return this.flat?.building?.id ? {
                    name: 'index',
                    hash: '#visual',
                    query: {building: this.flat.building.id},
                } : {name: 'index', hash: '#visual'};
            },

            saleCount() {
                return Math.floor((this.flat.price - this.flat.promoPrice) / this.flat.price * 100);
            },

            floorPlanViewbox() {
                return `0 0 ${this.flat.floor.planWidth} ${this.flat.floor.planHeight}`;
            },

            bankMinilogoArray() {
                return this.offers.length ? this.offers.slice(0, 3).map(item => item.node?.bank?.miniLogo) : [];
            },

            flatName() {
                let name = '';

                if (this.flat.rooms === 0 || this.flat.rooms === null) name += 'Студ.';
                if (this.flat.rooms === 1) name += '1-ком.';
                if (this.flat.rooms === 2) name += '2-ком.';
                if (this.flat.rooms === 3) name += '3-ком.';
                if (this.flat.rooms === 4) name += '4-ком.';

                return name;
            },

            mortgagePayment() {
                return Math.floor(this.flat.mortgagePayment);
            },
        },

        async asyncData({app, params, store, query}) {
            await app.$gql.clearStore();
            try {
                let flatResponse = app.$gql.query({
                    query: oneFlat,
                    variables: {
                        id: params.id,
                        limit: 12,
                    },
                });

                let specsResponse = app.$gql.query({
                    query: mortgageOffersSpecs,
                });

                let [
                    specsData,
                    flatData,
                ] = await Promise.all([
                    specsResponse,
                    flatResponse,
                ]);

                let specs = {};

                await specsData.data.mortgageOffersSpecs.forEach(spec => {
                    specs[spec.name] = spec.choices ? spec.choices : spec.ranges;
                });

                specs['min_term'].min = 10;

                const price = flatData.data.allFlats.edges[0].node.price || 0;
                const mortgageTerm = specs['min_term'].min;
                const mortgageDeposit = specs['max_deposit'].max;

                const offers = await app.$gql.query({
                    query: allMortgageOffers,
                    variables: {
                        first: 4,
                        price: price,
                        maxDeposit: mortgageDeposit,
                        minTerm: mortgageTerm,
                    },
                });

                return {
                    flat: flatData?.data?.allFlats?.edges[0]?.node ? flatData.data.allFlats.edges[0].node : {},
                    specs: specs,
                    values: {
                        maxDeposit: mortgageDeposit,
                        minTerm: mortgageTerm,
                    },
                    offers: offers?.data?.allMortgageOffers?.edges?.length ? offers.data.allMortgageOffers.edges : [],
                    offersCounter: offers?.data?.allMortgageOffers?.totalCount ? (offers.data.allMortgageOffers.totalCount - offers.data.allMortgageOffers.edgeCount) : 0,
                    pageInfo: {
                        first: 4,
                        after: offers.data.allMortgageOffers.pageInfo.endCursor,
                        hasNext: offers.data.allMortgageOffers.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log(e);
            }
        },

        async fetch({store}) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = !!from.name;
            });
        },

        methods: {
            changeViews(type) {
                this.type = type;
            },

            scroll(id) {
                scrollTo(id);
            },

            onValuesChange(val) {
                this.values = {...this.values, ...val};
                this.resetPageInfo();
                this.getOffers();
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },

            async getOffers(append) {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;

                let offers = await this.$gql.query({
                    query: allMortgageOffers,
                    variables: {
                        ...this.values,
                        price: this.flat.price,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });


                if (!append) this.flags.reloading = true;

                this.offers = !append
                    ? offers.data.allMortgageOffers.edges.slice()
                    : [].concat.apply(this.offers, offers.data.allMortgageOffers.edges);

                this.offersCounter = !append
                    ? (offers.data.allMortgageOffers.totalCount - offers.data.allMortgageOffers.edgeCount)
                    : (this.offersCounter - offers.data.allMortgageOffers.edgeCount);

                this.pageInfo.after = offers.data.allMortgageOffers.pageInfo.endCursor;
                this.pageInfo.hasNext = offers.data.allMortgageOffers.pageInfo.hasNextPage;
                this.offersTotalCount = offers.data.allMortgageOffers.totalCount;

                this.$nextTick(() => {
                    this.flags.loading = false;
                });
            },

            onFavoriteClick() {
                this.$store.dispatch('favourite/toggleFavourites', this.flat.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatInner {
        position: relative;

        @include respond-to(mobile) {
            overflow: hidden;
        }
    }

    .title {
        width: 100%;
    }

    .flat {
        position: relative;
        padding-right: 21.4rem;

        @include respond-to(mobile) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
    }

    .header {
        display: flex;
        margin-top: 2.2rem;

        @include respond-to(mobile) {
            order: 2;
        }
    }

    /*actionBlock*/

    .actionBlockWrap {
        position: absolute;
        top: 7rem;
        right: 7.5rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 7.2rem;

        @include respond-to(mobile) {
            position: static;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-top: 24px;
            padding-right: 0;
        }
    }

    .actionBlock {
        display: inline-flex;
        align-items: center;
        width: 8.8rem;

        @include respond-to(mobile) {
            width: auto;
        }
    }

    .actionIcon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 2.4rem;
        font-size: 1.4rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;

        @include respond-to(mobile) {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        & > svg {
            width: 2.4rem;
            height: 3.2rem;
            transition: fill .3s ease-out;

            @include respond-to(mobile) {
                margin-right: 8px;
            }
        }

        &:hover {

            & > svg {
                fill: $orange;
                transition: fill .3s ease-out;
            }
        }
    }

    ._fav {

        & > svg {
            fill: $white;
        }

        &:global(._active) {

            & > svg {
                fill: $orange;
            }
        }
    }

    ._pdf {

        & > svg {
            fill: $grey;
        }
    }

    .UiBackLink {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    /*priceBlock*/

    .priceBlock {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        font-family: $font-secondary;
    }

    .price {
        margin-right: 1.2rem;
        font-size: 3.2rem;
        line-height: 1;
        color: $green;

        & i {
            font-style: normal;
            font-size: 1.6rem;
        }

        @include respond-to(mobile) {
            width: 100%;
            font-size: 28px;
        }
    }

    .oldPrice {
        position: relative;
        display: inline-block;
        margin-right: .8rem;
        font-size: 1.4rem;
        line-height: 1.15;
        opacity: .5;

        @include respond-to(mobile) {
            font-size: 18px;
        }

        & i {
            font-style: normal;
            font-size: 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            height: 1px;
            background-color: $black;
            transition: background-color .3s ease;
        }
    }

    .saleCount {
        font-size: 1.4rem;
        line-height: 1.15;

        @include respond-to(mobile) {
            font-size: 18px;
        }
    }

    /*mortgageBlock*/

    .mortgageBlock {
        display: flex;
        margin-left: auto;

        @include respond-to(mobile) {
            margin-left: 0;
            margin-top: 24px;
        }
    }

    .mortgagePrice {
        display: flex;
        flex-direction: column;

        & :first-child {
            color: $grey;
            font-size: 1.3rem;
            line-height: 1.6;
        }

        & :last-child {
            font-size: 1rem;
            line-height: 1;
            color: $orange;
            font-family: $font-secondary;

            & i {
                font-style: normal;
                font-size: 1.2rem;
            }
        }
    }

    .bankLogo {
        position: relative;
        width: 4.8rem;
        height: 3.2rem;
        margin-right: 1.6rem;
    }

    .logo {
        width: 3.4rem;
        height: 3.4rem;
        border: 2px solid $white;
        border-radius: 50%;
        background-color: $green;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        &:not(:first-child) {
            position: absolute;
            top: 0;
        }

        &:nth-child(2) {
            left: .7rem;
        }

        &:nth-child(3) {
            right: 0;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    /*infoBlock*/

    .info {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 15.2rem;
        height: 100%;
        padding-top: 1.2rem;

        @include respond-to(mobile) {
            position: static;
            order: 1;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            padding: 0;
            margin-top: 33px;
        }
    }

    .features {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;

        @include respond-to(mobile) {
            flex-direction: row;
            width: 100%;
        }
    }

    .featuresItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2.4rem;
        padding-bottom: .5rem;

        @include respond-to(mobile) {

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    .icon {
        width: 2rem;
        height: 2rem;
        margin-right: .8rem;
    }

    .featuresWrap {
        position: relative;
    }

    .featuresLink {
        position: absolute;
        top: 100%;
        left: 0;
        font-size: 1.3rem;
        line-height: 1.6;
        font-family: $font-primary;
        color: $orange;
        white-space: nowrap;
        opacity: 1;
        transition: opacity .3s ease-out;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $orange;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: .5;
            transition: opacity .3s ease-out;
        }
    }

    .location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;
        color: rgba($black, .8);

        @include respond-to(mobile) {
            flex-direction: row;
            width: 100%;
        }

        & > * {
            margin-bottom: 1.6rem;

            @include respond-to(mobile) {
                margin-right: 16px;
            }
        }
    }

    /*PlanBlock*/

    .PlanBlock {
        position: relative;
        height: 40rem;
        margin-top: 6.2rem;

        @include respond-to(mobile) {
            display: flex;
            flex-direction: column;
            order: 3;
            height: 350px;
            margin-top: 32px;
        }
    }

    .planWrap {
        width: 100%;
        height: 100%;

        @include respond-to(mobile) {
            height: 80%;
        }
    }

    .flatPlan {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 35.8rem;
            height: 35.8rem;
            background-color: $black;
            opacity: .05;
            transform: translate(-50%, -50%) skewY(-11deg);

            @include respond-to(mobile) {
                width: 200px;
                height: 200px;
            }
        }

        &:global(.fade-enter-active) {
            transition: opacity .5s ease-out;
            animation: bounce-in .7s;
        }

        &:global(.fade-leave-active) {
            transition: opacity .5s ease-out;
        }

        &:global(.fade-leave-to) {
            opacity: 0;
        }
    }

    .floorPlan {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:global(.fade-enter-active) {
            transition: opacity .5s ease-out;
            animation: bounce-out .7s;
        }

        &:global(.fade-leave-active) {
            transition: opacity .5s ease-out;
        }

        &:global(.fade-leave-to) {
            opacity: 0;
        }
    }

    .planViews {
        position: absolute;
        top: 8rem;
        right: -16rem;
        z-index: 3;
        display: flex;
        flex-direction: column;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            position: static;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
        }
    }

    .btnViews {
        margin-bottom: 2.4rem;
        color: $black;
        text-align: left;
        transition: color .3s ease-out;

        @include respond-to(mobile) {
            margin-bottom: 0;
            font-size: 12px;
            white-space: nowrap;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &:global(._active) {
            color: $green;
            transition: color .3s ease-out;
        }
    }

    .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        opacity: 0;
        transition: opacity .4s $easing .4s;

        &:global(._visible) {
            opacity: 1;
            transition: opacity .4s $easing;
        }
    }

    /*buttonBlock*/

    .buttonBlock {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 32px;
        }

        @include respond-to(xxl) {
            max-width: 1200px;
            margin: 4.2rem auto 0;
        }
    }

    .link {
        position: relative;
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 21.5rem;
        height: 4.2rem;
        padding: 1.5rem 0;
        color: $orange;
        font-size: 1.2rem;
        line-height: 1;
        font-family: $font-secondary;
        transition: color .3s ease-out;

        @include respond-to(mobile) {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%) skewX(-11.4deg);
            transition: background-color .5s $easing;
        }

        & > svg {
            width: 1rem;
            height: 1rem;
            margin-left: .5rem;
            fill: $orange;
            transition: fill .3s ease-out;
        }

        &:hover {
            color: $white;
            transition: color .3s ease-out;

            & > svg {
                fill: $white;
                transition: fill .3s ease-out;
            }
        }

        &:global(._grey) {

            &:after {
                background-color: $light-grey;
                border: 2px solid $light-grey;
            }

            &:hover {

                &:after {
                    background-color: $black;
                    border-color: $black;
                    transition: background-color .5s $easing, border-color .5s $easing;
                }
            }
        }

        &:global(._transparent) {

            &:after {
                border: 2px solid $orange;
                background-color: $white;
            }

            & > svg {
                transform: rotate(45deg);
            }

            &:hover {

                &:after {
                    background-color: $black;
                    border-color: $black;
                    transition: background-color .5s $easing, border-color .5s $easing;
                }
            }
        }
    }

    /*components*/

    .flatsSimilar,
    .FlatMortgage,
    .feedback {
        margin-top: 8.2rem;

        @include respond-to(mobile) {
            margin-top: 42px;
        }
    }

    .feedback {
        @include respond-to(xxl) {
            max-width: 1200px;
        }
    }

    @keyframes bounce-in {

        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes bounce-out {

        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(.8);
        }

        100% {
            transform: scale(1);
        }
    }

</style>