<template>
    <div :class="$style.Construction">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.header">
                    <h1 :class="$style.title" class="custom-title">
                        <span class="custom-title__origin">Строительство</span>
                        <span class="custom-title__shadow">Строительство</span>
                    </h1>
                    <div :class="$style.selectsContainer">
                        <!--                        <Select :class="$style.select"-->
                        <!--                                :options="specs.building"-->
                        <!--                                :value="values.building"-->
                        <!--                                :facet="facets.building"-->
                        <!--                                placeholder="ДОМ"-->
                        <!--                                @input="setValue('building', ...arguments)"/>-->
                        <Select :class="$style.select"
                                :options="specs.date"
                                :value="values.date"
                                :facet="facets.date"
                                placeholder="ДАТА"
                                @input="setValue('date', ...arguments)"/>
                    </div>
                </div>

                <div v-if="images.length"
                     :class="[$style.sliderContainer, {[$style._marginForGallery]: images.length > 1 }]">

                    <div :class="$style.webcam">
                        <div v-if="progressPage.code"
                             :class="$style.webcamText"
                             @click="$modal.open('WebcamModal', { isFullScreen: true,
                                                                link: progressPage.code})">
                            Веб-камера
                        </div>
                    </div>

                    <transition name="fade">
                        <SliderWithGallery :key="rerenderSlider"
                                           :style="{opacity: opacity}"
                                           :class="$style.slider"
                                           :images="images"
                                           @changeShowSlider="changeShowSlider"
                                           @on-slide-change="onSlideChange" />
                    </transition>

                    <div :class="$style.date">
                        <p>{{ date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import allProgressAlbums from '../../queries/construction/allProgressAlbums.gql';
    import progressFacets from '../../queries/construction/progressFacets.gql';
    import progressSpecs from '../../queries/construction/progressSpecs.gql';
    import progressPage from '../../queries/construction/progressPage.gql';
    import SliderWithGallery from '../../components/common/slider/SliderWithGallery';
    import Select from '../../components/ui/select/Select';
    import {monthByNumber} from '../../assets/js/utils';

    export default {
        components: {
            SliderWithGallery,
            Select,
        },

        data() {
            return {
                rerenderSlider: 0,
                showSlider: false,
                albums: [],
                activeId: null,

                specs: [],
                facets: [],
                values: {
                    date: '',
                    building: '',
                },
            };
        },

        computed: {
            opacity() {
                return this.showSlider ? '1' : '0';
            },

            images() {
                let images = [];

                if (!this.activeAlbum.progressimageSet && !this.values.building) {
                    this.albums.forEach(album => {
                        album.progressimageSet.forEach(item => {
                            images.push(item);
                        });
                    });
                } else if (this.values.building && !this.values.date) {
                    this.albums.forEach(album => {
                        album.progressimageSet.forEach(image => {
                            if (!image.building) return;

                            if (image.building.id === this.values.building) {
                                images.push(image);
                            }
                        });
                    });
                } else if (!this.values.building && this.values.date) {
                    images = this.activeAlbum.progressimageSet;
                } else {
                    images = this.activeAlbum.progressimageSet.filter(image => {
                        return image.building ? image.building.id === this.values.building : false;
                    });
                }

                return images;
            },

            activeAlbum() {
                return this.albums.find(album => {
                    let date = new Date(album.date);
                    date = date.getFullYear() + '-' + (date.getMonth() + 1);
                    return date === this.values.date;
                }) || {};
            },

            date() {
                let date;

                if (!this.activeAlbum.date && this.values.building) {
                    date = new Date(this.albums.find(album => {
                        return album.progressimageSet.find(image => {
                            if (!image.building) return;

                            return image.building.id === this.values.building;
                        });
                    }).date);
                } else if (!this.activeAlbum.date && this.activeId) {
                    date = new Date(this.albums.find(album => {
                        return album.progressimageSet.find(image => {
                            if (!image.id) return;

                            return image.id === this.activeId;
                        });
                    }).date);
                } else if (!this.activeAlbum.date) {
                    date = new Date(this.albums[0].date);
                } else {
                    date = new Date(this.activeAlbum.date);
                }

                if (this.$device.isMobile) {
                    date = date.getDate() + ' ' + monthByNumber(date.getMonth().toString(), { short: true }) + '. ' + date.getFullYear();
                } else {
                    date = date.getDate() + ' ' + monthByNumber(date.getMonth().toString(), { case: true }) + ' ' + date.getFullYear();
                }
                return date;
            },
        },

        async asyncData({ app }) {
            await app.$gql.clearStore();

            try {
                let progressAlbumsResponse = app.$gql.query({
                    query: allProgressAlbums,
                });

                let progressFacetsResponse = app.$gql.query({
                    query: progressFacets,
                });

                let progressSpecsResponse = app.$gql.query({
                    query: progressSpecs,
                });

                let progressPageResponse = app.$gql.query({
                    query: progressPage,
                });

                let [
                    progressAlbumsData,
                    progressFacetsData,
                    progressSpecsData,
                    progressPageData,
                ] = await Promise.all([
                    progressAlbumsResponse,
                    progressFacetsResponse,
                    progressSpecsResponse,
                    progressPageResponse,
                ]);

                let albums = progressAlbumsData.data.allProgressAlbums.edges.map(edge => {
                    return edge.node;
                });

                let facets = {};

                progressFacetsData.data.progressFacets.forEach(item => {
                    facets[item.name] = item.choices;
                });

                facets.date.unshift('');

                facets.building.unshift('');

                let specs = {};

                progressSpecsData.data.progressSpecs.forEach(item => {
                    specs[item.name] = item.choices;
                });

                specs.date.forEach(item => {
                    let values = item.value.split(/[^0-9]/);
                    let year = parseInt(values[0], 10);
                    let month = parseInt(values[1], 10) - 1;
                    let date = new Date(year, month);
                    date = monthByNumber(date.getMonth().toString(), { full: true }) + ' ' + date.getFullYear();
                    item.label = date;
                });

                specs.date.unshift({
                    value: '',
                    label: 'ДАТА',
                });

                specs.building.unshift({
                    value: '',
                    label: 'ДОМ',
                });

                return {
                    albums: albums,
                    specs: specs,
                    facets: facets,
                    progressPage: progressPageData.data.progressPage,
                }
                    ;
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_white') {
                store.dispatch('menu/CHANGE_COLOR_DEFAULT');
            }
        },

        mounted() {
            this.$store.dispatch('footer/SET_HIDDEN', true);
        },

        beforeDestroy() {
            this.setHiddenFooter(false);
        },

        methods: {
            ...mapActions({
                setHiddenFooter: 'footer/SET_HIDDEN'
            }),

            setValue(valueName, value) {
                this.values[valueName] = value;
                this.rerenderSlider++;
                this.showSlider = false;
                this.getFacets();
            },

            async getFacets() {
                let progressFacetsResponse = await this.$gql.query({
                    query: progressFacets,
                    variables: {
                        date: this.values.date,
                        building: this.values.building,
                    },
                });

                let facets = {};

                progressFacetsResponse.data.progressFacets.forEach(item => {
                    facets[item.name] = item.choices;
                });

                facets.date.unshift('');

                facets.building.unshift('');

                this.facets = facets;
            },

            changeShowSlider() {
                this.showSlider = true;
            },

            onSlideChange(e) {
                this.activeId = e;
            },
        },
    };
</script>

<style lang='scss' module>
    .Construction {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        @include respond-to(mobile) {
            height: auto;
            min-height: calc(100vh - 15.8rem);
            overflow: hidden;
        }

        @include respond-to(xxl) {
            margin-left: 34rem;
        }
    }

    .offsetPage {
        width: 100%;
    }

    .title {
        @include respond-to(mobile) {
            letter-spacing: -.2rem;
        }
    }

    .selectsContainer {
        margin-left: auto;

        @include respond-to(mobile) {
            margin-top: 2.8rem;
        }
    }

    .select {
        margin-left: 3.2rem;

        @include respond-to(mobile) {
            margin-left: 0;
            margin-right: 3rem;
        }
    }

    .sliderContainer {
        position: relative;
        height: 49.2rem;

        @include respond-to(mobile) {
            height: auto;
            width: 100vw;

            @include aspect-ratio(320, 185);
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include respond-to(mobile) {
            width: 100vw;
        }
    }

    ._marginForGallery {
        @include respond-to(mobile) {

            // height: 28rem;
        }
    }

    .date {
        position: absolute;
        bottom: 3rem;
        left: 4rem;
        z-index: 0;
        font: 2rem $font-secondary;
        color: white;

        @include respond-to(mobile) {
            bottom: 1.2rem;
            left: -30px;
            font-size: 1.4rem;
        }

        @include respond-to(s-mobile) {
            left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -16.3rem;
            left: -48.7rem;
            z-index: -2;
            width: 82.6rem;
            height: 23.3rem;
            background: url('../../static/images/construction/arrow-bottom-desktop.svg') no-repeat;
            background-size: cover;
            cursor: default;

            @include respond-to(mobile) {
                bottom: -6.7rem;
                left: -19.3rem;
                width: 36.3rem;
                height: 10.3rem;
                background: url('../../static/images/construction/arrow-bottom-mobile.svg') no-repeat;
            }
        }
    }

    .webcam {
        position: absolute;
        top: 3.2rem;
        right: 6.5rem;
        z-index: 1;
        font-size: 1.4rem;
        font-weight: 800;
        color: white;

        @include respond-to(mobile) {
            top: 1.5rem;
            right: 88px;
        }

        @include respond-to(s-mobile) {
            right: 55px;
        }

        &:after {
            content: '';
            position: absolute;
            top: -17.6rem;
            right: -24.4rem;
            z-index: -2;
            width: 83.2rem;
            height: 23.5rem;
            background: url('../../static/images/construction/arrow-top-desktop.svg') no-repeat;
            background-size: cover;

            @include respond-to(mobile) {
                top: -6.7rem;
                right: -10.2rem;
                width: 36.3rem;
                height: 10.3rem;
                background: url('../../static/images/construction/arrow-top-mobile.svg') no-repeat;
            }
        }
    }

    .webcamText {
        cursor: pointer;
        text-transform: uppercase;

        &:before {
            content: '';
            position: absolute;
            top: -.1rem;
            right: -2.4rem;
            width: 1.6rem;
            height: 1.6rem;
            background: url('../../static/images/construction/webcam-icon.svg') no-repeat;
            background-size: cover;
        }
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 5rem;

        @include respond-to(mobile) {
            display: block;
            margin-bottom: 2.4rem;
        }
    }
</style>
