<template>
    <div ref="page"
         :class="$style.Documents">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <h1 :class="$style.title" class="custom-title">
                    <span class="custom-title__origin">Документы</span>
                    <span class="custom-title__shadow">Документы</span>
                </h1>

                <div :class="$style.container">
                    <transition name="appear-left"
                                appear>
                        <ul ref="categoryList"
                            :class="[$style.categoryList, {[$style._hidden]: menuOpened}]"
                            :style="myStyle">
                            <li v-for="category in categories"
                                :key="category.value"
                                :class="$style.categoryCell">
                                <p :class="[$style.category, {[$style.active]: activeCategory === category.value}]"
                                   @click="changeCategory(category.value)">{{ category.label }}</p>
                            </li>
                        </ul>
                    </transition>
                    <transition name="list"
                                appear
                                @afterLeave="flags.reloading = false">
                        <ul v-if="!flags.reloading"
                            :class="$style.documentList">
                            <li v-for="doc in allDocument"
                                :key="doc.id"
                                :class="$style.documentCell">
                                <SingleDocument
                                    :key="doc.id"
                                    :document="doc"
                                />
                            </li>
                        </ul>
                    </transition>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SingleDocument from '../../components/documents/SingleDocument';
    import allDocument from '../../queries/documents/allDocument.gql';
    import documentSpecs from '../../queries/documents/documentSpecs.gql';
    import {mapState} from 'vuex';

    export default {
        components: {
            SingleDocument,
        },

        data() {
            return {
                myStyle: {},
                originalTop: 0,
                scrollY: null,
                position: '',
                flags: {
                    reloading: false,
                    loading: false,
                    isTicking: false,
                },
                allDocument: [],
                categories: [],
                activeCategory: null,
                pageInfo: {
                    first: 8,
                    after: null,
                    hasNext: false,
                },
            };
        },

        computed: {

            top() {
                if (this.$device.isMobile) {
                    return -140;
                } else {
                    return -90;
                }
            },

            ...mapState({
                menuOpened: state => state.menu.menuOpened,
            }),
        },

        watch: {
            scrollY() {
                let newTop;

                if (this.$device.isMobile) {
                    newTop = this.scrollY + +this.top - this.originalTop;
                } else {
                    newTop = (this.scrollY * 100 / document.body.clientWidth) + +this.top / 10 - (this.originalTop * 100 / document.body.clientWidth);
                }

                if (newTop > 0) {
                    if (this.$device.isMobile) {
                        this.$set(this.myStyle, 'top', `${newTop}px`);
                    } else {
                        this.$set(this.myStyle, 'top', `${newTop}vw`);
                    }
                    this.$set(this.myStyle, 'position', 'relative');
                } else {
                    this.$delete(this.myStyle, 'top');
                    this.$delete(this.myStyle, 'position');
                }
            },
        },

        async asyncData({ app }) {
            await app.$gql.clearStore();

            try {

                let specsResponse = await app.$gql.query({
                    query: documentSpecs,
                });

                let documentsResponse = await app.$gql.query({
                    query: allDocument,
                    variables: {
                        first: 8,
                        category: specsResponse.data.documentSpecs[0].choices[0].value
                    },
                });

                return {
                    allDocument: documentsResponse.data.allDocument.edges.map(item => item.node),
                    categories: specsResponse.data.documentSpecs[0].choices,
                    activeCategory: specsResponse.data.documentSpecs[0].choices[0].value,
                    pageInfo: {
                        first: 8,
                        after: documentsResponse.data.allDocument.pageInfo.endCursor,
                        hasNext: documentsResponse.data.allDocument.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log('docs async', e);
            }
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_white') {
                store.dispatch('menu/CHANGE_COLOR_DEFAULT');
            }
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
            let ua = window.navigator.userAgent;
            let msie = ua.indexOf('MSIE ');

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv:11\./)) {
                window.addEventListener('scroll', () => {
                    this.scrollY = Math.round(window.pageYOffset);
                });
                this.originalTop = this.$el.getBoundingClientRect().top;
            }
            
            console.log(this.categories);
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            async getDocs(append) {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;

                console.log(this.activeCategory);
                let documentsResponse = await this.$gql.query({
                    query: allDocument,
                    variables: {
                        category: this.activeCategory,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });
                console.log(documentsResponse);

                if (!append) this.flags.reloading = true;
                const docs = documentsResponse.data.allDocument.edges.map(item => item.node);

                this.allDocument = !append
                    ? docs.slice()
                    : [].concat.apply(this.allDocument, docs);

                this.pageInfo.after = documentsResponse.data.allDocument.pageInfo.endCursor;
                this.pageInfo.hasNext = documentsResponse.data.allDocument.pageInfo.hasNextPage;

                this.$nextTick(() => {
                    this.flags.loading = false;
                });
            },

            changeCategory(id) {
                this.flags.reloading = true;
                this.activeCategory = id;
                this.resetPageInfo();
                this.getDocs();
            },

            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getDocs(true);
                }

                this.flags.isTicking = false;
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },
        },
    };
</script>

<style lang="scss" module>
    .Documents {
        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .spacer {
        height: 80px;
    }

    .container {
        display: flex;
        margin-top: 4.6rem;

        @include respond-to(mobile) {
            display: block;
            margin-top: 0;
        }
    }

    .documentList {
        margin-left: auto;
        transition: opacity .3s ease-out, transform .3s ease-out;

        &:global(.list-enter),
        &:global(.list-leave-active) {
            opacity: 0;
            transform: translate3d(0, 10px, 0) scale(.999);
        }

        @include respond-to(mobile) {
            margin-top: 1rem;
        }
    }

    .documentCell {

        &:not(:first-child) {
            margin-top: 2.4rem;

            @include respond-to(mobile) {
                margin-top: 1.2rem;
            }
        }
    }

    .categoryCell {
        margin-bottom: .8rem;

        @include respond-to(mobile) {
            margin-right: 1.6rem;
            margin-bottom: 0;
        }
    }

    .categoryList {
        position: sticky;
        top: 6rem;
        max-width: 28rem;
        height: 100%;
        margin-right: 32px;

        @include respond-to(mobile) {
            top: 0;
            z-index: 100;
            display: flex;
            width: calc(100% + 1.6rem);
            max-width: none;
            margin-right: 0;
            padding-top: 2.6rem;
            padding-bottom: 1rem;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            box-shadow: 0 10px 10px #fff;
            background-color: white;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
        }
    }

    .category {
        font: 2rem $font-secondary;
        color: #4c4548;
        user-select: none;

        @include respond-to(mobile) {
            display: inline-block;
            font-size: 1.8rem;
        }

        &:hover {
            color: $orange;
            cursor: pointer;
        }
    }

    .active {
        color: $orange;
    }

    ._hidden {
        z-index: 1;
    }
</style>
