<template>
    <section :class="[$style.PurchasesPage, 'container']">
        <div class="main-container">
            <h1 :class="$style.titleMain" class="custom-title">
                <span class="custom-title__origin">Способы покупки</span>
                <span class="custom-title__shadow">Способы покупки</span>
            </h1>
            <div ref="slider"
                 :class="[$style.wrapper, 'swiper-container']">
                <ul :class="[$style.accordion, 'swiper-wrapper']">
                    <!--item-->
                    <li v-for="(item, i) in sortedPurchases"
                        :key="item.id"
                        :class="[$style.item, {_active: activeIndex === i, _prev: activeIndex-1 === i}]"
                        class="swiper-slide"
                        @click="setActiveIndex(i)">

                        <div :class="[$style.eventContainer, {_on: eventIndex === i}]"
                             @click="$router.push(`/purchases/${item.slug}/`)">
                            <div :class="$style.imageBlock">
                                <ImageLazy :class="$style.image"
                                           :origin="item.image"/>
                            </div>
                            <h2 :class="$style.title">
                        <span :class="$style.titleOrigin"
                              v-html="item.name"></span>
                                <span :class="$style.titleShadow"
                                      v-html="item.name"></span>
                            </h2>
                            <div :class="$style.content">
                                <p v-if="item.minPercent !== null"
                                   :class="$style.desc">
                                    от <span>{{ item.minPercent }}%</span>
                                </p>
                                <span :class="$style.link">
                            Подробнее
                        </span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ref="pagination"
                 :class="[$style.pagination, 'swiper-pagination']"></div>
        </div>
    </section>
</template>

<script>
    //store
    import {mapState} from 'vuex';

    //utils
    import Swiper from 'swiper/dist/js/swiper.min';

    //components
    import ImageLazy from '../../components/common/ImageLazy';

    export default {
        name: 'PurchasesPage',

        components: { ImageLazy },

        data() {
            return {
                activeIndex: 0,
                eventIndex: 0,
                sliderApp: undefined,
                slidesPerView: 'auto',
                direction: 'horizontal',
                sortedPurchases: [],
            };
        },

        computed: {
            ...mapState({
                purchasesList: state => state.purchases.purchasesList,
            }),
        },

        watch: {
            $mq() {
                if (this.$mq === 'xs') {
                    this.initApp();
                } else {
                    if (this.sliderApp) {
                        this.sliderApp.destroy();
                    }
                }
            },
        },

        async fetch({ store }) {
            store.dispatch('footer/SET_COLOR', 'white');

            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.purchases.purchasesList.length)
                await store.dispatch('purchases/getPurchases');
        },

        async mounted() {
            await this.sortPurchases();
            if (this.$mq === 'xs') {
                this.initApp();
            }
        },

        beforeDestroy() {
            if (this.$mq === 'xs') {
                this.sliderApp.destroy();
            }
        },

        methods: {
            async sortPurchases() {
                if (!this.purchasesList.length) return;
                let list = this.purchasesList.slice();
                await list.sort((a, b) => a.order - b.order);
                this.sortedPurchases = list.slice(0, 3);
            },

            setActiveIndex(i) {
                this.activeIndex = i;
                if (this.$device.isMobile) {
                    this.sliderApp.activeIndex = i;
                    this.sliderApp.slideTo(i);
                }
                this.eventIndex = this.activeIndex;
            },

            initApp() {
                const settings = {
                    speed: 1000,
                    slidesPerView: this.slidesPerView,
                    direction: this.direction,
                    spaceBetween: 12,
                    slideActiveClass: '_active',
                    allowTouchMove: true,
                    centeredSlides: true,
                    pagination: {
                        el: this.$refs.pagination,
                        bulletClass: 'swiper-pagination-bullet',
                        type: 'bullets',
                        clickable: true,
                        bulletActiveClass: 'swiper-pagination-bullet-active',
                    },
                };

                this.sliderApp = new Swiper(this.$refs.slider, settings);

            },
        },
    };
</script>

<style lang="scss" module>
    .PurchasesPage {
        @include respond-to(mobile) {
            padding-bottom: 40px;
        }
    }

    .eventContainer {
        width: 100%;
        height: 100%;
        pointer-events: none;

        &:global(._on) {
            pointer-events: all;
        }
    }

    .wrapper {
        margin: 0 -16px;
        overflow: visible;

        @include respond-to(mobile) {
            margin: 0 (-$s-tablet-padding);
            overflow: hidden;
        }

        @include respond-to(s-mobile) {
            margin: 0 (-$mobile-padding);
        }
    }

    .accordion {
        display: flex;
        margin-top: 7rem;

        @include respond-to(mobile) {
            margin-top: 60px;
        }

        @include respond-to(s-mobile) {
            margin-top: 30px;
        }
    }

    .item {
        position: relative;
        width: 17rem;
        height: 41.1rem;
        background-color: $white;
        cursor: pointer;
        transition: width .3s ease-out, transform .3s ease-out;
        transform-origin: left center;

        @include respond-to(mobile) {
            width: 45vh;
            height: 60vh;
        }

        @include respond-to(s-mobile) {
            width: 231px;
            height: 309px;
        }

        &:global(._active) {
            width: 46.3rem;
            z-index: 3;
            transform: scale(1.1);
            transition: width .3s ease-out, transform .3s ease-out;

            @include respond-to(mobile) {
                width: 45vh;
                height: 60vh;
                transform: scale(1);
            }

            @include respond-to(s-mobile) {
                width: 231px;
                height: 309px;
            }

            & > .imageBlock:global {
                outline-color: transparent;
            }

            & .image:global {
                opacity: 1;
                transition: opacity .3s ease-out;
            }

            & .titleOrigin {
                color: $white;
            }

            & .titleShadow {
                opacity: .2;
            }

            & .content {
                opacity: 1;
                visibility: visible;
                transition: opacity .3s ease-out .4s, visibility .3s ease-out;
            }
        }
    }

    .item:global(._active) + .item {
        transform: scale(1.05);
        z-index: 2;

        @include respond-to(mobile) {
            transform: scale(1);
        }
    }

    .item:global(._prev) {
        transform: scale(1.05);
        z-index: 2;

        @include respond-to(mobile) {
            transform: scale(1);
        }
    }

    .imageBlock {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 2px solid $light-grey;
        transform-origin: left center;

        @include respond-to(mobile) {
            outline-offset: -2px;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .3s ease-out;

        @include overlay-gradient(radial-gradient(60% 120% at 0% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%), .5);
    }

    .title {
        position: absolute;
        top: 50%;
        left: 6rem;
        transform-origin: 50%;
        transform: translateY(-50%) rotate(-180deg);
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4.2rem;
        line-height: 1;
        text-transform: uppercase;
        font-family: $font-secondary;
        writing-mode: tb-rl;

        @include respond-to(mobile) {
            left: 24px;
        }

        @include respond-to(s-mobile) {
            font-size: 28px;
        }
    }

    .titleOrigin {
        position: relative;
        z-index: 1;
        color: $light-grey;
        text-align: center;
    }

    .titleShadow {
        position: absolute;
        top: 0;
        right: .5rem;
        height: 100%;
        padding-top: .5rem;
        text-align: center;
        color: transparent;
        text-shadow: 1px 1px 0 $light-grey, -1px -1px 0 $light-grey, 1px -1px 0 $light-grey, -1px 1px 0 $light-grey, 1px 1px 0 $light-grey;
        opacity: 0;

        @supports (-webkit-text-stroke: 1px black) {
            color: transparent;
            -webkit-text-stroke: 1px $light-grey;
            text-shadow: none;
        }
    }

    .content {
        position: absolute;
        left: 17rem;
        top: 19.4rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 6rem;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-out, visibility .3s ease-out;

        @include respond-to(mobile) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-left: 14px;
        }
    }

    .desc {
        color: $white;
        font-size: 2.6rem;
        line-height: 1;
        font-weight: bold;

        @include respond-to(s-mobile) {
            font-size: 18px;
        }

        & span {
            font-size: 3.2rem;
            font-family: $font-secondary;

            @include respond-to(s-mobile) {
                font-size: 26px;
            }
        }
    }

    .link {
        display: block;
        margin-top: 1.6rem;
        color: $orange;
        font-size: 1.2rem;
        line-height: 1;
        font-family: $font-secondary;

        @include respond-to(s-mobile) {
            font-size: 12px;
        }
    }

    .pagination {
        position: absolute;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 24px;
    }

</style>