<template>
    <div :class="$style.MapControls">
        <div :class="$style.zoom">
            <div :class="$style.zoomItem"
                 @click="$emit('zoom-in')">
                <svg viewBox="0 0 50 50">
                    <path
                        d="M50,25c0,1.7-1.4,3.1-3.1,3.1H28.1v18.8c0,1.7-1.4,3.1-3.1,3.1s-3.1-1.4-3.1-3.1V28.1H3.1C1.4,28.1,0,26.7,0,25 s1.4-3.1,3.1-3.1h18.8V3.1C21.9,1.4,23.3,0,25,0s3.1,1.4,3.1,3.1v18.8h18.8C48.6,21.9,50,23.3,50,25z"/>
                </svg>
            </div>
            <div :class="$style.zoomItem"
                 @click="$emit('zoom-out')">
                <svg viewBox="0 0 50 50">
                    <path
                        d="M50,25L50,25c0,1.7-1.4,3.1-3.1,3.1H3.1C1.4,28.1,0,26.7,0,25l0,0c0-1.7,1.4-3.1,3.1-3.1h43.8C48.6,21.9,50,23.3,50,25z"/>
                </svg>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MapControls',
    };
</script>

<style lang="scss" module>
    .MapControls {
        display: block;
    }

    .zoom {
        @include respond-to(mobile) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    .zoomItem {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.2rem;
        width: 4.2rem;
        background-color: $white;
        cursor: pointer;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .15);

        &:first-child {
            margin-bottom: .8rem;

            @include respond-to(mobile) {
                margin-bottom: 0;
                margin-left: .8rem;
            }
        }

        &:hover {
            background-color: $black;

            & svg {
                fill: $white;
            }
        }

        svg {
            display: block;
            width: 14px;
            height: 14px;
            fill: $black;
        }
    }
</style>
