<template>
    <div :class="$style.MapFilter">
        <button type="button" :class="['btn-reset',$style.button]"
                @click.prevent="isFilterOpen = !isFilterOpen">

            <template v-if="!isFilterOpen">
                <svg viewBox="0 0 19 20"
                     :class="$style.icon">
                    <use xlink:href="#icon-filter"></use>
                </svg>
            </template>

            <template v-else>
                <span :class="$style.close"></span>
            </template>
        </button>
        <!--filter categories-->
        <ul :class="[$style.categories, {_visible: isFilterOpen}]">

            <li v-if="categories.length > 1"
                :class="[$style.item, {_selected: actualCategories.length === 0}]"
                @click="$emit('change-category', null)">
                <span :class="$style.categoryIcon">
                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.492 8.658l-3.242 3.24-3.241-3.24a4.583 4.583 0 116.483 0zM6.25 7.083a1.667 1.667 0 100-3.333 1.667 1.667 0 000 3.333zm10.742 9.075l-3.242 3.24-3.241-3.24a4.583 4.583 0 116.483 0zm-3.242-1.575a1.667 1.667 0 100-3.333 1.667 1.667 0 000 3.333z"/>
                    </svg>
                </span>
                <span>Все</span>
            </li>

            <li v-for="category in categories"
                :key="category.id"
                :class="[$style.item, {_selected: actualCategories.includes(category.id)}]"
                @click="$emit('change-category', category.id)">
                <span :class="$style.categoryIcon"
                      v-html="category.iconContent"></span>
                <span v-html="category.name"></span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'MapFilter',

        props: {
            categories: {
                type: Array,
                default: () => [],
            },

            actualCategories: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                isFilterOpen: false,
                selected: 0,
            };
        },
    };
</script>

<style lang="scss" module>
    .MapFilter {
        display: block;
    }

    .button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.2rem;
        height: 4.2rem;
        background-color: $white;
        box-shadow: $box-shadow;
    }

    .icon {
        width: 1.9rem;
        height: 1.9rem;
        fill: $black;
    }

    .close {

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.5rem;
            border-bottom: 2px solid $black;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .categories {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        z-index: -1;
        min-width: 17.9rem;
        padding: 3.5rem 3.5rem 2rem;
        background-color: $white;
        box-shadow: $box-shadow;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s $bounce-easing;

        &:global(._visible) {
            opacity: 1;
            visibility: visible;
            transition: opacity .3s $bounce-easing;
        }

        @include respond-to(mobile) {
            top: -.6rem;
            left: -2.2rem;
            right: auto;
            display: flex;
            padding-top: 3.2rem;
            height: 16rem;
            width: 100vw;
            overflow-x: auto;
        }
    }

    .item {
        position: relative;
        padding-left: 2.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.4rem;
        line-height: 1.6;
        font-family: $font-primary;
        text-transform: capitalize;
        color: $black;
        cursor: pointer;

        &:global(._selected) {
            color: $orange;

            .categoryIcon {
                // stylelint-disable-next-line
                fill: $orange !important;

                path {
                    // stylelint-disable-next-line
                    fill: $orange !important;
                }
            }
        }

        @include respond-to(mobile) {
            display: inline-block;
            padding-right: 2rem;
            white-space: pre;
        }
    }

    .categoryIcon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        fill: $black;

        & svg {
            display: block;
            width: 100%;
            height: 100%;
        }

        @include respond-to(mobile) {
            top: 1rem;
        }
    }
</style>