<template>
    <div class="InfraMap">
        <MapControls
            class="InfraMap__zoom"
            @zoom-in="map.zoomIn()"
            @zoom-out="map.zoomOut()"
        />
        <div ref="map" class="InfraMap__container"></div>
        <div v-if="mapInfrastrctureCategories.length > 1"
             class="InfraMap__filter">
            <MapFilter :categories="mapInfrastrctureCategories"
                       :actual-categories="filteredCategories"
                       @change-category="changeCategory"/>
        </div>
    </div>
</template>

<script>
    // Utils
    import {mapToken, getRadialCoords, mapStyles} from '../../../assets/js/mapUtils';
    import MapboxLanguage from '@mapbox/mapbox-gl-language';
    import {MapboxClusterMarker} from '../../../assets/js/MapboxClusterMarker/MapboxClusterMarker';

    let mapbox = undefined;

    //store
    import {mapState, mapGetters} from 'vuex';

    //components
    import MapControls from './MapControls';
    import MapFilter from './MapFilter';

    export default {
        name: 'ModalMap',
        components: {
            MapFilter,
            MapControls,
        },

        data() {
            return {
                inited: false,
                observer: null,
                map: undefined,
                markers: {},
                clustering: null,
                popup: null,
                centerMap: [37.82189369201661, 56.00721156410755],
                filteredCategories: [],
                tenMinutesArea: '/images/location/tenMinutesArea.png',
                twentyMinutesArea: '/images/location/twentyMinutesArea.png',

            };
        },

        computed: {
            ...mapState('home', ['mapInfrastrctureCategories', 'mapInfrastrcturePoints']),
            ...mapGetters('home', {
                projectCoords: 'projectCoords',
            }),

            center() {
                return this.projectCoords.length ? this.projectCoords : [37.809422, 56.006214];
            },
        },

        watch: {
            filteredCategories() {
                this.$nextTick(() => {
                    this.filterPoints();
                });
            },
        },

        mounted() {
            this.loadMap();
        },

        methods: {

            loadMap() {
                if (process.client) {
                    this.inited = true;

                    let mapBoxLoad = import('mapbox-gl');
                    mapBoxLoad.then(result => {
                        mapbox = result.default;
                        this.initMap();
                    });
                }
            },

            initMap() {
                mapbox.accessToken = mapToken;
                const language = new MapboxLanguage();

                this.map = new mapbox.Map({
                    container: this.$refs.map,
                    center: this.centerMap,
                    zoom: 14,
                    style: this.mapStyle ? this.mapStyle : mapStyles,
                    attributionControl: false,
                    antialias: true,
                });

                this.map.addControl(language);
                this.map.scrollZoom.disable();

                this.map.on('style.load', () => {
                    if (this.tenMinutesArea) this.addAvailabilityCircle('tma', this.tenMinutesArea, .5);
                    if (this.twentyMinutesArea) this.addAvailabilityCircle('twma', this.twentyMinutesArea, 1);

                    this.addProject();

                    this.popup = new mapbox.Popup({
                        closeButton: false,
                        closeOnClick: false,
                        maxWidth: '180px',
                    });

                    this.clustering = new MapboxClusterMarker({
                        mapbox: mapbox,
                        map: this.map,
                        points: this.mapInfrastrcturePoints,
                        pinSize: 40,
                        pointRenderer: this.pointMarkerTemplate,
                        clusterRenderer: this.clusterMarkerTemplate,
                    });

                    this.addPointsPopUps(this.clustering.getMarkers());

                    this.map.on('zoom', () => {
                        let zoom = this.map.getZoom();

                        if (this.tenMinutesArea)
                            if (zoom < 10 || zoom > 16) {
                                this.map.setLayoutProperty('tma', 'visibility', 'none');
                            } else {
                                this.map.setLayoutProperty('tma', 'visibility', 'visible');
                            }

                        if (this.twentyMinutesArea)
                            if (zoom < 10 || zoom > 15) {
                                this.map.setLayoutProperty('twma', 'visibility', 'none');
                            } else {
                                this.map.setLayoutProperty('twma', 'visibility', 'visible');
                            }
                    });
                });
            },

            projectMarkerTemplate() {
                let markerEl = document.createElement('div');
                markerEl.classList.add('project-marker');

                markerEl.innerHTML = `
                    <div class="project-marker__icon">
                        <svg viewBox="0 0 20 34">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0L0 0.0779386V25.8196L10 33.7011L20 25.7416V0ZM14.8313 4.41712L5.16927 4.45477V16.8905L10.0003 20.6981L14.8313 16.8529V4.41712Z"/>
                        </svg>
                    </div>
                `;

                return markerEl;
            },

            addProject() {
                let marker = new mapbox.Marker(this.projectMarkerTemplate())
                    .setLngLat(this.center)
                    .addTo(this.map);
            },

            addPointsPopUps(markers = {}) {
                Object.values(markers).forEach((marker, index) => {
                    let point = this.mapInfrastrcturePoints.filter(p => p.id === Object.keys(markers)[index])[0];

                    marker.getElement().addEventListener('mouseenter', () => {
                        this.popup.setLngLat([point.longitude, point.latitude])
                            .setHTML(this.pointPopUpTemplate(point))
                            .addTo(this.map);
                    });

                    marker.getElement().addEventListener('mouseleave', () => {
                        this.popup.remove();
                    });
                });
            },

            // Filter methods

            filterPoints() {
                let points =
                    this.filteredCategories.length
                        ? this.mapInfrastrcturePoints.filter(p => this.filteredCategories.includes(p.category.id))
                        : this.mapInfrastrcturePoints.slice();

                this.clustering.setPoints(points);
                this.addPointsPopUps(this.clustering.getMarkers());

                this.flyToFilteredPoints();
            },

            flyToFilteredPoints() {
                let bounds = new mapbox.LngLatBounds();
                let points = this.filteredCategories.length
                    ? this.mapInfrastrcturePoints.filter(p => this.filteredCategories.includes(p.category.id))
                    : this.mapInfrastrcturePoints;

                points.forEach(p => {
                    bounds.extend([p.longitude, p.latitude]);
                });

                this.map.fitBounds(bounds, {
                    animate: true,
                    maxZoom: 14,
                    padding: {
                        top: 100,
                        bottom: 100,
                        left: 100,
                        right: 100,
                    },
                });
            },

            changeCategory(id) {
                if (id === null) {
                    this.filteredCategories = [];
                } else {
                    this.filteredCategories.includes(id)
                        ? this.filteredCategories.splice(this.filteredCategories.indexOf(id), 1)
                        : this.filteredCategories.push(id);
                }
            },

            // Elements templates

            pointMarkerTemplate(point) {
                let markerEl = document.createElement('div');
                markerEl.classList.add('infra-marker');

                markerEl.innerHTML = `
                    <div class="infra-marker__wrapper">
                        <div class="infra-marker__icon">
                            ${point.category.iconContent}
                        </div>
                        <svg class="infra-marker__icon-background" width="25" height="45" stroke-width="2" viewBox="0 0 25 45" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 1.29195L24.9596 0.96521V32.4756L12.4798 44.8171L0 32.8024V1.29195Z"/>
                        </svg>
                    </div>
                `;

                return markerEl;
            }
            ,

            clusterMarkerTemplate(cluster) {
                let markerEl = document.createElement('div');
                markerEl.classList.add('infra-marker');

                markerEl.innerHTML = `
                    <div class="infra-marker__wrapper">
                        <div class="infra-marker__count">
                            ${cluster.count}
                        </div>
                    </div>
                `;

                return markerEl;
            }
            ,

            pointPopUpTemplate(point) {
                return `<div class="infra-popup">
                            <div class="infra-popup__wrapper">
                                ${point.name}
                            </div>
                        </div>
                        `;

            },

            // Specials

            addAvailabilityCircle(id, image, km) {
                const bounds = new mapbox.LngLatBounds();
                let center = this.center;

                const coords = getRadialCoords(center, km);
                coords.forEach(a => bounds.extend(a));

                const [aCoord, bCoord] = bounds.toArray();

                const rect = [
                    [aCoord[0], bCoord[1]],
                    [bCoord[0], bCoord[1]],
                    [bCoord[0], aCoord[1]],
                    [aCoord[0], aCoord[1]],
                ];

                this.map.addSource(id, {
                    type: 'image',
                    coordinates: rect,
                    url: image,
                });

                this.map.addLayer({
                    id: id,
                    source: id,
                    type: 'raster',
                    paint: {
                        'raster-opacity': 1,
                    },
                });
            },
        },
    }
    ;
</script>

<style lang="scss">
    .InfraMap {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        user-select: none;
        overflow: hidden;

        &__container {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
        }

        &__zoom {
            position: absolute;
            bottom: 6vh;
            right: 8rem;
            z-index: 2;

            @include respond-to(mobile) {
                z-index: 3;
                bottom: 3.2rem;
                right: 1.6rem;
            }
        }

        &__filter {
            position: absolute;
            top: 50%;
            right: 8rem;
            z-index: 2;
            transform: translateY(-50%);

            @include respond-to(mobile) {
                top: auto;
                right: auto;
                bottom: 3.2rem;
                left: 2.2rem;
                transform: translateY(0);
            }
        }

        .project-marker {
            display: block;
            width: 20px;
            height: 34px;

            &__icon {
                display: block;
                height: 100%;
                transform: translate3d(0, -50%, 0);

                svg {
                    display: block;
                    height: 100%;
                    fill: $orange;
                }
            }
        }

        .infra-marker {
            cursor: pointer;

            &._hidden {
                pointer-events: none;

                .infra-marker {

                    &__wrapper {
                        opacity: 0;
                        transform: translate3d(0, -50%, 0) scale(0);
                        visibility: hidden;
                        pointer-events: none;
                        transition: opacity .3s ease, transform .3s ease, visibility 0s ease .3s;
                    }
                }
            }

            &:hover {
                z-index: 100;

                .infra-marker__icon-background {
                    fill: $black;
                    stroke: $white;
                    stroke-opacity: 1;
                    transition: fill .3s ease, stroke .3s ease;
                }

                .infra-marker__icon svg {
                    // stylelint-disable-next-line
                    fill: $white !important;
                    transition: fill .3s ease;

                    path {
                        // stylelint-disable-next-line
                        fill: $white !important;
                    }
                }
            }

            &__wrapper {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 28px;
                height: 48px;
                opacity: 1;
                transform: translate3d(0, -50%, 0) scale(1);
                visibility: visible;
                transition: opacity .3s ease, transform .3s ease, visibility 0s;
            }

            &__icon {
                position: relative;
                z-index: 1;
                display: block;
                width: 18px;
                height: 18px;
                margin-bottom: 10px;

                img,
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    fill: $black;
                    transition: fill .3s ease;
                }
            }

            &__icon-background {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: $white;
                stroke: $black;
                stroke-opacity: .5;
                transition: fill .3s ease, stroke .3s ease;
            }

            &__count {
                font-size: 18px;
                font-weight: 500;
            }
        }

        .infra-popup {
            width: 160px;
            height: 20px;
            font-size: 14px;
            line-height: 1.2;
            text-transform: uppercase;
            font-family: $font-primary;
            user-select: none;
            text-align: center;
            transform-origin: center top;
            transform: translateY(20px);
        }
    }

    .mapboxgl-canvas-container {
        width: 100%;
        height: 100%;
    }

    .mapboxgl-marker {
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
    }

    .mapboxgl-popup {
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
    }
</style>