<template>
    <symbol id="construction-bg-arrow-top" width="823" height="233" viewBox="0 0 823 233" fill="none">
        <path d="M587.664 233L647 203.37V142H132.61L587.664 233Z" fill="#FE7011"/>
        <path opacity="0.2"
              d="M588.112 118.753L587.804 118.907L587.467 118.839L1 1.22046V114.661L587.524 231.952L822 114.863V1.61919L588.112 118.753Z"
              stroke="#FE7011" stroke-width="2"/>
    </symbol>
</template>

<script>
    export default {
        name: 'ConstructionArrowTop'
    };
</script>