<template>
    <symbol id="construction-bg-arrow-bottom" width="823" height="233" viewBox="0 0 823 233" fill="none">
        <path d="M445 28.5294L587.664 0L787.918 100H445V28.5294Z" fill="#FE7011"/>
        <path opacity="0.2"
              d="M588.112 114.247L587.804 114.093L587.467 114.161L1 231.78V118.339L587.524 1.04781L822 118.137V231.381L588.112 114.247Z"
              stroke="#FE7011" stroke-width="2"/>
    </symbol>
</template>

<script>
    export default {
        name: 'ConstructionArrowBottom'
    };
</script>
