<template>
    <symbol id="icon-check-mark" viewBox="0 0 500 192">
        <path
            d="M148.09 94.358l.269.206h.339l349.627.057-12.601 63.635-349.682-.056L14.827 65.22 27.39 1.773l120.7 92.585z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconCheckMark'
    };
</script>