<template>
    <symbol id="icon-decor-arrow-top" viewBox="0 0 270 80">
        <path d="M155.781 25.054l-.307.152-.335-.066L-130-31.78v53.965l285.195 56.768L269 22.386v-53.77L155.781 25.054z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconDecorArrowTop'
    };
</script>