<template>
    <symbol id="icon-favorite" viewBox="0 0 24 50">
        <path d="M11.43 40.845L1 48.088V1h22v47.088l-10.43-7.243-.57-.396-.57.396z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconFavorite'
    };
</script>
