<template>
    <symbol id="icon-whatsapp" viewBox="0 0 40 40">
        <path
            d="M9.004 31l1.488-5.465A10.95 10.95 0 019 20c0-6.075 4.925-11 11-11s11 4.925 11 11-4.925 11-11 11a10.95 10.95 0 01-5.533-1.49L9.004 31zm7.026-16.161c-.142.009-.28.046-.408.11-.12.067-.228.152-.323.25-.132.125-.207.233-.287.337a3.002 3.002 0 00-.622 1.846c.002.539.143 1.064.363 1.554.45.992 1.19 2.043 2.168 3.017.236.234.465.47.713.688a10.393 10.393 0 004.224 2.25l.626.096c.203.011.407-.004.611-.014.32-.016.634-.103.917-.254.182-.097.268-.145.421-.242 0 0 .047-.03.137-.099.149-.11.24-.188.363-.317.092-.094.171-.206.232-.332.085-.18.171-.521.206-.806.027-.218.019-.337.016-.41-.005-.118-.103-.24-.21-.292l-.64-.287s-.956-.417-1.54-.683a.547.547 0 00-.195-.045.53.53 0 00-.416.14v-.003c-.006 0-.08.063-.875 1.026a.385.385 0 01-.404.143 1.557 1.557 0 01-.21-.072c-.137-.057-.184-.08-.278-.12l-.005-.002a6.614 6.614 0 01-1.727-1.1c-.139-.121-.268-.253-.4-.38a6.924 6.924 0 01-1.121-1.396l-.065-.104a1.016 1.016 0 01-.113-.226c-.041-.161.068-.291.068-.291s.267-.293.391-.451c.104-.132.2-.269.29-.41.13-.21.17-.424.102-.59a91.584 91.584 0 00-.955-2.245c-.065-.148-.258-.253-.432-.274l-.179-.018a3.726 3.726 0 00-.443.005z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconWhatsapp'
    };
</script>