<template>
    <symbol id="icon-visual" viewBox="0 0 18 18">
        <path
            d="M9 .667l3.536 3.536-1.18 1.178L9 3.023 6.643 5.381 5.464 4.203 9 .667zM.667 9l3.535-3.536 1.179 1.18L3.023 9l2.358 2.357-1.179 1.179L.667 9zm16.666 0l-3.536 3.536-1.178-1.18L14.976 9 12.62 6.643l1.178-1.179L17.333 9zM9 10.667a1.667 1.667 0 110-3.333 1.667 1.667 0 010 3.333zm0 6.666l-3.536-3.535 1.18-1.179L9 14.977l2.357-2.358 1.179 1.178L9 17.334z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconVisual'
    };
</script>