<template>
    <symbol id="icon-quote" viewBox="0 0 85 97.19217">
        <path
            d="M48.94,8.803A8.29248,8.29248,0,0,1,55.86.874C59.744.102,62.78,2.09,62.78,6.05a8.30626,8.30626,0,0,1-6.92,8C51.976,14.823,48.94,12.835,48.94,8.803Zm.54,19.355.237-11.014L62.004,14.7l.322,10.903,20.712-4.12L85,21.093V80.995l-1.962.39L1.962,97.512,0,97.902V38l1.962-.39,20.8-4.138-.325-10.961,14.124-2.81-.238,11.074Zm-.043,2.008L36.28,32.783l-.496,23.145L23.497,58.372,22.82,35.461,1.962,39.61V95.512L83.038,79.385V23.483L62.385,27.59l.678,22.97L48.94,53.37l.497-23.205ZM29.64,72.198a8.2906,8.2906,0,0,0,6.92-7.928c0-4.032-3.036-6.02-6.92-5.248a8.30791,8.30791,0,0,0-6.92,8C22.72,70.982,25.757,72.971,29.64,72.198Z"
            transform="translate(0 -0.70981)"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconQuote'
    };
</script>