<template>
    <symbol id="icon-combine" viewBox="0 0 20 20">
        <path
            d="M15.833 5H9.167a.833.833 0 00-.834.833v10.834h-5a.833.833 0 01-.833-.834V2.5a.833.833 0 01.833-.833H15a.833.833 0 01.833.833V5zm-5 1.667H17.5a.833.833 0 01.833.833v10a.834.834 0 01-.833.833h-6.667A.833.833 0 0110 17.5v-10a.833.833 0 01.833-.833z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconCombine'
    };
</script>