<template>
    <symbol id="icon-decor-arrow-bottom" viewBox="0 0 302 80">
        <path d="M286.781 54.946l-.307-.152-.335.067L1 111.78V57.815L286.195 1.047 400 57.614v53.77L286.781 54.946z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconDecorArrowBottom'
    };
</script>