<template>
    <symbol id="icon-triangle" viewBox="0 0 5 8">
        <path d="M4.66699 4L0.666993 8L0.666992 3.49691e-07L4.66699 4Z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconTriangle'
    };
</script>