<template>
    <symbol id="icon-youtube" viewBox="0 0 16 11">
        <path
            d="M14.9857 1.55613C14.5806 0.835695 14.141 0.702984 13.2459 0.652524C12.3519 0.591856 10.1034 0.566772 8.15534 0.566772C6.20376 0.566772 3.95438 0.591856 3.06128 0.651649C2.16788 0.702984 1.72746 0.834528 1.31853 1.55613C0.901439 2.27568 0.686768 3.51529 0.686768 5.6973C0.686768 5.69905 0.686768 5.70021 0.686768 5.70021C0.686768 5.70196 0.686768 5.70313 0.686768 5.70313V5.70488C0.686768 7.87784 0.901439 9.12649 1.31853 9.83876C1.72746 10.5592 2.16701 10.6899 3.06011 10.7505C3.95438 10.8027 6.20376 10.8337 8.15534 10.8337C10.1031 10.8337 12.3516 10.8027 13.2468 10.7514C14.1419 10.6907 14.5815 10.5601 14.9866 9.83963C15.4075 9.12737 15.6204 7.87872 15.6204 5.70575C15.6204 5.70575 15.6204 5.70284 15.6204 5.70109C15.6204 5.70109 15.6204 5.69934 15.6204 5.69817C15.6204 3.51529 15.4075 2.27568 14.9857 1.55613ZM6.28688 8.50027V2.90015L10.9536 5.70021L6.28688 8.50027Z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconYoutube'
    };
</script>
