<template>
    <symbol id="icon-copylink" viewBox="0 0 40 40">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20 31c6.075 0 11-4.925 11-11S26.075 9 20 9 9 13.925 9 20s4.925 11 11 11zm2.907-10.063l.961.961.961-.96a4.078 4.078 0 00-5.767-5.767l-.96.96.96.962.961-.961a2.718 2.718 0 113.845 3.845l-.96.96zm-1.922 3.845l.96-.96-.96-.962-.962.961a2.717 2.717 0 11-3.844-3.845l.96-.96-.96-.961-.961.96a4.079 4.079 0 105.767 5.767zm1.922-6.727l-.962-.962-4.805 4.805.962.962 4.805-4.805z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconCopylink'
    };
</script>
