<template>
    <symbol id="icon-pdf" viewBox="0 0 24 32">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M16 6H5v2h11V6zm3 5.5H5v2h14v-2zm0 4H5v2h14v-2zm0 4H5v2h14v-2zm0 3.5H5v2h14v-2zm3 7H2V2h15.172L22 6.828V30zm2-24l-6-6H0v32h24V6z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconPdf'
    };
</script>