<template>
    <symbol id="icon-flat-facing" viewBox="0 0 20 20">
        <path
            d="M3.333 2.5h13.334a.833.833 0 01.833.833V7.5a.833.833 0 01-.833.833H3.333A.833.833 0 012.5 7.5V3.333a.833.833 0 01.833-.833zM5 10h5a.833.833 0 01.833.833v2.5h.834v5H8.333v-5h.834v-1.666h-5a.833.833 0 01-.834-.834V9.167H5V10zm9.777 1.443L16.25 9.97l1.473 1.473a2.083 2.083 0 11-2.946 0z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconFlatFacing'
    };
</script>