<template>
    <symbol id="icon-email" viewBox="0 0 40 40">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M20 31c6.075 0 11-4.925 11-11S26.075 9 20 9 9 13.925 9 20s4.925 11 11 11zm5.824-15.837A.625.625 0 0025.4 15H14.6a.625.625 0 00-.424.163.536.536 0 00-.176.393v8.888c0 .148.063.29.176.393A.625.625 0 0014.6 25h10.8c.16 0 .312-.058.424-.163a.536.536 0 00.176-.393v-8.888a.536.536 0 00-.176-.393zm-9.635 1.636l3.847 3.025 3.772-3.022.784.84-4.548 3.645-4.632-3.641.777-.847z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconEmail'
    };
</script>