<template>
    <symbol id="icon-facing" viewBox="0 0 12 14">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0h12v6H9.5v3H5v2h3v3H2v-3h1V7h4.5V6H0V0z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconFacing'
    };
</script>