<template>
    <symbol id="icon-pin" width="24" height="24" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="11" fill="#99CF18" stroke="white" stroke-width="2"/>
        <path d="M12 7.33337V16.6667" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
        <path d="M7.3335 12H16.6668" stroke="white" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconPin'
    };
</script>