<template>
    <symbol id="icon-telegram" viewBox="0 0 40 40">
        <path
            d="M20 31c-6.075 0-11-4.925-11-11S13.925 9 20 9s11 4.925 11 11-4.925 11-11 11zm-3.421-9.713l.014-.008.957 3.157c.123.342.293.404.499.375.206-.027.315-.138.45-.268l1.307-1.263 2.805 2.077c.513.283.881.136 1.01-.475l1.822-8.604c.201-.801-.15-1.122-.772-.867l-10.707 4.136c-.73.292-.726.702-.132.883l2.747.858v-.001z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconTelegram'
    };
</script>
