<template>
    <symbol id="icon-genplan" viewBox="0 0 18 24">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M3.84921 13.7407L4.42438 13.2477L5.0547 13.6679L9.07184 16.346L16 12.882V5.32843L12.6716 2H9H2V15.3258L3.84921 13.7407ZM16 22V15.118L9.44721 18.3944L8.92816 18.654L8.4453 18.3321L4.57562 15.7523L2 17.9599V22H16ZM13.5 0L18 4.5V22V24H16H2H0V22V2V0H2H9H13.5ZM10 11C11.1046 11 12 10.1046 12 9C12 7.89543 11.1046 7 10 7C8.89543 7 8 7.89543 8 9C8 10.1046 8.89543 11 10 11Z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconGenplan'
    };
</script>