<template>
    <symbol id="icon-shared" viewBox="0 0 24 32">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M2 30V2h15.172L22 6.828V30H2zM24 6l-6-6H0v32h24V6zm-8 7a1 1 0 100-2 1 1 0 000 2zm0 10a1 1 0 100-2 1 1 0 000 2zm-8-5a1 1 0 100-2 1 1 0 000 2zm2.49-2.673a3 3 0 100 3.346l2.734 2.187a3 3 0 101.336-1.492L11.6 17l2.96-2.367a3 3 0 10-1.336-1.492l-2.733 2.186z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconShared'
    };
</script>