<template>
    <symbol id="icon-close" viewBox="0 0 10 10">
        <path
            d="M5 4.057l3.3-3.3.943.943-3.3 3.3 3.3 3.3-.943.943-3.3-3.3-3.3 3.3L.757 8.3l3.3-3.3-3.3-3.3L1.7.757l3.3 3.3z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconClose'
    };
</script>