<template>
    <symbol id="icon-arrow" viewBox="0 0 15 26">
        <path d="M15 13L-3.33782e-07 0.00961894L-2.39645e-08 25.9904L15 13Z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconArrow'
    };
</script>