<template>
    <symbol id="icon-filter" viewBox="0 0 19 20">
        <path
            d="M16.6252 15.1851V17.5601L15.0419 17.5663V15.1913L13.4586 15.1975V12.8225L18.2085 12.804V15.179L16.6252 15.1851ZM3.95863 15.2345V17.6095L2.37531 17.6157V15.2407L0.791992 15.2468V12.8718L5.54196 12.8533V15.2283L3.95863 15.2345ZM8.7086 5.71598V3.34098L10.2919 3.33481V5.70981L11.8752 5.70364V8.07864L7.12528 8.09715V5.72215L8.7086 5.71598ZM8.7086 9.67431L10.2919 9.66814V17.5848L8.7086 17.591V9.67431ZM2.37531 11.2823V3.36566L3.95863 3.35949V11.2762L2.37531 11.2823ZM15.0419 11.233V3.3163L16.6252 3.31013V11.2268L15.0419 11.233Z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconFilter'
    };
</script>