<template>
    <symbol id="icon-eye" viewBox="0 0 20 20">
        <path
            d="M.984 10C1.768 5.733 5.507 2.5 10 2.5s8.232 3.233 9.016 7.5c-.783 4.267-4.523 7.5-9.016 7.5S1.768 14.267.984 10zM10 14.167a4.167 4.167 0 100-8.334 4.167 4.167 0 000 8.334zm0-1.667a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"/>
    </symbol>
</template>

<script>
    export default {
        name: 'IconEye'
    };
</script>