<template>
    <symbol id="sp-logo" viewBox="0 0 141 56">
        <path d="M133.573 0L114.788 3.7134V7.4268L133.573 3.7134L141 7.4268V3.7134L133.573 0Z" fill="#99CF18"/>
        <path d="M133.573 7.42676L114.788 11.1402V14.7443L133.573 11.0309L141 14.7443V11.1402L133.573 7.42676Z"
              fill="#99CF18"/>
        <path d="M114.788 18.458V22.1714L133.573 18.458L141 22.1714V18.458L133.573 14.7446L114.788 18.458Z"
              fill="#99CF18"/>
        <path
            d="M15.6181 22.3896C11.2494 22.3896 7.20837 19.5499 6.55306 14.5259H3.82262V22.3896H0V3.71338H3.82262V11.031H6.55306C7.4268 6.22539 11.3586 3.71338 15.6181 3.71338C20.3145 3.71338 24.7924 6.98991 24.7924 12.9969C24.7924 19.1131 20.3145 22.3896 15.6181 22.3896ZM15.6181 18.7854C18.4578 18.7854 20.9698 16.7103 20.9698 13.1061C20.9698 9.50192 18.4578 7.42678 15.6181 7.42678C12.7785 7.42678 10.2665 9.50192 10.2665 13.1061C10.2665 16.7103 12.7785 18.7854 15.6181 18.7854Z"
            fill="#99CF18"/>
        <path
            d="M49.1479 22.3897C47.6188 19.8777 45.9806 17.2564 44.4515 14.7444C43.7962 14.8537 43.2501 14.9629 42.4856 14.9629V22.2805H38.5538V14.9629C37.7892 14.9629 37.2432 14.8537 36.5879 14.7444C35.0588 17.2564 33.5297 19.7684 31.8915 22.3897H27.4136V21.8436C29.2703 19.0039 31.2362 16.1643 33.0929 13.3246C32.0007 12.2324 31.4546 10.4849 30.9085 8.30059C30.4716 6.88076 29.4887 6.44389 28.0689 6.66232V4.0411C31.1269 3.38579 33.639 4.0411 34.4035 7.31763C34.6219 8.62824 35.168 10.4849 36.3694 11.2495C37.0247 11.6863 37.68 11.6863 38.5538 11.6863V4.0411H42.4856V11.6863C43.3593 11.6863 44.1239 11.6863 44.67 11.2495C45.8713 10.5942 46.3082 8.62824 46.6359 7.31763C47.2912 4.0411 49.8032 3.38579 52.9705 4.0411V6.66232C51.5507 6.44389 50.5677 6.88076 50.1308 8.30059C49.5847 10.3757 49.0387 12.2324 47.9465 13.3246C49.8032 16.1643 51.7691 19.0039 53.6258 21.8436V22.3897H49.1479Z"
            fill="#99CF18"/>
        <path
            d="M67.8243 22.3896V14.5259H60.6159V22.3896H56.6841V3.71338H60.6159V10.8125H67.8243V3.71338H71.7561V22.3896H67.8243Z"
            fill="#99CF18"/>
        <path
            d="M84.4253 22.3897C79.6197 22.3897 75.251 19.1132 75.251 12.997C75.251 6.88078 79.7289 3.60425 84.5345 3.60425C89.2308 3.60425 93.7088 6.88078 93.7088 12.997C93.7088 18.5671 89.8861 22.3897 84.4253 22.3897ZM84.4253 18.8947C87.2649 18.8947 89.7769 17.038 89.7769 13.1062C89.7769 9.28357 87.2649 7.31765 84.4253 7.31765C81.5856 7.31765 79.0736 9.28357 79.0736 13.1062C79.0736 17.038 81.4764 18.8947 84.4253 18.8947Z"
            fill="#99CF18"/>
        <path
            d="M108.453 7.20835H101.026V11.031H106.16V14.5259H101.026V18.7854H108.672V22.3896H96.9854V3.71338H108.453V7.20835Z"
            fill="#99CF18"/>
        <path d="M15.1813 26.8674V45.6529H11.1402V30.5808H4.04105V45.6529H0V26.8674H15.1813Z"/>
        <path
            d="M39.3184 26.8674H43.3594V41.9395H48.9295V26.8674H52.9706V41.9395H58.6499V26.8674H62.5817V45.6529H39.3184V26.8674Z"
        />
        <path
            d="M86.5002 45.6529H85.2988V26.9766H89.2306V37.5708L99.7155 26.8674H100.917V45.5437H96.9851V34.9495L86.5002 45.6529Z"
        />
        <path
            d="M115.88 45.6529V37.68H108.781V45.6529H104.74V26.8674H108.781V34.0758H115.88V26.8674H119.921V45.6529H115.88Z"
        />
        <path
            d="M131.716 45.6529C126.911 45.6529 122.542 42.3763 122.542 36.2601C122.542 30.144 127.02 26.8674 131.825 26.8674C136.522 26.8674 141 30.144 141 36.2601C141 41.721 137.286 45.6529 131.716 45.6529ZM131.825 42.0487C134.665 42.0487 137.177 40.192 137.177 36.2601C137.177 32.4375 134.665 30.4716 131.825 30.4716C128.986 30.4716 126.474 32.4375 126.474 36.2601C126.474 40.192 128.877 42.0487 131.825 42.0487Z"
        />
        <path
            d="M4.47791 55.2641C4.15026 54.718 3.82262 54.1719 3.49496 53.735C3.38574 53.735 3.27652 53.735 3.05808 53.735V55.2641H2.29356V53.735C2.18434 53.735 2.07513 53.735 1.8567 53.735C1.52904 54.2811 1.20138 54.8272 0.873728 55.2641H0V55.0456C0.436871 54.4995 0.764514 53.8442 1.20138 53.2981C0.982949 53.0797 0.873738 52.752 0.76452 52.3152C0.655303 51.9875 0.436867 51.9875 0.218432 51.9875V51.4414C0.873738 51.3322 1.41982 51.4414 1.52904 52.0967C1.63826 52.3152 1.63825 52.752 1.9659 52.8613C2.07512 52.9705 2.18435 52.9705 2.40279 52.9705V51.4414H3.16731V52.9705C3.38574 52.9705 3.49495 52.9705 3.60417 52.8613C3.82261 52.752 3.93183 52.3152 4.04105 52.0967C4.15027 51.4414 4.69635 51.3322 5.35166 51.4414V51.9875C5.02401 51.9875 4.91479 51.9875 4.80557 52.3152C4.69635 52.752 4.58714 53.0797 4.36871 53.2981C4.80558 53.8442 5.13322 54.4995 5.57009 55.0456V55.1548H4.47791V55.2641Z"
            fill="#99CF18"/>
        <path
            d="M6.77117 55.2641H6.55273V51.4415H7.31725V53.5166L9.50161 51.3323H9.72004V55.2641H8.95552V53.0798L6.77117 55.2641Z"
            fill="#99CF18"/>
        <path
            d="M12.2323 54.0627C12.1231 55.0457 11.7955 55.2641 10.8125 55.1549V54.6088C11.2494 54.6088 11.3586 54.4996 11.3586 54.0627L11.6862 51.3323H14.1983V55.1549H13.5429V52.0968H12.4508L12.2323 54.0627Z"
            fill="#99CF18"/>
        <path
            d="M17.4747 55.2641C16.4918 55.2641 15.5088 54.6088 15.5088 53.2982C15.5088 51.9876 16.4918 51.3323 17.4747 51.3323C18.4577 51.3323 19.4406 51.9876 19.4406 53.2982C19.4406 54.4996 18.6761 55.2641 17.4747 55.2641ZM17.4747 54.4996C18.0208 54.4996 18.5669 54.0627 18.5669 53.2982C18.5669 52.5337 18.0208 52.0968 17.4747 52.0968C16.9286 52.0968 16.3825 52.5337 16.3825 53.2982C16.3825 54.1719 16.9286 54.4996 17.4747 54.4996Z"
            fill="#99CF18"/>
        <path
            d="M20.9699 55.264H20.7515V51.4414H21.516V53.6257L23.7003 51.4414H23.9188V55.264H23.1543V53.0796L20.9699 55.264ZM21.516 50.24C21.516 50.7861 21.8436 51.1137 22.4989 51.1137C23.1542 51.1137 23.4819 50.7861 23.4819 50.24C23.3727 50.24 23.1543 50.24 22.9358 50.24C22.9358 50.4584 22.7174 50.5676 22.4989 50.5676C22.2805 50.5676 22.1713 50.4584 22.0621 50.24H21.516Z"
            fill="#99CF18"/>
        <path
            d="M28.1783 52.9706C28.3967 52.9706 28.7244 52.9706 28.8336 52.8614C29.052 52.7522 29.1612 52.4245 29.1612 51.9877C29.2704 51.5508 29.5981 51.1139 30.4718 51.3324V51.8784C30.1442 51.8784 30.035 51.9877 29.9258 52.2061C29.8165 52.643 29.7073 52.9706 29.4889 53.1891L30.6903 54.9365V55.0458H29.8165L28.8336 53.5167C28.7244 53.5167 28.3967 53.5167 28.2875 53.5167V55.0458H27.5229V51.2231H28.2875V52.9706H28.1783Z"
            fill="#99CF18"/>
        <path
            d="M33.4205 55.2641C32.4376 55.2641 31.4546 54.6088 31.4546 53.2982C31.4546 51.9876 32.4376 51.3323 33.4205 51.3323C34.4035 51.3323 35.3864 51.9876 35.3864 53.2982C35.2772 54.4996 34.5127 55.2641 33.4205 55.2641ZM33.4205 54.4996C33.9666 54.4996 34.5127 54.0627 34.5127 53.2982C34.5127 52.5337 33.9666 52.0968 33.4205 52.0968C32.8744 52.0968 32.3284 52.5337 32.3284 53.2982C32.2191 54.1719 32.7652 54.4996 33.4205 54.4996Z"
            fill="#99CF18"/>
        <path
            d="M39.9736 51.4417H40.1921V55.2643H39.4276V53.1891L38.4446 54.3905H38.3354L37.4616 53.1891V55.2643H36.5879V51.4417H36.9155L38.4446 53.1891L39.9736 51.4417Z"
            fill="#99CF18"/>
        <path d="M44.7793 51.4417V55.2643H44.0148V52.097H42.4857V55.2643H41.7212V51.4417H44.7793Z"
              fill="#99CF18"/>
        <path
            d="M47.4003 54.0627C47.2911 55.0457 46.9634 55.2641 45.9805 55.1549V54.6088C46.4173 54.6088 46.5266 54.4996 46.5266 54.0627L46.8542 51.3323H49.3662V55.1549H48.6017V52.0968H47.5095L47.4003 54.0627Z"
            fill="#99CF18"/>
        <path
            d="M53.1886 52.097H51.6595V52.8615H53.0794V53.626H51.6595V54.4997H53.2978V55.2643H50.895V51.4417H53.1886V52.097Z"
            fill="#99CF18"/>
        <path
            d="M55.3731 52.9706C55.5915 52.9706 55.9191 52.9706 56.0284 52.8614C56.2468 52.7522 56.356 52.4245 56.356 51.9877C56.4653 51.5508 56.7929 51.1139 57.6666 51.3324V51.8784C57.339 51.8784 57.2298 51.9877 57.1205 52.2061C57.0113 52.643 56.9021 52.9706 56.6837 53.1891L57.8851 54.9365V55.0458H57.0113L56.0284 53.5167C55.9191 53.5167 55.5915 53.5167 55.4823 53.5167V55.0458H54.7178V51.2231H55.4823V52.9706H55.3731Z"
            fill="#99CF18"/>
        <path
            d="M60.6158 51.3323C61.3804 51.3323 62.1449 51.7692 62.3633 52.6429H61.5988C61.3804 52.206 61.0527 51.9876 60.6158 51.9876C59.9605 51.9876 59.5237 52.4245 59.5237 53.189C59.5237 53.8443 59.9605 54.3904 60.6158 54.3904C61.0527 54.3904 61.4896 54.1719 61.5988 53.7351H62.3633C62.2541 54.718 61.3804 55.1549 60.6158 55.1549C59.6329 55.1549 58.6499 54.4996 58.6499 53.189C58.6499 52.0968 59.6329 51.3323 60.6158 51.3323Z"
            fill="#99CF18"/>
        <path
            d="M31.2363 26.8674L27.5229 34.8403H27.4137L23.2634 26.8674H19.0039V27.4135L25.3385 38.8814L24.574 40.5196C24.0279 41.721 23.3726 42.2671 22.3897 42.2671H22.2804H21.9528H21.8436H21.7343L20.2053 45.3252V45.6529H20.3145H23.4818C25.8846 45.5437 27.1952 43.7962 28.3966 41.1749L35.1681 27.4135V26.9766H31.2363V26.8674Z"
        />
        <path
            d="M72.1932 38.0076L74.0498 41.0657L76.5619 45.1068L76.8895 45.6529H81.2582V44.9976L80.6029 44.0146L79.7292 42.704L77.4356 39.0998L75.6881 36.4786V36.0417L77.4356 33.4205L79.7292 29.8163L80.6029 28.5057L81.2582 27.5227V26.8674H76.8895L76.5619 27.4135L74.0498 31.4546L72.1932 34.5127L71.9747 34.8403H70.5549V34.7311V34.2942V33.7481V26.8674H66.623V45.6529H70.5549V38.7722V38.2261V37.7892V37.68H71.9747L72.1932 38.0076Z"
        />
    </symbol>
</template>

<script>
    export default {
        name: 'SpLogo'
    };
</script>