.c-select {
    position: relative;
    z-index: 2;
    display: inline-block;

    &._grey {

        &:after {
            background-color: $ab-blue-easy;
        }

        .c-select__input {
            font-weight: 500;
            color: black;
        }

        .c-select__arrow {
            stroke: $ab-blue;
        }
    }

    &._s {

        &:after {
            content: none;
        }

        .c-select__input {
            height: 2.4rem;
            padding-bottom: 0;
            font-size: 1.4rem;
        }
    }

    &._selected {

        &:after {
            background-color: $ab-blue;
        }
    }

    &._focused {

        .c-select__input {
            border-color: blue;
        }
    }

    &._opened {

        .c-select__arrow {
            transform: rotate(180deg);
        }

        // .c-select__input {
        // border-color: #dcdfe6;
        // border-bottom-color: transparent;
        // }
    }

    &._disabled {

        .c-select__input {
            //background-color: #dcdfe6;
            cursor: not-allowed;
        }
    }

    &._group {

        .c-select__dropdown {
            padding: 0;
        }

        .c-select__dropdownGroupOption {

            &._highlighted {
                color: $ab-blue;
                background-color: transparent;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $grey-medium;
        border-radius: 2px;
    }

    &__field {
        position: relative;
        width: 100%;
    }

    &__input {
        display: inline-block;
        height: 4.2rem;
        width: 100%;
        padding-right: 24px;
        padding-bottom: 1.8rem;
        color: #fff;
        font-size: 2rem;
        line-height: 1.2;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 2.4rem;
        transition: transform .2s ease;
        cursor: pointer;
        stroke: white;
    }

    &__dropdown {
        position: absolute;
        top: calc(100% - 4px);
        left: 0;
        z-index: 3;
        width: 100%;
        padding: 1.2rem 0;
        background: #fff;
        box-shadow: 8px 8px 30px rgba(0, 0, 0, .12);
        border-radius: 4px;
        will-change: opacity, transform;
        transition: opacity .2s ease, transform .2s ease;

        &.dropdown-enter,
        &.dropdown-leave-to {
            opacity: 0;
            transform: translate3d(0, 16px, 0);
        }
    }

    &__dropdownWrap {
        max-height: 25rem;

        &._phase {
            max-height: 44rem;
        }
    }

    &__dropdownOption {
        padding: 1.2rem 3.2rem;
        cursor: pointer;

        &._highlighted {
            background-color: $ab-blue-easy;
        }

        &._selected {
            color: $ab-blue;
        }

        &._disabled {
            color: rgba(0, 0, 0, .25);
            cursor: not-allowed;
        }
    }

    &__native {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -1;

        @include respond-to(sm) {
            z-index: 2;
            display: block;
            pointer-events: auto;
        }

        &._visible {
            pointer-events: auto;
            z-index: 2;
        }
    }

    &__group {
        position: relative;
        //margin-bottom: 1.2rem;
        padding: 1.2rem 0;

        &:last-child {
            margin-bottom: 0;

            &:after {
                content: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 1.6rem;
            right: 1.6rem;
            bottom: 0;
            display: block;
            height: 1px;
            background-color: $grey-medium;
        }
    }

    &__groupLabel {
        padding: 1.2rem 3.2rem;
        font-size: 1.6rem;
        font-weight: 500;
    }

    &__dropdownGroupOption {
        display: flex;
        align-items: flex-start;
        padding: 1.2rem 3rem;
        cursor: pointer;

        @include respond-to(xs) {
            padding: 8px 16px;
        }

        &._highlighted {

            .c-checkbox__input {
                border-color: $ab-blue-light;
            }

            .c-checkbox__label {
                color: $ab-blue-light;
            }
        }

        &._selected {
            color: $ab-blue;
        }

        &._disabled {
            color: rgba(0, 0, 0, .25);
            pointer-events: none;

            .c-checkbox .c-checkbox__label {
                color: rgba(0, 0, 0, .25);
            }
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-right: 24px;
        padding-bottom: 1.8rem;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: 500;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & > span {
            color: $ab-blue;
        }
    }
}
