<template>
    <div class="c-scrollbar__bar"
         :class="[vertical ? '_vertical' : '_horizontal']"
         @mousedown="clickTrackHandler">

        <div ref="thumb"
             class="c-scrollbar__thumb"
             :style="thumbStyle"
             @mousedown="clickThumbHandler">
        </div>
    </div>
</template>

<script>
    const BAR_MAP = {
        vertical: {
            offset: 'offsetHeight',
            scroll: 'scrollTop',
            scrollSize: 'scrollHeight',
            size: 'height',
            key: 'vertical',
            axis: 'Y',
            client: 'clientY',
            direction: 'top',
        },
        horizontal: {
            offset: 'offsetWidth',
            scroll: 'scrollLeft',
            scrollSize: 'scrollWidth',
            size: 'width',
            key: 'horizontal',
            axis: 'X',
            client: 'clientX',
            direction: 'left',
        },
    };

    export default {
        name: 'Bar',

        props: {
            move: Number,
            size: String,
            vertical: Boolean,
        },

        computed: {
            bar() {
                return BAR_MAP[this.vertical ? 'vertical' : 'horizontal'];
            },

            wrap() {
                return this.$parent.wrap;
            },

            thumbStyle() {
                const style = {};
                const translate = `translate${this.bar.axis}(${this.move}%)`;
                style[this.bar.size] = this.size;
                style.transform = translate;
                style.msTransform = translate;
                style.webkitTransform = translate;
                return style;
            },
        },

        destroyed() {
            document.removeEventListener('mouseup', this.mouseUpDocumentHandler);
        },

        methods: {
            clickThumbHandler(e) {
                // prevent click event of right button
                if (e.ctrlKey || e.button === 2) return;
                this.startDrag(e);
                this[this.bar.axis] =
                    e.currentTarget[this.bar.offset] -
                    (e[this.bar.client] - e.currentTarget.getBoundingClientRect()[this.bar.direction]);
            },

            clickTrackHandler(e) {
                const offset = Math.abs(
                    e.target.getBoundingClientRect()[this.bar.direction] - e[this.bar.client],
                );
                const thumbHalf = this.$refs.thumb[this.bar.offset] / 2;
                const thumbPositionPercentage =
                    ((offset - thumbHalf) * 100) / this.$el[this.bar.offset];

                this.wrap[this.bar.scroll] =
                    (thumbPositionPercentage * this.wrap[this.bar.scrollSize]) / 100;
            },

            startDrag(e) {
                e.stopImmediatePropagation();
                this.cursorDown = true;

                document.addEventListener('mousemove', this.mouseMoveDocumentHandler);
                document.addEventListener('mouseup', this.mouseUpDocumentHandler);
                document.onselectstart = () => false;
            },

            mouseMoveDocumentHandler(e) {
                if (this.cursorDown === false) return;
                const prevPage = this[this.bar.axis];

                if (!prevPage) return;

                const offset =
                    (this.$el.getBoundingClientRect()[this.bar.direction] - e[this.bar.client]) * -1;
                const thumbClickPosition = this.$refs.thumb[this.bar.offset] - prevPage;
                const thumbPositionPercentage =
                    ((offset - thumbClickPosition) * 100) / this.$el[this.bar.offset];

                this.wrap[this.bar.scroll] =
                    (thumbPositionPercentage * this.wrap[this.bar.scrollSize]) / 100;
            },

            mouseUpDocumentHandler(e) {
                this.cursorDown = false;
                this[this.bar.axis] = 0;
                document.removeEventListener('mouseup', this.mouseUpDocumentHandler);
                document.onselectstart = null;
            },
        },
    };
</script>

<style lang="scss" scoped>
    .c-scrollbar {

        &__bar {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            transition: opacity 120ms ease-out;
            border-radius: 4px;
            background-color: transparent;

            &._vertical {
                width: 6px;
                top: 0;
                padding-right: 2px;

                & > div {
                    width: 4px;
                }
            }

            &._horizontal {
                height: 6px;
                left: 0;

                & > div {
                    height: 100%;
                }
            }
        }

        &__thumb {
            position: relative;
            display: block;
            width: 0;
            height: 0;
            cursor: pointer;
            border-radius: inherit;
            transition: background-color .3s;
            background-color: $light-grey;
        }
    }
</style>
