<template>
    <div class="c-scrollbar">
        <div ref="wrap"
             :class="wrapClass"
             class="c-scrollbar__wrap"
             :style="wrapStyle"
             @scroll="onScroll">

            <div ref="resize"
                 :class="viewClass"
                 class="c-scrollbar__view">
                <slot/>
            </div>
        </div>

        <template v-if="isActive">
            <Bar v-if="axis === 'x' || axis === 'xy'"
                 :move="moveX"
                 :size="sizeWidth">
            </Bar>

            <Bar v-if="axis === 'y' || axis === 'xy'"
                 :move="moveY"
                 :size="sizeHeight"
                 vertical>
            </Bar>
        </template>
    </div>
</template>

<script>
    import {scrollbarWidth} from '../../../assets/js/utils';
    import {addResizeListener, removeResizeListener} from '../../../assets/js/utils';
    import Bar from './Bar.vue';

    export default {
        name: 'Scrollbar',

        components: {
            Bar,
        },

        props: {
            axis: {
                type: String,
                default: 'y',
                validator(value) {
                    return ['x', 'y', 'xy'].indexOf(value) !== -1;
                },
            },
            wrapClass: String,
            viewClass: String,
            resizable: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                sizeWidth: '0',
                sizeHeight: '0',
                moveX: 0,
                moveY: 0,
                wrapStyle: {},
                isActive: false,
            };
        },

        computed: {
            wrap() {
                return this.$refs.wrap;
            },
        },

        mounted() {
            if (this.resizable) {
                addResizeListener(this.$refs.resize, this.update);
            } else {
                this.$nextTick(this.update);
            }
        },

        beforeDestroy() {
            this.resizable && removeResizeListener(this.$refs.resize, this.update);
        },

        methods: {
            update() {
                if (!this.$refs.wrap) return;

                if (
                    this.$refs.wrap.offsetHeight < this.$refs.resize.offsetHeight ||
                    this.$refs.wrap.offsetWidth < this.$refs.resize.offsetWidth
                ) {
                    this.isActive = true;
                    this.setStyles();
                } else {
                    this.isActive = false;
                    this.wrapStyle = {};
                }

                let height = (this.$refs.wrap.clientHeight * 100) / this.$refs.wrap.scrollHeight;
                let width = (this.$refs.wrap.clientWidth * 100) / this.$refs.wrap.scrollWidth;

                this.sizeHeight = height < 100 ? `${height}%` : '';
                this.sizeWidth = width < 100 ? `${width}%` : '';
            },

            onScroll() {
                this.moveY = (this.$refs.wrap.scrollTop * 100) / this.$refs.wrap.clientHeight;
                this.moveX = (this.$refs.wrap.scrollLeft * 100) / this.$refs.wrap.clientWidth;
                this.$emit('scroll');
            },

            setStyles() {
                let scrollWidth = scrollbarWidth();
                switch (this.axis) {
                    case 'x': {
                        this.wrapStyle = {
                            overflowX: 'scroll',
                            height: `calc(100% + ${scrollWidth}px)`,
                        };
                        break;
                    }
                    case 'y': {
                        this.wrapStyle = {
                            overflowY: 'scroll',
                            marginRight: `-${scrollWidth}px`,
                        };
                        break;
                    }
                    case 'xy': {
                        this.wrapStyle = {
                            overflow: 'scroll',
                            marginRight: `-${scrollWidth}px`,
                            height: `calc(100% + ${scrollWidth}px)`,
                        };
                        break;
                    }
                }
            },
        },
    };
</script>

<style lang="scss" scoped>
    .c-scrollbar {
        overflow: hidden;
        position: relative;

        &:hover,
        &:active,
        &:focus {

            & > .c-scrollbar__bar {
                // opacity: 1;
                // transition: opacity 340ms ease-out;
            }
        }

        &__wrap {
            display: flex;
            height: 100%;
            overflow: hidden;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
        }

        &__view {
            height: 100%;
            width: 100%;
        }
    }
</style>
