<template>
    <div v-clickoutside="onClickOutside"
         :class="['c-select', classList]">

        <div class="c-select__field"
             @click.stop="toggleMenu">
            <input ref="input"
                   class="c-select__input"
                   type="text"
                   :value="selectedLabel"
                   :disabled="isDisabled"
                   :readonly="true"
                   :style="{width: (value.length > 4) ? selectedLabel.length / 1.2 + 1.2 + 'rem' : 4.8 + 1.2 + 'rem'}"
                   @focus="onFocus"
                   @keydown.down.stop.prevent="navigateOptions('down')"
                   @keydown.up.stop.prevent="navigateOptions('up')"
                   @keydown.enter.prevent="onEnterPress"
                   @keydown.esc="isOpened = false"
                   @keydown.tab="onBlur"
                   @mouseenter="inputHovering = true"
                   @mouseleave="inputHovering = false"/>

            <div class="c-select__arrow">
                <svg class="c-select__icon" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4.66667L-1.74846e-07 0.666672L8 0.666672L4 4.66667Z" fill="#FE7011"/>
                </svg>
            </div>
        </div>

        <transition name="dropdown">
            <div v-if="isOpened"
                 class="c-select__dropdown">
                <Scrollbar ref="scrollbar"
                           wrap-class="c-select__dropdownWrap">
                    <Option v-for="(option, index) in optionList"
                            :key="option.value"
                            :option="option"
                            :value="value"
                            :is-highlighted="highlightIndex === index"
                            @mouseenter="highlightIndex = index"
                            @mouseleave="highlightIndex = -1 "
                            @click="onOptionSelect"/>
                </Scrollbar>
            </div>
        </transition>

        <select :name="name"
                :required="required"
                class="c-select__native"
                :class="{['visible']: !isDisabled}"
                @change="onNativeChange">
            <option v-for="option in mobileOptionList"
                    :key="option.value"
                    :value="option.value"
                    :selected="option.value === value"
                    :disabled="option.disabled">
                {{ option.label }}
            </option>
        </select>
    </div>
</template>

<script type="text/babel">
    import Scrollbar from './Scrollbar';
    import Option from './Option';
    import Clickoutside from '../../../plugins/directives/clickoutside';

    export default {
        name: 'SingleSelect',

        components: {
            Scrollbar,
            Option,
        },

        directives: {
            Clickoutside,
        },

        props: {
            /**
             * Имя поля формы
             */
            name: String,
            /**
             * @param {String} Текущее значение.
             */
            value: {
                type: String,
                required: true,
            },
            options: {
                type: Array,
                default: () => [],
            },
            placeholder: {
                type: String,
                default: '',
            },
            resetLabel: String,
            disabled: Boolean,
            error: Boolean,
            success: Boolean,
            required: Boolean,
            hideSelected: Boolean,
            facet: {
                type: Array,
                default: undefined,
            },

            color: {
                type: String,
                default: null,
                validator: val => {
                    return [
                        'white',
                        'grey',
                    ].includes(val);
                },
            },

            size: {
                type: String,
                default: null,
                validator: val => {
                    return [
                        's',
                    ].includes(val);
                },
            },
        },

        data() {
            return {
                isFocused: false,
                isOpened: false,
                highlightIndex: -1,
            };
        },

        computed: {
            classList() {
                return [
                    {
                        _selected: this.selectedOption,
                        _focused: this.isFocused,
                        _opened: this.isOpened,
                        _disabled: this.isDisabled,
                        _error: this.error,
                        _success: this.success,

                        [`_${this.color}`]: this.color,
                        [`_${this.size}`]: this.size,
                    },
                ];
            },

            optionList() {
                let options = [];
                if (this.resetLabel && this.value) {
                    options.push({
                        label: this.resetLabel,
                        value: '',
                    });
                }

                this.options.forEach(opt => {
                    if (opt.value === this.value && this.hideSelected) return;

                    options.push({
                        ...opt,
                        disabled: this.facet && !this.facet.includes(opt.value),
                    });
                });

                return options;
            },

            mobileOptionList() {
                let options = [];

                if (this.resetLabel) {
                    options.push({
                        label: this.resetLabel ? this.resetLabel : '-',
                        value: '',
                        disabled: false,
                    });
                }

                this.options.forEach(opt => {
                    options.push({
                        ...opt,
                        disabled: this.facet && !this.facet.includes(opt.value),
                    });
                });

                return options;
            },

            selectedOption() {
                if (this.value) {
                    let selected = this.options.filter(a => a.value === this.value)[0];
                    if (!selected) {
                        console.warn('Error occured while selected computed');
                        console.warn('Error occured while selected computed');
                    }
                    return selected;
                } else {
                    return null;
                }
            },

            selectedLabel() {
                return this.selectedOption
                    ? this.selectedOption.label
                    : this.placeholder;
            },

            isDisabled() {
                return this.disabled || this.options.length === 0;
            },
        },

        methods: {
            navigateOptions(direction) {
                if (!this.isOpened) {
                    this.isOpened = true;
                    return;
                }

                // if (this.options.length === 0 || this.filteredOptionsCount === 0) return;
                // if (!this.optionsAllDisabled) {
                if (direction === 'down') {
                    this.highlightIndex++;
                    if (this.highlightIndex === this.optionList.length) {
                        this.highlightIndex = 0;
                    }
                } else if (direction === 'up') {
                    this.highlightIndex--;
                    if (this.highlightIndex < 0) {
                        this.highlightIndex = this.optionList.length - 1;
                    }
                }
                const option = this.optionList[this.highlightIndex];
                if (option.disabled) {
                    this.navigateOptions(direction);
                }
                // }
            },

            toggleMenu() {
                if (this.isDisabled) return;

                // if (this.menuVisibleOnFocus) {
                //     this.menuVisibleOnFocus = false;
                // } else {
                this.isOpened = !this.isOpened;
                // }
                if (this.isOpened) {
                    this.$refs.input.focus();
                }
            },

            onEnterPress() {
                if (!this.isOpened) {
                    this.toggleMenu();
                } else {
                    if (this.optionList[this.highlightIndex]) {
                        this.onOptionSelect(this.optionList[this.highlightIndex]);
                    }
                }
            },

            onOptionSelect(option) {
                if (this.value !== option.value) {
                    this.$emit('input', option.value);
                    this.name ?
                        this.$emit('change', {[this.name]: option.value}) :
                        this.$emit('change', option.value);
                }
                this.isOpened = false;
                this.$refs.input.focus();
            },

            /**
             * Метод, который обрабатывает собите focus на инпуте
             */
            onFocus() {
                this.isFocused = true;
                this.$emit('focus');
            },

            /**
             * Метод, который обрабатывает собите blur на инпуте
             */
            onBlur() {
                if (this.isOpened) this.isOpened = false;
                this.isFocused = false;
                this.$emit('blur');
            },

            onClickOutside() {
                if (!this.isFocused) return;
                this.isOpened = false;
                this.isFocused = false;
                this.$emit('blur');
            },

            onNativeChange(e) {
                this.$emit('input', e.target.value);
                this.name ?
                    this.$emit('change', {[this.name]: e.target.value}) :
                    this.$emit('change', e.target.value);
            },
        },
    };
</script>

<style lang="scss">
    .c-select {
        position: relative;
        z-index: 2;
        display: inline-block;

        &._grey {

            &:after {
                background-color: blue;
            }

            .c-select__input {
                font-weight: 500;
                color: black;
            }

            .c-select__arrow {
                stroke: darkblue;
            }
        }

        &._s {

            &:after {
                content: none;
            }

            .c-select__input {
                height: 2.4rem;
                padding-bottom: 0;
                font-size: 1.4rem;
            }
        }

        &._selected {

            &:after {
                background-color: darkblue;
            }
        }

        &._focused {

            .c-select__input {
                border-color: blue;
            }
        }

        &._opened {

            .c-select__arrow {
                transform: rotate(180deg);
            }

            // .c-select__input {
            // border-color: #dcdfe6;
            // border-bottom-color: transparent;
            // }
        }

        &._disabled {

            .c-select__input {
                //background-color: #dcdfe6;
                cursor: not-allowed;
            }
        }

        &._group {

            .c-select__dropdown {
                padding: 0;
            }

            .c-select__dropdownGroupOption {

                &._highlighted {
                    background-color: transparent;
                }
            }
        }

        &__field {
            position: relative;
            width: 100%;
        }

        &__input {
            display: inline-block;
            padding: 0;
            height: 2.1rem;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 800;
            line-height: 1;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            border: none;
            background-color: rgba(0, 0, 0, 0);
        }

        &__arrow {
            position: absolute;
            right: 0;
            top: -.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 12px;
            height: 2.4rem;
            transition: transform .2s ease;
            cursor: pointer;
            stroke: $orange;
        }

        &__icon {
            width: .8rem;
            height: .4rem;
        }

        &__dropdown {
            position: absolute;
            top: calc(100% - 4px);
            left: 0;
            z-index: 5;
            margin-top: .8rem;
            width: 13rem;
            max-height: 60rem;
            padding: .4rem 0;
            background: #fff;
            border: 1px solid $light-grey;
            box-shadow: 8px 8px 30px rgba(0, 0, 0, .12);
            will-change: opacity, transform;
            transition: opacity .2s ease, transform .2s ease;

            &.dropdown-enter,
            &.dropdown-leave-to {
                opacity: 0;
                transform: translate3d(0, 16px, 0);
            }
        }

        &__dropdownWrap {
            max-height: 25rem;

            &._phase {
                max-height: 44rem;
            }
        }

        &__dropdownOption {
            padding: 1.2rem 1.6rem;
            color: $black;
            font-size: 1.4rem;
            font-weight: 800;
            cursor: pointer;

            &._highlighted {
                color: $orange;
            }

            &._selected {
                color: $orange;
            }

            &._disabled {
                color: rgba(0, 0, 0, .25);
                cursor: default;
            }
        }

        &__native {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: -1;

            @include respond-to(sm) {
                z-index: 2;
                display: block;
                pointer-events: auto;
            }

            &._visible {
                pointer-events: auto;
                z-index: 2;
            }
        }

        &__group {
            position: relative;
            //margin-bottom: 1.2rem;
            padding: 1.2rem 0;

            &:last-child {
                margin-bottom: 0;

                &:after {
                    content: none;
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 1.6rem;
                right: 1.6rem;
                bottom: 0;
                display: block;
                height: 1px;
                background-color: $grey;
            }
        }

        &__groupLabel {
            padding: 1.2rem 3.2rem;
            font-size: 1.6rem;
            font-weight: 500;
        }

        &__dropdownGroupOption {
            display: flex;
            align-items: flex-start;
            padding: 1.2rem 3rem;
            cursor: pointer;

            @include respond-to(xs) {
                padding: 8px 16px;
            }

            &._highlighted {

                .c-checkbox__input {
                    border-color: darkblue-light;
                }

                .c-checkbox__label {
                    color: darkblue-light;
                }
            }

            &._selected {
                color: darkblue;
            }

            &._disabled {
                color: rgba(0, 0, 0, .25);
                pointer-events: none;

                .c-checkbox .c-checkbox__label {
                    color: rgba(0, 0, 0, .25);
                }
            }
        }

        &__label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-right: 24px;
            padding-bottom: 1.8rem;
            font-size: 2rem;
            line-height: 1.2;
            font-weight: 500;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            & > span {
                color: darkblue;
            }
        }
    }
</style>
