<template>
    <nuxt-link :to="url" :class="[$style.SingleNews, classList]">
        <div :style="backgroundImage"
             :class="$style.hoverEl"></div>
        <div :class="$style.content">
            <div>
                <span :class="$style.date">{{ date }}</span>
            </div>

            <h2 :class="$style.title">
                {{ news.title }}
            </h2>
            <div ref="intro" :class="$style.intro" v-html="news.intro">
            </div>
        </div>

        <p :class="$style.more">Подробнее</p>
    </nuxt-link>
</template>

<script>
    import {monthByNumber} from '../../assets/js/utils';

    export default {
        props: {
            news: Object,
        },

        computed: {
            date() {
                let date = new Date(this.news.date);
                date = date.getDate() + ' ' + monthByNumber(date.getMonth().toString(), { case: true }) + ' ' + date.getFullYear();
                return date;
            },

            url() {
                return { name: 'news-slug', params: { slug: this.news.slug } };
            },

            classList() {
                if (this.news.image) {
                    return this.$style._image;
                }
                return this.news.backgroundColor ? this.$style[`_${this.news.backgroundColor.toLowerCase()}`] : this.$style['_transparent'];
            },

            backgroundImage() {
                return this.news.image ? { backgroundImage: `url(${this.news.image}` } : '';
            }
        },

        mounted() {
            const intro = this.$refs.intro;
            let ih = intro.clientHeight;
            let text = intro.innerHTML.split('');

            const clone = document.createElement('div');

            clone.style.position = 'absolute';
            clone.style.visibility = 'hidden';
            clone.style.width = intro.clientWidth + 'px';
            clone.innerHTML = text.reduce((str, l) => str + l, '');

            document.body.appendChild(clone);

            if (clone.clientHeight > ih) {
                for (let l = text.length - 1; l >= 0 && clone.clientHeight > ih; --l) {
                    text.splice(l);
                    clone.innerHTML = text.reduce((str, l) => str + l, '') + '...';
                }
            }

            intro.innerHTML = clone.innerHTML;

            if (!('remove' in Element.prototype)) {
                Element.prototype.remove = function () {
                    if (this.parentNode) {
                        this.parentNode.removeChild(this);
                    }
                };
            }
            clone.remove();
        },
    };
</script>

<style lang='scss' module>
    .SingleNews {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 32.7rem;
        width: 100%;
        padding: 3.2rem 5rem 3.2rem 4.2rem;
        cursor: pointer;
        line-height: 1.6;

        &:hover {

            .hoverEl {
                max-height: calc(100% + 5rem);

                @include respond-to(mobile) {
                    max-height: 100%;
                }
            }

            .more {
                opacity: 1;
            }
        }

        @include respond-to(mobile) {
            width: 100%;
            height: fit-content;
            padding: 2.4rem 2.4rem 6rem 2.4rem;
        }

        &._image {

            .intro {
                color: white;
            }

            .title {
                color: white;
            }
        }

        &._transparent {

            .hoverEl {
                border: 2px solid $light-grey;
            }
        }

        &._green {
            background-color: $green;
            border: none;

            .hoverEl {
                background-color: $green;
            }
        }

        &._gray {
            background-color: $light-grey;

            .hoverEl {
                border: 2px solid $light-grey;
                background-color: $light-grey;
            }
        }
    }

    .hoverEl {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 150%;
        max-height: 100%;
        transform: translate(-50%, -50%);
        transition: all .3s ease;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content {
        position: relative;
        z-index: 2;
        transform: translate3d(0, 0, 0);
    }

    .date {
        margin-right: 1.6rem;
        color: $grey;
        font-weight: 600;

        @include respond-to(mobile) {
            margin-right: 1.2rem;
        }
    }

    .dayLeft {
        color: $black;
        font-weight: 600;
    }

    .title {
        padding-top: 1.2rem;
        padding-bottom: 2.4rem;
        font: 2rem $font-secondary;
        color: $black;

        @include respond-to(mobile) {
            font-size: 1.8rem;
        }
    }

    .intro {
        height: 11rem;
        margin-bottom: 2.4rem;
        overflow: hidden;
        color: #4c4548;
        text-overflow: ellipsis;

        @include respond-to(mobile) {
            height: fit-content;
        }
    }

    .more {
        position: absolute;
        z-index: 2;
        bottom: 3.6rem;
        font: 1.2rem $font-secondary;
        color: $orange;
        transition: opacity .25s;
        user-select: none;
        opacity: 0;

        @include respond-to(mobile) {
            opacity: 1;
        }
    }
</style>