<template>
    <section :class="[$style.About_Project, 'container']">
        <div class="main-container">
            <UiBackLink v-if="isDisplayBack"
                        :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
            <span class="custom-title__origin">О проекте</span>
            <span class="custom-title__shadow">О проекте</span>
        </h1>
        <p>Жилой комплекс «Южное Пушкино» — это два 17-этажных дома, расположенных в уникальном месте:
        в зеленом массиве района Мамонтовка на берегу Учинского водохранилища. Главная особенность — сочетание камерности и развитой инфраструктуры.
        </p>

        <p>«Южное Пушкино» предлагает удачные планировочные решения и большой ассортимент квартир для любого бюджета и состава семьи.
        Классические варианты или современный евроформат, с полной отделкой или без — в ЖК представлены различные виды квартир от 40 до 85 кв. метров.
        </p>

        <p>Концепция «двор без машин» создает комфортное и безопасное внутреннее пространство. Для удобства жителей предусмотрен подземный паркинг.</p>

        <p>Приобретая квартиры в ЖК «Южное Пушкино», вы получаете новое качество жизни.</p>

<img src="../../static/images/about_project/Picture_3.jpg">
<br>
<img src="../../static/images/about_project/m_012.jpg">
<br>
<img src="../../static/images/about_project/Picture_4.jpg">
<br>
<img src="../../static/images/about_project/Picture_2.jpg">
<br>
<img src="../../static/images/about_project/m_night003.jpg">
<br>
<img src="../../static/images/about_project/03.jpg">

            <Feedback :class="$style.Feedback"/>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'about_project'
    };
</script>


<style lang="scss" module>
    .About_Project {
        position: relative;

        p {
            padding: 1em 0;
        }

        ul {
            margin: -6px 0;
            padding-left: 1.8rem;

            @include respond-to(mobile) {
                padding-left: 18px;
            }
        }

        li {
            list-style: disc;
        }
    }

    .title {
        margin-bottom: 1.6rem;

        @include respond-to(mobile) {
            margin-bottom: 16px;
        }
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

</style>
