<template>
    <a :class="$style.UiBackLink"
           @click="$router.back()">
            <span>Назад</span>
            <svg :class="$style.backIcon">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </a>
</template>

<script>
    export default {
        name: 'UiBackLink'
    };
</script>

<style lang="scss" module>
    .UiBackLink {
        font-size: 1.4rem;
        line-height: 1.15;
        font-family: $font-secondary;
        cursor: pointer;
    }

    .backIcon {
        width: .5rem;
        height: .8rem;
        margin-left: 1.4rem;
        fill: $orange;
    }

</style>