<template>
    <component :is="url ? 'n-link' : 'button'"
               :to="url ? url : null"
               :type="type ? type : null"
               :class="[$style.button, {_success: formSuccess, _long: isLong}]"
               @click="onClick">
        {{ label }}
    </component>
</template>

<script>
    export default {
        name: 'UiButton',

        props: {
            label: {
                type: String,
                default: '',
            },

            url: {
                type: [String, Object],
                default: '',
            },

            type: {
                type: String,
                default: '',
            },

            preventClick: {
                type: Boolean,
                default: true,
            },

            formSuccess: {
                type: Boolean,
                default: false,
            },

            isLong: {
                type: Boolean,
                default: false,
            },
        },

        methods: {
            onClick(evt) {
                if (this.preventClick) {
                    evt.preventDefault();
                }

                this.$emit('click');
            },
        },
    };
</script>

<style lang="scss" module>
    .button {
        position: relative;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 32rem;
        padding: 2.2rem 0 1.8rem;
        font-family: $font-secondary;
        font-size: 2.8rem;
        line-height: 1;
        color: $white;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        cursor: pointer;
        white-space: nowrap;

        &:hover:after,
        &:focus:after {
            background-color: $black;
            transition: background-color .5s $easing;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%) skewX(-11.4deg);
            background-color: $orange;
            transition: background-color .5s $easing;
        }

        &:global(._success) {

            &:after {
                background-color: $green;
                transition: background-color .5s $easing;
            }
        }

        &:global(._long) {
            max-width: 100%;
        }

        @include respond-to(mobile) {
            max-width: 100%;
            padding: 1.8rem 0;
            font-size: 1.8rem;
        }

        @include respond-to(xxl) {
            font-size: 2.4rem;
        }
    }
</style>
