<template>
    <div :class="[$style.FormExpand, {[$style._active]: isOpen}]">
        <div :class="$style.head"
             @click="toggle">
            <h5 :class="$style.title">{{ title }}</h5>
            <slot v-if="!title" name="title"></slot>
            <div :class="$style.arrow"></div>
        </div>

        <div ref="content"
             :class="$style.content">
            <div :class="$style.contentWrap">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    import {TweenLite} from 'gsap';

    export default {
        props: {
            title: {
                type: String,
                default: ''
            },
            open: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                isOpen: this.open,
            };
        },

        watch: {
            open(value) {
                this.isOpen = value;
            },

            isOpen(val) {
                if (val) {
                    TweenLite.set(this.$refs.content, {height: 'auto'});
                    TweenLite.from(this.$refs.content, .3, {height: 0});
                } else {
                    console.log('text');
                    TweenLite.set(this.$refs.content, {height: 'auto'});
                    TweenLite.to(this.$refs.content, .3, {height: 0});
                }
            }
        },

        methods: {
            toggle() {
                this.isOpen = !this.isOpen;
                this.$emit('update:open', this.isOpen);
                this.$emit(this.isOpen ? 'open' : 'close');
            }
        }
    };
</script>

<style lang="scss" module>
    .FormExpand {
        background-color: $grey-s;
        padding: 40px;

        &._active {

            .arrow {
                transform: rotate(90deg);
            }

            .content {
                height: auto;
            }
        }
    }

    .head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        line-height: 1.5;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: calc(100% + 24px);
        }
    }

    .title {
        margin-right: 16px;
    }

    .arrow {
        flex-shrink: 0;
        height: 14px;
        width: 14px;
        background: url('~assets/images/icons/chevron-left_black.svg') no-repeat center;
        background-size: contain;
        transform: rotate(-90deg);
        transition: transform .3s ease;
    }

    .content {
        overflow: hidden;
        height: 0;
    }

    .contentWrap {
        padding-top: 32px;
    }
</style>