<template>
    <p :class="[$style.inputBlock, {_error: isError, _focus: isActive}]">
        <label v-if="isPhoneMask"
               :class="[$style.labelPhone, {_visible: isActive}]"
               :for="name">
            +7
        </label>
        <component :is="inputMask ? 'masked-input' : 'input'"
                   :id="name"
                   ref="input"
                   :value="inputValue"
                   :class="[$style.input, {_phone: isActive}]"
                   :type="type"
                   :name="name"
                   :placeholder="placeholder"
                   :required="isRequire"
                   :mask="inputMask"
                   :autocomplete="autocomplete"
                   @input="onInput"
                   @change="onChange"
                   @blur="onBlur"
                   @focus="onFocus"
        />
        <label :class="$style.label"
               :for="name">
            {{ labelTitle }}
        </label>
        <template v-if="isError">
            <span :class="$style.error"
                  v-html="error.messages[0]"></span>
        </template>
    </p>
</template>

<script>
    import MaskedInput from 'vue-text-mask';

    export default {
        name: 'UiInput',
        components: { MaskedInput },

        props: {
            labelTitle: {
                type: String,
                default: '',
            },
            type: {
                type: String,
                default: 'text',
            },
            value: {
                type: [String, Number],
                default: null,
            },

            placeholder: {
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: '',
            },

            isRequire: {
                type: Boolean,
                default: false,
            },

            autocomplete: {
                type: String,
                default: null,
            },

            isPhoneMask: {
                type: Boolean,
                default: false,
            },

            isFormSuccess: {
                type: Boolean,
                default: false,
            },

            maskPattern: {
                type: [Array, Function],
            },

            error: {
                type: Object,
                default: () => ({}),
            },

        },

        data() {
            return {
                inputValue: '',
                isActive: false,
            };
        },

        computed: {
            phoneMask() {
                if (!this.isPhoneMask) return null;

                return ['(', /\d/, /\d/, /\d/, ')', ' ', /\d/, /\d/, /\d/, '-', /\d/, /\d/, '-', /\d/, /\d/];
            },

            inputMask() {
                if (this.maskPattern) return this.maskPattern;
                if (this.phoneMask) return this.phoneMask;

                return null;
            },

            isError() {
                return !!this.error && !!this.error.messages && !!this.error.messages.length;
            },
        },

        watch: {
            value(val) {
                this.inputValue = val;
            },

            isFormSuccess() {
                if (this.isFormSuccess)
                    setTimeout(() => {
                        if (this.inputMask) {
                            this.inputValue = '';
                        } else {
                            this.$refs.input.value = '';
                        }
                        this.isActive = false;
                    }, 100);
            },
        },

        created() {
            if (this.value)
                this.inputValue = this.value;
        },

        methods: {
            onInput(evt) {
                if (!evt.target && !evt.target?.value) return;
                this.inputValue = evt.target.value;
                this.$emit('input', evt);
            },

            onChange(evt) {
                this.inputValue = evt.target.value;
                this.$emit('change', evt);
            },

            onBlur(evt) {
                if (!evt.target.value) {
                    this.isActive = false;
                }
                this.$emit('blur', evt);
            },

            onFocus() {
                this.isActive = true;
            },
        },
    };
</script>

<style lang="scss" module>
    .inputBlock {
        position: relative;
        height: 100%;
        font-family: $font-primary;
        font-size: 2.4rem;
        line-height: .8;

        &:global(._error) {

            &:after {
                background-color: $error;
            }

            .input {
                border-color: $error;
            }
        }

        &:global(._focus) {

            &:after {
                transform: scaleX(1);
            }

            & .label {
                transform: translateY(-4.8rem) scale(.7);

                @include respond-to(mobile) {
                    transform: translateY(-3.5rem) scale(.7);
                }
            }
        }

        &:hover {

            &:after {
                transform: scaleX(1);
            }
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 2px;
            background-color: $orange;
            transform: scaleX(0);
            transition: transform .3s ease;
        }

        @include respond-to(mobile) {
            font-size: 1.6rem;
        }

        @include respond-to(xxl) {
            font-size: 2.2rem;
        }
    }

    .label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: inherit;
        color: rgba($black, .5);
        transform-origin: left center;
        transition: transform .3s ease;
        pointer-events: none;
    }

    .input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        padding: 1.2rem 0;
        font: inherit;
        text-align: left;
        line-height: .8;
        color: inherit;
        border: none;
        border-bottom: 2px solid rgba($black, .5);
        border-radius: 0;
        background-color: transparent;
        transform: translate(0, 0);
        transition: transform .3s ease-in-out;

        @include respond-to(mobile) {
            padding: .8rem 0;
        }

        &:global(._phone) {
            padding-left: 4rem;

            @include respond-to(mobile) {
                padding-left: 35px;
            }
        }
    }

    .labelPhone {
        position: absolute;
        top: 50%;
        left: 1rem;
        width: 4rem;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity .3s linear;

        &:global(._visible) {
            opacity: 1;
        }
    }

    .error {
        position: absolute;
        bottom: -30%;
        left: 0;
        font-size: 1.1rem;
        line-height: 1.6;
        color: $error;
    }
</style>
