<template>
    <label :class="[$style.UiRadio, classes]"
           :disabled="disabled"
           :tabindex="disabled ? false : 0"
           @keydown.enter.stop.prevent="modelValue = disabled ? modelValue : nativeValue">

        <input v-model="modelValue"
               type="radio"
               tabindex="-1"
               :name="name"
               :value="nativeValue"
               :disabled="disabled"
               :required="required">

        <span :class="$style.check"></span>

        <span :class="$style.label">
            <slot></slot>
        </span>
    </label>
</template>
<script>
    export default {
        name: 'UiRadio',

        props: {
            value: [String, Number, Boolean, Object, Array],
            nativeValue: [String, Number, Boolean, Object, Array],
            disabled: Boolean,
            required: Boolean,
            name: String,
            size: String
        },

        computed: {
            classes() {
                return [
                    this.size ? [this.$style[`radio-${this.size}`]] : '',
                    {
                        [this.$style['_disabled']]: this.disabled,
                    }
                ];
            },

            modelValue: {
                get() {
                    return this.value;
                },
                set(value) {
                    this.$emit('input', value);
                }
            }
        },
    };
</script>

<style lang="scss" module>
    .UiRadio {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        outline: none;
        user-select: none;

        &:hover:not([disabled]) {

            .check {
                border-color: $brown;
            }
        }

        &:focus {

            .check {
                box-shadow: 0 0 8px $grey-l;
            }
        }

        input[type=radio]:checked + .check {
            border-color: $brown;

            &:before {
                transform: scale(1);
            }
        }

        &[disabled] {
            opacity: .5;
            cursor: not-allowed;
        }
    }

    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $grey-l;
        border-radius: 50%;
        transition: background-color .2s ease-out, border-color .2s ease;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background-color: $brown;
            border-radius: 50%;
            transform: scale(0);
            transition: transform .2s ease-out;
        }
    }

    .label {
        margin-left: 12px;
        opacity: .8;
    }

    .radio-xs {

        .check {
            width: 12px;
            height: 12px;

            &:before {
                width: 2px;
                height: 2px;
            }
        }

        .label {
            font-size: 12px;
        }
    }

    .radio-s {

        .check {
            width: 16px;
            height: 16px;

            &:before {
                width: 4px;
                height: 4px;
            }
        }

        .label {
            font-size: 14px;
        }
    }

    .radio-l {

        .check {
            width: 24px;
            height: 24px;

            &:before {
                width: 8px;
                height: 8px;
            }
        }

        .label {
            font-size: 18px;
        }
    }

    .radio-xl {

        .check {
            width: 28px;
            height: 28px;

            &:before {
                width: 10px;
                height: 10px;
            }
        }

        .label {
            font-size: 20px;
        }
    }
</style>
