<template>
    <p :class="[$style.UiTextarea, {_error: isError}]">
        <label :class="[$style.label, {'visually-hidden': isShowLabel || !labelTitle}]"
               :for="name">
            {{ labelTitle }}
        </label>

        <span :class="$style.wrapper">
            <textarea :id="name"
                      ref="textarea"
                      :value="areaValue"
                      :name="name"
                      :class="$style.field"
                      :maxlength="maxlength"
                      :tabindex="disabled ? false : 0"
                      :disabled="disabled"
                      :rows="rows"
                      @input="onInput"
                      @change="onChange"
                      @focus="onFocus"
                      @blur="onBlur">
            </textarea>
        </span>
    </p>
</template>

<script>
    export default {
        props: {
            value: {
                type: [String, Number],
                required: true
            },
            name: String,
            placeholder: String,
            labelTitle: String,
            disabled: Boolean,
            maxlength: [String, Number],
            rows: {
                type: [String, Number],
                default: 3
            },
            showMaxlength: Boolean,
            resizable: Boolean,
            isShowLabel: {
                type: Boolean,
                default: false,
            }
        },

        data() {
            return {
                isFocused: false,
                areaValue: '',
            };
        },

        computed: {
            classes() {
                return [
                    {
                        _active: this.areaValue || this.isFocused,
                        _disabled: this.disabled,
                        _resizable: this.resizable,
                        _length: this.showMaxlength
                    }
                ];
            },

            isError() {
                return !!this.error && !!this.error.messages && !!this.error.messages.length;
            }
        },

        watch: {
            value(val) {
                this.areaValue = val;
            },
        },

        created() {
            if (this.value)
                this.areaValue = this.value;
        },

        mounted() {
            if (this.resizable) {
                this.$nextTick(() => {
                    this.$refs.textarea.style.height = `${this.$refs.textarea.scrollHeight}px`;
                });
            }
        },

        methods: {
            onInput(e) {
                if (this.resizable) this.resize();
                this.areaValue = e.target.value;
                this.$emit('input', e);
            },

            onChange(e) {
                this.areaValue = e.target.value;
                this.$emit('change', e);
            },

            onFocus(e) {
                this.isFocused = true;
                this.$emit('focus', e);
            },

            onBlur(e) {
                this.isFocused = false;
                this.$emit('blur', e);
            },

            resize() {
                this.$refs.textarea.style.height = 'auto';
                this.$refs.textarea.style.height = `${this.$refs.textarea.scrollHeight}px`;
            }
        }
    };
</script>

<style lang="scss" module>
    .UiTextarea {
        display: block;
        padding-bottom: 6px;
        font-size: 14px;

        &:global(._error) {

            .wrapper:before {
                background-color: $error;
            }

            .label {
                color: $error;
            }

            .input {
                border-color: $error;
                color: $error;
            }
        }
    }

    .label {
        display: block;
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 1.1428;
    }

    .wrapper {
        position: relative;
        display: block;

        &:before {
            content: '';
            position: absolute;
            bottom: -6px;
            right: -6px;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
        }
    }

    .field {
        position: relative;
        width: 100%;
        padding: 19px;
        font-size: 14px;
        line-height: 1.6;
    }
</style>`