<template>
    <div :class="$style.FullNews">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.header">
                    <p :class="$style.title">
                        <span class="custom-title__origin">{{ news.title }}</span>
                        <span class="custom-title__shadow">{{ news.title }}</span>
                    </p>
                    <button :class="$style.backButton"
                            @click="$router.back()">Назад
                    </button>
                </div>

                <div :class="$style.text"
                     v-html="news.text"></div>

                <Slider :images="images"/>

                <div :class="$style.footer">
                    <p :class="$style.shareLabel">Поделиться</p>
                    <Share/>
                    <button :class="$style.backButton" @click="$router.back()">Назад</button>
                </div>
                <Subscribe :class="$style.form"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Slider from '../../../components/common/slider/Slider';
    import Subscribe from '../../../components/common/formBlocks/Subscribe';
    import Share from '../../../components/common/Share';
    import newsDetail from '../../../queries/news/news.gql';

    export default {
        components: {
            Subscribe,
            Share,
            Slider,
        },

        data() {
            return {
                news: {},
            };
        },

        async asyncData({app, store, query, params}) {
            await app.$gql.clearStore();
            let slug = params.slug;

            try {
                let newsResponse = await app.$gql.query({
                    query: newsDetail,
                    variables: {
                        slug: slug,
                    },
                });

                return {
                    news: newsResponse.data.post,
                    images: newsResponse.data.post.postimageSet,
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({store}) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
        },
    };
</script>

<style lang='scss' module>
    .FullNews {
        overflow: hidden;

        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .header {
        display: flex;
        align-items: center;

        .backButton {
            margin-bottom: auto;
        }
    }

    .title {
        position: relative;
        width: 60rem;

        @include respond-to(mobile) {

            & :global(.custom-title__shadow) {
                top: 1.1rem;
            }
        }

        span {
            font: 4.2rem $font-secondary;

            @include respond-to(mobile) {
                font-size: 2.8rem;
            }
        }
    }

    .text {
        margin-top: 4.2rem;
        margin-bottom: 2.4rem;
        line-height: 200%;
        color: #413a3c;

        q {
            position: relative;
            display: block;
            margin: 7.5rem 4.5rem 3rem 4.5rem;
            quotes: none;
            color: $black;
            font-weight: 600;

            &:before {
                content: '';
                position: absolute;
                left: -4.5rem;
                bottom: 0;
                z-index: -1;
                width: 8.7rem;
                height: 10rem;
                background: url("../../../static/images/visual/quote.svg") no-repeat;
                background-size: cover;

                @include respond-to(mobile) {
                    top: -5rem;
                }
            }

            @include respond-to(mobile) {
                margin: 7.2rem 0 2.4rem 4.3rem;
            }
        }

        @include respond-to(mobile) {
            margin-top: 3rem;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 5.2rem;
        margin-bottom: 5.2rem;

        .backButton {
            margin-top: 0;
        }

        @include respond-to(mobile) {
            margin-top: 3.2rem;
            margin-bottom: 3.2rem;
        }
    }

    .backButton {
        position: relative;
        margin-left: auto;
        margin-right: 2rem;
        margin-top: 2rem;
        padding: 0;
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        color: $black;
        background-color: white;
        cursor: pointer;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            right: -2.2rem;
            top: .3rem;
            border-left: .4rem solid $orange;
            border-top: .4rem solid white;
            border-right: .4rem solid white;
            border-bottom: .4rem solid white;
        }

        @include respond-to(mobile) {
            display: none;
        }
    }

    .shareLabel {
        color: $grey;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>