<template>
    <div ref="page"
         :class="$style.BuildingSelection">
        <div ref="wrap"
             :class="[$style.wrap, {[$style._loaded]: isLoaded}]"
             :style="position">
            <!--switcherViews-->
            <button type="button"
                    :class="['btn-reset', $style.switcher]"
                    aria-label="изменить вид генплана"
                    @click.prevent="$emit('change')">
                <svg viewBox="0 0 42 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M41.248 3.446L40.91 4.52l-3.792 12.067-1.908-.599 3.455-10.995-11.324-2.142.372-1.965 12.43 2.351 1.105.21zM23.249 19.26a4.316 4.316 0 10-4.436-7.405 4.316 4.316 0 004.436 7.405zm1.028 1.716a6.316 6.316 0 10-6.492-10.837 6.316 6.316 0 006.492 10.837zm-22.356 6.9l-1.106-.209.338-1.073 3.792-12.068 1.908.6-3.455 10.994 11.324 2.142-.372 1.965-12.43-2.35z"
                          fill="#fff"/>
                </svg>
            </button>
            <img ref="image"
                 :class="[$style.image, {[$style._loaded]: isLoaded, [$style._highlighted]: highlighted || isHoverPins}]"
                 :src="image"
                 @load="onImageLoad">

            <svg v-show="!selected"
                 :class="$style.svg"
                 :viewBox="`0 0 ${width} ${height}`">
                <defs>
                    <clipPath id="SVG_BUILDING"
                              :key="clipPath"
                              v-html="clipPath">
                    </clipPath>
                </defs>

                <image :xlink:href="image"
                       x="0"
                       y="0"
                       width="100%"
                       height="100%"
                       style="clip-path: url('#SVG_BUILDING');">
                </image>

                <g v-for="building in hoveredBuildings"
                   :key="building.id"
                   :data-name="building.number"
                   :class="$style.buildingPath"
                   @mouseenter="onMouseEnter(building.id)"
                   @mousemove="onMouseMove($event)"
                   @mouseleave="onMouseLeave"
                   @click.stop="onClick(building.id)"
                   v-html="building[`${planName}Hover`]">
                </g>
            </svg>

            <VisualShields
                v-show="!selected && isLoaded"
                :highlighted="highlighted"
                :is-hover-pins="isHoverPins"
                :points="points"
                :diff="diffScale"
            />

            <client-only>
                <div v-show="!selected && isLoaded">
                    <VisualPin v-for="pin in pins"
                               :key="pin.id"
                               :diff="diffScale"
                               :highlighted="highlighted"
                               :advantage="pin"
                               @enter="setHighlighted"
                               @leave="setHighlighted"/>
                </div>

            </client-only>
        </div>

        <VisualTooltip v-if="highlighted && !selected"
                       :top="tooltipOffsetTop"
                       :left="tooltipOffsetLeft"
                       :container-data="containerData">
            <VisualTooltipContentBuilding :object="activeBuilding"/>
        </VisualTooltip>

        <button type="button"
                :class="['btn-reset', $style.text]"
                @click.prevent="$emit('change')">
            Нажмите, чтобы изменить вид генплана
        </button>
    </div>
</template>

<script>
    //utils
    import {getOffset} from '../../../assets/js/utils';
    //components
    import VisualTooltip from './VisualTooltip';
    import VisualShields from './VisualShields';
    import VisualPin from './VisualPin';
    import VisualTooltipContentBuilding from './VisualTooltipContentBuilding';

    export default {
        name: 'BuildingSelection',

        components: {
            VisualTooltipContentBuilding,
            VisualPin,
            VisualShields,
            VisualTooltip,
        },

        props: {
            image: String,
            width: {
                type: Number,
                required: true,
            },
            height: {
                type: Number,
                required: true,
            },
            viewType: {
                type: Number,
                required: true,
            },
            buildings: {
                type: Array,
                default: () => [],
            },
            pins: {
                type: Array,
                default: () => [],
            },
            containerData: {
                type: Object,
                default: () => ({}),
            },
            selected: Boolean,
        },

        data() {
            return {
                isLoaded: false,
                highlighted: '',
                isHoverPins: false,
                isSettingsVisible: false,
                imageSrc: '',
                iw: 1,
                ih: 1,
                ww: 1,
                wh: 1,
                tooltipOffsetTop: 0,
                tooltipOffsetLeft: 0,
                isTicking: false,
            };
        },

        computed: {
            hoveredBuildings() {
                let buildings = [];

                this.buildings.forEach(item => {
                    if (item[`${this.planName}Hover`]) {
                        buildings.push(item);
                    }
                });

                return buildings;
            },

            planName() {
                return `plan${this.viewType}`;
            },

            activeBuilding() {
                let building = this.hoveredBuildings.filter(b => b.id === this.highlighted);
                return building.length ? building[0] : null;
            },

            clipPath() {
                return this.activeBuilding ? this.activeBuilding[`${this.planName}Hover`] : '';
            },

            points() {
                return this.hoveredBuildings.map(b => {
                    if (b.number) {
                        const [left, top] = b[`${this.planName}Point`].split(',');
                        return {
                            id: b.id,
                            name: b.number,
                            left: `${left}%`,
                            top: `${top}%`,
                        };
                    }
                });
            },

            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            diffScale() {
                if (this.$mq !== 'l' && this.$mq !== 'xl') return;
                const diff = this.windowRatio > this.imageRatio
                    ? this.ww / this.iw
                    : this.wh / this.ih;

                const scale = diff > 1
                    ? 1 - (diff - 1)
                    : 1 + (1 - diff);

                return `scale(${scale}) translate(-50%, -50%)`;
            },

            position() {
                if (this.$mq !== 'l' && this.$mq !== 'xl') return;
                if (this.windowRatio > this.imageRatio) {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.ww / this.iw}) translate(0px, ${(this.wh - this.ih * (this.ww / this.iw)) / 2}px)`,
                    };
                } else {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.wh / this.ih}) translate(${(this.ww - (this.iw * this.wh / this.ih)) / 2}px, 0px)`,
                    };
                }
            },
        },

        watch: {
            viewType() {
                this.isLoaded = false;
            },

            isLoaded() {
                this.$nextTick(() => {
                    if (this.$mq === 'xs' || this.$mq === 's') {
                        this.centerGenplan();
                    }
                });
            },
        },

        mounted() {
            this.$refs.image.addEventListener('load', this.onImageLoad());
            this.highlighted = this.$route.query?.building ? this.$route.query.building : null;
            window.addEventListener('resize', this.onResize);
        },

        beforeDestroy() {
            this.$refs.image.removeEventListener('load', this.onImageLoad());
            window.removeEventListener('resize', this.onResize);
            if (this.$route.query?.building) {
                this.$router.replace({
                    query: '',
                });
            }
        },

        // updated() {
        //     setTimeout(() => {
        //         this.$refs.image.addEventListener('load', this.onImageLoad());
        //     }, 200);
        // },

        methods: {
            selectType(id) {
                this.isSettingsVisible = false;
                this.$emit('change', id);
            },

            setHighlighted(isHover) {
                this.isHoverPins = isHover;
            },

            onMouseEnter(id) {
                this.highlighted = id;
            },

            onMouseMove(event) {
                this.tooltipOffsetTop = event.pageY;
                this.tooltipOffsetLeft = event.pageX;
            },

            onMouseLeave() {
                this.highlighted = null;
            },

            onClick(buildingID) {
                this.$emit('select', buildingID);
            },

            onResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$refs.page.offsetHeight;
                this.ww = this.$refs.page.offsetWidth;
                this.isTicking = false;
            },

            onImageLoad() {
                console.log('onImageLoad');
                this.isLoaded = false;
                let iw = this.$refs.image.naturalWidth;
                let ih = this.$refs.image.naturalHeight;
                let ww = this.$refs.page.offsetWidth;
                let wh = this.$refs.page.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.$nextTick(() => {
                    this.isLoaded = true;
                });
            },

            centerGenplan() {
                let wrapperWidth = this.$refs.wrap.getBoundingClientRect().width;
                let containerWidth = this.$refs.page.getBoundingClientRect().width;
                this.$refs.page.scrollLeft = wrapperWidth / 2 - containerWidth / 2;
            },
        },
    };
</script>

<style lang="scss" module>
    .BuildingSelection {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include respond-to(s-tablet) {
            position: relative;
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }

    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: background-color .3s ease, opacity .3s ease;
        transform-origin: 0 0;

        &._loaded {
            background-color: #000;
            opacity: 1;
        }

        @include respond-to(s-tablet) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .switcher {
        position: absolute;
        bottom: 415px;
        right: 560px;
        z-index: 3;
        width: 60px;
        height: 56px;

        &:hover {
            opacity: .5;
            transition: background-color .3s ease;
        }

        & svg {
            width: 100%;
            height: 100%;
        }

        @include respond-to(s-tablet) {
            display: none;
        }
    }

    .image {
        z-index: 1;
        display: block;
        max-width: none;
        opacity: 0;
        transition: opacity .3s ease;

        &._loaded {
            opacity: 1;
        }

        &._highlighted {
            opacity: .3;
        }

        @include respond-to(s-tablet) {
            width: auto;
            height: 100%;
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;

        g {
            z-index: 999;
        }
    }

    .shields {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        font-family: 'Pragmatica', sans-serif;
        font-size: 4.8rem;
        color: $white;
        pointer-events: none;
        transition: opacity .2s ease;

        &._hide {
            opacity: 0;

            .buildingNumber {
                transform: translate(-50%, -80%);
            }
        }
    }

    .buildingNumber {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.2rem;
        height: 6.5rem;
        font-family: $font-secondary;
        font-size: 4.2rem;
        line-height: 1;
        letter-spacing: .02em;
        text-transform: uppercase;
        background-image: url('/images/visual/icon-building-num.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(-50%, -50%);
        transition: transform .2s ease;
    }

    .buildingPath {
        cursor: pointer;
        fill: transparent;
    }

    .params {
        transition: opacity .3s ease .1s;
    }

    .option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25%;
        background-color: rgba(0, 0, 0, .7);
        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0);

            .optionName {
                opacity: 0;
            }
        }
    }

    .optionWrap {
        opacity: 0;
        transform: translateY(72px);
        transition: transform .3s step-end, opacity .3s step-end;
    }

    .optionName {
        color: $white;
        font-size: 2rem;
        letter-spacing: .8em;
        text-transform: uppercase;
        transition: opacity .3s ease;
    }

    .text {
        position: absolute;
        bottom: 5.1rem;
        right: 8.5rem;
        z-index: 2;
        font-size: 1.4rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $white;

        @include respond-to(s-tablet) {
            display: none;
        }
    }
</style>
