<template>
    <div :class="[$style.FloorSelection]">

        <div ref="container"
             :class="[$style.layoutWrapper, {'_loading': isLoading}]">
            <!--<div :class="$style.layout"-->
            <!--:style="{backgroundImage: `url(${plan})`}">-->
            <!--</div>-->
            <svg :viewBox="planViewbox"
                 :class="$style.layout">
                <image :xlink:href="plan" x="0" y="0" width="100%" height="100%"></image>
            </svg>
            <svg :viewBox="planViewbox"
                 :class="[$style.hover, {_visible: hoveredFlat}]">
                <defs>
                    <filter id="feMatrix" x="-10%" y="-10%" width="120%" height="120%" filterUnits="objectBoundingBox"
                            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feColorMatrix type="matrix" values="1 0 0 0 0
                                                                1 0 0 0 0
                                                                1 0 0 0 0
                                                                0 0 0 1 0"
                                       in="SourceGraphic"
                                       result="colormatrix"/>
                        <feComponentTransfer in="colormatrix" result="componentTransfer">
                            <feFuncR type="table" tableValues="0.98 1"/>
                            <feFuncG type="table" tableValues="0.35 1"/>
                            <feFuncB type="table" tableValues="0.07 1"/>
                            <feFuncA type="table" tableValues="0 1"/>
                        </feComponentTransfer>
                        <feBlend mode="normal" in="componentTransfer" in2="SourceGraphic" result="blend"/>
                    </filter>
                    <clipPath
                        id="HOVERED_FLAT"
                        v-html="hoveredFlat ? hoveredFlat.planHover : ''">
                    </clipPath>
                </defs>
                <image :xlink:href="plan"
                       x="0"
                       y="0"
                       width="100%"
                       height="100%"
                       style="overflow: visible;"
                       filter="url(#feMatrix)"
                       :style="{
                    clipPath: `url(#HOVERED_FLAT)`,
                    }">
                </image>
            </svg>

            <svg :class="$style.flatsHover"
                 :viewBox="planViewbox"
                 xmlns="http://www.w3.org/2000/svg"
                 xml:space="preserve">
                            <a v-for="flat in flatsList()"
                               :key="flat.id"
                               :xlink:href="`/flats/${flat.id}`"
                               target="_blank">
                                <VisualHover
                                    :id="flat.id"
                                    :highlighting="flat.planHover"
                                    :class="[$style.polygon, {'_disabled' : flat.status !== 0}]"
                                    @hover-polygon-move="onMouseMove"
                                    @hover-polygon-enter="onMouseEnter"
                                    @hover-polygon-leave="onMouseLeave"/>
                            </a>
            </svg>
        </div>

        <!--FloorSelectionControls-->
        <FloorSelectionControls
            :class="$style.FloorSelectionControls"
            :current-floor-id="activeFloorId"
            :floors="floors"
            @click="onFloorClick"/>

        <!--miniPlan-->
        <div :class="$style.sectionMiniPlan">
            <div :class="$style.layoutWrap">
                <div :class="$style.layoutBackground"
                     :style="{backgroundImage: `url(${miniplanSrc})`}">
                </div>
                <svg :class="$style.miniplanSvg"
                     :viewBox="miniPlanViewbox"
                     xmlns="http://www.w3.org/2000/svg"
                     xml:space="preserve">
                    <g fill="#99cf18" v-html="currentSection.miniPlanHover"></g>
            </svg>
            </div>
            <div :class="$style.miniplanData">
                <div :class="$style.floorName"><span>{{ floors[0].number }}</span> этаж</div>
                <div :class="$style.sectionName"><span v-html="sectionName"> </span> секция</div>
                <div :class="$style.bildingName"><span v-html="buildingName"></span> дом</div>
            </div>
        </div>

        <!--VisualTooltip-->
        <div :class="$style.tooltips">
            <VisualTooltip v-if="hoveredFlat"
                           :top="tooltipOffsetTop"
                           :left="tooltipOffsetLeft"
                           :container-data="containerData"
                           :is-floor-plan="true"
                           :class="[$style.tooltip]">
                <VisualTooltipContentFlat :flat="hoveredFlat"/>
            </VisualTooltip>
        </div>
    </div>
</template>

<script>

    //utils
    import {getOffset} from '../../../assets/js/utils';
    //vuex
    import {mapGetters, mapState, mapActions} from 'vuex';

    //components
    import VisualHover from './VisualHover';
    import VisualTooltip from './VisualTooltip';
    import VisualTooltipContentFlat from './VisualTooltipContentFlat';
    import FloorSelectionControls from './FloorSelectionControls';

    export default {
        name: 'FloorSelection',

        components: {
            FloorSelectionControls,
            VisualTooltipContentFlat,
            VisualTooltip,
            VisualHover,
        },

        props: {
            floors: {
                type: Array,
                default: () => [],
            },

            miniplan: {
                type: Object,
                default: () => {
                },
            },

            currentSection: {
                type: Object,
                default: () => {
                },
            },
            containerData: {
                type: Object,
                default: () => ({}),
            }
        },

        data() {
            return {
                hoveredFlat: null,
                tooltipOffsetTop: 0,
                tooltipOffsetLeft: 0,
                isLoading: true,
                currentFloorID: 1,
                activeFloor: [],
                uniqueId: 1,
            };
        },

        computed: {
            buildingName() {
                return this.currentSection?.building?.number ? this.currentSection.building.number : '';
            },
            sectionName() {
                return this.currentSection?.name ? this.currentSection.name : '';
            },

            miniplanSrc() {
                return this.miniplan?.url?.length ? this.miniplan.url : null;
            },

            miniPlanViewbox() {
                return `0 0 ${this.miniplan.width} ${this.miniplan.height}`;
            },

            planViewbox() {
                return `0 0 ${this.activeFloor.planWidth} ${this.activeFloor.planHeight}`;
            },

            plan() {
                return this.activeFloor.plan || '';
            },

            ...mapState({
                flats: state => state.home.flats,
            }),

            firstFloor() {
                let activeFloors = this.floors.filter(floor => !!floor.flatsCount);

                return activeFloors.length
                    ? activeFloors[0]
                    : this.floors[0];
            },

            activeFloorId() {
                return this.activeFloor.id || null;
            },
        },

        async mounted() {
            this.activeFloor = this.firstFloor;
            await this.getAllFloorFlats(this.activeFloor.id);
            this.$nextTick(() => {
                this.isLoading = false;
            });
        },

        methods: {
            ...mapActions({
                getAllFloorFlats: 'home/getAllFloorFlats',
            }),

            async onFloorClick(floorID) {
                this.isLoading = true;
                if (!this.flats[floorID]) {
                    await this.getAllFloorFlats(floorID);
                }
                this.$nextTick(() => {
                    setTimeout(() => {
                        this.activeFloor = this.floors.find(floor => floor.id === floorID);
                    }, 500);
                    setTimeout(() => {
                        this.isLoading = false;
                    }, 1000);
                });
            },

            onMouseEnter(event, id) {
                this.hoveredFlat = this.flats[this.activeFloorId].find(flat => flat.id === id);
            },

            onMouseMove(event) {
                this.tooltipOffsetTop = event.pageY;
                this.tooltipOffsetLeft = event.pageX;
            },

            onMouseLeave() {
                this.hoveredFlat = null;
            },

            flatsList() {
                return this.flats[this.activeFloorId] || [];
            },
        },
    };
</script>

<style lang="scss" module>

    .FloorSelection {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 6rem 20.6rem 17rem 5.6rem;
        opacity: 1;
        transition: opacity .4s $easing;
        overflow: hidden;
    }

    .layoutWrapper {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity .3s ease-out;

        &:global(._loading) {
            opacity: 0;
            transform: translateX(-150%);
            transition: opacity .3s ease-out .3s, transform .3s ease-out;
        }
    }

    .layout {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .FloorSelectionControls {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }

    .flatsHover,
    .hover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    .hover {
        opacity: 0;
        transition: opacity .4s $easing;

        &:global(._visible) {
            opacity: 1;
        }
    }

    .polygon {

        &:global(._disabled) {
            opacity: .75;
            fill: $white;
            pointer-events: none;
        }
    }

    .sectionMiniPlan {
        position: absolute;
        bottom: 2.7rem;
        right: 32.9rem;
        display: flex;
        align-items: center;
    }

    .layoutWrap {
        position: relative;
        width: 8.5rem;
        height: 8rem;
        margin-right: 2.4rem;
    }

    .layoutBackground {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .miniplanSvg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .miniplanData {
        font-size: 1.4rem;
        line-height: 1;
        font-family: $font-secondary;
        color: rgba($black, .2);

        & :not(:first-child) {
            margin-top: .8rem;
        }
    }

    .sectionName {
        color: $black;
    }

</style>
