<template>
    <div :class="$style.FloorSelectionControls">
        <button v-for="floor in floors"
                :key="floor.id"
                type="button"
                class="btn-reset"
                :class="[$style.button, {_active: floor.id === currentFloorId, _disabled: !floor.flatsCount}]"
        @click.prevent="($emit('click', floor.id))">
            <span :class="$style.number"><i>{{ floor.number }}</i> этаж</span>
            <span :class="$style.price">от <i>{{ floor.flatsMinPrice|roundToMillions|pointsByComma }}</i> млн руб.</span>

        </button>
    </div>
</template>

<script>
    export default {
        name: 'FloorSelectionControls',
        props: {
            floors: {
                type: Array,
                default: () => []
            },

            currentFloorId: {
                type: [String, Number],
                default: null
            }
        }
    };
</script>

<style lang="scss" module>
    .FloorSelectionControls {
        display: flex;
        flex-direction: column;
        font-family: $font-secondary;
        font-size: .83rem;
        line-height: 2.22;
        color: $black;
    }

    .button {
        padding: .5rem 0 .5rem 1rem;
        text-align: right;
        cursor: pointer;
        transition: color .3s ease-out, background-color .3s ease-out;

        &:hover {
            color: $orange;
            transition: color .3s ease-out;
        }

        & i {
            font-size: 1rem;
            font-style: normal;
        }

        &:global(._active) {
            color: $white;
            background-color: $green;
            transition: color .3s ease-out, background-color .3s ease-out;

            & .price {
                opacity: .8;
                visibility: visible;
                transition: opacity .3s ease-out;
            }
        }

        &:global(._disabled) {
            opacity: .5;
            pointer-events: none;
        }
    }

    .price {
        display: inline-block;
        vertical-align: baseline;
        width: 11rem;
        text-align: left;
        color: #fff3f3;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease-out;
    }
</style>