<template>
    <div ref="page"
         :class="$style.SectionSelection">
        <div ref="wrap"
             :class="[$style.wrap, {[$style._loaded]: isLoaded}]"
             :style="position">
            <img ref="image"
                 :class="[$style.image, {[$style._loaded]: isLoaded, [$style._highlighted]: highlighted}]"
                 :src="imageSrc"
                 @load="onImageLoad">

            <svg v-show="!selected"
                 :class="$style.svg"
                 :viewBox="`0 0 ${width} ${height}`">
                <defs>
                    <clipPath id="SVG_BUILDING"
                              :key="clipPath"
                              v-html="clipPath">
                    </clipPath>
                </defs>

                <image :xlink:href="image"
                       x="0"
                       y="0"
                       width="100%"
                       height="100%"
                       style="clip-path: url('#SVG_BUILDING');">
                </image>

                <g v-for="section in hoveredSections"
                   :key="section.id"
                   :class="$style.buildingPath"
                   @mouseenter="onMouseEnter(section.id)"
                   @mousemove="onMouseMove($event)"
                   @mouseleave="onMouseLeave"
                   @click.stop="$emit('select',section.id)"
                   v-html="section.planHover">
                </g>
            </svg>

            <VisualShields
                v-show="!selected && isLoaded"
                :diff="diffScale"
                :highlighted="highlighted"
                :points="points"
            />
        </div>

        <VisualTooltip v-if="highlighted && !selected"
                       :top="tooltipOffsetTop"
                       :left="tooltipOffsetLeft"
                       :container-data="containerData">
            <VisualTooltipContentBuilding label="секция"
                                          :object="activeSection"/>
        </VisualTooltip>
    </div>
</template>

<script>
    import VisualTooltip from './VisualTooltip';
    import VisualShields from './VisualShields';
    import VisualTooltipContentBuilding from './VisualTooltipContentBuilding';

    export default {
        name: 'SectionSelection',

        components: { VisualTooltipContentBuilding, VisualShields, VisualTooltip },

        props: {
            perview: String,
            image: String,
            width: {
                type: Number,
                required: true,
            },
            height: {
                type: Number,
                required: true,
            },
            sections: {
                type: Array,
                default: () => [],
            },
            containerData: {
                type: Object,
                default: () => ({}),
            },
            selected: Boolean,
        },

        data() {
            return {
                isLoaded: false,
                highlighted: '',
                isSettingsVisible: false,
                imageSrc: '',
                iw: 1,
                ih: 1,
                ww: 1,
                wh: 1,
                tooltipOffsetTop: 0,
                tooltipOffsetLeft: 0,
                isTicking: false,
            };
        },

        computed: {
            hoveredSections() {
                let sections = [];
                this.sections.forEach((item) => {
                    if (item.planHover) {
                        sections.push(item);
                    }
                });

                return sections;
            },

            activeSection() {
                const section = this.hoveredSections.filter(b => b.id === this.highlighted);
                return section.length ? section[0] : null;
            },

            clipPath() {
                return this.activeSection ? this.activeSection.planHover : '';
            },

            points() {
                return this.hoveredSections.map(b => {
                    if (b.planPoint) {
                        const [left, top] = b.planPoint.split(',');
                        return {
                            id: b.id,
                            name: b.name,
                            left: `${left}%`,
                            top: `${top}%`,
                        };
                    }
                });
            },

            imageRatio() {
                return this.iw / this.ih;
            },

            windowRatio() {
                return this.ww / this.wh;
            },

            diffScale() {
                if (this.$mq !== 'l' && this.$mq !== 'xl') return;
                const diff = this.windowRatio > this.imageRatio
                    ? this.ww / this.iw
                    : this.wh / this.ih;

                const scale = diff > 1
                    ? 1 - (diff - 1)
                    : 1 + (1 - diff);

                return `scale(${scale}) translate(-50%, -50%)`;
            },

            position() {
                if (this.$mq !== 'l' && this.$mq !== 'xl') return;
                if (this.windowRatio > this.imageRatio) {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.ww / this.iw}) translate(0px, ${(this.wh - this.ih * (this.ww / this.iw)) / 2}px)`,
                    };
                } else {
                    return {
                        width: this.iw + 'px',
                        height: this.ih + 'px',
                        transform: `scale(${this.wh / this.ih}) translate(${(this.ww - (this.iw * this.wh / this.ih)) / 2}px, 0px)`,
                    };
                }
            },
        },

        watch: {
            isLoaded() {
                this.$nextTick(() => {
                    this.centerGenplan();
                });
            },
        },

        mounted() {
            this.imageSrc = this.image;
            window.addEventListener('resize', this.onResize);
        },

        beforeDestroy() {
            window.removeEventListener('resize', this.onResize);
        },

        methods: {
            selectType(id) {
                this.isSettingsVisible = false;
                this.$emit('change', id);
            },

            onMouseEnter(id) {
                this.highlighted = id;
            },

            onMouseMove(event) {
                this.tooltipOffsetTop = event.pageY;
                this.tooltipOffsetLeft = event.pageX;
            },

            onMouseLeave() {
                this.highlighted = null;
            },

            onResize() {
                if (!this.isTicking) {
                    this.isTicking = true;
                    requestAnimationFrame(this.updateWindowSize);
                }
            },

            updateWindowSize() {
                this.wh = this.$refs.page.offsetHeight;
                this.ww = this.$refs.page.offsetWidth;
                this.isTicking = false;
            },

            onImageLoad() {
                let iw = this.$refs.image.offsetWidth;
                let ih = this.$refs.image.offsetHeight;
                let ww = this.$refs.page.offsetWidth;
                let wh = this.$refs.page.offsetHeight;

                this.iw = iw;
                this.ih = ih;
                this.ww = ww;
                this.wh = wh;

                this.isLoaded = true;
            },

            centerGenplan() {
                let wrapperWidth = this.$refs.wrap.getBoundingClientRect().width;
                this.$refs.page.scrollLeft = wrapperWidth / 2 - window.innerWidth / 2;
            },
        },
    };
</script>

<style lang="scss" module>
    .SectionSelection {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        @include respond-to(mobile) {
            position: relative;
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }

    .wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color .3s ease;
        transform-origin: 0 0;

        &._loaded {
            background-color: #000;
        }

        @include respond-to(mobile) {
            position: relative;
            width: auto;
            height: 100%;
        }
    }

    .image {
        z-index: 1;
        display: block;
        max-width: none;
        opacity: 0;
        transition: opacity .3s ease;

        &._loaded {
            opacity: 1;
        }

        &._highlighted {
            opacity: .3;
        }

        @include respond-to(mobile) {
            width: auto;
            height: 100%;
        }
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        height: 100%;
    }

    .buildingPath {
        cursor: pointer;
        fill: transparent;
    }

    .params {
        transition: opacity .3s ease .1s;
    }

    .option {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 25%;
        background-color: rgba(0, 0, 0, .7);
        transition: background-color .2s ease;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, 0);

            .optionName {
                opacity: 0;
            }
        }
    }

    .optionWrap {
        opacity: 0;
        transform: translateY(72px);
        transition: transform .3s step-end, opacity .3s step-end;
    }

    .optionName {
        color: $white;
        font-size: 2rem;
        letter-spacing: .8em;
        text-transform: uppercase;
        transition: opacity .3s ease;
    }
</style>
