<template>
    <div :class="[$style.shields, {[$style._hide]: highlighted || isHoverPins}]">
        <div v-for="point in points"
             :key="point.id"
             :class="$style.shieldInner"
             :style="{left: point.left, top: point.top, transform: diff}">
            <div :class="$style.shield">
                {{ point.name }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'VisualShields',

        props: {
            points: {
                type: Array,
                default: () => ([]),
            },
            highlighted: {
                type: String,
                default: '',
            },
            isHoverPins: {
                type: Boolean,
                default: false,
            },
            diff: {
                type: String,
                default: '',
            }
        },
    };
</script>

<style lang="scss" module>
    .shields {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: $white;
        pointer-events: none;
        transition: opacity .2s ease;

        &._hide {
            opacity: 0;

            .shield {
                transform: translate(0, -30%);
            }
        }
    }

    .shieldInner {
        position: absolute;
        width: 42px;
        height: 65px;
        font-family: $font-secondary;
        font-size: 42px;
        line-height: 1;
        letter-spacing: .02em;
        text-transform: uppercase;

        @include respond-to(mobile) {
            transform: translate(-50%, -100%);
        }
    }

    .shield {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: url('/images/visual/icon-building-num.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: transform .3s $easing;
    }
</style>
