<template>
    <div ref="tooltip"
         :class="[$style.VisualTooltip, {_floor: isFloorPlan}]"
         :style="position">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'VisualTooltip',

        props: {
            top: {
                type: Number,
                default: 0,
            },
            left: {
                type: Number,
                default: 0,
            },
            isFloorPlan: {
                type: Boolean,
                default: false
            },

            containerData: {
                type: Object,
                default: () => {
                    return {};
                }
            }
        },

        data() {
            return {
                tooltipHeight: 0,
                tooltipWidth: 0,
            };
        },

        computed: {
            position() {
                if (!this.left && !this.top) return { left: 0, top: 0, };

                const cursorOffset = {
                    x: 20,
                    y: 20
                };

                const containerOffset = {
                    x: 24,
                    y: 24
                };

                const tooltipHeight = this.tooltipHeight;
                const tooltipWidth = this.tooltipWidth;

                const pointerX = this.left;
                const pointerY = this.top;

                const visualOffsetY = this.containerData.visualOffsetY;
                const visualOffsetX = this.containerData.visualOffsetX;

                const visualHeight = this.containerData.visualHeight;
                const visualWidth = this.containerData.visualWidth;

                let x;
                let y;

                //Если тултип не влезает по высоте снизу
                if (pointerY + containerOffset.y + cursorOffset.y + tooltipHeight - visualOffsetY > visualHeight) {
                    y = visualHeight - tooltipHeight - containerOffset.y;
                    //Если тултип не влезает по высоте сверху
                } else if (pointerY + cursorOffset.y - visualOffsetY < containerOffset.y) {
                    y = containerOffset.y;
                    //Если все ок
                } else {
                    y = pointerY - visualOffsetY + cursorOffset.y;
                }

                //Если тултип не влезает по ширине справа
                if (pointerX + containerOffset.x + cursorOffset.x + tooltipWidth - visualOffsetX > visualWidth) {
                    x = pointerX - tooltipWidth;

                    //Правый нижний угол
                    if (pointerY + containerOffset.y + cursorOffset.y + tooltipHeight - visualOffsetY > visualHeight) {
                        y = pointerY - visualOffsetY - tooltipHeight - 20;
                    }

                    //Правый верхний угол
                    if (pointerY + cursorOffset.y - visualOffsetY < containerOffset.y) {
                        y = pointerY - visualOffsetY + 20;
                    }
                    //Если тултип не влезает по ширине слева
                } else if (pointerX + cursorOffset.x - visualOffsetX < containerOffset.x) {
                    x = containerOffset.x;

                    //Левый нижний угол
                    if (pointerY + containerOffset.y + cursorOffset.y + tooltipHeight - visualOffsetY > visualHeight) {
                        y = pointerY - visualOffsetY - tooltipHeight - 20;
                    }

                    //Левый верхний угол
                    if (pointerY + cursorOffset.y - visualOffsetY < containerOffset.y) {
                        y = pointerY - visualOffsetY + 20;
                    }
                    //Если все ок
                } else {
                    x = pointerX + cursorOffset.x - visualOffsetX;
                }

                return {
                    top: y + 'px',
                    left: x + 'px'
                };
            }
        },

        mounted() {
            this.tooltipHeight = this.$refs.tooltip ? this.$refs.tooltip.offsetHeight : 0;
            this.tooltipWidth = this.$refs.tooltip ? this.$refs.tooltip.offsetWidth : 0;
        },
    };
</script>

<style lang="scss" module>
    .VisualTooltip {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
        margin-left: -34rem;
        pointer-events: none;
        opacity: 1;

        &:global(._floor) {
            transform: translateY(-50%);
        }
    }
</style>
