<template>
    <g :id="id"
       :class="[$style.VisualHover]"
       @mouseenter="onPolygonHover"
       @mousemove="onPolygonMove"
       @mouseleave="onPolygonUnhover"
       @click="onClick"
       v-html="highlighting">
    </g>
</template>

<script>
    export default {
        name: 'VisualHover',
        props: {
            highlighting: {
                type: String,
                default: ''
            },

            id: {
                type: [Number, String],
                default: ''
            },

            isActive: {
                type: Boolean,
                dafault: false,
            },
        },

        methods: {
            onClick() {
                this.$emit('click-signal', this.id);
            },

            onPolygonHover(event) {
                if (window.matchMedia('(min-width: 1025px)').matches) {
                    this.$emit('hover-polygon-enter', event, this.id);
                }
            },

            onPolygonMove(event) {
                if (window.matchMedia('(min-width: 1025px)').matches) {
                    this.$emit('hover-polygon-move',  event, this.id);
                }
            },

            onPolygonUnhover() {
                if (window.matchMedia('(min-width: 1025px)').matches) {
                    this.$emit('hover-polygon-leave');
                }
            }
        }
    };
</script>

<style lang="scss" module>
    .VisualHover {
        cursor: pointer;
        fill: transparent;
        z-index: 999;
    }
</style>
