<template>
    <div ref="pin"
         :style="{top: `${coords.top}%`, left: `${coords.left}%`, transform: diff}"
         :class="[$style.VisualPin, {_hover: hover, _hide: highlighted}]">

        <div :class="$style.btn"
             @mouseenter="mouseEnterSignal"
             @mouseleave="mouseLeaveSignal"
             @click="clickSignal">
            <svg :class="$style.icon">
                <use xlink:href="#icon-pin"></use>
            </svg>
        </div>

        <div ref="popup"
             :class="$style.popup"
             :style="position">
            <div :class="$style.content">
                <div :class="$style.title"
                     v-html="advantage.name"></div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'VisualPin',

        props: {
            advantage: {
                type: Object,
                default: () => ({})
            },
            highlighted: {
                type: String,
                default: '',
            },
            diff: {
                type: String,
                default: '',
            }
        },

        data() {
            return {
                top: 0,
                left: 0,
                t_height: 0,
                t_width: 0,
                pinSize: 36,
                hover: false
            };
        },

        computed: {
            coords() {
                const [left, top] = this.advantage.point.split(',');
                return {left, top};
            },

            position() {
                let top = -this.t_height;
                let left = 0;

                let ww = window.innerWidth || 1920;

                if (this.top - this.t_height < 0) top = this.pinSize;
                if (this.left + this.t_width > ww - 80) left = -this.t_width - this.pinSize;

                return {marginTop: `${top}px`, marginLeft: `${left}px`};
            }
        },

        mounted() {
            this.t_height = this.$refs.popup ? this.$refs.popup.offsetHeight : 0;
            this.t_width = this.$refs.popup ? this.$refs.popup.offsetWidth : 0;
        },

        methods: {
            mouseEnterSignal(e) {
                this.left = e.clientX;
                this.top = e.clientY;
                this.hover = true;
                this.$emit('enter', this.hover);
            },

            clickSignal() {
                // this.$emit('click', this.hover);
            },

            mouseLeaveSignal() {
                this.hover = false;
                this.$emit('leave', this.hover);
            }
        }
    };
</script>

<style lang="scss" module>
    .VisualPin {
        position: absolute;
        z-index: 5;
        transition: opacity .2s ease, transform .2s ease;

        &:global(._hide) {
            opacity: 0;
            transform: scale(.6);
        }

        &:hover {
            z-index: 10;

            .popup {
                opacity: 1;
                pointer-events: auto;
                transition: opacity .4s $easing .2s;
            }
        }
    }

    .btn {
        position: relative;
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: white;
        cursor: pointer;

        &:hover {

            .icon {
                transform: rotate(45deg);
            }
        }
    }

    .icon {
        width: 100%;
        height: 100%;
        transition: transform .4s $easing;
    }

    .popup {
        position: absolute;
        top: 30px;
        left: 50%;
        display: block;
        margin-left: 2rem;
        background-color: $white;
        opacity: 0;
        transform: translateX(-50%);
        transition: opacity .4s $easing;
        pointer-events: none;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 16px 32px;
        white-space: nowrap;
    }

    .title {
        font-size: 14px;
        font-weight: normal;
    }
</style>
