<template>
    <div :class="$style.VisualTooltipContentFlat">
        <div :class="[$style.cell, $style._top]">
            <span v-html="flatName"></span>
            <span>{{ flat.area|pointsByComma }} м<sup>2</sup></span>
        </div>
        <div v-if="flat.facing"
             :class="[$style.cell, $style._facing]">
            <svg viewBox="0 0 12 14">
                <use xlink:href="#icon-facing"></use>
            </svg>
            <span>с отделкой</span>
        </div>
        <div :class="[$style.cell, $style._bottom]">
            <template v-if="flat.promoPrice">
                <span :class="$style.price">{{ flat.promoPrice|splitThousands }} <i>руб.</i></span>
                <span :class="$style.oldPrice">{{ flat.price|splitThousands }} <i>руб.</i></span>
                <span :class="$style.saleCount">-{{ saleCount }}%</span>
            </template>

            <template v-else>
                <span :class="$style.price">{{ flat.price|splitThousands }} <i>руб.</i></span>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'VisualTooltipContentFlat',
        props: {
            flat: {
                type: Object,
                default: () => {
                }
            }
        },

        computed: {
            flatName() {
                let name = '';

                if (this.flat.rooms === 0) name += 'Студ.';
                if (this.flat.rooms === 1) name += '1-ком.';
                if (this.flat.rooms === 2) name += '2-ком.';
                if (this.flat.rooms === 3) name += '3-ком.';
                if (this.flat.rooms === 4) name += '4-ком.';

                return name;
            },

            saleCount() {
                return Math.floor((this.flat.price - this.flat.promoPrice)/this.flat.price * 100);
            }
        }
    };
</script>

<style lang="scss" module>
    .VisualTooltipContentFlat {
        width: 21.7rem;
        padding: 2.8rem 1.9rem 2.4rem;
        font-family: $font-secondary;
        color: $white;
        background-color: $orange;
    }

    ._top {
        font-size: 2rem;
        line-height: 1;
    }

    ._facing {
        margin-top: 1rem;
        font-size: 1.4rem;
        line-height: 1.15;
        opacity: .5;

        & svg {
            width: 1.2rem;
            height: 1.4rem;
            fill: $white;
        }
    }

    ._bottom {
        margin-top: .8rem;
    }

    .price {
        display: block;
        font-size: 1.6rem;
        line-height: 1.15;
        transition: color .3s ease-out;

        & i {
            font-style: normal;
            font-size: 1.2rem;
        }
    }

    .oldPrice {
        position: relative;
        display: inline-block;
        margin-right: .8rem;
        font-size: 1.2rem;
        line-height: 1.15;
        opacity: .5;

        & i {
            font-style: normal;
            font-size: 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            top: 51%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            height: 1px;
            background-color: $white;
            transition: background-color .3s ease;
        }
    }

    .saleCount {
        font-size: 1.2rem;
        line-height: 1.15;
    }
</style>