<template>
    <div :class="$style.VisualTooltipContentBuilding">
        <h3 :class="$style.title" class="custom-title _sm _white">
            <span class="custom-title__origin"><b>{{ object.number }}</b> {{ label }}</span>
            <span class="custom-title__shadow"><b>{{ object.number }}</b> {{ label }}</span>
        </h3>

        <ul :class="$style.flats">
            <li v-if="object.flats1MinPrice"
                :class="$style.flat">
                <span :class="$style.flatLabel">1 ком.</span>
                <span :class="$style.flatValue">от {{ +object.flats1MinPrice|roundToMillions|pointsByComma }} млн руб.</span>
            </li>
            <li v-if="object.flats2MinPrice"
                :class="$style.flat">
                <span :class="$style.flatLabel">2 ком.</span>
                <span :class="$style.flatValue">от {{ +object.flats2MinPrice|roundToMillions|pointsByComma }}  млн руб.</span>
            </li>
            <li v-if="object.flats3MinPrice"
                :class="$style.flat">
                <span :class="$style.flatLabel">3 ком.</span>
                <span :class="$style.flatValue">от {{ +object.flats3MinPrice|roundToMillions|pointsByComma }} млн руб.</span>
            </li>
        </ul>
        <div v-if="!object.flats1MinPrice && !object.flats2MinPrice && !object.flats3MinPrice"
            :class="$style.none">Квартиры распроданы</div>
    </div>
</template>

<script>
    export default {
        name: 'VisualTooltipContentBuilding',

        props: {
            building: {
                type: Boolean,
                default: false
            },
            label: {
                type: String,
                default: 'корпус',
            },
            object: {
                type: Object,
                required: true
            },
        },
    };
</script>

<style lang="scss" module>
    .VisualTooltipContentBuilding {
        width: 27rem;
        padding: 4.8rem 2.4rem 3.2rem 5.6rem;
        font-size: 1.4rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $white;
        background-color: $black;
    }

    .title {
        position: absolute;
        top: 0;
        left: 5.6rem;
        width: 100%;
        transform: translateY(-60%);
    }

    .flat {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
</style>