<template>
    <button type="button"
            :class="[$style.LayoutsIncreaseButton, 'btn-reset']"
            @click.prevent="$emit('click')">
        <svg>
            <use xlink:href="#icon-loop"></use>
        </svg>
        <span>Увеличить</span>
    </button>
</template>

<script>
    export default {
        name: 'LayoutsIncreaseButton'
    };
</script>

<style lang="scss" module>
    .LayoutsIncreaseButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        color: $orange;
        font-family: $font-secondary;
        cursor: pointer;

        svg {
            margin-bottom: 1.4rem;
            width: 3.6rem;
            height: 3.6rem;
            fill: $orange;

            @include respond-to(mobile) {
                width: 20px;
                height: 20px;
                margin: 0 10px 0 0;
            }
        }

        @include respond-to(mobile) {
            flex-direction: row;
            font-size: 12px;
        }
    }
</style>