<template>
    <div :class="$style.LayoutsSwitcher">
        <button :class="[$style.btn, 'btn-reset _prev', {_disabled: isDisabledPrev}]"
                type="button"
                aria-label="предыдущий"
                @click.prevent="onClickPrev">
            <svg>
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </button>
        <div :class="$style.label">
            <span :class="$style.number"
                  v-html="active"></span>
            {{ label }}
        </div>
        <button :class="[$style.btn, 'btn-reset _next', {_disabled: isDisabledNext}]"
                type="button"
                aria-label="следующий"
                @click.prevent="onClickNext">
            <svg>
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'LayoutsSwitcher',

        props: {
            label: {
                type: String,
                default: 'этаж'
            },

            active: {
                type: [String, Number],
                default: ''
            },

            isDisabledPrev: {
                type: Boolean,
                default: false
            },

            isDisabledNext: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            onClickNext() {
                this.$emit('click', 1);
            },

            onClickPrev() {
                this.$emit('click', -1);
            }
        },
    };
</script>

<style lang="scss" module>
    .LayoutsSwitcher {
        display: flex;
        align-items: center;
    }

    .btn {
        width: 2.1rem;
        height: 1.4rem;

        svg {
            width: 100%;
            height: 100%;
            fill: $orange;
        }

        &:global(._disabled) {
            pointer-events: none;

            svg {
                fill: rgba($black, .2);
            }
        }

        &:global(._prev) {
            transform: rotate(180deg);
        }
    }

    .label {
        margin: 0 2.4rem;
        font-family: $font-secondary;
        font-size: 2.4rem;
        line-height: 1;
        color: $black;

        @include respond-to(mobile) {
            margin: 0 12px;
            font-size: 20px;
        }
    }

    .number {
        display: inline-block;
        vertical-align: baseline;
        text-align: right;
        min-width: 3rem;
        font-size: 3.2rem;

        @include respond-to(mobile) {
            min-width: 30px;
            font-size: 28px;
        }
    }

</style>