<template>
    <div :class="[$style.Layout, {_hidden: isReloading}]"
         @click="$modal.open('LayoutZoom', {isFullScreen: true, plan: plan})">
        <div :class="$style.image"
             :style="{backgroundImage: `url(${background})`}"></div>
        <LayoutsIncreaseButton :class="[$style.LayoutsIncreaseButton]"/>
    </div>
</template>

<script>
    import LayoutsIncreaseButton from './LayoutsIncreaseButton';

    export default {
        name: 'Layout',
        components: {
            LayoutsIncreaseButton
        },

        props: {
            plan: {
                type: String,
                default: null
            }
        },

        data() {
            return {
                isReloading: false,
                background: null
            };
        },

        watch: {
            plan() {
                this.isReloading = true;
                let bgImg = new Image();
                bgImg.src = this.plan;

                bgImg.onload = () => {
                    this.background = this.plan;
                    setTimeout(() => {
                        this.isReloading = false;
                    }, 500);
                };
            }
        },
    };
</script>

<style lang="scss" module>
    .Layout {
        width: 100%;
        padding: 1.4rem 0 4rem;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s ease-out;

        &:global(._hidden) {
            opacity: 0;
            transition: opacity .3s ease-out;
        }

        @include respond-to(mobile) {
            padding: 15px 0 20px;
        }

        &:hover {

            .image {
                opacity: .3;
                transition: opacity .3s ease-out;
            }

            .LayoutsIncreaseButton {
                opacity: 1;
                transition: opacity .3s ease-out;
            }
        }
    }

    .LayoutsIncreaseButton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity .3s ease-out;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .image {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity .3s ease-out;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

</style>