<template>
    <div ref="container"
         :class="$style.LayoutZoom">
        <div :class="[$style.tips, {_visible: isVisibleTip}]"
             @click="isVisibleTip = false">
            <span>Растягивайте 2 пальцами для увеличения</span>
        </div>
        <div ref="imageContainer"
             :class="$style.image">
            <img ref="image"
                 :style="{transform: `translate(${position.x}px, ${position.y}px) scale(${scale}`}"
                 :src="`${data.plan}`">
        </div>
    </div>
</template>

<script>
    let Hammer = undefined;
    export default {
        name: 'LayoutZoom',

        props: {
            data: {
                type: Object,
                default: () => {
                }
            },
        },

        data() {
            return {
                scale: 1.2,
                minScale: 1.2,
                maxScale: 5,
                ham: undefined,

                event: null,

                position: {
                    x: 0,
                    y: 0,
                    scale: 1.2
                },

                shift: {
                    x: 0,
                    y: 0
                },

                containerSize: {
                    width: 0,
                    height: 0
                },

                imageSize: {
                    width: 0,
                    height: 0
                },

                displayImage: {
                    x: 0,
                    y: 0
                },

                displayDefault: {
                    width: 0,
                    height: 0
                },

                rangeX: 0,
                rangeMaxX: 0,
                rangeMinX: 0,

                rangeY: 0,
                rangeMaxY: 0,
                rangeMinY: 0,

                isVisibleTip: false,
            };
        },

        mounted() {

            window.addEventListener('resize', this.onResize);
            this.getSizes();
            this.loadHammer();
            if (this.$device.isMobile) {
                this.isVisibleTip = true;
            }
        },

        beforeDestroy() {
            this.ham.destroy();

            window.removeEventListener('resize', this.onResize);
        },

        methods: {
            // import
            loadHammer() {
                if (process.client) {

                    let hammerLoad = import('hammerjs');
                    hammerLoad.then(result => {
                        Hammer = result.default;
                        this.addEvents();
                    });
                }
            },
            //event listener

            addEvents() {
                let el = this.$refs.image;
                this.ham = new Hammer(el, {
                    domEvents: true
                });

                this.ham.get('pinch').set({ enable: true });
                this.ham.get('pan').set({ direction: Hammer.DIRECTION_ALL });

                this.ham.on('pinch pinchmove', (e) => {
                    this.event = e;
                    requestAnimationFrame(this.setScale);
                });

                this.ham.on('pinchend pinchcancel', (e) => {
                    this.position.scale = this.scale;
                });

                this.ham.on('panstart panmove', (ev) => {
                    this.event = ev;
                    requestAnimationFrame(this.setPosition);
                });

                this.ham.on('panend pancancel', (e) => {
                    this.shift.x = this.position.x;
                    this.shift.y = this.position.y;
                });

            },
            //resize
            async onResize() {
                await this.getSizes();
                this.setPosition();
            },

            //functions
            async getSizes() {
                let container = this.$refs.container.getBoundingClientRect();
                this.containerSize.width = container.width;
                this.containerSize.height = container.height;

                this.$refs.image.onload = () => {
                    if (this.isVisibleTip) {
                        setTimeout(() => {
                            this.isVisibleTip = false;
                        }, 3000);
                    }
                    this.imageSize.width = this.$refs.image.offsetWidth;
                    this.imageSize.height = this.$refs.image.offsetHeight;
                    this.updateRange();
                };
            },

            async setPosition() {
                this.position.x = await this.clamp(this.shift.x + this.event.deltaX, this.rangeMinX, this.rangeMaxX);
                this.position.y = await this.clamp(this.shift.y + this.event.deltaY, this.rangeMinY, this.rangeMaxY);
            },

            updateRange() {
                //доступные положения картинки
                this.rangeX = Math.max(0, Math.round(this.imageSize.width * this.scale) - this.containerSize.width);
                this.rangeY = Math.max(0, Math.round(this.imageSize.height * this.scale) - this.containerSize.height);

                this.rangeMaxX = Math.round(this.rangeX / 2);
                this.rangeMinX = 0 - this.rangeMaxX;

                this.rangeMaxY = Math.round(this.rangeY / 2);
                this.rangeMinY = 0 - this.rangeMaxY;
            },

            async setScale() {
                this.scale = await this.clampScale(this.event.scale * this.position.scale);
                this.updateRange();
            },

            clamp(value, min, max) {
                return Math.min(Math.max(min, value), max);
            },

            clampScale(newScale) {
                return this.clamp(newScale, this.minScale, this.maxScale);
            },
        },
    };
</script>

<style lang="scss" module>
    .LayoutZoom {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
    }

    .image {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            transform-origin: center;
            cursor: move;
            touch-action: none;
        }
    }

    .tips {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 1.5;
        color: $black;
        font-weight: bold;
        background-color: rgba($white, .5);
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease-out, visibility .3s ease-out;

        &:global(._visible) {
            visibility: visible;
            opacity: 1;
            transition: opacity .3s ease-out;
        }

        span {
            width: 160px;
            text-align: center;
        }

        @include respond-to(mobile) {
            display: flex;
        }
    }

</style>