<template>
    <div ref="container"
         :class="$style.FlatGenplan">
        <div ref="wrapper"
             :class="$style.body">
            <div :class="$style.preview"
                 :style="{backgroundImage: `url(${genplanPreview})`}">
                <div :class="[$style.imgWrap, {[$style._loaded] : isLoaded}]">

                    <img ref="image"
                         :src="genplanOrigin"
                         :class="$style.origin"
                         alt="Генплан">

                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         :class="$style.svg"
                         :viewBox="genplanViewbox">
                        <defs>
                            <clipPath id="SVG_SECTION"
                                      :key="hover"
                                      v-html="hover">
                            </clipPath>
                        </defs>
                        <image :xlink:href="genplanOrigin"
                               x="0"
                               y="0"
                               width="100%"
                               height="100%"
                               style="clip-path: url('#SVG_SECTION');">
                        </image>
                        <g ref="polygon"
                           :class="$style.polygon"
                           v-html="hover">
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'FlatGenplan',

        props: {
            genplanOrigin: {
                type: String,
                default: '',
            },

            genplanPreview: {
                type: String,
                default: '',
            },

            hover: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                transformPercent: 0,
                isLoaded: false,
                imgEl: null,
                iw: 0,
                ih: 0,
            };
        },

        computed: {
            genplanViewbox() {
                return `0 0 ${this.iw} ${this.ih}`;
            },
        },

        mounted() {
            this.imgEl = new Image();
            this.imgEl.addEventListener('load', this.handleImageLoad);
            this.imgEl.src = this.genplanOrigin;
        },

        beforeDestroy() {
            this.imgEl.removeEventListener('load', this.handleImageLoad);
        },

        methods: {
            handleImageLoad() {
                if (this.isLoaded) {
                    return;
                }

                this.iw = this.$refs.image?.naturalWidth;
                this.ih = this.$refs.image?.naturalHeight;

                this.$nextTick(() => {
                    this.isLoaded = true;
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatGenplan {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
    }

    .body {
        position: relative;
        height: 100%;
        width: auto;
        overflow: hidden;
        backface-visibility: hidden;
        transform: translateZ(0);
    }

    .preview {
        display: flex;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include respond-to(mobile) {
            overflow-y: auto;
        }
    }

    .imgWrap {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity .4s linear;

        @include respond-to(mobile) {
            width: auto;
        }

        &._loaded {
            opacity: 1;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($main-black, .8);
        }
    }

    .origin {
        display: block;
        height: 100%;
        width: auto;
        max-width: none;
    }

    .svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: auto;
        height: 100%;
    }

    .polygon {
        fill: transparent;
    }
</style>
