<template>
    <section :class="$style.FlatMortgage">
        <h2 :class="$style.title" class="custom-title _m">
            <span class="custom-title__origin">Ипотека</span>
            <span class="custom-title__shadow">Ипотека</span>
        </h2>

        <!--Flat Mortgage calculator-->
        <MortgageCalculator :class="$style.MortgageCalculator"
                            :specs="specs"
                            :price="price"
                            :payment="payment"
                            :values="values"
                            @change="onChange"/>

        <!--Flat Mortgage offers-->
        <div :class="$style.offersWrap">
            <transition-group :class="$style.offers"
                              name="list"
                              tag="div"
                              @afterLeave="$emit('endAnimation')">
                <template v-if="offers && !!offers.length">
                    <template v-if="!reloading">
                        <div v-for="offer in offers"
                             :key="offer.node.id"
                             :class="$style.card">
                            <MortgageOfferCard :logo="offer.node.bank.logo"
                                               :min-rate="offer.node.minRate"
                                               :payment="Math.floor(offer.node.payment)"
                                               :max-term="offer.node.maxTerm"/>
                        </div>
                        <div v-if="$device.isMobile && offersCount"
                             key="loadMore"
                             :class="$style.card">
                            <div :class="$style.cardMore">
                                <svg :class="$style.icon">
                                    <use xlink:href="#icon-close"></use>
                                </svg>
                                <button type="button"
                                        :class="['btn-reset', $style.buttonMore]"
                                        @click.prevent="$emit('click')">
                                    <span>еще {{ offersCount }} <br>{{ offersCount|plural(['предложение', 'предложения', 'предложений']) }}</span>
                                </button>
                            </div>
                        </div>
                    </template>
                </template>
                <template v-else>
                    <div key="noOffers"
                         :class="$style.noOffers">
                        К сожалению, нет предложений:(
                    </div>
                </template>
            </transition-group>
            <UiButton :class="$style.button"
                      type="button"
                      label="оставить заявку"
                      @click="$modal.open('Callback', {type: 'mortgage', title: 'Заявка на ипотеку'})"/>

            <button v-if="offersCount && $mq !== 'xs'"
                    type="button"
                    :class="['btn-reset', $style.buttonMore]"
                    @click.prevent="$emit('click')">
                <span>еще {{ offersCount }} {{ offersCount|plural(['предложение', 'предложения', 'предложений']) }}</span>
                <svg :class="$style.icon">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </button>
        </div>
    </section>
</template>

<script>
    import MortgageCalculator from '../../purchases/mortgage/MortgageCalculator';
    import MortgageOfferCard from '../../purchases/mortgage/MortgageOfferCard';
    import UiButton from '../../ui/UiButton';

    export default {
        name: 'FlatMortgage',

        components: {
            UiButton,
            MortgageOfferCard,
            MortgageCalculator
        },

        props: {
            offers: {
                type: Array,
                default: () => []
            },

            offersCount: {
                type: [Number, String],
                default: 0
            },
            specs: {
                type: Object,
                default: () => {
                }
            },
            values: {
                type: Object,
                default: () => {
                }
            },

            price: {
                type: [String, Number],
                default: 0
            },

            reloading: {
                type: Boolean,
                default: false
            }

        },

        computed: {
            payment() {
                return this.offers.length ? Math.floor(this.offers[0].node.payment) : '';
            }
        },

        methods: {
            onChange(val) {
                this.$emit('change', val);
            }
        },
    };
</script>

<style lang="scss" module>
    .FlatMortgage {
        //
    }

    .MortgageCalculator {
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 30px;
        }
    }

    .offers {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 7.4rem;
        transition: width .3s ease-out;

        @include respond-to(mobile) {
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: nowrap;
            padding-top: 30px;
            margin-right: -16px;
            overflow-y: scroll;
        }
    }

    .card {
        transition: opacity .5s ease-out, transform .5s ease-out;
        width: 40rem;
        margin-bottom: 4.2rem;

        @include respond-to(mobile) {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 212px;
            min-height: 273px;
            padding-right: 12px;
        }

        &:global(.list-enter),
        &:global(.list-leave-active) {
            opacity: 0;
            transform: translate3d(0, 10px, 0) scale(.999);
        }
    }

    .button {
        margin-right: 16.6rem;
    }

    .buttonMore {
        font-size: 1.2rem;
        line-height: 1;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            color: $white;
        }
    }

    .cardMore {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: $orange;

        & svg {
            display: block;
            margin-bottom: 12px;
            fill: $white;
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 1rem;
        height: 1rem;
        margin-left: .8rem;
        transform: rotate(45deg);
        fill: $orange;
    }

    .noOffers {
        font-size: 2.8rem;
        line-height: 1;
        font-family: $font-secondary;
        margin: 2.4rem 0;
        text-align: center;
    }

</style>