<template>
    <article :class="$style.FlatsSimilar">
        <div :class="$style.title" class="custom-title _m">
            <span class="custom-title__origin">С этой квартирой также смотрят</span>
            <span class="custom-title__shadow">С этой квартирой также смотрят</span>
        </div>
        <!--slider-->
        <div ref="slider" :class="[$style.slider, 'swiper-container']">
            <ul :class="[$style.wrapper, 'swiper-wrapper']">
                <li v-for="flat in flats"
                    :key="flat.id"
                    :class="$style.card"
                    class="swiper-slide">
                    <!--FlatCard-->
                    <FlatCard :flat="flat"/>
                </li>
            </ul>
            <div v-if="isShowControllers"
                 :class="$style.controlsWrapper">
                <SliderControls :class="$style.controls"
                                :is-inverse="true"
                                @prev="prevClick"
                                @next="nextClick"/>
                <div :class="$style.crutch">
                    <div ref="pagination"
                         :class="$style.pagi"></div>
                    <div ref="scrollbar"
                         :class="$style.scrollbar"></div>
                </div>
            </div>
        </div>
    </article>
</template>

<script>
    import Swiper from 'swiper/dist/js/swiper.min';
    import SliderControls from '../../common/slider/SliderControls';
    import FlatCard from '../FlatCard';

    export default {
        name: 'FlatsSimilar',
        components: {
            FlatCard,
            SliderControls
        },

        props: {
            flats: {
                type: Array,
                default: () => []
            }
        },

        data() {
            return {
                sliderApp: undefined,
                active: 0,
                slidesPerView: 'auto',
                direction: 'horizontal',
                touched: false,
                swiped: false,
                play: false,
                inited: false,
            };
        },

        computed: {
            isShowControllers() {
                return this.flats?.length && this.flats.length > 3 && !this.$device.isMobile;
            }
        },

        mounted() {
            this.initApp();
            this.startObserve();
        },

        beforeDestroy() {
            this.sliderApp.destroy();
        },

        methods: {
            startObserve() {
                if (!this.$refs?.slider) return;

                let options = {
                    root: null,
                    threshold: .5
                };

                let observerCallback = (entries, observer) => {
                    entries.forEach(entry => {
                        this.play = entry.isIntersecting;

                        if (this.play && !this.inited) this.active = 0;
                        if (this.play) this.inited = true;
                    });
                };

                let observer = new IntersectionObserver(observerCallback, options);

                observer.observe(this.$refs.slider);
            },

            initApp() {

                const settings = {
                    speed: 600,
                    slidesPerView: this.slidesPerView,
                    direction: this.direction,
                    allowTouchMove: true,
                    navigation: {
                        prevEl: this.$refs?.prev?.$el || this.$refs?.prev || false,
                        nextEl: this.$refs?.next?.$el || this.$refs?.next || false,
                        hiddenClass: '_hidden',
                    },
                    pagination: {
                        el: this.$refs.pagination,
                        type: 'progressbar',
                    },
                    scrollbar: {
                        el: this.$refs.scrollbar,
                        draggable: false,
                        hide: false
                    },
                };

                this.sliderApp = new Swiper(this.$refs.slider, settings);

                this.sliderApp.on('progress', progress => {
                    let index = Math.ceil(Math.round(progress * 10000) * this.flats.length / 10000);
                    this.active = index && index > 1 ? index - 1 : index;
                });

                this.sliderApp.on('touchMove', () => {
                    this.c = true;
                    this.touched = true;
                });

                this.sliderApp.on('touchEnd', (evt) => {
                    if (this.swiped) return;
                    this.touched = false;
                });
            },

            prevClick() {
                this.sliderApp.slidePrev();
            },

            nextClick() {
                this.sliderApp.slideNext();
            }
        }
    };
</script>

<style lang="scss" module>
    .FlatsSimilar {
        //
    }

    .title {
        padding-right: .5rem;
    }

    .slider {
        position: relative;
        margin-right: -8.5rem;
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 30px;
            margin-right: -16px;
            overflow: hidden;
        }
    }

    .wrapper {
        padding: 5px 0;
    }

    .card {
        flex-shrink: 0;
        width: 25.5rem;
        margin-right: 4.2rem;

        @include respond-to(mobile) {
            margin-right: 12px;
        }
    }

    .controlsWrapper {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding-right: 8.5rem;
    }

    .controls {
        margin-right: 5.2rem;
    }

    .crutch {
        position: relative;
        width: 100%;
    }

    .pagi {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & > * {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transform-origin: left top;
            background-color: $orange;
        }
    }

    .scrollbar {
        width: 100%;
        height: 2px;
        background-color: $light-grey;
        pointer-events: none;

        & > * {
            position: relative;
            height: 100%;
            background-color: $orange;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: 1.4rem;
                height: 1rem;
                border-radius: 3px;
                border: 2px solid $orange;
                background-color: $white;
                transform: translateY(-50%);
            }
        }
    }

</style>