@mixin aspect-ratio($width, $height) {

    &:before {
        content: '';
        display: block;
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }

    & > .aspect-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@mixin font($alias, $name, $weight) {
    @font-face {
        font-family: $alias;
        src: url('~assets/fonts/' + $name + '.woff') format('woff'), url('~assets/fonts/' + $name + '.woff2') format('woff2');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin lazy($ease-time: 1.4s) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: opacity $ease-time ease;

    &[lazy='loaded'] {
        opacity: 1;
    }
}

@mixin retina {
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        @content;
    }
}

// Media queries
/* stylelint-disable */
@mixin respond-to($media) {
    @if $media == xxl {
        @media only screen and (min-width: $large) {
            @content;
        }
    }

    @if $media == desktop {
        @media only screen and (min-width: $medium) and (max-width: $large) {
            @content;
        }
    }

    @if $media == laptop {
        @media only screen and (max-width: $medium - 1) {
            @content;
        }
    } @else if $media == tablet {
        @media only screen and (max-width: $tablet - 1px) {
            @content;
        }
    } @else if $media == s-tablet {
        @media only screen and (max-width: $s-tablet - 1px) {
            @content;
        }
    } @else if $media == mobile {
        @media only screen and (max-width: $small) {
            @content;
        }
    }

    @if $media == s-mobile {
        @media only screen and (max-width: $s-small) {
            @content;
        }
    }
}

@mixin respond-min-max($media) {
     @if $media == tablet {
        @media only screen and (min-width: $s-tablet) and (max-width: $tablet - 1px) {
            @content;
        }
    } @else if $media == s-tablet {
        @media only screen and (min-width: $small) and (max-width: $s-tablet - 1px)  {
            @content;
        }
    } @else if $media == mobile {
        @media only screen and (min-width: $s-small) and (max-width: $small) {
            @content;
        }
    }

    @if $media == s-mobile {
        @media only screen and (max-width: $s-small) {
            @content;
        }
    }
}

/*stylelint-enable*/

//helpers

@mixin overlay($bg-color: rgba(#000, .2), $z-index: 1, $position: relative) {
    position: $position;

    &:before {
        content: '';
        position: absolute;
        z-index: $z-index;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
    }
}

@mixin overlay-gradient($gradient: rgba(#000, .2), $opacity: 1,  $z-index: 1, $position: relative) {
    position: $position;

    &:before {
        content: '';
        position: absolute;
        z-index: $z-index;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: $gradient center no-repeat;
        opacity: $opacity;
    }
}

@mixin respond-ie {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }
}
