/* Devices */
$s-small: 425px;
$small: 768px;
$s-tablet: 1025px;
$tablet: 1280px;
$medium: 1440px;
$large: 1920px;

/* Colors */
$black: #1f171a;
$main-black: #3d3b3c;
$orange: #fe7011;
$green: #99cf18;
$error: #e32d2d;
$light-grey: #e9e8e8;
$grey: #8f8b8c;
$white: #fff;
$beige: #f5eee1;
$box-shadow: 0 4px 24px rgba(0, 0, 0, .15);
$gradient:  linear-gradient(62.04deg, #e0ceae 0%, #f5eee1 99.73%);
$gradient-top: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $beige 25%);

/* Print */
$p-height: 1120px;
$p-width: 792px;
$p-diff: 1.33;

/* Font */
$font-primary: 'Circe', sans-serif;
$font-secondary: 'Intro', sans-serif;

/* Grid */
$column: calc(100vw / 16);

/* Spacing */
$s-tablet-padding: 48px;
$mobile-padding: 16px;
$sidebarWidth: 34rem;
$containerIndent: 8.6rem;

/* Easing */
$bounce-easing: cubic-bezier(.09, 1.16, .34, 1.37);
$easing: cubic-bezier(.165, .84, .44, 1);

/* retina */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
