<template>
    <div :class="$style.Home">
        <!--Hero-->
        <Hero/>

        <!--Location-->
        <Location @click="loadInfra"/>

        <!--Visual-->
        <Visual id="visual"/>

        <!--Mortgage-->
        <Mortgage/>

        <!--Exterior-->
        <template v-if="images && images.length">
            <Exterior :images="images"/>
        </template>

        <!--Plans-->
        <Plans/>

        <!--Additional-->
        <Additional/>

        <!--Feedback-->
        <div class="container" :class="$style.feedbackContainer">
            <Feedback :class="['_no-top-line', $style.Feedback]"/>
        </div>

        <Preloader v-if="isVisiblePreloader"/>
    </div>
</template>

<script>
    import {mapGetters, mapState, mapActions} from 'vuex';

    import Hero from '../components/home/Hero';
    import Location from '../components/home/Location';
    import Visual from '../components/home/Visual';
    import Preloader from '../components/common/Preloader';

    export default {
        name: 'HomePage',

        components: {
            Preloader,
            Feedback: () => import('../components/common/formBlocks/Feedback'),
            Additional: () => import('../components/home/Additional'),
            Exterior: () => import('../components/home/Exterior'),
            Plans: () => import('../components/home/Plans'),
            Mortgage: () => import('../components/home/Mortgage'),
            Visual,
            Location,
            Hero,
        },

        data() {
            return {
                isVisiblePreloader: false,
            };
        },

        computed: {
            ...mapState({
                mapInfrastrctureCategories: state => state.home.mapInfrastrctureCategories,
                mapInfrastrcturePoints: state => state.home.mapInfrastrcturePoints,
            }),
            ...mapGetters('home', {
                images: 'projectImages',
            }),
        },

        async fetch({ store, query }) {
            store.dispatch('menu/CHANGE_COLOR_INDEX');
            store.dispatch('footer/SET_COLOR', 'black');
            store.dispatch('menu/toggleFade', true);

            await Promise.all([
                store.dispatch('home/getSlides'),
                store.dispatch('home/getIndexPage'),
                store.dispatch('home/getProject'),
                store.dispatch('home/getLayoutStats'),
            ]);
        },

        async mounted() {
            await this.$store.dispatch('header/CHANGE_COLOR', {
                color: '_white',
            });
        },

        beforeDestroy() {
            this.$store.dispatch('header/CHANGE_COLOR', {
                color: '_black',
            });
            this.$store.dispatch('footer/SET_COLOR', 'white');
            this.$store.dispatch('menu/toggleFade', false);
        },

        methods: {
            ...mapActions({
                getMapInfrastrctureCategories: 'home/getMapInfrastrctureCategories',
                getMapInfrastrcturePoints: 'home/getMapInfrastrcturePoints',
            }),
            async loadInfra() {
                if (!this.mapInfrastrctureCategories.length && !this.mapInfrastrcturePoints.length) {
                    this.isVisiblePreloader = true;
                    await Promise.all([
                        this.getMapInfrastrctureCategories(),
                        this.getMapInfrastrcturePoints(),
                    ]);
                }
                this.isVisiblePreloader = false;
                this.$modal.open('ModalMap', { isFullScreen: true });
            },
        },
    };
</script>

<style lang="scss" module>
    .Home {
        position: relative;
        overflow: hidden;

        @include respond-to(mobile) {
            overflow: hidden;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: $sidebarWidth;
            height: calc(100% + 15.7rem);
            background-color: $black;

            @include respond-to(mobile) {
                content: none;
            }
        }
    }

    .feedbackContainer {
        padding-top: 6.5rem;
    }

    .Feedback {
        @include respond-to(xxl) {
            max-width: 1200px;
        }
    }

</style>
