<template>
    <section :class="[$style.MilitaryPage, 'container']">
        <div class="main-container">
            <UiBackLink :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">{{ title }}</span>
                <span class="custom-title__shadow">{{ title }}</span>
            </h1>
            <div v-if="description"
                 :class="$style.description"
                 v-html="description">
            </div>

            <UiButton :class="$style.button"
                      type="button"
                      label="оставить заявку"
                      :is-long="true"
                      @click="$modal.open('Callback', {type: 'military_mortgage', title: 'Заявка на военную ипотеку'})"/>
        </div>
    </section>
</template>

<script>
    //vuex
    import {mapGetters} from 'vuex';
    //queries
    import allPurchaseMethods from '../../../queries/purchases/allPurchaseMethods.gql';

    //components
    import UiBackLink from '../../../components/ui/UiBackLink';
    import UiButton from '../../../components/ui/UiButton';

    export default {
        name: 'MilitaryPage',

        components: {
            UiButton,
            UiBackLink
        },

        data() {
            return {
                text: 'Мамонтовка - в прошлом дачный поселок, а с 2003 года микрорайон г.Пушкино - место очень уютное, практически дачное. Многоквартирных домов немного и они невысокие (2-5 этажей) «советской застройки». Мамонтовка - в прошлом дачный поселок, а с 2003 года микрорайон г.Пушкино - место очень уютное, практически дачное. Многоквартирных домов немного и они невысокие (2-5 этажей) «советской застройки».',
            };
        },

        computed: {
            ...mapGetters('purchases', [
                'getPurchaseDescription',
                'getPurchaseTitle']),

            description() {
                return this.getPurchaseDescription('fullpayment');
            },

            title() {
                return this.getPurchaseTitle('fullpayment');
            }
        },

        async fetch({ store }) {

            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.purchases.purchasesList.length)
                await store.dispatch('purchases/getPurchases');
        },
    };
</script>

<style lang="scss" module>
    .MilitaryPage {
        position: relative;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .description {
        margin-top: 4.2rem;
        font-size: 1.3rem;
        line-height: 2.6;

        @include respond-to(mobile) {
            margin-top: 28px;
        }
    }

    .button {
        margin-top: 3.2rem;
    }

    .FlatsList {
        padding-top: 4.2rem;
        border-top: 2px solid $light-grey;

        @include respond-to(mobile) {
            margin-top: 32px;
            border: none;
        }
    }

</style>