<template>
    <div :class="$style.Print">
        <PrintPage v-for="offers in offersPack" :key="offers.id" :date="date" :office="office">
            <div :class="$style.MortgagePrint">
                <div :class="$style.content">
                    <h1 :class="$style.title"
                        class="custom-title">
                        <span class="custom-title__origin _m">Ипотека</span>
                        <span class="custom-title__shadow _m">Ипотека</span>
                    </h1>

                    <ul :class="$style.information">
                        <li :class="$style.cell">
                            <p :class="$style.label">Стоимость квартиры</p>
                            <p :class="$style.data">
                                от <span>{{ payment|splitThousands }}</span> руб.
                            </p>
                        </li>
                        <li :class="$style.cell">
                            <p :class="$style.label">Ваш ежемесячный платеж</p>
                            <span :class="$style.data">{{ price }}</span>
                        </li>
                        <li :class="$style.cell">
                            <p :class="$style.label">Первоначальный взнос</p>
                            <span :class="$style.data">{{ deposit }}</span>
                        </li>
                        <li :class="$style.cell">
                            <p :class="$style.label">Срок</p>
                            <span :class="$style.data">{{ minTerm }}</span>
                        </li>
                    </ul>

                    <div :class="$style.offers">
                        <div :class="$style.count">
                            <template v-if="offersCount !== 0">
                                Найдено
                                {{ offersCount }}
                                {{ offersCount|plural(['предложение', 'предложения', 'предложений']) }}
                            </template>
                            <template v-else>Ничего не найдено :(</template>
                        </div>
                    </div>

                    <ul :class="$style.list">
                        <li v-for="offer in offers"
                            :key="offer.node.id"
                            :class="$style.card">
                            <MortgageOfferCard :class-display="!$device.isMobile ? '_row' : '_card'"
                                               class="_pdfCard"
                                               :logo="offer.node.bank.logo"
                                               :is-special="offer.node.special"
                                               :min-rate="offer.node.minRate"
                                               :payment="Math.floor(offer.node.payment)"
                                               :max-term="offer.node.maxTerm"/>
                        </li>
                    </ul>
                </div>
            </div>
        </PrintPage>
    </div>
</template>

<script>
    import PrintPage from '../../../../components/layout/print/PrintPage';
    import MortgageOfferCard from '../../../../components/purchases/mortgage/MortgageOfferCard';
    import allMortgageOffers from '../../../../queries/mortgage/allMortgageOffers.gql';
    import mortgageOffersSpecs from '../../../../queries/mortgage/mortgageOffersSpecs.gql';
    import allOffices from '../../../../queries/allOffices.gql';

    export default {
        layout: 'print',

        components: {
            PrintPage,
            MortgageOfferCard,
        },

        data() {
            return {
                maxDeposit: null,
                price: null,
                minTerm: null,
                date: '',
                offersCount: null,
                office: {},
            };
        },

        computed: {
            deposit() {
                return Math.floor(this.price * (this.maxDeposit / 100)) | this.splitThousands;
            },
        },

        async asyncData({app, query}) {
            await app.$gql.clearStore();

            let officesResponse = await app.$gql.query({
                query: allOffices,
            });

            let offersResponse = await app.$gql.query({
                query: allMortgageOffers,
                variables: {
                    price: query.price,
                    maxDeposit: query.maxDeposit,
                    minTerm: query.minTerm,
                },
            });

            let [
                officesData,
                offersData,
            ] = await Promise.all([
                officesResponse,
                offersResponse,
            ]);

            let offersCount = offersData?.data?.allMortgageOffers?.totalCount ? offersData.data.allMortgageOffers.totalCount : 0;

            let offers = offersData?.data?.allMortgageOffers?.edges?.length ? offersData.data.allMortgageOffers.edges : [];

            let offersPack = [];

            while (offers.length) {
                offersPack.push(offers.splice(0, 7));
            }

            return {
                maxDeposit: query.maxDeposit,
                price: query.price,
                minTerm: query.minTerm,
                payment: query.price,
                date: query.date,
                offersPack: offersPack,
                offersCount: offersCount,
                office: officesData.data.allOffices[0],
            };
        },
    };
</script>

<style lang="scss" module>
    .Print {
        //
    }

    .MortgagePrint {
        margin-bottom: 4rem;
    }

    .title {
        margin-bottom: 17px * $p-diff;
        font-size: 32px * $p-diff;
    }

    .cell {

        &:first-child {

            .data {
                color: $green;
                font-family: $font-primary;
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        &:not(:last-of-type) {
            margin-right: 20px * $p-diff;
        }
    }

    .information {
        display: flex;
        margin-bottom: 24px * $p-diff;

        .label {
            margin-bottom: 1.8rem;
            font-weight: 600;
            font-size: 1.3rem * $p-diff;
            color: $grey;
            line-height: 1.6;
        }

        .payment {
            color: $green;
            font-size: 16px * $p-diff;
            font-family: $font-secondary;
            text-transform: uppercase;
        }
    }

    .data {
        font-size: 20px * $p-diff;
        font-family: $font-secondary;
    }

    .card {
        height: 60px * $p-diff;
        margin-bottom: 4px * $p-diff;
        transition: opacity .5s ease-out, transform .5s ease-out;
    }

    .count {
        margin-bottom: 20px * $p-diff;
        font-weight: 800;
        font-size: 8px * $p-diff;
        text-transform: uppercase;
        color: $grey;
    }
</style>