<template>
    <div :class="[$style.ImageLazy, 'image-lazy']"
         :style="containerStyles">
        <div v-lazy:background-image="origin"
             :class="$style.origin">
        </div>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: 'ImageLazy',

        props: {
            preview: {
                type: String,
                default: '',
            },
            origin: {
                type: [String, Boolean],
                default: '',
            },
        },

        computed: {
            containerStyles() {
                if (!this.preview) return null;

                return {backgroundImage: `url(${this.preview})`};
            },
        },
    };
</script>

<style lang="scss" module>
    .ImageLazy {
        position: relative;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .origin {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0;
        transition: opacity .26s ease;

        &[lazy='loaded'] {
            opacity: 1;
        }
    }
</style>
