<template>
    <div :class="$style.LogoIda">
        <a :class="$style.link"
           href="http://idaproject.com/"
           target="_blank"></a>

        <svg :class="$style.logo"
             x="0px"
             y="0px"
             viewBox="0 0 102 10"
             xmlns="http://www.w3.org/2000/svg"
             xml:space="preserve">

            <g :class="$style.letters">
                <g>
                    <path id="I" d="M3.56407 7.1161V2.4721H4.54807V0.600098H0.45607V2.4721H1.44007V7.1161H0.37207V9.0001H4.63207V7.1161H3.56407Z"/>
                </g>
                <g>
                    <path id="D" d="M11.2359 0.600098H8.06787V9.0001H11.2359C16.7079 8.9761 16.7079 0.624098 11.2359 0.600098ZM10.2159 2.5561H11.2359C13.9119 2.5561 13.9119 7.0441 11.2359 7.0441H10.2159V2.5561Z"/>
                </g>
                <g>
                    <path id="A" d="M24.4082 8.99994H26.5082V8.68794L22.7162 0.491943H21.7922L18.0122 8.68794V8.99994H20.1122L20.6042 7.94394H23.9162L24.4082 8.99994ZM23.2202 6.10794H21.3002L22.2482 3.89994L23.2202 6.10794Z"/>
                </g>
                <g>
                    <path id="P" d="M32.2159 9.0001V6.8521H33.7639C37.7839 6.8521 37.7839 0.612098 33.7639 0.600098C32.5279 0.600098 31.2799 0.600098 30.0679 0.600098C30.0679 3.4081 30.0679 6.2041 30.0679 9.0001C30.7759 9.0001 31.4959 9.0001 32.2159 9.0001ZM33.7519 4.9201H32.2159C32.2159 4.2361 32.2159 3.2041 32.2159 2.5201C32.7079 2.5201 33.2479 2.5081 33.7519 2.5201C34.9999 2.5321 34.9279 4.9201 33.7519 4.9201Z"/>
                </g>
                <g>
                    <path id="R" d="M46.5162 6.0241C48.6402 4.5841 48.0402 0.612098 44.7402 0.600098C43.5162 0.600098 42.2682 0.600098 41.0562 0.600098C41.0562 3.4081 41.0562 6.2041 41.0562 9.0001C41.7522 9.0001 42.4842 9.0001 43.2042 9.0001V6.5281H44.3202L45.7602 9.0001H48.1602V8.6881L46.5162 6.0241ZM44.7402 4.6201H43.2042C43.2042 3.9481 43.2042 3.2041 43.2042 2.5201C43.7082 2.5201 44.2362 2.5081 44.7402 2.5201C45.9642 2.5321 45.9042 4.6201 44.7402 4.6201Z"/>
                </g>
                <g>
                    <path id="O" d="M60.1678 4.81206C60.1678 -0.995945 51.5518 -0.995945 51.5518 4.81206C51.5518 10.6321 60.1678 10.6321 60.1678 4.81206ZM53.7598 4.81206C53.7598 1.78805 57.9718 1.78805 57.9718 4.81206C57.9718 7.86005 53.7598 7.86005 53.7598 4.81206Z"/>
                </g>
                <g>
                    <path id="J" d="M69.9358 0.600098H66.5158C66.5158 1.2241 66.5158 1.8481 66.5158 2.5081H67.7398V6.1681C67.7398 6.8401 67.3198 7.1761 66.6958 7.1761C66.0718 7.1761 65.5798 6.8281 65.5798 6.1681V5.1121C64.9078 5.1121 64.2118 5.1121 63.5518 5.1121V6.2041C63.5518 8.0401 64.9678 9.0961 66.6958 9.0961C68.4238 9.0961 69.9358 8.0401 69.9358 6.2041V0.600098Z"/>
                </g>
                <g>
                    <path id="E" d="M79.3119 0.600098C77.3439 0.600098 76.0119 0.600098 74.0679 0.600098C74.0679 3.3841 74.0679 6.1921 74.0679 9.0001C76.0119 9.0001 77.4519 9.0001 79.4199 9.0001C79.4199 8.3641 79.4199 7.7161 79.4199 7.0921C78.1599 7.0921 77.4399 7.0921 76.2039 7.0921C76.2039 6.5881 76.2039 6.1081 76.2039 5.6161H79.0599C79.0599 4.9801 79.0599 4.3441 79.0599 3.7081H76.2039V2.5201C77.4399 2.5201 78.0639 2.5201 79.3119 2.5201C79.3119 1.8721 79.3119 1.2241 79.3119 0.600098Z"/>
                </g>
                <g>
                    <path id="C" d="M83.564 4.79991C83.576 7.65591 85.736 9.09591 87.872 9.08391C89.66 9.08391 91.544 8.14791 91.856 5.77191C91.124 5.77191 90.464 5.77191 89.744 5.77191C89.516 6.67191 88.784 7.12791 87.872 7.12791C86.6 7.11591 85.784 6.03591 85.784 4.79991C85.784 3.40791 86.612 2.45991 87.872 2.45991C88.772 2.45991 89.408 2.84391 89.708 3.69591C90.44 3.69591 91.088 3.69591 91.82 3.69591C91.496 1.45191 89.612 0.503906 87.872 0.503906C85.736 0.503906 83.576 1.94391 83.564 4.79991Z" />
                </g>
                <g>
                    <path id="T" d="M97.3042 2.5201V9.0001C98.0122 9.0001 98.7202 9.0001 99.4282 9.0001V2.5201H101.48C101.48 1.8721 101.48 1.2361 101.48 0.600098H95.2402C95.2402 1.2361 95.2402 1.8721 95.2402 2.5201H97.3042Z" />
                </g>
            </g>

            <g :class="[$style.letters, $style._after]">
                <g>
                    <path id="i" d="M3.56407 7.1161V2.4721H4.54807V0.600098H0.45607V2.4721H1.44007V7.1161H0.37207V9.0001H4.63207V7.1161H3.56407Z"/>
                </g>
                <g>
                    <path id="d" d="M11.2359 0.600098H8.06787V9.0001H11.2359C16.7079 8.9761 16.7079 0.624098 11.2359 0.600098ZM10.2159 2.5561H11.2359C13.9119 2.5561 13.9119 7.0441 11.2359 7.0441H10.2159V2.5561Z"/>
                </g>
                <g>
                    <path id="a" d="M24.4082 8.99994H26.5082V8.68794L22.7162 0.491943H21.7922L18.0122 8.68794V8.99994H20.1122L20.6042 7.94394H23.9162L24.4082 8.99994ZM23.2202 6.10794H21.3002L22.2482 3.89994L23.2202 6.10794Z"/>
                </g>
                <g>
                    <path id="p" d="M32.2159 9.0001V6.8521H33.7639C37.7839 6.8521 37.7839 0.612098 33.7639 0.600098C32.5279 0.600098 31.2799 0.600098 30.0679 0.600098C30.0679 3.4081 30.0679 6.2041 30.0679 9.0001C30.7759 9.0001 31.4959 9.0001 32.2159 9.0001ZM33.7519 4.9201H32.2159C32.2159 4.2361 32.2159 3.2041 32.2159 2.5201C32.7079 2.5201 33.2479 2.5081 33.7519 2.5201C34.9999 2.5321 34.9279 4.9201 33.7519 4.9201Z"/>
                </g>
                <g>
                    <path id="r" d="M46.5162 6.0241C48.6402 4.5841 48.0402 0.612098 44.7402 0.600098C43.5162 0.600098 42.2682 0.600098 41.0562 0.600098C41.0562 3.4081 41.0562 6.2041 41.0562 9.0001C41.7522 9.0001 42.4842 9.0001 43.2042 9.0001V6.5281H44.3202L45.7602 9.0001H48.1602V8.6881L46.5162 6.0241ZM44.7402 4.6201H43.2042C43.2042 3.9481 43.2042 3.2041 43.2042 2.5201C43.7082 2.5201 44.2362 2.5081 44.7402 2.5201C45.9642 2.5321 45.9042 4.6201 44.7402 4.6201Z"/>
                </g>
                <g>
                    <path id="o" d="M60.1678 4.81206C60.1678 -0.995945 51.5518 -0.995945 51.5518 4.81206C51.5518 10.6321 60.1678 10.6321 60.1678 4.81206ZM53.7598 4.81206C53.7598 1.78805 57.9718 1.78805 57.9718 4.81206C57.9718 7.86005 53.7598 7.86005 53.7598 4.81206Z"/>
                </g>
                <g>
                    <path id="j" d="M69.9358 0.600098H66.5158C66.5158 1.2241 66.5158 1.8481 66.5158 2.5081H67.7398V6.1681C67.7398 6.8401 67.3198 7.1761 66.6958 7.1761C66.0718 7.1761 65.5798 6.8281 65.5798 6.1681V5.1121C64.9078 5.1121 64.2118 5.1121 63.5518 5.1121V6.2041C63.5518 8.0401 64.9678 9.0961 66.6958 9.0961C68.4238 9.0961 69.9358 8.0401 69.9358 6.2041V0.600098Z"/>
                </g>
                <g>
                    <path id="e" d="M79.3119 0.600098C77.3439 0.600098 76.0119 0.600098 74.0679 0.600098C74.0679 3.3841 74.0679 6.1921 74.0679 9.0001C76.0119 9.0001 77.4519 9.0001 79.4199 9.0001C79.4199 8.3641 79.4199 7.7161 79.4199 7.0921C78.1599 7.0921 77.4399 7.0921 76.2039 7.0921C76.2039 6.5881 76.2039 6.1081 76.2039 5.6161H79.0599C79.0599 4.9801 79.0599 4.3441 79.0599 3.7081H76.2039V2.5201C77.4399 2.5201 78.0639 2.5201 79.3119 2.5201C79.3119 1.8721 79.3119 1.2241 79.3119 0.600098Z"/>
                </g>
                <g>
                    <path id="c" d="M83.564 4.79991C83.576 7.65591 85.736 9.09591 87.872 9.08391C89.66 9.08391 91.544 8.14791 91.856 5.77191C91.124 5.77191 90.464 5.77191 89.744 5.77191C89.516 6.67191 88.784 7.12791 87.872 7.12791C86.6 7.11591 85.784 6.03591 85.784 4.79991C85.784 3.40791 86.612 2.45991 87.872 2.45991C88.772 2.45991 89.408 2.84391 89.708 3.69591C90.44 3.69591 91.088 3.69591 91.82 3.69591C91.496 1.45191 89.612 0.503906 87.872 0.503906C85.736 0.503906 83.576 1.94391 83.564 4.79991Z" />
                </g>
                <g>
                    <path id="t" d="M97.3042 2.5201V9.0001C98.0122 9.0001 98.7202 9.0001 99.4282 9.0001V2.5201H101.48C101.48 1.8721 101.48 1.2361 101.48 0.600098H95.2402C95.2402 1.2361 95.2402 1.8721 95.2402 2.5201H97.3042Z" />
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
    export default {
        name: 'LogoIda',
    };
</script>

<style module lang="scss">
    .LogoIda {
        position: relative;
    }

    .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        &:hover + svg {

            .letters {

                & > g {
                    transform: translateY(-8px);
                    opacity: 0;

                    @for $i from 1 through 10 {

                        &:nth-child(#{$i}) {
                            transition-delay: #{$i * .1s};
                        }
                    }
                }

                &._after {

                    & > g {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .logo {
        display: block;
        width: 10rem;
        height: 1rem;
        fill: $orange;
    }

    .letters {

        & > g {
            transition: transform .4s ease, opacity .4s ease;
        }

        &._after {

            & > g {
                transform: translateY(8px);
                opacity: 0;
            }
        }
    }

</style>
