<template>
    <transition name="overlay-appear">
        <div :class="$style.Preloader">
            <div :class="$style.roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: 'Preloader'
    };
</script>

<style lang="scss" module>
    .Preloader {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .7);
        overflow: hidden;
    }

    .roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .roller div {
        animation: roller 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
        box-shadow: 0 4px 24px rgba($orange, .25);
        transform-origin: 40px 40px;
    }

    .roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $orange;
        margin: -4px 0 0 -4px;
    }

    .roller div:nth-child(1) {
        animation-delay: -.036s;
    }

    .roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }

    .roller div:nth-child(2) {
        animation-delay: -.072s;
    }

    .roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }

    .roller div:nth-child(3) {
        animation-delay: -.108s;
    }

    .roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }

    .roller div:nth-child(4) {
        animation-delay: -.144s;
    }

    .roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }

    .roller div:nth-child(5) {
        animation-delay: -.18s;
    }

    .roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }

    .roller div:nth-child(6) {
        animation-delay: -.216s;
    }

    .roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }

    .roller div:nth-child(7) {
        animation-delay: -.252s;
    }

    .roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }

    .roller div:nth-child(8) {
        animation-delay: -.288s;
    }

    .roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }

    @keyframes roller {

        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>