<template>
    <div>
        <ul :class="$style.Share">

            <!-- WhatsApp -->
            <li>
                <a :href="`https://wa.me/?text=${encodeURI(url)}`"
                   target="_blank"
                   :class="$style.item"
                   @click.stop>
                    <svg viewBox="0 0 40 40"
                         :class="[$style.icon, '_whatsapp']">
                        <use xlink:href="#icon-whatsapp"></use>
                    </svg>
                </a>
            </li>

            <!-- Telegram -->
            <li>
                <a :href=" `https://telegram.me/share/url?url=${encodeURI(url)}&text=${URITitle}`"
                   target="_blank"
                   :class="$style.item"
                   @click.stop>
                    <svg viewBox="0 0 40 40"
                         :class="[$style.icon, '_telegram']">
                        <use xlink:href="#icon-telegram"></use>
                    </svg>
                </a>
            </li>

            <!-- Email -->
            <li>
                <a :href="`mailto:?subject=${URITitle}&body=${encodeURI(url)}`"
                   :class="$style.item"
                   @click.stop>
                    <svg viewBox="0 0 40 40"
                         :class="[$style.icon, '_email']">
                        <use xlink:href="#icon-email"></use>
                    </svg>
                </a>
            </li>

            <!-- Copy -->
            <li>
                <a :href="url"
                   :class="[$style.item, $style._copycontainer]"
                   @click.prevent.stop="onCopyLinkCkick">
                    <svg viewBox="0 0 40 40"
                         :class="[$style.icon, '_copylink']">
                        <use xlink:href="#icon-copylink"></use>
                    </svg>
                    <span v-show="isCopied">ссылка скопирована</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'Share',
        props: {
            title: {
                type: String,
                default: 'С Вами поделились ссылкой',
            },
            url: {
                type: String,
                default: '',
            },
            page: {
                type: String,
                default: 'favourites',
            },
        },

        data() {
            return {
                isCopied: false,
            };
        },

        computed: {
            URITitle() {
                return encodeURIComponent(this.title);
            },
        },

        methods: {
            onCopyLinkCkick() {
                let copytext = document.createElement('input');
                copytext.value = this.url;
                document.body.appendChild(copytext);
                copytext.select();
                document.execCommand('copy');
                document.body.removeChild(copytext);
                this.isCopied = true;
                setTimeout(() => {
                    this.isCopied = false;
                }, 1000);
            },
        },
    };
</script>

<style lang="scss" module>
    .Share {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        display: block;
        width: 4rem;
        height: 4rem;
        fill: $light-grey;
        transition: fill .3s ease-out;
    }

    .iconActionPage {
        width: 1.5rem;
        height: 1.5rem;
    }

    .item {
        display: block;
        width: 100%;
        height: 100%;

        &:hover {

            & > .icon {
                transition: fill .3s ease-out;

                &:global(._whatsapp) {
                    fill: $green;
                }

                &:global(._telegram) {
                    fill: #37a9dd;
                }

                &:global(._email) {
                    fill: #000080;
                }

                &:global(._copylink) {
                    fill: $grey;
                }
            }
        }
    }

    ._copycontainer {
        position: relative;

        &:global > span {
            position: absolute;
            top: -20px;
            left: 0;
            white-space: nowrap;
            font-size: 1rem;
            line-height: 1;
            color: $green;
        }
    }
</style>
