<template>
    <form action="#"
          method="post"
          :class="[$style.TheForm,{_vertical: isModalForm}]"
          @submit.prevent="$emit('form-submit', $event)">
        <div v-for="(input, index) in list"
             :key="index"
             :class="[$style.input, `_${input.name}`]">
            <UiInput
                :type="input.type"
                :placeholder="input.placeholder"
                :name="input.name"
                :is-require="input.isRequire"
                :is-form-success="formSuccess"
                :is-phone-mask="input.isPhoneMask"
                :mask-pattern="input.maskPattern"
                :label-title="input.labelTitle"
                :value="input.initialValue"
                :error="getInputError(input.name)"
                @input="$emit('input', $event)"
                @change="$emit('change', $event)"
            />
        </div>

        <UiButton
            type="submit"
            :label="buttonLabel"
            :form-success="formSuccess"
            :class="$style.button"
            :prevent-click="false"
        />
        <p :class="$style.agreement">Нажимая на кнопку, вы подтверждаете, что согласны с
            <n-link to="/policy/"
                    target="_blank">
                Политикой обработки данных
            </n-link>
        </p>
    </form>
</template>

<script>
    import UiButton from '../ui/UiButton';
    import UiInput from '../ui/UiInput';


    export default {
        name: 'TheForm',
        components: {
            UiInput,
            UiButton,
        },
        props: {
            buttonText: {
                type: String,
                default: '',
            },
            list: {
                type: Array,
                default() {
                    return [];
                },
            },
            errors: {
                type: Array,
                default() {
                    return [];
                },
            },
            isModalForm: {
                type: Boolean,
                default: false,
            },

            formSuccess: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            buttonLabel() {
                return this.formSuccess ? 'Успешно' : this.buttonText;
            },
        },

        methods: {
            getInputError(inputName) {
                if (!this.errors || !this.errors.length) return {};

                const error = this.errors.filter(err => err.field === inputName);
                return error && error.length ? error[0] : {};
            },
        },
    };
</script>

<style lang="scss" module>
    .TheForm {
        display: flex;
        flex-wrap: wrap;

        &:global(._vertical) {
            flex-direction: column;

            .button {
                margin: 5.2rem auto 0;
            }

            .input {
                margin: 0;
                max-width: 100%;

                &:not(:first-of-type) {
                    margin-top: 4.2rem;

                    @include respond-to(mobile) {
                        margin-top: 28px;
                    }
                }
            }
        }
    }

    .input {
        width: 100%;
        margin-right: 2.4rem;

        &:global(._phone) {
            max-width: 22.1rem;
        }

        &:global(._name) {
            max-width: 24.3rem;
        }

        &:global(._email) {
            width: 47.7rem;
        }

        @include respond-to(mobile) {
            margin-right: 0;

            &:global(._phone) {
                max-width: 100%;
                margin-bottom: 2.7rem;
            }

            &:global(._name) {
                max-width: 100%;
            }

            &:global(._email) {
                width: 100%;
            }
        }
    }

    .button {
        margin-left: auto;

        @include respond-to(mobile) {
            width: 100%;
            margin-top: 32px;
            margin-left: 0;
        }

        @include respond-to(mobile) {
            font-size: 18px;
        }
    }

    .agreement {
        margin-top: 2.5rem;
        font-size: 1.3rem;
        line-height: 1.6;
        color: $black;
        opacity: .5;

        & a {
            position: relative;
            color: $orange;
            text-decoration: underline;
        }

        @include respond-to(mobile) {
            margin-top: 16px;
        }
    }
</style>`