<template>
    <transition name="overlay-appear">
        <div v-if="visibility.overlay"
             :class="$style.overlay"
             :style="[visibility.overlay && !isFullscreen ? {overflowY: 'auto'}: '']">

            <div :class="$style.wrap"
                 @click.self="onClose">
                <transition name="content-appear"
                            appear>
                    <div v-if="visibility.content"
                         :class="[$style.content, {_small: !isFullscreen}]">
                        <button type="button"
                                :class="['btn-reset',$style.close, {_orange: isFullscreen}]"
                                aria-label="закрыть модальное окно"
                                @click.prevent="onClose">
                        </button>
                        <component :is="component"
                                   :data="data">
                        </component>
                    </div>
                </transition>
            </div>
        </div>
    </transition>
</template>

<script>
    import Callback from './formBlocks/Callback';
    import LayoutZoom from '../commercial/LayoutZoom';
    import ModalMap from './Map/ModalMap';
    import WebcamModal from './WebcamModal';

    export default {
        components: {
            Callback,
            ModalMap,
            LayoutZoom,
            WebcamModal
        },

        data() {
            return {
                visibility: {
                    content: false,
                    overlay: false,
                },
                component: null,
                data: null,
                isActive: false,
                isFullscreen: false,
                className: 'contentFull',
            };
        },

        watch: {
            $route() {
                this.onClose();
            },
        },

        beforeMount() {
            this.$modal.event.$on('open', this.onOpen);
            this.$modal.event.$on('close', this.onClose);
        },

        beforeDestroy() {
            this.$modal.event.$off('open', this.onOpen);
            this.$modal.event.$off('close', this.onClose);
        },

        methods: {
            onOpen(name, data) {
                if (!this.isActive) {
                    this.visibility.overlay = true;
                    this.isActive = true;

                    let scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;
                    document.body.style.paddingRight = `${scrollbarWidth}px`;
                    document.body.style.height = '100%';
                    document.body.style.overflow = 'hidden';
                    document.documentElement.style.height = '100%';
                }

                let delay = 0;
                if (this.component) {
                    this.visibility.content = false;
                    delay = 300;
                }

                if (data?.isFullScreen) {
                    this.isFullscreen = true;
                }

                setTimeout(() => {
                    this.component = name;
                    this.visibility.content = true;
                    this.data = data ? Object.assign({}, data) : null;
                }, delay);
            },

            onClose() {
                this.isActive = false;
                this.visibility.content = false;
                this.visibility.overlay = false;
                this.isFullscreen = false;
                this.component = null;
                this.data = null;

                setTimeout(() => {
                    document.documentElement.style.height = '';
                    document.body.style.height = '';
                    document.body.style.overflow = '';
                    document.body.style.paddingRight = '';
                }, 200);
            },
        },
    };
</script>

<style lang="scss" module>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        height: 100%;

        @include respond-to(s-mobile) {
            display: block;
            height: 100%;
        }
    }

    .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;

        &:global(._small) {
            width: 51.1rem;
            height: auto;

            @include respond-to(s-mobile) {
                display: flex;
                align-items: stretch;
                width: 100vw;
                height: 100%;
            }
        }

        @include respond-to(s-mobile) {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
        }
    }

    .contentWrap {
        position: relative;
    }

    .close {
        position: absolute;
        top: 3.2rem;
        right: 4.2rem;
        z-index: 2;
        height: 5.2rem;
        width: 4.2rem;
        background-color: $light-grey;

        &:hover,
        &:focus,
        &:active {
            opacity: .8;
        }

        @include respond-to(s-mobile) {
            top: 24px;
            right: $mobile-padding;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1.5rem;
            border-bottom: 2px solid $black;
        }

        &:before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:global(._orange) {
            right: 8rem;
            background-color: $orange;
            box-shadow: $box-shadow;

            @include respond-to(s-mobile) {
                right: $mobile-padding;
            }

            &:before,
            &:after {
                border-color: $white;
            }
        }
    }
</style>