<template>
    <svg :class="$style.TheSprite"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">

        <SpLogo/>

        <ConstructionArrowBottom/>
        <ConstructionArrowTop/>
        <IconDecorArrowTop/>
        <IconDecorArrowBottom/>

        <IconLoop/>
        <IconGenplan/>
        <IconPhone/>
        <IconPdf/>
        <IconQuote/>
        <IconClose/>
        <IconCheckMark/>
        <IconFavorite/>

        <IconVisual/>
        <IconFilter/>
        <IconArrow/>
        <IconTriangle/>

        <IconPin/>

        <IconEye/>
        <IconCombine/>
        <IconFlatFacing/>
        <IconFacing/>

        <IconYoutube/>
        <IconEmail/>
        <IconWhatsapp/>
        <IconTelegram/>
        <IconCopylink/>
        <IconShared/>
    </svg>
</template>

<script>

    import IconPhone from './SpriteSet/IconPhone';
    import IconGenplan from './SpriteSet/IconGenplan';
    import IconLoop from './SpriteSet/IconLoop';
    import IconDecorArrowTop from './SpriteSet/IconDecorArrowTop';
    import ConstructionArrowTop from './SpriteSet/ConstructionArrowTop';
    import ConstructionArrowBottom from './SpriteSet/ConstructionArrowBottom';
    import IconPdf from './SpriteSet/IconPdf';
    import IconQuote from './SpriteSet/IconQuote';
    import IconYoutube from './SpriteSet/IconYoutube';
    import IconEmail from './SpriteSet/IconEmail';
    import IconWhatsapp from './SpriteSet/IconWhatsapp';
    import IconTelegram from './SpriteSet/IconTelegram';
    import IconCopylink from './SpriteSet/IconCopylink';
    import IconEye from './SpriteSet/IconEye';
    import IconCombine from './SpriteSet/IconCombine';
    import IconShared from './SpriteSet/IconShared';
    import SpLogo from './SpriteSet/SpLogo';
    import IconClose from './SpriteSet/IconClose';
    import IconFlatFacing from './SpriteSet/IconFlatFacing';
    import IconCheckMark from './SpriteSet/IconCheckMark';
    import IconFacing from './SpriteSet/IconFacing';
    import IconFavorite from './SpriteSet/IconFavorite';
    import IconVisual from './SpriteSet/IconVisual';
    import IconFilter from './SpriteSet/IconFilter';
    import IconArrow from './SpriteSet/IconArrow';
    import IconTriangle from './SpriteSet/IconTriangle';
    import IconPin from './SpriteSet/IconPin';
    import IconDecorArrowBottom from './SpriteSet/IconDecorArrowBottom';

    export default {
        name: 'TheSprite',
        components: {
            IconDecorArrowBottom,
            IconPin,
            IconTriangle,
            IconArrow,
            IconFilter,
            IconVisual,
            IconFavorite,
            IconFacing,
            IconCheckMark,
            IconFlatFacing,
            IconClose,
            SpLogo,
            IconShared,
            IconCombine,
            IconEye,
            IconCopylink,
            IconTelegram,
            IconWhatsapp,
            IconEmail,
            IconYoutube,
            IconQuote,
            IconPdf,
            ConstructionArrowBottom,
            ConstructionArrowTop,
            IconDecorArrowTop,
            IconLoop,
            IconGenplan,
            IconPhone,
        },
    };
</script>
<style lang="scss" module>
    .TheSprite {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
    }
</style>