<template>
    <section :class="$style.WebcamModal">
        <div>
            <iframe :class="$style.video"
                    src="https://open.ivideon.com/embed/v2/?server=100-ErgtwGpzg3HhYQTuOgVGoL&amp;camera=0&amp;width=&amp;height=&amp;lang=ru"
                    frameborder="0" allowfullscreen>
            </iframe>
        </div>
    </section>
</template>

<script>

    export default {
        name: 'WebcamModal',
        components: {
           //
        },
        props: {
            data: {
                type: Object,
                default: () => {
                },
            },
        },

        data() {
            return {
                //
            };
        },
        computed: {
            title() {
                return this.data && this.data.title ? this.data.title : 'Заказать звонок';
            },
        },

        methods: {

            oninputChange() {
                this.formErrors = [];
            },
        },
    };
</script>

<style lang="scss" module>
    .WebcamModal {
        width: 75rem;
        padding: .5rem .7rem;
        background: $white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

        @include respond-to(mobile) {
            width: 100%;
            padding: .1rem .3rem;
            margin: 2rem;
        }
    }

    .video {
        width: 100%;
        height: 42rem;
        transform: translateY(.2rem);

        @include respond-to(mobile) {
            height: 22rem;
        }
    }
</style>
