<template>
    <div :class="$style.Contacts">
        <div class="main-container" :class="$style.mainContainer">
            <div class="offset-page" :class="$style.offsetPage">
                <h1 :class="$style.title" class="custom-title">
                    <span class="custom-title__origin">Контакты</span>
                    <span class="custom-title__shadow">Контакты</span>
                </h1>
                <div :class="$style.container">
                    <div :class="$style.informationButtons">
                        <button
                            :class="[$style.dataButton, {[$style.active]: informationToShow === 'data'}]"
                            @click="tabInfotmation('data')">
                            Данные
                        </button>
                        <button
                            :class="[$style.navigationButton, {[$style.active]: informationToShow === 'navigation'}]"
                            @click="tabInfotmation('navigation')">
                            Как добраться
                        </button>
                    </div>

                    <div :class="$style.information">
                        <transition name="fade" mode="out-in">
                            <Data v-if="informationToShow === 'data'" :office="office"/>
                            <div v-else :class="$style.Navigation">
                                <ul :class="$style.navigationContainer">
                                    <li v-for="stationSet in office.officestationSet"
                                        :key="stationSet.name"
                                        :class="$style.route">
                                    <span :style="{backgroundColor: stationSet.color}"
                                          :class="$style.subwayIcon"></span>
                                        <p :class="$style.subway">{{ stationSet.name }}</p>
                                        <div :class="$style.description"
                                             v-html="stationSet.description"></div>
                                    </li>
                                </ul>

                                <div v-if="office.locationMap"
                                    :class="$style.downloadContainer">
                                    <a target="_blank"
                                       download
                                       :href="office.locationMap"
                                       :class="$style.download">Скачать схему проезда</a>
                                </div>
                            </div>
                        </transition>
                    </div>
                </div>
                <a target="_blank"
                   :href="`https://yandex.ru/maps/213/moscow/?ll=${office.latitude}%2C${office.longitude}&mode=routes&rtext=~${office.longitude}%2C${office.latitude}&z=17`"
                   :class="$style.getDirectionContainer">
                    <span :class="$style.getDirection">
                        Проложить маршрут
                    </span>
                </a>
            </div>

            <div :class="$style.mapContainer">
                <ContactMap :latitude="office.latitude" :longitude="office.longitude"/>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';

    import ContactMap from '../../components/contacts/ContactMap';
    import Data from '../../components/contacts/Data';
    import allOffices from '../../queries/allOffices.gql';

    export default {
        name: 'PageContacts',
        components: {
            Data,
            ContactMap,
        },

        data() {
            return {
                informationToShow: 'data',
                office: {},
            };
        },

        async asyncData({ app, store, query }) {
            await app.$gql.clearStore();

            try {
                let officesResponse = await app.$gql.query({
                    query: allOffices,
                });

                return {
                    office: officesResponse.data.allOffices[0],
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({ store }) {
            store.dispatch('menu/CHANGE_COLOR_DEFAULT');
        },

        mounted() {
            this.$store.dispatch('footer/SET_HIDDEN', true);
        },

        beforeDestroy() {
            this.setHiddenFooter(false);
        },

        methods: {
            ...mapActions({
                setHiddenFooter: 'footer/SET_HIDDEN'
            }),
            tabInfotmation(information) {
                this.informationToShow = information;
            },
        },
    }
    ;
</script>

<style lang="scss" module>
    .Contacts {
        overflow: hidden;

        @include respond-to(mobile) {
            padding-bottom: 3.5rem;
        }

        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .mainContainer {
        display: flex;

        @include respond-to(s-tablet) {
            flex-direction: column;
        }

        @include respond-to(xxl) {
            width: 1440px;
        }
    }

    .offsetPage {
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding-right: 4.7rem;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        @include respond-to(s-tablet) {
            height: auto;
            padding-right: $s-tablet-padding;
            overflow: visible;
        }

        @include respond-to(s-mobile) {
            padding-right: $mobile-padding;
        }

        @include respond-to(xxl) {
            padding-left: 8.5rem;
        }
    }

    .title {
        margin-bottom: 4.8rem;

        @include respond-to(mobile) {
            margin-bottom: 2.7rem;
        }
    }

    .information {
        margin-top: 2.8rem;
        margin-bottom: 12rem;

        @include respond-to(mobile) {
            margin-top: 2rem;
            margin-bottom: 1.2rem;
        }
    }

    .dataButton {
        margin-right: 3.2rem;
        padding: 0;
        font: 2rem $font-secondary;
        border: none;
        cursor: pointer;
        background: none;

        &:hover {
            color: $orange;
        }

        @include respond-to(mobile) {
            margin-right: 4.2rem;
            font-size: 1.8rem;
        }
    }

    .navigationButton {
        padding: 0;
        font: 2rem $font-secondary;
        border: none;
        cursor: pointer;
        background: none;

        &:hover {
            color: $orange;
        }

        @include respond-to(mobile) {
            font-size: 1.8rem;
        }
    }

    .active {
        color: $orange;
    }

    .mapContainer {
        width: 51rem;
        height: 100vh;
        overflow: hidden;

        @include respond-to(s-tablet) {
            width: 100%;
            height: 100%;
            padding-left: 34rem;
        }

        @include respond-to(mobile) {
            padding-left: 0;
        }
    }

    .container {
        width: 38rem;

        @include respond-to(s-tablet) {
            width: fit-content;
        }
    }

    .navigationContainer {
        width: 38rem;

        @include respond-to(s-tablet) {
            width: fit-content;
            margin-bottom: 3rem;
        }
    }

    .getDirection {
        position: relative;
        z-index: 1;
        color: white;
        cursor: pointer;
        font: 2.8rem $font-secondary;
        text-transform: uppercase;

        @include respond-to(mobile) {
            font: 1.8rem $font-secondary;
        }
    }

    .getDirectionContainer {
        position: relative;
        display: flex;
        margin-top: auto;
        margin-bottom: 7.5rem;
        transform: translateX(0);
        transition: transform .3s;

        &:hover {
            transform: translateX(-2rem);

            @include respond-to(mobile) {
                transform: none;
            }
        }

        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -12.3rem;
            left: -16.5rem;
            width: 54rem;
            height: 20rem;
            background: url("../../static/images/contacts/contacts-bg-button.svg") no-repeat;
            background-size: cover;
            cursor: pointer;

            @include respond-to(mobile) {
                top: -8.5rem;
                left: -11rem;
                width: 37rem;
                height: 12rem;
            }
        }

        @include respond-to(mobile) {
            top: 50rem;
            left: 3rem;
            z-index: 2;
            width: fit-content;
            margin-bottom: 0;
        }
    }

    .subway {
        position: relative;
        margin-bottom: 1.2rem;
        padding-left: 2rem;
        color: $grey;
        font-weight: 600;
    }

    .subwayIcon {
        position: absolute;
        left: 0;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 100%;
    }

    .description {
        color: #413a3c;
        line-height: 160%;
    }

    .download {
        position: relative;
        display: inline-block;
        margin-top: 2.4rem;
        margin-left: 3.2rem;
        color: $orange;
        font: 1.4rem $font-secondary;
        text-transform: uppercase;

        &:hover {
            user-select: none;
            cursor: pointer;
        }

        &:before {
            content: '';
            position: absolute;
            top: -1rem;
            left: -3.2rem;
            width: 2.5rem;
            height: 3.3rem;
            background: url('../../static/images/contacts/icon-download.svg') no-repeat;
            background-size: cover;
        }

        @include respond-to(mobile) {
            margin-top: 0;
            margin-bottom: .8rem;
        }
    }

    .route {
        position: relative;
        margin-bottom: 1.6rem;
    }
</style>