<template>
    <footer
        :class="[$style.TheFooter, { [$style._hidden]: hidden, _fixed: menuOpened, _black: !$device.isMobile && footerBackgroundColor === 'black'}]">
        <div :class="[$style.wrap, {_black: !$device.isMobile && footerBackgroundColor === 'black'}]">
            <p :class="$style.copyright">РосЕвроСити &copy; 2007 - {{ currentYear }}</p>
            <n-link :class="$style.link"
                    to="/policy/">
                Политика конфиденциальности
            </n-link>
            <n-link :class="$style.link"
                    to="/documents/">
                Документы
            </n-link>
            <div :class="$style.idaproject">
                <div :class="$style.brandWrap">
                    <h3 :class="$style.brand">
                        Сайт разработали -
                    </h3>
                    <LogoIda id="LogoIda"/>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import LogoIda from '../common/LogoIda';
    import {mapGetters, mapState} from 'vuex';

    export default {
        name: 'TheFooter',

        components: {
            LogoIda,
        },

        data() {
            return {
                page: this.$store.state.footer.page,
            };
        },

        computed: {
            currentYear() {
                return new Date().getFullYear();
            },

            ...mapState({
                menuOpened: state => state.menu.menuOpened,
            }),

            ...mapGetters('footer', {
                hidden: 'hidden',
                footerBackgroundColor: 'backgroundColor'
            }),
        },
    };
</script>

<style lang="scss" module>
    .TheFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-right: 8.5rem;
        padding-left: 42.6rem;
        font-size: 1.3rem;
        line-height: 2;
        color: rgba($black, .5);

        &:global(._black) {
            padding-left: 34rem;
            padding-right: 0;
            background-color: $black;

            @include respond-to(mobile) {
                padding: 0 $s-tablet-padding;
                background-color: transparent;
            }
        }

        @include respond-to(mobile) {
            padding: 0 $s-tablet-padding;

            &:global(._fixed) {
                position: fixed;
                z-index: 12;
                bottom: 0;
                left: 0;
                width: 100%;
                animation: opacity 1.5s ease-in-out;
            }
        }

        @include respond-to(s-mobile) {
            padding: 0 $mobile-padding;
        }
    }

    .wrap {
        display: flex;
        width: 100%;
        padding: 6.2rem 0 7rem;

        &:global(._black) {
            padding: 6.2rem 8.5rem 7rem;
            background-color: #fff;

            @include respond-to(mobile) {
                padding: 14px 0;
            }
        }

        @include respond-to(mobile) {
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 14px 0;
        }
    }

    .copyright {
        @include respond-to(mobile) {
            width: 50%;
            text-align: left;
            white-space: nowrap;
        }
    }

    .link {
        display: inline-block;
        margin-left: 4.2rem;
        color: $orange;
        transition: color .5s $easing;

        @include respond-to(mobile) {
            order: 2;
            margin: 10px 0 0;

            &:last-of-type {
                margin-left: auto;
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: $black;
            transition: color .5s $easing;
        }
    }

    .brand {
        margin-right: 5px;
        font-size: 1.3rem;
        line-height: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .idaproject {
        margin-left: auto;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        opacity: 0;
        pointer-events: none;

        @include respond-to(mobile) {
            width: 50%;
            justify-content: flex-end;
        }
    }

    .brandWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ._hidden {
        display: none;

        @include respond-to(mobile) {
            display: block;
        }
    }

    @keyframes opacity {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
</style>
