<template>
    <div :class="[$style.TheHeader, color, {_scroll: isScrolled && !menuOpened}]">
        <a href="/">
            <svg :class="$style.logo">
                <use xlink:href="#sp-logo"></use>
            </svg>
        </a>
        <button type="button"
                :class="['btn-reset', $style.hamburger, {_active: menuOpened}]"
                @click.prevent="onToggleMenu">

            <!--TheHeaderHamburger-->
            <TheHeaderHamburger :class="$style.TheHeaderHamburger"
                                :color="color"
                                :is-active="menuOpened"/>
        </button>
        <a :class="$style.phone" :href="`tel:${phone}`">
            <svg>
                <use xlink:href="#icon-phone"></use>
            </svg>
        </a>
    </div>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    // components
    import TheHeaderHamburger from './TheHeader/TheHeaderHamburger';

    export default {
        name: 'TheHeader',

        components: { TheHeaderHamburger },

        data() {
            return {
                phone: '+7 495 268-06-60',
                isScrolled: false,
            };
        },

        computed: {
            ...mapState({
                headerColor: state => state.header.color,
                menuOpened: state => state.menu.menuOpened,
            }),

            color() {
                return this.menuOpened || this.isScrolled || this.headerColor === '_black' ? '_black' : '_white';
            }
        },

        mounted() {
            window.addEventListener('scroll', this.checkScroll);
        },

        beforeDestroy() {
            window.removeEventListener('scroll', this.checkScroll);
        },


        methods: {
            ...mapMutations({
                toggleMenu: 'menu/TOGGLE_MENU'
            }),

            onToggleMenu() {
                this.toggleMenu();
            },

            checkScroll() {
                const isScrolled = window.pageYOffset > 5;

                if (this.isScrolled === isScrolled) return;
                this.isScrolled = isScrolled;
            },
        }
    };
</script>

<style lang="scss" module>
    $shake: cubic-bezier(.36, .07, .19, .97);

    .TheHeader {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        padding: $mobile-padding $s-tablet-padding;

        @include respond-to(s-mobile) {
            padding: $mobile-padding;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform-origin: 50% 0;
            transform: scaleY(0);
            opacity: 0;
            transition: transform .6s $easing .6s, opacity .6s $easing .6s;
        }

        &:global(._black) {

            .logo {
                fill: $black;
            }

            &:after {
                background-color: $white;
            }
        }

        &:global(._white) {

            .logo {
                fill: $white;
            }

            &:after {
                background-color: transparent;
            }
        }

        &:global(._scroll) {

            &:after {
                transform: scaleY(1);
                opacity: 1;
                transition: transform .6s $easing, opacity .6s $easing;
            }
        }
    }

    .logo {
        width: 102px;
        height: 40px;
    }

    .hamburger {
        margin-left: auto;
        margin-right: 16px;
    }

    .phone {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: $green;
        border-radius: 50%;

        svg {
            animation: shake-animation 4.72s ease infinite;
            transform-origin: 50% 50%;
            width: 20px;
            height: 20px;
        }
    }

    @keyframes shake-animation {

        0% {
            transform: translate(0, 0);
        }

        1.78571% {
            transform: translate(5px, 0);
        }

        3.57143% {
            transform: translate(0, 0);
        }

        5.35714% {
            transform: translate(5px, 0);
        }

        7.14286% {
            transform: translate(0, 0);
        }

        8.92857% {
            transform: translate(5px, 0);
        }

        10.71429% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(0, 0);
        }
    }

</style>