<template>
    <div :class="[$style.TheMenu, menuColor, {_opened: menuOpened, _faded: isMenuFaded}]">
        <template v-if="$mq === 'xs'">
            <div :class="[$style.decor, '_top', {_visible: isVisible}]">
                <svg :class="$style.decorIcon">
                    <use xlink:href="#icon-decor-arrow-top"></use>
                </svg>
            </div>
            <div :class="[$style.decor, '_bottom', {_visible: isVisible}]">
                <svg :class="$style.decorIcon">
                    <use xlink:href="#icon-decor-arrow-bottom"></use>
                </svg>
            </div>
        </template>
        <div v-if="$mq === 'xs'"
             :class="$style.overlay">
        </div>
        <a v-if="$mq !== 'xs'"
           href="/">
            <svg :class="$style.logo">
                <use xlink:href="#sp-logo"></use>
            </svg>
        </a>

        <ul :class="[$style.list, {_hidden: (!isVisible && $mq === 'xs')}]">
            <li :class="$style.item">
                               <n-link to="/about_project/" :class="$style.link" exact>О проекте</n-link>
                <n-link to="/flats/" :class="$style.link">Выбрать квартиру</n-link>
                <n-link to="/purchases/" :class="$style.link">Способы покупки</n-link>
                <n-link to="/actions/" :class="$style.link">
                    Акции
                    <span :class="$style.linkLabel">{{ actionCount }}</span>
                </n-link>
                <n-link to="/news/" :class="$style.link">Новости</n-link>
                <n-link to="/decoration/" :class="$style.link">Отделка</n-link>
                <n-link to="/parking/" :class="$style.link">Паркинг</n-link>
                <n-link to="/commercial/" :class="$style.link">Коммерция</n-link>
                <n-link to="/construction/" :class="$style.link">Ход строительства</n-link>
                <n-link to="/contacts/" :class="$style.link">Контакты</n-link>
            </li>
        </ul>

        <n-link to="/favourites/" :class="[$style.fav, {_hidden: (!isVisible && $mq === 'xs')}]">
            <div :class="[$style.favIcon, {_fill: !!favouriteCount && $mq !== 'xs'}]">
                <svg viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0H24V32L12 26.6667L0 32V0Z"/>
                </svg>
                <span :class="[$style.favouriteCount, {_hidden: !favouriteCount && $mq === 'xs'}]"
                      v-html="favouriteCount"></span>
            </div>

            <span :class="$style.favLabel">Избранное</span>
        </n-link>

        <div v-if="$mq !== 'xs'"
             :class="$style.callback">
            <a href="tel:+74952680660"
               :class="$style.phone">
                <span>+7 495 268-06-60</span>
            </a>

            <button v-if="$mq !== 'xs'"
                    type="button"
                    :class="$style.button"
                    @click="$modal.open('Callback')">
                заказать звонок
            </button>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex';
    //utils
    import {lockBody, unlockBody} from '../../assets/js/utils';

    export default {
        name: 'TheMenu',

        data() {
            return {
                isVisible: false,
            };
        },

        computed: {
            ...mapState({
                menuColor: state => state.menu.color,
                menuOpened: state => state.menu.menuOpened,
                favouriteCount: state => state.favourite.count,
                isMenuFaded: state => state.menu.isMenuFaded
            }),

            ...mapGetters('actionsModule', {
                actionCount: 'actionCount',
            }),
        },

        watch: {
            menuOpened() {
                if (this.menuOpened) {
                    lockBody();
                    setTimeout(() => {
                        this.isVisible = true;
                    }, 600);
                } else {
                    unlockBody();
                    this.isVisible = false;
                }
            },
        },
    };
</script>

<style lang="scss" module>
    .TheMenu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        display: flex;
        flex-direction: column;
        width: $sidebarWidth;
        height: 100%;
        padding: 6rem 8.5rem;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;

        &:global(._faded) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, .25), rgba(255, 255, 255, 0));
        }

        &:global(._white) {
            color: $white;
            background-color: $black;
            transition: background-color .4s ease-in-out, color .4s ease-in-out;

            @include respond-to(mobile) {
                background-color: transparent;
                color: $black;
            }

            .link {

                &:global(._active-link) {
                    color: $green;
                }
            }

            .logo {
                fill: $white;
                transition: fill .4s ease-in-out;
            }
        }

        &:global(._white-index) {
            background-color: black;
            color: $white;
            transition: background-color .4s ease-in-out, color .4s ease-in-out;

            @include respond-to(mobile) {
                color: $black;
            }

            .logo {
                fill: $white;
                transition: fill .4s ease-in-out;
            }
        }

        &:global(._black) {
            background-color: transparent;
            color: $black;
            transition: background-color .4s ease-in-out, color .4s ease-in-out;

            .logo {
                fill: $black;
                transition: fill .4s ease-in-out;
            }
        }

        @include respond-to(s-tablet) {
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }

        @include respond-to(mobile) {
            width: 100%;
            padding: 76px $s-tablet-padding;
            transition: opacity .26s ease-in-out, visibility 0s ease .26s;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            overflow: hidden;

            &:global(._opened) {
                visibility: visible;
                pointer-events: auto;
                opacity: 1;
                transition: opacity .26s ease-in-out, visibility 0s;

                .overlay {
                    transform: scaleY(1);
                    transition: transform .6s ease-in-out;
                }
            }
        }

        @include respond-to(s-mobile) {
            padding-right: $mobile-padding;
            padding-left: $mobile-padding;
        }
    }

    .overlay {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        transform-origin: 50% 0;
        transform: scaleY(0);
        will-change: transform;
        transition: transform .5s ease-in-out .4s;
    }

    .logo {
        width: 142px;
        height: 56px;
    }

    .link {
        display: block;
        font-family: 'Circe', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        transition: opacity .3s $easing;
        white-space: nowrap;

        &:global(._active-link) {
            color: $green;
        }

        &:hover {
            opacity: .7;
        }

        &:not(:last-child) {
            margin-bottom: 22px;

            @include respond-min-max(mobile) {
                margin-bottom: 40px;
            }
        }

        @include respond-min-max(mobile) {
            font-size: 20px;
        }
    }

    .linkLabel {
        position: relative;
        bottom: .05em;
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: .1rem;
        font-size: 11px;
        text-transform: uppercase;
        border: 2px solid $green;
        border-radius: 3px;
    }

    .list {
        margin: auto 0;

        @include respond-to(mobile) {
            opacity: 1;
            transition: opacity .6s ease-in-out;

            &:global(._hidden) {
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
        }

        @include respond-min-max(mobile) {
            margin: 60px 0;
        }
    }

    .fav {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;

        @include respond-to(mobile) {
            font-size: 20px;
            opacity: 1;
            transition: opacity .6s ease-in-out;

            &:global(._hidden) {
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
        }

        @include respond-to(s-mobile) {
            position: absolute;
            right: 16px;
            bottom: 22%;
            justify-content: center;
            width: 57px;
            height: 57px;
            background-color: $orange;
            border-radius: 50%;
            box-shadow: 0 4px 24px rgba($orange, .25);
        }
    }

    .favIcon {
        position: relative;
        width: 24px;
        height: 32px;
        margin-right: 12px;

        @include respond-to(s-mobile) {
            width: 16px;
            height: 20px;
            margin: 0;

            &:global(._fill) {

                svg {
                    fill: $white;
                }
            }
        }

        svg {
            fill: $orange;
            width: 100%;
            height: 100%;

            @include respond-to(s-mobile) {
                fill: none;
                stroke: $white;
                stroke-width: 2px;
            }
        }
    }

    .favouriteCount {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include respond-to(s-mobile) {
            top: 0;
            left: 100%;
            font-size: 12px;
            line-height: .8;
            color: $white;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $black;
            }

            &:global(._hidden) {
                opacity: 0;
            }
        }
    }

    .favLabel {
        @include respond-to(s-mobile) {
            display: none;
        }
    }

    .callback {
        margin-top: 42px;
    }

    .phone {
        font-family: Intro, sans-serif;
        font-size: 20px;
        line-height: 1;
        white-space: nowrap;
    }

    .button {
        margin-top: 12px;
        padding: 16px 25px;
        background-color: $green;
        font-family: 'Intro', sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
        outline: none;
        border: 0;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .3s $easing;
        white-space: nowrap;

        &:hover {
            background-color: darken($green, 5);
        }
    }

    .decor {
        position: absolute;
        display: none;
        height: 80px;
        width: 50%;
        overflow: hidden;
        opacity: 0;
        transition: opacity .1s ease-in-out;

        &:global(._visible) {
            opacity: 1;
            transition: opacity .4s ease-in-out;
        }

        @include respond-to(mobile) {
            display: block;
        }

        @include respond-to(s-mobile) {
            width: 100%;
        }

        &:global(._top) {
            top: 0;
            left: 0;
        }

        &:global(._bottom) {
            right: 0;
            bottom: 0;
        }
    }

    .decorIcon {
        display: block;
        width: 100%;
        height: 100%;
        fill: none;
        stroke: $green;
        stroke-width: 2px;
        stroke-opacity: .2;
    }

</style>
