<template>
    <section :class="$style.Callback">
        <h2 class="visually-hidden">Форма обратной связи</h2>
        <p :class="$style.title"
           class="custom-title">
            <span class="custom-title__origin _m">{{ title }}</span>
            <span class="custom-title__shadow _m">{{ title }}</span>
        </p>
        <p :class="['text', $style.text]">Наш специалист свяжется с вами в ближайшее время.</p>
        <TheForm :class="$style.form"
                 :list="inputs"
                 :errors="formErrors"
                 :button-text="buttonText"
                 :form-success="formSuccess"
                 is-modal-form
                 @input="oninputChange"
                 @change="oninputChange"
                 @form-submit="onFormSubmit"/>
    </section>
</template>

<script>
    import createRequest from '../../../queries/request/createRequest.gql';
    import TheForm from '../TheForm';

    export default {
        name: 'Callback',
        components: {
            TheForm,
        },
        props: {
            data: {
                type: Object,
                default: () => {
                },
            },
        },

        data() {
            return {
                inputs: [
                    {
                        name: 'phone',
                        type: 'tel',
                        isRequire: true,
                        isPhoneMask: true,
                        labelTitle: 'Телефон',
                        plaсeholder: '+7 ()'
                    },
                    {
                        name: 'name',
                        type: 'text',
                        labelTitle: 'Имя (необязательно)',
                    },
                ],
                buttonText: 'Позвоните мне',
                formErrors: [],
                formSuccess: false,
            };
        },
        computed: {
            title() {
                return this.data && this.data.title ? this.data.title : 'Заказать звонок';
            },
        },

        methods: {
            async onFormSubmit(evt) {
                try {
                    const userData = Object.fromEntries(new FormData(evt.target));
                    if (this.data && this.data.type) {
                        userData.type = this.data.type;
                    } else {
                        userData.type = 'callback';
                    }
                    if (this.data && this.data.flatId) {
                        userData.contentObject = this.data.flatId;
                    }

                    userData.phone = '+7' + userData.phone;

                    const { data } = await this.$apollo.mutate({
                        mutation: createRequest,
                        variables: {
                            input: userData,
                        },
                    });

                    const { errors } = data.createRequest;
                    console.log(errors);
                    if (errors && errors.length) {
                        this.formErrors = errors;
                    } else {
                        this.formSuccess = true;
                        setTimeout(() => {
                            this.formSuccess = false;
                        }, 3000);
                    }
                } catch (e) {
                    console.error(e);
                }
            },

            oninputChange() {
                this.formErrors = [];
            },
        },
    };
</script>

<style lang="scss" module>
    .Callback {
        width: 100%;
        padding: 4.2rem;
        background: $white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        animation: appear;

        @include respond-to(s-mobile) {
            padding: 24px $mobile-padding;
        }
    }

    .text {
        margin-top: 2.4rem;

        @include respond-to(s-mobile) {
            width: 158px;
            margin-top: 16px;
        }
    }

    .form {
        margin-top: 4.2rem;

        @include respond-to(s-mobile) {
            margin-top: 20%;
        }
    }

    .title {
        max-width: 33.5rem;

        @include respond-to(s-mobile) {
            max-width: 50%;
            font-size: 28px;
        }
    }

</style>