<template>
    <section :class="$style.Feedback">
        <div :class="$style.wrapper">
            <h2 class="visually-hidden">Обратная связь</h2>
            <p :class="$style.title"
               class="custom-title">
                <span class="custom-title__origin">Остались вопросы?</span>
                <span class="custom-title__shadow">Остались вопросы?</span>
            </p>
            <p :class="['text', $style.text]">Просто оставьте свой номер и мы вам перезвоним.</p>
            <TheForm :class="$style.form"
                     :list="inputs"
                     :errors="formErrors"
                     :button-text="buttonText"
                     :form-success="formSuccess"
                     @input="oninputChange"
                     @change="oninputChange"
                     @form-submit="onFormSubmit"/>
        </div>
    </section>
</template>

<script>
    import createRequest from '../../../queries/request/createRequest.gql';

    import TheForm from '../TheForm';

    export default {
        name: 'Feedback',

        components: {
            TheForm,
        },

        data() {
            return {
                inputs: [
                    {
                        name: 'phone',
                        type: 'tel',
                        isRequire: true,
                        isPhoneMask: true,
                        labelTitle: 'Телефон',
                    },
                    {
                        name: 'name',
                        type: 'text',
                        labelTitle: 'Имя (необязательно)',
                    },
                ],
                buttonText: 'Позвоните мне',
                formErrors: [],
                formSuccess: false,
            };
        },

        methods: {
            async onFormSubmit(evt) {
                try {
                    const userData = Object.fromEntries(new FormData(evt.target));
                    userData.type = 'callback';
                    userData.phone = '+7' + userData.phone;

                    const {data} = await this.$apollo.mutate({
                        mutation: createRequest,
                        variables: {
                            input: userData,
                        },
                    });

                    const {errors} = data.createRequest;

                    if (errors && errors.length) {
                        this.formErrors = errors;
                    } else {
                        this.formSuccess = true;
                        setTimeout(() => {
                            this.formSuccess = false;
                        }, 3000);
                    }
                } catch (e) {
                    console.error(e);
                }
            },

            oninputChange() {
                this.formErrors = [];
            },
        },
    };
</script>

<style lang="scss" module>
    .Feedback {
        @include respond-to(mobile) {

            &:global(._no-top-line) {

                & .wrapper {
                    border-top: none;
                }
            }
        }
    }

    .wrapper {
        padding: 4.2rem 0;
        border-top: 2px solid $light-grey;
        border-bottom: 2px solid $light-grey;

        @include respond-to(mobile) {
            padding: 3.2rem 0;
        }
    }

    .text {
        margin-top: 2.4rem;
    }

    .form {
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 2.8rem;
        }
    }

</style>