<template>
    <section :class="$style.Subscription">
        <div :class="$style.wrapper">
            <h2 class="visually-hidden">Обратная связь</h2>
            <p :class="$style.title"
               class="custom-title">
                <span :class="$style.subscribeTitle" class="custom-title__origin">Подпишитесь на рассылку</span>
                <span :class="$style.subscribeTitle" class="custom-title__shadow">Подпишитесь на рассылку</span>
            </p>
            <p :class="['text', $style.text]">Просто оставьте свой почтовый адрес и будьте в курсе новых акций.</p>
            <TheForm :class="$style.form"
                     :list="inputs"
                     :errors="formErrors"
                     :button-text="buttonText"
                     :form-success="formSuccess"
                     @input="oninputChange"
                     @change="oninputChange"
                     @form-submit="onFormSubmit"/>
        </div>
    </section>
</template>

<script>
    import createRequest from '../../../queries/request/createRequest.gql';

    import TheForm from '../TheForm';

    export default {
        name: 'Subscription',

        components: {
            TheForm,
        },

        props: {
            typeSubscribe: {
                type: String,
                default: 'subscription_news'
            },
        },

        data() {
            return {
                inputs: [
                    {
                        name: 'email',
                        type: 'email',
                        isRequire: true,
                        labelTitle: 'E-mail',
                    },
                ],
                buttonText: 'Подписаться',
                formErrors: [],
                formSuccess: false,
            };
        },

        methods: {
            async onFormSubmit(evt) {
                try {
                    const userData = Object.fromEntries(new FormData(evt.target));
                    userData.type = this.typeSubscribe;

                    const {data} = await this.$apollo.mutate({
                        mutation: createRequest,
                        variables: {
                            input: userData,
                        },
                    });

                    const {errors} = data.createRequest;
                    if (errors && errors.length) {
                        this.formErrors = errors;
                    } else {
                        this.formSuccess = true;
                        setTimeout(() => {
                            this.formSuccess = false;
                        }, 3000);
                    }
                } catch (e) {
                    console.error(e);
                }
            },

            oninputChange() {
                this.formErrors = [];
            },
        },
    };
</script>

<style lang="scss" module>
    .Subscription {
        //
    }

    .wrapper {
        padding: 4.2rem 0;
        border-top: 2px solid $light-grey;
        border-bottom: 2px solid $light-grey;

        @include respond-to(mobile) {
            padding: 3.2rem 0;
        }
    }

    .text {
        margin-top: 2.4rem;
    }

    .form {
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 2.8rem;
        }
    }

    .subscribeTitle {
        letter-spacing: normal;
    }
</style>