<template>
    <div :class="$style.FullAction">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.header">
                    <h1 :class="$style.title" class="custom-title">
                        <span class="custom-title__origin">{{ action.title }}</span>
                        <span class="custom-title__shadow">{{ action.title }}</span>
                    </h1>
                    <button :class="$style.backbutton"
                            @click="$router.back()">
                        Назад
                    </button>
                </div>

                <div :class="$style.text"
                     v-html="action.text">
                </div>

                <Slider :images="images"/>

                <div :class="$style.footer">
                    <p :class="$style.shareLabel">Поделиться</p>
                    <Share/>
                </div>
                <Subscribe :class="$style.form"/>
            </div>
        </div>
    </div>
</template>

<script>
    import Slider from '../../../components/common/slider/Slider';
    import Subscribe from '../../../components/common/formBlocks/Subscribe';
    import Share from '../../../components/common/Share';
    import actionDetail from '../../../queries/actions/action.gql';

    export default {
        components: {
            Subscribe,
            Share,
            Slider,
        },

        data() {
            return {
                action: {},
            };
        },

        async asyncData({app, params}) {
            await app.$gql.clearStore();
            let slug = params.slug;

            try {
                let actionsResponse = await app.$gql.query({
                    query: actionDetail,
                    variables: {
                        slug: slug,
                    },
                });

                return {
                    action: actionsResponse.data.action,
                    images: actionsResponse.data.action.actionimageSet,
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({store}) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
        },
    };
</script>

<style lang='scss' module>
    .FullAction {
        overflow: hidden;

        @include respond-to(xxl) {
            padding-left: 36rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .header {
        display: flex;
        align-items: center;
    }

    .title {
        position: relative;
        width: 60rem;

        span {
            font: 4.2rem $font-secondary;

            @include respond-to(mobile) {
                font-size: 2.8rem;
            }
        }

        @include respond-to(mobile) {

            & :global(.custom-title__shadow) {
                top: 1.1rem;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: -4.2rem;
            left: 0;
            z-index: -1;
            width: 60rem;
            height: 17rem;
            background: url("../../../static/images/visual/icon-arrow.svg") no-repeat;
            background-size: cover;

            @include respond-to(mobile) {
                top: 1rem;
                width: 29rem;
                height: 8.2rem;
            }
        }
    }

    .text {
        margin-top: 4.2rem;
        margin-bottom: 2.4rem;
        line-height: 200%;
        color: #413a3c;

        q {
            position: relative;
            display: block;
            margin: 7.5rem 4.5rem 3rem 4.5rem;
            quotes: none;
            color: #413a3c;
            font-weight: 600;
            font-style: normal;
            font-size: 1.3rem;

            &:before {
                content: '';
                position: absolute;
                left: -4.2rem;
                top: -4.6rem;
                z-index: -1;
                width: 8.7rem;
                height: 10rem;
                background: url("../../../static/images/visual/quote.svg") no-repeat;
                background-size: cover;

                @include respond-to(mobile) {
                    top: -5rem;
                }
            }

            @include respond-to(mobile) {
                margin: 7.2rem 0 2.4rem 4.3rem;
            }
        }

        @include respond-to(mobile) {
            margin-top: 3rem;
        }
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 5.2rem;
        margin-bottom: 5.2rem;

        .backbutton {
            margin-top: 0;
        }

        @include respond-to(mobile) {
            margin-top: 3.2rem;
            margin-bottom: 3.2rem;
        }
    }

    .backbutton {
        position: relative;
        margin: 2rem 2rem auto auto;
        padding: 0;
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        color: $black;
        background-color: white;
        cursor: pointer;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            right: -2.2rem;
            top: .3rem;
            border-left: .4rem solid $orange;
            border-top: .4rem solid white;
            border-right: .4rem solid white;
            border-bottom: .4rem solid white;
        }

        @include respond-to(mobile) {
            display: none;
        }
    }

    .shareLabel {
        color: $grey;
        font-size: 1.4rem;
        font-weight: bold;
    }
</style>