<template>
    <div ref="page"
         :class="$style.Actions">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.mainPage">
                    <h1 :class="$style.title" class="custom-title">
                        <span class="custom-title__origin">Акции</span>
                        <span class="custom-title__shadow">Акции</span>
                    </h1>
                    <ul :class="[$style.actionList, $style.firstPartActions]">
                        <li v-for="action in firstPartActions"
                            :key="action.id"
                            :class="$style.actionCell">
                            <SingleAction :action="action"/>
                        </li>
                    </ul>

                    <Subscribe :class="$style.form"
                               type-subscribe="subscription_actions"/>
                    <ul :class="[$style.actionList, $style.secondPartActions]">
                        <li v-for="action in secondPartActions"
                            :key="action.id"
                            :class="$style.actionCell">
                            <SingleAction :action="action"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SingleAction from '../../components/actions/SingleAction';
    import Subscribe from '../../components/common/formBlocks/Subscribe';
    import allActions from '../../queries/actions/allActions.gql';

    export default {
        components: {
            SingleAction,
            Subscribe,
        },

        data() {
            return {
                firstPartActions: [],
                secondPartActions: [],
                pageInfo: {
                    first: 8,
                    after: null,
                    hasNext: false,
                },
                flags: {
                    loading: false,
                    isTicking: false,
                },
            };
        },

        async asyncData({ app, store, query }) {
            await app.$gql.clearStore();

            try {
                let actionsResponse = await app.$gql.query({
                    query: allActions,
                });

                const actions = actionsResponse.data.allActions.edges.map(edge => {
                    return edge.node;
                });

                return {
                    firstPartActions: actions.splice(0, 4),

                    secondPartActions: actions,
                    pageInfo: {
                        first: 8,
                        after: actionsResponse.data.allActions.pageInfo.endCursor,
                        hasNext: actionsResponse.data.allActions.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            async getActions() {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;
                try {
                    const actionsResponse = await this.$gql.query({
                        query: allActions,
                        variables: {
                            first: this.pageInfo.first,
                            after: this.pageInfo.after,
                        },
                    });
                    const actions = actionsResponse.data.allActions.edges.map(edge => edge.node);
                    this.secondPartActions = [...this.secondPartActions, ...actions];
                    this.pageInfo.after = actionsResponse.data.allActions.pageInfo.endCursor;
                    this.pageInfo.hasNext = actionsResponse.data.allActions.pageInfo.hasNextPage;

                    this.$nextTick(() => {
                        this.flags.loading = false;
                    });
                } catch (e) {
                    console.log('cant get more actions', e);
                }
            },

            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getActions();
                }

                this.flags.isTicking = false;
            },
        },

    };
</script>

<style lang='scss' module>
    .Actions {
        overflow: hidden;

        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .actionList {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;

        @include respond-to(mobile) {
            display: block;
            margin-top: 3rem;
        }
    }

    .secondPartActions {
        margin-top: 0;
    }

    .actionCell {
        width: calc(50% - 2.1rem);
        margin-right: 4.2rem;
        margin-bottom: 4.2rem;
        break-inside: avoid-column;

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include respond-to(mobile) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.2rem;
        }
    }

    .form {
        margin-bottom: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 2.4rem;
            margin-bottom: 2.4rem;
        }
    }
</style>