<template>
    <div :class="$style.SingleDocument">
        <span :class="$style.date">{{ document.date }}</span>
        <span :class="$style.author">{{ document.author }}</span>
        <p :class="$style.name">{{ document.name }}</p>
        <div :class="$style.downloadContainer">
            <a :class="$style.download"
               :href="document.file"
               target="_blank"
               download>Скачать</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            document: Object,
        },
    };
</script>

<style lang="scss" module>
    .SingleDocument {
        position: relative;
        width: 51rem;
        padding: 3.2rem 4.4rem 3rem 4.2rem;
        border: 2px solid $light-grey;

        @include respond-to(mobile) {
            width: 100%;
            padding-left: 2.4rem;
            padding-right: 2.4rem;
            padding-top: 2.4rem;
        }

        &:hover {
            background-color: $light-grey;

            &:before {
                border-bottom-color: $light-grey;
                border-left-color: $light-grey;
            }

            .bottom {
                max-height: 70px;
            }

            .download {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: -2px;
            right: -2px;
            z-index: 1;
            border-top: 2.5rem solid white;
            border-right: 2.5rem solid white;
            border-bottom: 2.5rem solid rgba(0, 0, 0, 0);
            border-left: 2.5rem solid rgba(0, 0, 0, 0);

            @include respond-to(mobile) {
                border-top: 1.5rem solid white;
                border-right: 1.5rem solid white;
                border-bottom: 1.5rem solid rgba(0, 0, 0, 0);
                border-left: 1.5rem solid rgba(0, 0, 0, 0);
            }
        }

        &:before {
            content: '';
            position: absolute;
            top: -1px;
            right: -1px;
            z-index: 1;
            border-top: 2.5rem solid $light-grey;
            border-right: 2.5rem solid $light-grey;
            border-bottom: 2.5rem solid white;
            border-left: 2.5rem solid white;

            @include respond-to(mobile) {
                border-top: 1.5rem solid $light-grey;
                border-right: 1.5rem solid $light-grey;
                border-bottom: 1.5rem solid white;
                border-left: 1.5rem solid white;
            }
        }
    }

    .name {
        margin-top: 1.2rem;
        font: 2rem $font-secondary;
        line-height: 100%;

        @include respond-to(mobile) {
            margin-top: 1.5rem;
            font-size: 1.8rem;
        }
    }

    .author {
        font-weight: 600;
        color: $grey;
    }

    .date {
        margin-right: 1.6rem;
        font-weight: 600;
        color: $grey;
    }

    .bottom {
        overflow: hidden;
    }

    .download {
        display: inline-block;
        font: 1.2rem $font-secondary;
        opacity: 0;
        color: $orange;
        cursor: pointer;
        user-select: none;
    }

    .downloadContainer {
        padding-top: 2rem;
    }
</style>