<template>
    <div :class="$style.SliderControls">
        <button type="button"
                :class="['btn-reset _left', $style.button]"
                @click="$emit('prev')">
            <span></span>
        </button>
        <button type="button"
                :class="['btn-reset _right', $style.button]"
                @click="$emit('next')">
            <span></span>
        </button>
    </div>
</template>

<script>
    export default {
        name: 'SliderControls',
    };
</script>

<style lang="scss" module>
    .SliderControls {
        display: flex;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7.2rem;
        height: 7.2rem;
        background-color: $orange;
        transition: background-color .5s $easing;

        &:hover,
        &:focus {
            background-color: $black;
            transition: background-color .5s $easing;
        }

        & > span {
            border: 1.4rem solid transparent;

            @include respond-to(mobile) {
                border: 1rem solid transparent;
            }
        }

        &:global(._left) {
            margin-right: 1.6rem;

            & > span {
                border-right: 1.4rem solid $white;
                transform: translateX(-30%);

                @include respond-to(mobile) {
                    border-right: 1rem solid $white;
                }
            }

            @include respond-to(mobile) {
                margin-right: 1.2rem;
            }
        }

        &:global(._right) {

            & > span {
                border-left: 1.5rem solid $white;
                transform: translateX(25%);

                @include respond-to(mobile) {
                    border-left: 1rem solid $white;
                }
            }
        }

        @include respond-to(mobile) {
            width: 5rem;
            height: 5rem;
        }
    }
</style>