<template>
    <div :class="$style.SliderWithGallery">
        <div :class="[$style.sliderWrap, {[$style._disable]: !images.length}]">
            <div ref="slider"
                 :class="[$style.slider,'swiper-container', $style.swiperContainer]">
                <div :class="[$style.wrapper, 'swiper-wrapper']">
                    <div v-for="(image, i) in images"
                         :key="i"
                         class="swiper-slide">
                        <ImageLazy
                            :class="$style.imageLazy"
                            :preview="image.filePreview"
                            :origin="image.fileDisplay"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div v-if="images.length > 1" :class="$style.gallery">
            <span :class="$style.openGalery">открыть галерею</span>
            <div ref="galleryThumbs"
                 class="swiper-container gallery-thumbs"
                 :class="$style.imagesContainer">
                <ul class="swiper-wrapper" :class="$style.images">
                    <li v-for="image in images"
                        :key="image.id"
                        class="swiper-slide gallery-swiper-slide"
                        :class="$style.image"
                        :style="{backgroundImage: `url(${image.fileDisplay})`}">
                        <div class="swiper-slide-container">
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div :class="[$style.controls, {[$style._disable]: images.length === 1}]">
            <SliderControls
                :is-inverse="true"
                @prev="prevClick"
                @next="nextClick" />
        </div>
    </div>
</template>

<script>
    import SliderControls from './SliderControls';
    import Swiper from 'swiper/dist/js/swiper.min';
    import SliderMixin from '../../../mixins/SliderMixin';
    import ImageLazy from '../ImageLazy';

    export default {
        components: {
            ImageLazy,
            SliderControls,
        },

        mixins: [SliderMixin],

        mounted() {
            this.$nextTick(() => {
                this.$emit('changeShowSlider');
            });
        },

        methods: {
            initApp() {
                const settings = {
                    speed: 600,
                    slidesPerView: this.slidesPerView,
                    direction: this.direction,
                    parallax: this.parallax,
                    allowTouchMove: true,
                    loop: true,
                    navigation: {
                        prevEl: this.$refs?.prev?.$el || this.$refs?.prev || false,
                        nextEl: this.$refs?.next?.$el || this.$refs?.next || false,
                        hiddenClass: '_hidden',
                    },
                };

                this.sliderApp = new Swiper(this.$refs.slider, settings);

                if (this.$refs.galleryThumbs) {
                    if (this.images.length > 6 && !this.$device.isMobile) {
                        this.galleryThumbs = new Swiper(this.$refs.galleryThumbs, {
                            direction: this.$device.isMobile ? 'horizontal' : 'vertical',
                            spaceBetween: 8,
                            loop: true,
                            speed: 600,
                            centeredSlides: true,
                            slidesPerView: 'auto',
                            touchRatio: 0.2,
                            slideToClickedSlide: true,
                            scrollbar: false,
                            allowTouchMove: false,
                        });

                        this.galleryThumbs.on('slideChangeTransitionStart', () => {
                            this.goToSlider(this.galleryThumbs.realIndex);
                        });
                    } else {
                        this.galleryThumbs = new Swiper(this.$refs.galleryThumbs, {
                            direction: this.$device.isMobile ? 'horizontal' : 'vertical',
                            freeMode: true,
                            spaceBetween: 8,
                            speed: 600,
                            slidesPerView: 'auto',
                            touchRatio: 0.2,
                            scrollbar: false,
                            allowTouchMove: false,
                        });

                        this.galleryThumbs.on('tap', () => {
                            if (this.galleryThumbs.clickedIndex === undefined) return;
                            this.goToGallery(this.galleryThumbs.clickedIndex);
                        });

                        this.galleryThumbs.on('slideChangeTransitionStart', () => {
                            this.goToSlider(this.galleryThumbs.realIndex);
                        });
                    }
                }

                this.sliderApp.on('progress', progress => {
                    let index = Math.ceil(Math.round(progress * 10000) * this.images.length / 10000);
                    this.active = index && index > 1 ? index - 1 : index;
                });

                this.sliderApp.on('slideChangeTransitionStart', () => {
                    const id = this.images[this.sliderApp.realIndex].id;
                    this.$emit('on-slide-change', id);
                });

                this.sliderApp.on('touchMove', () => {
                    this.swiped = true;
                    this.touched = true;
                });

                this.sliderApp.on('touchEnd', () => {
                    if (this.swiped) return;
                    this.touched = false;
                });
            },

            goToGallery(index) {
                let val = index;

                if (val > this.images.length - 1) val = 0;

                this.galleryThumbs.activeIndex = val;
                this.galleryThumbs.updateSlidesClasses();
                this.goToSlider(val);
            },

            goToSlider(index) {
                let val = index;

                if (val > this.images.length - 1) val = 0;

                this.sliderApp.slideToLoop(val);
            },

            prevClick() {
                this.touched = true;
                this.prev();
            },

            prev() {
                this.sliderApp.slidePrev();

                if (this.images.length > 6) {
                    this.galleryThumbs.slidePrev();
                } else {
                    let val = this.sliderApp.realIndex;

                    if (val > this.images.length - 1) val = 0;

                    this.galleryThumbs.activeIndex = val;
                    this.galleryThumbs.updateSlidesClasses();
                }
            },

            nextClick() {
                this.touched = true;
                this.next();
            },

            next() {
                this.sliderApp.slideNext();

                if (this.images.length > 6) {
                    this.galleryThumbs.slideNext();
                } else {
                    let val = this.sliderApp.realIndex;

                    if (val > this.images.length - 1) val = 0;

                    this.galleryThumbs.activeIndex = val;
                    this.galleryThumbs.updateSlidesClasses();
                }
            },
        },
    };
</script>

<style lang='scss' module>
    .sliderWrap {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 49.2rem;

        @include respond-to(mobile) {
            left: -$s-tablet-padding;
            width: 100%;
            height: 100%;
            margin-bottom: 5.5rem;
        }

        @include respond-to(s-mobile) {
            left: -$mobile-padding;
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .controls {
        position: absolute;
        bottom: -3.9rem;
        right: 3.7rem;

        @include respond-to(mobile) {
            display: none;
        }
    }

    ._disable {
        display: none;
    }

    .gallery {
        position: absolute;
        top: 0;
        right: -8.6rem;
        z-index: 1;
        display: flex;
        width: 8.5rem;
        height: 49.2rem;
        overflow: hidden;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &:hover {

            .openGalery {
                color: white;
            }

            .imagesContainer {
                opacity: 1;
            }
        }

        @include respond-to(mobile) {
            top: auto;
            bottom: -7.8rem;
            left: 0;
            width: 100%;
            height: auto;
            padding-right: 48px;
        }

        @include respond-to(s-mobile) {
            padding-right: $mobile-padding;
        }
    }

    .images {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: 49.2rem;

        @include respond-to(mobile) {
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: fit-content;
        }
    }

    .imagesContainer {
        width: 100%;
        opacity: 0;
        transition: opacity .3s;
        overflow: hidden;

        @include respond-to(mobile) {
            opacity: 1;
            overflow: auto;
        }
    }

    .image {
        position: relative;
        left: 2.2rem;
        width: 10rem;
        height: 5.8rem;
        background-size: cover;
        transition: left .3s;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 10rem;
            height: 5.8rem;
            background-color: rgba(31, 23, 26, .6);
            transition: background-color .3s;
        }

        @include respond-to(mobile) {
            left: 0;
        }
    }

    .openGalery {
        position: absolute;
        top: 50%;
        left: -32%;
        height: min-content;
        text-transform: uppercase;
        transform: rotate(-90deg);
        white-space: nowrap;
        font-size: 1.4rem;
        font-weight: 800;
        color: $grey;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .imageLazy {
        height: 100%;
        width: 100%;
    }
</style>
