<template>
    <div>
        <div :class="[$style.sliderWrap, {[$style._disable]: !images.length}]">
            <div ref="slider"
                 :class="[$style.slider,'swiper-container', $style.swiperContainer]">
                <div :class="[$style.wrapper, 'swiper-wrapper']">
                    <div v-for="(image, i) in images"
                         :key="i"
                         class="swiper-slide">
                        <img :src="image.file" :class="$style.imageLazy">
                    </div>
                </div>
            </div>
            <SliderControls
                :class="[$style.controls, {[$style._disable]: images.length === 1}]"
                @prev="prevClick"
                @next="nextClick"/>

        </div>
    </div>
</template>

<script>
    import ImageLazy from '../ImageLazy';
    import SliderControls from './SliderControls';
    import SliderMixin from '../../../mixins/SliderMixin';

    export default {
        components: {
            SliderControls,
        },

        mixins: [SliderMixin],

        props: {
            images: {
                type: Array,
                default: () => [],
            },
        },

        data() {
            return {
                loop: true,
                loopedSlides: 2,
            };
        },

        watch: {
            images() {
                this.$nextTick(() => {
                    this.sliderApp.update();
                    this.sliderApp.slideTo(0, true);
                });
            },
        }
    };
</script>

<style lang='scss' module>
    .sliderWrap {
        position: relative;
        width: 100%;
        height: 47.8rem;

        @include respond-to(mobile) {
            left: -1.6rem;
            width: 100vw;
            height: 24rem;
            margin-top: 2rem;
            margin-bottom: 5.5rem;
        }
    }

    .slider {
        width: 100%;
        height: 100%;
    }

    .controls {
        position: absolute;
        bottom: -3.5rem;
        right: 8.5rem;

        @include respond-to(mobile) {
            left: 1.6rem;
            bottom: -3rem;
        }
    }

    ._disable {
        display: none;
    }

    .imageLazy {
        height: 100%;
        width: 100%;
    }
</style>