<template>
    <div :class="$style.Additional">
        <!--commercial-->
        <nuxt-link to="/commercial/" :class="[$style.block, '_commercial']">
            <h3 v-if="data.commercialTitle"
                :class="$style.title"
                class="custom-title _white _m">
                <span class="custom-title__origin" v-html="data.commercialTitle"></span>
                <span class="custom-title__shadow" v-html="data.commercialTitle"></span>
            </h3>

            <template v-if="data.commercialDescription">
                <div :class="[$style.text, 'text']" v-html="data.commercialDescription"></div>
            </template>

            <div v-if="data.commercialValue"
                 :class="$style.count">
                <span>{{ data.commercialValue }}</span>
            </div>

            <div :class="$style.imageWrap">
                <ImageLazy v-if="data.commercialImageDisplay"
                           :class="$style.image"
                           :origin="data.commercialImageDisplay"
                           :preview="data.commercialImagePreview"/>
            </div>
        </nuxt-link>
        <!--parking-->
        <nuxt-link to="/parking/" :class="[$style.block, '_parking']">
            <h3 v-if="data.parkingTitle"
                :class="$style.title"
                class="custom-title _white _m">
                <span class="custom-title__origin" v-html="data.parkingTitle"></span>
                <span class="custom-title__shadow" v-html="data.parkingTitle"></span>
            </h3>

            <template v-if="data.parkingDescription">
                <div :class="[$style.text, 'text']" v-html="data.parkingDescription"></div>
            </template>

            <div v-if="data.parkingValue"
                 :class="$style.count">
                <span v-html="data.parkingValue"></span>
                {{ data.parkingValue|plural(['место','места','мест']) }}
            </div>

            <div :class="$style.imageWrap">
                <ImageLazy v-if="data.parkingImageDisplay"
                           :class="$style.image"
                           :origin="data.parkingImageDisplay"
                           :preview="data.parkingImagePreview"/>
            </div>
        </nuxt-link>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import ImageLazy from '../common/ImageLazy';

    export default {
        name: 'Additional',

        components: {
            ImageLazy,
        },

        data() {
            return {
                image: {
                    origin: '/images/visual/section-bg.jpg',
                    preview: '/images/visual/section-bg.jpg',
                },
            };
        },

        computed: {
            ...mapState('home', [
                'data',
            ]),
        },
    };
</script>

<style lang="scss" module>
    .Additional {
        position: relative;
        display: flex;
        align-items: flex-start;
        padding: 10rem 0 13rem 42.5rem;

        @include respond-to(mobile) {
            padding: 0 $s-tablet-padding;
            margin-top: 68px;
        }

        @include respond-to(s-mobile) {
            padding: 0 $mobile-padding;
            flex-direction: column;
        }

        &:after {
            content: '';
            position: absolute;
            top: 53%;
            left: 0;
            right: 0;
            z-index: -1;
            transform: translateY(-50%) skewY(-11.4deg);
            height: 69%;
            background: $gradient;

            @include respond-to(mobile) {
                top: 50%;
                height: 88%;
                background: #f5eee1;
            }
        }
    }

    .block {
        position: relative;
        z-index: 1;
        width: 40rem;
        min-height: 34.2rem;
        padding: 9.5rem 10rem 5rem 4.6rem;
        transition: transform .3s ease-out;

        @include respond-to(mobile) {
            min-height: 26.3rem;
            width: 30.3rem;
            padding: 6.5rem 2.9rem 4rem 1.9rem;

            .title {
                font-size: 2.8rem;

                @include respond-to(mobile) {
                    letter-spacing: .05rem;
                }
            }
        }

        &:hover {
            transform: scale(1.1);
            transition: transform .3s ease-out;
        }

        &:global(._commercial) {
            margin-right: 5rem;
        }

        &:global(._parking) {
            margin-top: 9rem;

            @include respond-to(mobile) {
                margin-top: 3.2rem;
                margin-left: auto;
                padding-left: 2.4rem;
            }
        }
    }

    .text {
        color: $white;
        opacity: .8;
        text-shadow: 0 4px 4px rgba(0, 0, 0, .25);

        &:not(:first-child) {
            margin-top: 2.8rem;

            @include respond-to(mobile) {
                margin-top: 3.3rem;
            }
        }
    }

    .count {
        margin-top: 1.6rem;
        font-family: $font-secondary;
        font-size: 2rem;
        line-height: 1;
        color: $white;
        text-transform: uppercase;

        @include respond-to(mobile) {
            font-size: 1.8rem;
        }
    }

    .imageWrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(-11.4deg);
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $black;

        @include respond-to(mobile) {
            left: 49.9%;
        }
    }

    .image {
        width: 100%;
        height: 140%;
        transform: skewY(11.4deg);

        @include overlay();

        @include respond-to(mobile) {

            &:before {
                background-color: transparent;
            }
        }
    }
</style>