<template>
    <section :class="$style.Exterior">
        <div :class="$style.textBlock">
            <div :class="[$style.textBlockWrap, {_animated: isOnTransition}]">
                <h2 :class="$style.title"
                    class="custom-title _white _m">
                    <span class="custom-title__origin" v-html="activeTitle"></span>
                    <span class="custom-title__shadow" v-html="activeTitle"></span>
                </h2>
                <div :class="[$style.text, 'text']" v-html="activeText"></div>
            </div>
        </div>
        <div :class="$style.sliderWrap">
            <div ref="slider" :class="[$style.slider, 'swiper-container']">
                <div :class="[$style.wrapper, 'swiper-wrapper']">
                    <ImageLazy v-for="(image, i) in images"
                               :key="i"
                               class="swiper-slide"
                               :origin="image.fileDisplay"
                               :preview="image.filePreview"/>
                </div>
            </div>
        </div>
        <template v-if="isShowControllers">
            <SliderControls :class="$style.controls"
                            @prev="prevClick"
                            @next="nextClick"/>
        </template>
    </section>
</template>

<script>
    import SliderMixin from '../../mixins/SliderMixin';
    import ImageLazy from '../common/ImageLazy';
    import SliderControls from '../common/slider/SliderControls';

    export default {
        name: 'Exterior',
        components: {
            SliderControls,
            ImageLazy,
        },
        mixins: [SliderMixin],

        data() {
            return {
                isOnTransition: false,
                activeText: '',
                activeTitle: '',
            };
        },

        watch: {
            active() {
                this.isOnTransition = true;
                this.sliderApp.on('slideChangeTransitionEnd', () => {
                    this.activeText = this.images[this.active].description;
                    this.activeTitle = this.images[this.active].title;
                    this.isOnTransition = false;
                });
            },
        },

        mounted() {
            this.activeText = this.images[this.active].description;
            this.activeTitle = this.images[this.active].title;
        },
    };
</script>

<style lang="scss" module>
    .Exterior {
        position: relative;
        height: 74rem;

        @include respond-to(mobile) {
            height: auto;
            margin-top: 8.7rem;

            @include aspect-ratio(300, 225);
        }
    }

    .textBlock {
        position: absolute;
        top: -7%;
        left: 43.8%;
        transform: translateX(-50%);
        z-index: 1;
        min-height: 35rem;
        width: 34.6rem;
        padding: 7.7rem 1.6rem 2rem;

        @include respond-to(mobile) {
            left: 50%;
            width: 101%;
            min-height: auto;
            height: 31.3rem;
            padding-top: calc(4.3rem + 10vw);
            padding-left: $s-tablet-padding;
            padding-right: $s-tablet-padding;
        }

        @include respond-to(s-mobile) {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            z-index: -1;
            height: 100%;
            transform: translateY(-50%) matrix(1, -.2, 0, .98, 0, 0);
            background-color: $black;

            @include respond-to(mobile) {
                //
            }
        }
    }

    .textBlockWrap {
        overflow: hidden;

        &:global(._animated) {

            .title {
                opacity: 0;
                transform: translateX(-150%);
                transition: opacity .3s ease-out, transform .3s ease-out;
            }

            .text {
                opacity: 0;
                transform: translateX(-150%);
                transition: opacity .3s ease-out, transform .3s ease-out;
                transition-delay: .3s;
            }
        }
    }

    .title {
        opacity: 1;
        transition: opacity .3s ease-out;

        @include respond-to(mobile) {

            & span {
                font-size: 2.8rem;
            }
        }
    }

    .text {
        margin-top: 2.8rem;
        color: $white;
        opacity: .8;
        transition: opacity .3s ease-out;
        line-height: 1.6;

        @include respond-to(mobile) {
            margin-top: 2.4rem;
        }
    }

    .sliderWrap {
        position: relative;
        transform: skewY(-11.4deg);
        width: 100%;
        height: 100%;
        margin-top: calc(-5vw + 30.7rem);
        overflow: hidden;

        @include respond-to(mobile) {
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 38%;
            background: linear-gradient(121.2deg, #151313 5.49%, rgba(21, 19, 19, 0) 50.84%);
            opacity: .8;
        }
    }

    .slider {
        position: absolute;
        top: -20rem;
        left: 0;
        transform: skewY(11.4deg);
        width: 100%;
        height: 145%;

        @include respond-to(mobile) {
            top: -7.5rem;
        }
    }

    .controls {
        position: absolute;
        bottom: 6rem;
        right: 9rem;

        @include respond-to(mobile) {
            top: calc(5vw + 26rem);
            left: 1.5rem;
            bottom: auto;
            right: auto;
            z-index: 7;
        }
    }

</style>