<template>
    <div :class="$style.Hero">
        <a href="https://domrfbank.ru/"
           target="_blank"
           :class="$style.partner">
            <div :class="$style.partnerLogo"></div>
        </a>
        <a href="/"
           :class="$style.partner_escrow">
            <div :class="$style.partnerLogo_escrow"></div>
        </a>
        <div ref="slider"
             :class="$style.slider"
             class="swiper-container">
            <template v-if="$mq !== 'xs'">
                <div class="swiper-wrapper">
                    <div v-for="slide in slides"
                         :key="slide.id"
                         :class="$style.preview"
                         class="swiper-slide"
                         :style="{backgroundImage: `url(${slide.filePreview})`}">
                        <div :class="$style.image"
                             :data-background="slide.fileDisplay"
                             class="swiper-lazy">
                            <h3 v-if="slide.title" :class="$style.title">{{ slide.title }}</h3>
                        </div>
                    </div>
                </div>

                <div :class="$style.progress">
                    <transition-group name="pagi" tag="div" :class="$style.progressWrap">
                        <div v-for="(count, i) in paginationCount"
                             :key="count"
                             :class="[$style.progressItem, {'_active': i === 0}]">
                            {{ count }}
                        </div>
                    </transition-group>
                    <span :class="[$style.progressLine, {'_active': transition && active}]"></span>
                </div>
            </template>
            <template v-else>
                <ImageLazy :origin="firstSlide.fileDisplay"
                           :preview="firstSlide.filePreview">
                    <h3 v-if="firstSlide.title" :class="$style.title">{{ firstSlide.title }}</h3>
                </ImageLazy>
            </template>
        </div>

        <div :class="$style.linkContainer">
            <nuxt-link to="/flats/" :class="$style.link"><span>Выбрать квартиру</span></nuxt-link>
        </div>
    </div>
</template>

<script>
    import Swiper from 'swiper/dist/js/swiper.js';
    import {mapState} from 'vuex';
    import ImageLazy from '../common/ImageLazy';

    export default {
        name: 'Hero',
        components: { ImageLazy },
        data() {
            return {
                transition: false,
                paginationCount: [],
                activeIndex: 0,
                active: true,
                slider: undefined
            };
        },

        computed: {
            ...mapState('home', [
                'slides',
            ]),

            firstSlide() {
                return this.slides[0];
            },
        },

        watch: {
            $mq(val) {
                if (val !== 'xs' && this.slider === undefined) {
                    this.$nextTick(() => {
                        this.initSlider();
                        this.getPagiCount();
                    });

                } else if (val === 'xs' && this.slider) {
                    this.slider.destroy();
                    this.paginationCount = this.paginationCount.slice(0, 0);
                    this.slider = undefined;
                }
            }
        },

        mounted() {
            if (this.$mq === 'xs') return;
            this.initSlider();
            this.getPagiCount();
        },

        beforeDestroy() {
            if (this.slider)
                this.slider.destroy();
        },

        methods: {
            initSlider() {
                this.slider = new Swiper(this.$refs.slider, {
                    speed: 700,
                    threshold: 20,
                    lazy: {
                        loadedClass: '_loaded',
                        loadOnTransitionStart: true,
                    },
                    loop: true,
                    allowTouchMove: false,
                    autoplay: {
                        delay: 6000,
                    },
                    on: {
                        init: () => {
                            this.transition = true;
                        },
                    },
                });


                this.slider.on('slideChangeTransitionStart', () => {
                    this.transition = false;
                    let index = this.paginationCount.shift();
                    this.paginationCount.push(index);
                });
                this.slider.on('slideChangeTransitionEnd', () => {
                    this.active = !this.active;
                    this.transition = true;
                });
            },

            getPagiCount() {
                this.slides.forEach((item, i) => {
                    this.paginationCount.push(i + 1);
                });
            },
        },
    };
</script>

<style lang="scss" module>
    .Hero {
        position: relative;
        display: flex;
        width: 100%;
        height: 100vh;

        @include respond-to(mobile) {
            height: 60rem;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 25.6rem;
            z-index: 1;
            width: 59.8rem;
            height: 11rem;
            background: url("/images/hero/hero-bg-top.svg") no-repeat center;
            background-size: contain;

            @include respond-to(mobile) {
                top: -16.8px;
                left: -13rem;
                width: 40.1rem;
                height: 11.3rem;
                opacity: .2;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 51.2rem;
            height: 100%;
            background: linear-gradient(90deg, #000 0, rgba(21, 19, 19, 0) 51.21%);
            opacity: .8;

            @include respond-to(s-tablet) {
                width: 50%;
            }

            @include respond-to(mobile) {
                width: 100%;
                height: 7.2rem;
                background: linear-gradient(180deg, #000 0%, rgba(21, 19, 19, 0) 51.21%);
                opacity: .6;
            }
        }
    }

    .partner {
        position: absolute;
        top: 6rem;
        right: 90px;
        z-index: 2;
        display: block;
        width: 230px;
        height: 68px;
        padding: 16px 24px;
        background-color: #fff;
        border-radius: 2px;

        @include respond-to(mobile) {
            right: auto;
            left: 46px;
            top: 260px;
            width: 184px;
            height: 54px;
            padding: 12px 16px;
        }

        @include respond-to(s-mobile) {
            left: 16px;
        }
    }

    .partnerLogo {
        width: 100%;
        height: 100%;
        background: url("/images/hero/dom_rf_logo.png") no-repeat center;
        background-size: contain;
    }

    .partner_escrow {
        position: absolute;
        top: 12.1rem;
        right: 90px;
        z-index: 2;
        display: block;
        width: 230px;
        height: 68px;
        padding: 16px 24px;
        background-color: #fff;
        border-radius: 2px;

        @include respond-to(mobile) {
            right: auto;
            left: 46px;
            top: 318px;
            width: 184px;
            height: 54px;
            padding: 12px 16px;
        }

        @include respond-to(s-mobile) {
            left: 16px;
        }
    }

    .partnerLogo_escrow {
        width: 100%;
        height: 100%;
        background: url("/images/hero/escrow_account.png") no-repeat center;
        background-size: contain;
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .preview {
        position: relative;
        background-size: cover;
        background-position: center;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50%;
        background-size: cover;
        opacity: 0;
        transition: opacity .6s $easing;

        @include respond-to(mobile) {
            //top: 10rem;
        }

        &:global(._loaded) {
            opacity: 1;
        }
    }

    .title {
        position: absolute;
        top: 20.9rem;
        left: 50.2rem;
        max-width: 71rem;
        font-family: $font-secondary;
        font-size: 8rem;
        font-weight: 400;
        line-height: 1;
        color: #fff;
        opacity: .8;

        @include respond-to(mobile) {
            top: 16.2rem;
            left: 44px;
            font-size: 4.2rem;
        }

        @include respond-to(s-mobile) {
            left: 13px;
        }
    }

    .progress {
        position: absolute;
        top: 17.7rem;
        left: 51rem;
        display: flex;
        font-family: $font-secondary;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;

        @include respond-to(mobile) {
            top: 13.2rem;
            left: $s-tablet-padding;
        }

        @include respond-to(s-mobile) {
            left: $mobile-padding;
        }
    }

    .progressWrap {
        display: flex;
    }

    .progressItem {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        opacity: .6;
        transition: opacity .3s $easing;

        &:global(.pagi-move) {
            transition: transform 1s;
        }

        &:first-child {
            margin-right: 32px;
        }

        &:global(._active) {
            opacity: 1;
        }
    }

    .progressLine {
        position: absolute;
        top: 47%;
        left: 7px;
        transform: translateY(-50%);
        width: 16px;
        height: 2px;
        margin-left: 8px;
        background-color: rgba(#fff, .6);

        &:global(._active) {

            &:after {
                transform: scaleX(1);
                transition: transform 6s linear;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transform-origin: top left;
            transform: scaleX(0);
            transition: transform 6s linear;
        }
    }

    .linkContainer {
        position: absolute;
        bottom: -53px;
        right: 0;
        z-index: 4;
        width: 510px;
        height: 505px;
        background: url("../../static/images/hero/hero-bg-arrows.svg") no-repeat center;
        background-size: contain;
        overflow: hidden;

        @include respond-to(mobile) {
            right: -9rem;
            bottom: -3.6rem;
            width: 38.2rem;
            height: 22.8rem;
            background-image: url("../../static/images/hero/hero-bg-two-arrows.svg");
            overflow: visible;
        }
    }

    .link {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 169px;
        font-family: $font-secondary;
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
        background: url("/images/hero/hero-bg-link.svg") no-repeat center;
        background-size: contain;
        transform: translateY(-50%);
        transition: transform .3s $easing;

        @include respond-to(mobile) {
            top: 29%;
            right: 4.2rem;
            width: 38.2rem;
            height: 10.8rem;
            font-size: 1.8rem;
        }

        &:hover {
            transform: translate(4%, -50%);
        }

        span {
            position: absolute;
            top: 50%;
            left: 44px;
            z-index: 1;
            margin-top: -4%;
            transform: matrix(1, -.2, 0, .98, 0, 0);

            @include respond-to(mobile) {
                left: 7rem;
            }
        }
    }
</style>
