<template>
    <div :class="$style.Location">
        <div :class="$style.about">
            <div :class="$style.aboutInner">
                <div v-if="data.locationTitle"
                     :class="$style.title"
                     class="custom-title">
                    <span class="custom-title__origin">{{ data.locationTitle }}</span>
                    <span :class="$style.titleShadow" class="custom-title__shadow">{{ data.locationTitle }}</span>
                </div>

                <div v-if="data.locationImage"
                     :class="$style.locationImg"
                     :style="{backgroundImage: `url(${data.locationImage})`}"></div>
            </div>

            <div :class="$style.inner">
                <div v-if="data.locationDescriptionIntro"
                     :class="$style.descIntro"
                     class="text"
                     v-html="data.locationDescriptionIntro"></div>
            </div>
        </div>

        <div :class="$style.mapContainer">
            <Facts :data="data"/>
            <div :class="$style.map">
                <div :class="$style.mapOpen"
                     @click="onOpenMap">
                </div>
            </div>
            <div v-if="data.locationMapDescription"
                 :class="$style.mapDesc"
                 class="text"
                 v-html="data.locationMapDescription"></div>
        </div>

    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Facts from './location/Facts';

    export default {
        name: 'Location',

        components: { Facts },

        data() {
            return {
                map: null,
            };
        },

        computed: {
            ...mapState('home', [
                'data',
            ]),
        },

        methods: {
            onOpenMap() {
                this.$emit('click');
            },
        },
    };
</script>

<style lang="scss" module>
    .Location {
        position: relative;

        @include respond-to(mobile) {
            z-index: 1;
        }

        &:after {
            content: '';
            position: absolute;
            top: -4.8rem;
            left: 0;
            height: 7.2rem;
            width: 100%;
            background: linear-gradient(180deg, rgba(31, 23, 26, 0) 0%, $black 49.26%);
        }
    }

    .about {
        position: relative;
        z-index: 1;
        display: flex;
        height: 62rem;
        width: 100%;
        padding-top: 6.2rem;
        padding-left: $sidebarWidth;
        background-color: $black;
        color: #fff;

        @include respond-to(mobile) {
            z-index: 10;
            flex-direction: column;
            height: auto;
            padding-left: $s-tablet-padding;
            padding-right: $s-tablet-padding;
        }

        @include respond-to(s-mobile) {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -20vw;
            left: 0;
            z-index: -1;
            width: 0;
            height: 0;
            border-top: 0 solid rgba(0, 0, 0, 0);
            border-bottom: 20vw solid rgba(0, 0, 0, 0);
            border-left: 100vw solid $black;
            border-right: 0 solid rgba(0, 0, 0, 0);

            @include respond-to(mobile) {
                border-right: 20vw solid rgba(0, 0, 0, 0);
            }
        }
    }

    .locationImg {
        width: 51rem;
        height: 56.6rem;
        margin-top: 3.2rem;
        margin-left: 8.6rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;

        @include respond-to(mobile) {
            position: relative;
            bottom: calc(-10vw - 6.3rem);
            width: 28.8rem;
            height: 36rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
        }
    }

    .title {
        max-width: 45rem;
        margin-left: 17rem;

        @include respond-to(mobile) {
            position: absolute;
            top: 7.2rem;
            margin-left: 0;
            letter-spacing: normal;
        }
    }

    .titleShadow {
        color: $black;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

    .aboutInner {
        @include respond-to(mobile) {
            order: 2;
            margin-top: -5.8rem;
        }
    }

    .inner {
        margin-top: 6rem;
        margin-left: 5.5rem;
        margin-right: 8.5rem;

        @include respond-to(mobile) {
            order: 1;
            margin-top: 11.5rem;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .descIntro {
        opacity: .85;

        @include respond-to(mobile) {
            line-height: 1.6;
        }

        strong {
            font-weight: 600;
        }
    }

    .link {
        margin-top: 3.2rem;
        display: block;
        font-family: $font-secondary;
        font-size: 1.2rem;
        line-height: 1;
        text-transform: uppercase;
        color: $orange;

        @include respond-to(mobile) {
            margin-top: 2.4rem;
            margin-bottom: 4.2rem;
        }
    }

    .mapContainer {
        position: relative;
        width: 100%;
        height: 82.8rem;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(44.71deg, #e0ceae 20%, rgba(245, 238, 225, 0) 65%);

            @include respond-to(mobile) {
                display: none;
            }
        }

        @include respond-to(mobile) {
            height: 70rem;
        }

        @include respond-to(s-mobile) {
            height: 81.5rem;
        }
    }

    .map {
        position: relative;
        width: 100%;
        height: 100%;
        background: url("../../static/images/location/map.png") no-repeat center;
        background-size: cover;

        @include respond-to(mobile) {
            background-image: url('../../static/images/location/map-ipad.png');
        }

        @include respond-to(s-mobile) {
            top: -5rem;
            z-index: 2;
            background-image: url('../../static/images/location/map-mobile.png');
        }
    }

    .mapOpen {
        position: absolute;
        top: 58%;
        right: 24%;
        width: 15%;
        height: 15%;
        z-index: 2;
        transform: translateY(-50%);
        cursor: pointer;

        @include respond-to(mobile) {
            top: 32%;
            right: 19%;
        }

        @include respond-to(s-mobile) {
            top: 35%;
            right: 50%;
            transform: translateX(50%);
            width: 120px;
        }
    }

    .mapDesc {
        position: absolute;
        left: 42.6rem;
        bottom: 5.2rem;
        z-index: 3;
        width: 34rem;
        color: $black;

        @include respond-to(mobile) {
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 50px $s-tablet-padding 0;
            background: $gradient-top;

            &:after {
                content: '';
                position: absolute;
                bottom: -20vw;
                left: 0;
                z-index: -1;
                width: 0;
                height: 0;
                border-bottom: 20vw solid rgba(0, 0, 0, 0);
                border-left: 100vw solid $beige;
            }
        }

        @include respond-to(s-mobile) {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }
    }
</style>
