<template>
    <div :class="$style.Mortgage">
        <div :class="$style.desc" class="text" v-html="data.mortgageDescription"></div>

        <n-link :class="$style.link" to="/purchases/mortgage/"><span>Расчет ипотеки</span></n-link>

        <div :class="$style.banksContainer">
            <div :class="$style.banks"></div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'Mortgage',

        computed: {
            ...mapState('home', [
                'data',
            ]),
        },
    };
</script>

<style lang="scss" module>
    .Mortgage {
        position: relative;
        min-height: 40rem;
        padding-top: 6.8rem;
        padding-left: $sidebarWidth;
        overflow: hidden;

        @include respond-to(mobile) {
            min-height: auto;
            margin-bottom: 15vw;
            padding-top: 0;
            padding-left: $s-tablet-padding;
            padding-right: $s-tablet-padding;
            overflow: visible;
        }

        @include respond-to(s-mobile) {
            padding-left: $mobile-padding;
            padding-right: $mobile-padding;
        }
    }

    .desc {
        max-width: 25.5rem;
        margin-left: 8.6rem;

        @include respond-to(mobile) {
            max-width: none;
            margin-top: 2.1rem;
            margin-bottom: 2.3rem;
            margin-left: 0;

            p:not(:last-child) {
                margin-bottom: 1.6rem;
            }
        }
    }

    .banksContainer {
        @include respond-to(mobile) {
            position: relative;

            @include aspect-ratio(287, 91);
        }
    }

    .banks {
        position: absolute;
        top: 14.6rem;
        right: 8.8rem;
        width: 79.8rem;
        height: 27.2rem;
        background: url("../../static/images/mortgage/banksDesktop.svg") no-repeat;
        background-size: cover;

        @include respond-to(mobile) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("../../static/images/mortgage/banksMobile.svg") no-repeat;
            background-size: cover;
        }
    }

    .link {
        position: absolute;
        top: 0;
        right: 0;
        width: 44rem;
        height: 23.2rem;
        font-family: $font-secondary;
        font-size: 2.8rem;
        text-transform: uppercase;
        color: #fff;
        background: url("../../static/images/mortgage/bg-link.svg") no-repeat center;
        background-size: contain;
        transform: translateY(-26%);
        transition: transform .3s $easing;

        @include respond-to(mobile) {
            top: auto;
            right: -5.2rem;
            bottom: calc(15vw - 24.2rem);
            z-index: 2;
            width: 38.1rem;
            height: 17.3rem;
            font-size: 1.8rem;
            letter-spacing: .05rem;
        }

        &:hover {
            transform: translate3d(4%, -26%, 0);
        }

        span {
            position: absolute;
            top: 46%;
            left: 5.2rem;
            z-index: 1;

            @include respond-to(mobile) {
                top: 47%;
                left: 7.6rem;
            }
        }
    }
</style>
