<template>
    <div :class="$style.Plans">
        <h3 :class="[$style.title]" class="custom-title">
            <span class="custom-title__origin">Современные <br>планировки</span>
            <span class="custom-title__shadow">Современные <br>планировки</span>
        </h3>

        <div ref="slider" class="swiper-container" :class="$style.innerContainer">
            <div :class="$style.inner" class="swiper-wrapper">
                <Plan v-for="layout in layoutStats.slice(0,3)"
                      :key="layout.rooms"
                      :class="$style.plan"
                      class="swiper-slide"
                      :rooms="layout.rooms"
                      :plan="layout.layoutPlan"
                      :price="parseInt(layout.minPrice)"
                      :area="parseInt(layout.minArea)"/>
            </div>

            <div ref="pagination" class="swiper-pagination" :class="$style.paginationBullets"></div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import Plan from './plans/Plan';
    import Swiper from 'swiper/dist/js/swiper.min';

    export default {
        name: 'Plans',
        components: {Plan},

        data() {
            return {
                sliderApp: undefined,
                active: 0,
                autoPlayTime: 3,
                slidesPerView: 1,
                parallax: false,
                touched: false,
                swiped: false,
                play: false,
                inited: false,
                loop: true,
                loopedSlides: 2,
            };
        },

        computed: {
            ...mapState('home', [
                'layoutStats',
            ]),

            images() {
                return this.layoutStats.slice(0, 3).map(layout => {
                    return layout.typeName;
                });
            },

            isShowControllers() {
                return this.images?.length && this.images.length > 1;
            },
        },

        watch: {
            images() {
                this.$nextTick(() => {
                    this.sliderApp.update();
                    this.sliderApp.slideTo(0, true);
                });
            },
        },

        mounted() {
            if (this.$mq === 'xs') {
                this.initApp();
                this.startObserve();
            }
        },

        beforeDestroy() {
            if (this.$mq === 'xs') {
                this.sliderApp.destroy();
            }
        },

        methods: {
            startObserve() {
                if (!this.$refs?.slider) return;

                let options = {
                    root: null,
                    threshold: .5,
                };

                let observerCallback = (entries, observer) => {
                    entries.forEach(entry => {
                        this.play = entry.isIntersecting;

                        if (this.play && !this.inited) this.active = 0;
                        if (this.play) this.inited = true;
                    });
                };

                let observer = new IntersectionObserver(observerCallback, options);

                observer.observe(this.$refs.slider);
            },

            initApp() {

                const settings = {
                    speed: 600,
                    slidesPerView: this.slidesPerView,
                    parallax: this.parallax,
                    direction: 'horizontal',
                    loop: this.loop,
                    loopedSlides: this.loopedSlides,
                    spaceBetween: 16,
                    slideActiveClass: '_active-slide',
                    navigation: {
                        prevEl: this.$refs?.prev?.$el || this.$refs?.prev || false,
                        nextEl: this.$refs?.next?.$el || this.$refs?.next || false,
                        hiddenClass: '_hidden',
                    },
                };

                if (this.$refs.pagination) {
                    settings.pagination = {
                        el: this.$refs.pagination,
                        type: 'bullets',
                        clickable: true,
                        bulletClass: this.$style.swiperDot,
                        bulletActiveClass: this.$style._active,
                    };
                }

                this.sliderApp = new Swiper(this.$refs.slider, settings);

                this.sliderApp.on('progress', progress => {
                    let index = Math.ceil(Math.round(progress * 10000) * this.images.length / 10000);
                    this.active = index && index > 1 ? index - 1 : index;
                });

                this.sliderApp.on('touchMove', () => {
                    this.swiped = true;
                    this.touched = true;
                });

                this.sliderApp.on('touchEnd', (evt) => {
                    if (this.swiped) return;
                    this.touched = false;
                });
            },

            paginationClick(index) {
                this.goTo(index);
                this.touched = true;
            },

            goTo(index) {
                let val = index;

                if (val > this.images.length - 1) val = 0;

                this.sliderApp.slideTo(val);
            },

            prevClick() {
                this.touched = true;
                this.prev();
            },

            prev() {
                this.sliderApp.slidePrev();
            },

            nextClick() {
                this.touched = true;
                this.next();
            },

            next() {
                this.sliderApp.slideNext();
            },
        },
    };
</script>

<style lang="scss" module>
    .Plans {
        position: relative;
        padding-top: 15rem;
        padding-left: $sidebarWidth;
        padding-bottom: 4rem;

        @include respond-to(mobile) {
            margin-top: calc(10vw + 31.8rem);
            padding: 0;
            padding-bottom: 50px;
            overflow: hidden;
        }
    }

    .title {
        margin-left: $containerIndent * 2;

        @include respond-to(mobile) {
            z-index: 2;
            margin-left: 1.6rem;
            margin-bottom: 20px;
            letter-spacing: normal;
        }
    }

    .innerContainer {
        padding: 0 8.5rem;
        overflow-x: visible;

        @include respond-to(mobile) {
            height: 31.4rem;
            padding: 0 3.3rem;
        }
    }

    .inner {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
    }

    .plan {
        position: relative;

        &:first-child {
            top: 4.2rem;

            @include respond-to(mobile) {
                top: 0;
            }
        }

        &:last-child {
            top: -4.2rem;

            @include respond-to(mobile) {
                top: 0;
            }
        }
    }

    .swiperDot {
        display: inline-block;
        width: .6rem;
        height: .6rem;
        margin: 0 .4rem;
        border-radius: 1px;
        background-color: $light-grey;
        transition: background-color .3s ease;

        &:active {
            outline: none;
        }
    }

    ._active {
        background-color: $orange;
        transition: background-color .3s ease;
    }

    .paginationBullets {
        margin-top: 30px;
    }
</style>
