<template>
    <div ref="container"
         :class="[$style.Visual, {_decored: type === 'floor'}]">
        <h3 :class="[$style.title, titleClass]" class="custom-title">
            <template v-if="type !== 'floor'">
                <span class="custom-title__origin">Генплан</span>
                <span class="custom-title__shadow">Генплан</span>
            </template>
            <template v-else>
                <span class="custom-title__origin">Выбор этажа</span>
                <span class="custom-title__shadow">Выбор этажа</span>
            </template>
        </h3>

        <div v-if="type === 'section'"
             :class="$style.back"
             @click="type = 'building'">
            <span :class="$style.backLabel">Назад</span>
            <svg :class="$style.triangle">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </div>

        <div v-if="type === 'floor'"
             :class="[$style.back, '_floor']"
             @click="type = 'section'">
            <span :class="$style.backLabel">Назад к генплану</span>
            <svg :class="$style.triangle" class="_active">
                <use xlink:href="#icon-triangle"></use>
            </svg>
        </div>

        <div :class="[$style.container, {'_floor': type === 'floor'}]">
            <transition name="component-fade" mode="out-in">
                <!--BuildingSelection-->
                <BuildingSelection
                    v-if="type === 'building'"
                    key="building"
                    :image="planSrc"
                    :width="planSize.width"
                    :height="planSize.height"
                    :buildings="projectVisual.buildingSet"
                    :container-data="containerData"
                    :view-type="view"
                    :pins="pins"
                    @change="onViewChange"
                    @select="onBuildingSelect"
                />

                <!--SectionSelection-->
                <SectionSelection
                    v-else-if="type === 'section'"
                    key="sections"
                    :image="sectionPlanSrc"
                    :width="sectionPlanSize.width"
                    :height="sectionPlanSize.height"
                    :sections="activeSections"
                    :container-data="containerData"
                    @change="onTypeChange"
                    @select="onSectionSelect"
                />
                <!--FloorSelection-->
                <FloorSelection v-else-if="type === 'floor'"
                                key="floor"
                                :container-data="containerData"
                                :current-section="currentSection"
                                :miniplan="miniplan"
                                :floors="activeFloors"/>
            </transition>
        </div>

        <n-link to="/flats/"
                :class="[$style.link, {_fill: type === 'floor'}]">
            <svg viewBox="0 0 500 192"
                 :class="$style.icon">
                <use xlink:href="#icon-check-mark"></use>
            </svg>
            <span :class="$style.label">по параметрам</span>
        </n-link>
    </div>
</template>

<script>
    //utils
    import {getOffset} from '../../assets/js/utils';
    //vuex
    import {mapGetters, mapState, mapActions} from 'vuex';
    //components
    import BuildingSelection from './visual/BuildingSelection';
    import SectionSelection from './visual/SectionSelection';
    import FloorSelection from './visual/FloorSelection';

    export default {
        name: 'Visual',

        components: {
            FloorSelection,
            SectionSelection,
            BuildingSelection,
        },

        data() {
            return {
                type: 'building',
                view: 1,
                activeSections: [],
                activeFloors: [],
                currentSection: {},
                containerData: {}
            };
        },

        computed: {
            ...mapGetters('home', [
                'projectVisual',
            ]),

            ...mapState({
                floors: state => state.home.floors,
                sections: state => state.home.sections,
            }),

            pins() {
                return this.view === 1 ? this.projectVisual.planplaceSet : [];
            },

            sectionPlanSrc() {
                return this.activeSections.length
                    ? this.activeSections[0].building.plan
                    : null;
            },

            sectionPlanSize() {
                return {
                    width: this.activeSections[0].building.planWidth ? +this.activeSections[0].building.planWidth : 1020,
                    height: this.activeSections[0].building.planHeight ? +this.activeSections[0].building.planHeight : 768,
                };
            },

            miniplan() {
                return {
                    url: this.projectVisual?.miniPlan || null,
                    width: this.projectVisual?.miniPlanWidth || 88,
                    height: this.projectVisual?.miniPlanHeight || 64,
                };
            },

            planSrc() {
                return this.projectVisual[`plan${this.view}`];
            },

            planSize() {
                return {
                    width: this.projectVisual[`plan${this.view}Width`],
                    height: this.projectVisual[`plan${this.view}Height`],
                };
            },

            titleClass() {
                return this.type !== 'floor' ? '_white' : '_black';
            },
        },

        mounted() {
            let { left: visualOffsetX, top: visualOffsetY } = getOffset(this.$refs.container);
            let newData = {
                visualOffsetX: visualOffsetX,
                visualOffsetY: visualOffsetY,
                visualHeight: this.$refs.container.offsetHeight,
                visualWidth: this.$refs.container.offsetWidth,
            };
            this.containerData = { ...this.containerData, ...newData };
        },

        methods: {
            ...mapActions({
                getAllSections: 'home/getAllSections',
                getAllFloors: 'home/getAllFloors',
            }),

            onViewChange() {
                switch (this.view) {
                    case 1:
                        this.view = 2;
                        break;
                    case 2:
                        this.view = 1;
                        break;
                }
            },

            onTypeChange(id) {
                // this.activeType = id;
                console.log(id);
                // this.update();
            },

            async onBuildingSelect(buildingID) {
                if (!this.$device.isDesktop) {
                    this.$router.push({
                        path: `/flats/?buildingID=${buildingID}`,
                    });
                } else {
                    if (!this.sections[buildingID]) {
                        await this.getAllSections(buildingID);
                    }
                    if (!this.sections[buildingID].length) return;

                    this.activeSections = [...this.sections[buildingID]];
                    this.type = 'section';
                }
            },

            async onSectionSelect(sectionID) {
                if (!this.floors[sectionID]) {
                    await this.getAllFloors(sectionID);
                }
                if (!this.floors[sectionID].length) return;
                this.currentSection = { ...this.activeSections.find(section => section.id === sectionID) };


                this.activeFloors = [...this.floors[sectionID]];
                this.type = 'floor';
            },
        },
    };
</script>

<style lang="scss" module>
    .Visual {
        position: relative;
        height: 78.6rem;
        padding-left: $sidebarWidth;
        background-color: $black;

        @include respond-to(mobile) {
            padding-left: 0;

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 151px;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 78.42%);
            }
        }

        &:global(._decored) {

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 5%;
                background-image: url('/images/visual/floor_bg.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                animation: opacity 1s ease-in-out;
            }
        }
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 6.2rem;
        transition: background-color .3s $easing;

        &:global(._floor) {
            background-color: #fff;
        }

        @include respond-to(s-tablet) {
            padding-top: 0;
        }
    }

    .title {
        position: absolute;
        top: 6.2rem;
        left: $sidebarWidth;
        z-index: 2;
        width: 50%;
        margin-left: $containerIndent;

        @include respond-to(mobile) {
            top: calc(20vw + 2.9rem);
            left: $s-tablet-padding;
            margin-left: 0;
            letter-spacing: .05rem;
        }

        @include respond-to(s-mobile) {
            left: 18px;
        }
    }

    .planImg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 9rem;
        z-index: 10;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 800;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;

        &:global(._floor) {
            color: $black;
        }
    }

    .triangle {
        width: .5rem;
        height: .8rem;
        margin-left: 1.4rem;

        &:global(._active) {

            use {
                fill: $orange;
            }
        }

        use {
            fill: #fff;
        }

        path {
            fill: inherit;
        }
    }

    .link {
        position: absolute;
        bottom: 0;
        left: 34rem;
        display: block;
        padding: 11.5rem 7.4rem 5rem 13rem;
        overflow: hidden;
        font-size: 2.8rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $orange;
        transition: color .3s ease-out;

        @include respond-to(mobile) {
            left: -13.5px;
            bottom: -5.3rem;
            padding: 10.3rem 8.1rem 9rem 9.7rem;
            font-size: 1.8rem;
        }

        &:global(._fill) {
            color: $white;

            & .icon {
                fill: $orange;
                transition: fill .3s ease-out, transform .3s ease-out;
            }
        }

        &:hover {

            & .icon {
                transform: translateX(1rem);
                transition: transform .3s ease-out;
            }

            & .label {
                transform: translateX(1rem);
                transition: transform .3s ease-out;
            }
        }
    }

    .icon {
        position: absolute;
        top: 0;
        left: -6.5rem;
        z-index: 1;
        width: 50rem;
        height: 19.2rem;
        transform: translateX(0);
        fill: $white;
        stroke: $orange;
        stroke-width: 2px;
        transition: fill .3s ease-out, transform .3s ease-out;

        @include respond-to(mobile) {
            width: 38.1rem;
            height: 17.3rem;
        }
    }

    .label {
        position: relative;
        z-index: 2;
        display: inline-block;
        vertical-align: middle;
        transform: translateX(0);
        transition: transform .3s ease-out;
    }

    @keyframes opacity {

        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

</style>
