<template>
    <section :class="[$style.CommercialPage, 'container']">
        <div class="main-container">
            <UiBackLink v-if="isDisplayBack"
                        :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">Коммерческие <br>помещения </span>
                <span class="custom-title__shadow">Коммерческие <br>помещения </span>
            </h1>

            <!--description-->
            <div v-if="description"
                 :class="$style.description"
                 v-html="description">
            </div>

            <div :class="$style.controls">
                <!--price-->
                <div v-if="price"
                     :class="$style.price">
                    от <span>{{ price|splitThousands }}</span> руб.
                </div>

                <!--LayoutsSwitcher-->
                <LayoutsSwitcher :class="$style.LayoutsSwitcher"
                                 :active="activeNumber"
                                 :is-disabled-next="!!(activeIndex === commercial.length - 1)"
                                 :is-disabled-prev="!!(activeIndex === 0)"
                                 label="дом"
                                 @click="onClick"/>

                <!--LayoutsIncreaseButton-->
                <template v-if="$device.isMobile">
                    <LayoutsIncreaseButton :class="$style.LayoutsIncreaseButton"
                                           @click="$modal.open('LayoutZoom', {isFullScreen: true, plan: plan})"/>
                </template>
            </div>
            <div :class="$style.LayoutWrap">
                <!--Layout-->
                <div :class="$style.Layout">
                    <Layout class="aspect-content"
                            :plan="plan"/>
                </div>

                <!--links-->
                <div :class="$style.links">
                    <!--pdfLink-->
                    <a v-if="pdfLink"
                       :href="pdfLink"
                       :class="$style.link"
                       target="_blank">
                        <svg viewBox="0 0 18 24" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#icon-pdf"></use>
                        </svg>
                        <span>Скачать PDF</span>
                    </a>
                </div>
            </div>

            <Feedback :class="$style.Feedback"/>
        </div>
    </section>
</template>

<script>
    //store
    import {mapState} from 'vuex';
    // components
    import UiBackLink from '../../components/ui/UiBackLink';
    import LayoutsSwitcher from '../../components/commercial/LayoutsSwitcher';
    import LayoutsIncreaseButton from '../../components/commercial/LayoutsIncreaseButton';
    import Layout from '../../components/commercial/Layout';

    export default {
        name: 'CommercialPage',
        components: {
            Layout,
            LayoutsIncreaseButton,
            LayoutsSwitcher,
            UiBackLink,
            Feedback: () => import('../../components/common/formBlocks/Feedback'),
        },
        data() {
            return {
                activeBuilding: {},
                isDisabledNext: false,
                isDisabledPrev: false,
                isDisplayBack: false,
                activeIndex: 0,
                date: new Date().toLocaleString()
            };
        },

        computed: {
            genplanUrl() {
                return this.activeBuilding?.id ? {
                    name: 'index',
                    hash: '#visual',
                    query: { building: this.activeBuilding.id },
                } : { name: 'index', hash: '#visual' };
            },
            ...mapState({
                commercial: state => state.commercial.commercial,
                description: state => state.commercial.description,
            }),

            plan() {
                return this.activeBuilding ? this.activeBuilding.commercialPlan : '';
            },

            price() {
                return this.activeBuilding ? this.activeBuilding.commercialMinPrice : null;
            },

            activeNumber() {
                return this.activeBuilding ? this.activeBuilding.number : null;
            },

            pdfLink() {
                return this.activeBuilding.id
                    ? `/pdf/commercial/print/${this.activeBuilding.id}/?format=a4&date=${this.date}`
                    : null;
            },
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.commercial.commercial.length)
                await store.dispatch('commercial/getСommercial');
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = !!from.name;
            });
        },

        mounted() {
            this.activeBuilding = this.commercial[this.activeIndex];
        },

        methods: {
            onClick(counter) {
                this.activeIndex += counter;
                this.activeBuilding = this.commercial[this.activeIndex];
            },
        },
    };
</script>

<style lang="scss" module>
    .CommercialPage {
        position: relative;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .description {
        margin-top: 4.2rem;
        font-size: 1.3rem;
        line-height: 2;
        color: rgba($black, .85);

        @include respond-to(mobile) {
            margin-top: 30px;
        }

        ul {
            padding: 1em;
        }

        li {
            list-style: disc;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.2rem 0;
        border-bottom: 1px solid rgba($black, .1);

        @include respond-to(mobile) {
            flex-wrap: wrap;
            padding: 20px 0 30px;
        }
    }

    .price {
        color: $green;
        font-size: 2.4rem;
        line-height: 1.2;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            width: 100%;
            margin-bottom: 20px;
            font-size: 16px;
        }

        span {
            font-size: 2.8rem;

            @include respond-to(mobile) {
                font-size: 24px;
            }
        }
    }

    .Layout {
        position: relative;

        &:global > .aspect-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @include aspect-ratio(850, 540);

        @include respond-to(s-mobile) {
            @include aspect-ratio(300, 280);
        }
    }

    .LayoutsSwitcher {
        margin-left: auto;

        @include respond-to(mobile) {
            margin-left: 0;
        }
    }

    .LayoutsIncreaseButton {
        display: none;

        @include respond-to(mobile) {
            display: flex;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 6.2rem;

        @include respond-to(mobile) {
            padding-bottom: 24px;
        }
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-secondary;
        font-size: 1.2rem;
        line-height: 1;
        color: $black;
        transition: color .3s ease-out;
        cursor: pointer;

        @include respond-to(mobile) {
            font-size: 12px;
        }

        svg {
            display: block;
            width: 1.8rem;
            height: 2.4rem;
            margin-right: .8rem;
            fill: $grey;
            transition: fill .3s ease-out;

            @include respond-to(mobile) {
                width: 18px;
                height: 24px;
                margin-right: 8px;
            }
        }

        &:hover {
            color: $orange;
            transition: color .3s ease-out;

            svg {
                fill: $orange;
                transition: fill .3s ease-out;
            }
        }
    }

</style>