<template>
    <div ref="page"
         :class="$style.News">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.mainPage">
                    <h1 :class="$style.title" class="custom-title">
                        <span class="custom-title__origin">Новости</span>
                        <span class="custom-title__shadow">Новости</span>
                    </h1>
                    <ul :class="[$style.newsList, $style.firstPartNews]">
                        <li v-for="news in firstPartNews"
                            :key="news.id"
                            :class="$style.newsCell">
                            <SingleNews :news="news"/>
                        </li>
                    </ul>

                    <Subscribe :class="$style.form"
                               type-subscribe="subscription_news"/>

                    <ul :class="[$style.newsList, $style.secondPartNews]">
                        <li v-for="news in secondPartNews"
                            :key="news.id"
                            :class="$style.newsCell">
                            <SingleNews :news="news"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SingleNews from '../../components/news/SingleNews';
    import Subscribe from '../../components/common/formBlocks/Subscribe';
    import allNews from '../../queries/news/allNews.gql';

    export default {
        components: {
            SingleNews,
            Subscribe,
        },

        data() {
            return {
                pageInfo: {
                    first: 8,
                    after: null,
                    hasNext: false,
                },
                flags: {
                    loading: false,
                    isTicking: false,
                },
                firstPartNews: [],
                secondPartNews: []
            };
        },

        async asyncData({ app, store, query }) {
            await app.$gql.clearStore();

            try {
                let newsResponse = await app.$gql.query({
                    query: allNews,
                    variables: {
                        first: 8
                    },
                });


                const news = newsResponse.data.allPosts.edges.map(edge => {
                    return edge.node;
                });

                return {
                    firstPartNews: news.splice(0, 4),

                    secondPartNews: news,
                    pageInfo: {
                        first: 8,
                        after: newsResponse.data.allPosts.pageInfo.endCursor,
                        hasNext: newsResponse.data.allPosts.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log('news async', e);
            }
        },

        async fetch({ store }) {
            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            async getNews() {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;
                const newsResponse = await this.$gql.query({
                    query: allNews,
                    variables: {
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });
                const news = newsResponse.data.allPosts.edges.map(edge => edge.node);
                this.secondPartNews = [].concat.apply(this.secondPartNews, news);
                this.pageInfo.after = newsResponse.data.allPosts.pageInfo.endCursor;
                this.pageInfo.hasNext = newsResponse.data.allPosts.pageInfo.hasNextPage;

                this.$nextTick(() => {
                    this.flags.loading = false;
                });
            },

            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getNews();
                }

                this.flags.isTicking = false;
            },
        },
    };
</script>

<style lang='scss' module>
    .News {
        overflow: hidden;

        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .newsList {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5rem;

        @include respond-to(mobile) {
            display: block;
            margin-top: 3rem;
            overflow: hidden;
        }
    }

    .secondPartNews {
        margin-top: 0;
    }

    .newsCell {
        width: calc(50% - 2.1rem);
        margin-right: 4.2rem;
        margin-bottom: 4.2rem;
        break-inside: avoid-column;

        &:nth-child(2n) {
            margin-right: 0;
        }

        @include respond-to(mobile) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 1.2rem;
        }
    }

    .form {
        margin-bottom: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 2.4rem;
            margin-bottom: 2.4rem;
        }
    }
</style>