<template>
    <div :class="$style.Print">
        <PrintPage :date="date" :office="office" :link="link">
            <div :class="$style.CommercialPrint">
                <div :class="$style.content">
                    <h1 :class="$style.title"
                        class="custom-title">
                        <span class="custom-title__origin _m">Коммерческие помещения</span>
                        <span class="custom-title__shadow _m">Коммерческие помещения</span>
                    </h1>

                    <div :class="$style.row">
                        <div v-if="price"
                             :class="$style.price">
                            от <span>{{ price|splitThousands }}</span> руб.
                        </div>
                        <div :class="$style.number">
                            <span>{{ buildingNumber }}</span> дом
                        </div>
                    </div>
                    <div :class="$style.plan"
                    :style="{backgroundImage: `url(${plan})`}"></div>
                </div>
            </div>
        </PrintPage>
    </div>
</template>

<script>
    // components
    import PrintPage from '../../../../components/layout/print/PrintPage';
    //queries
    import allOffices from '../../../../queries/allOffices.gql';
    import building from '../../../../queries/commercial/building.gql';


    export default {
        layout: 'print',

        components: {
            PrintPage,
        },

        data() {
            return {
                link: '',
                date: '',
                price: null,
                buildingNumber: null,
                plan: null
            };
        },

        async asyncData({ app, params, query }) {
            await app.$gql.clearStore();
            try {
                const officesQuery = app.$gql.query({
                    query: allOffices,
                });
                const buildingQuery = app.$gql.query({
                    query: building,
                    variables: {
                        id: params.id,
                    },
                });
                const [
                    officesData,
                    buildingData
                ] = await Promise.all([
                    officesQuery,
                    buildingQuery
                ]);

                return {
                    date: query.date,
                    office: officesData.data.allOffices[0],
                    buildingNumber: buildingData.data.building.number || null,
                    price: buildingData.data.building.commercialMinPrice || null,
                    plan: buildingData.data.building.commercialPlan || null,
                };
            } catch (e) {
                console.log(e);
            }
        },

        mounted() {
            this.link = `${window.location.hostname}/commercial/`;
        }
    };
</script>

<style lang="scss" module>
    .Print {
        //
    }

    .CommercialPrint {
        margin-bottom: 4rem;
    }

    .title {
        width: 314px;
        margin-bottom: 20px;
        font-size: 36px;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .price {
        color: $green;
        font-size: 16px;
        line-height: 1.2;
        font-family: $font-secondary;

        span {
            font-size: 28px;
        }
    }

    .number {
        font-family: $font-secondary;
        font-size: 16px;
        line-height: 1;
        color: $black;

        span {
            font-size: 28px;
        }
    }

    .plan {
        width: 100%;
        height: 512px;
        margin: 50px auto 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

</style>