/*
 ** Данный файл содержит дефолтные стили, дополняющие normalize.css.
 */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: .735294vw;

    @include respond-to(mobile) {
        font-size: 10px;
    }

    @include respond-to(xxl) {
        font-size: 14.1103px;
    }
}

body {
    font-family: $font-primary;
    font-size: 1.3rem;
    line-height: 2;
    color: $black;
    background-color: $white;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-print-color-adjust: exact;

    @include respond-to(mobile) {
        font-size: 13px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="search"]::-ms-clear { /* нестандартный псевдоэлемент IE */
    display: none;
}

input[type="search"]::-webkit-search-cancel-button { /* нестандартный псевдоэлемент WebKit/Blink, но Esc по-прежнему будет удалять раннее введённый текст */
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    /*stylelint-disable*/
    background-color: #000 !important;
    color: #fff !important;
    transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
    /*stylelint-enable*/
}

textarea {
    resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
    font-size: initial;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
