.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-900 {
    font-weight: 900;
}

.custom-title {
    $title: &;

    position: relative;
    font-family: $font-secondary;
    font-size: 4.2rem;
    line-height: 1;
    letter-spacing: -.15rem;
    text-transform: uppercase;

    &._sm {
        font-size: 2.8rem;
        font-weight: normal;

        b {
            font-size: 6.2rem;
            font-weight: normal;
        }
    }

    &._m {
        font-size: 4.2rem;
    }

    &._white {
        color: #fff;

        & #{$title} {

            &__shadow {
                -webkit-text-stroke: 1px #fff;
            }
        }
    }

    &._black {
        color: $black;
    }

    &__origin {
        position: relative;
        z-index: 1;
    }

    &__shadow {
        position: absolute;
        top: .5rem;
        left: .5rem;
        width: 100%;
        color: $black;
        opacity: .2;
        text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

        @supports (-webkit-text-stroke: 1px black) {
            color: transparent;
            -webkit-text-stroke: 1px black;
            text-shadow: none;
        }
    }

    @include respond-to(mobile) {
        font-size: 3.6rem;
    }
}

.text {
    font-size: 1.3rem;
    line-height: 1.6;

    p {

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }
}
