/* Fade slow */

.fade-slow-enter-active,
.fade-slow-leave-active {
    transition: opacity 1s;
}

.fade-slow-enter,
.fade-slow-leave-active {
    opacity: 0;
}

/* Fade */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* Fade fast */

.fade-fast-enter-active,
.fade-fast-leave-active {
    transition: opacity .1s;
}

.fade-fast-enter,
.fade-fast-leave-active {
    opacity: 0;
}

/* Modal Overlay appear */

.overlay-appear-enter-active,
.overlay-appear-leave-active {
    transition: all .2s;
}

.overlay-appear-enter,
.overlay-appear-leave-active {
    opacity: 0;
}

/* Modal Content appear */

.content-appear-enter-active,
.content-appear-leave-active {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.content-appear-enter,
.content-appear-leave-active {
    transform: translateY(32px);
    opacity: 0;
}

.appear-left-enter-active,
.appear-left-leave-active {
    transition: opacity .4s ease-out, transform .4s ease-out;
}

.appear-left-enter,
.appear-left-leave-active {
    opacity: 0;
    transform: translate3d(-32px, 0, 0);
}
