<template>
    <div :class="$style.MortgageCalculator">
        <div v-if="values.price"
             :class="$style.cell">
            <p :class="$style.label">Стоимость квартиры</p>
            <RangeFilter :is-single="true"
                         :spec="specs.price"
                         :value="values.price"
                         name="price"
                         @change="val => $emit('change', val)"/>
        </div>
        <div :class="$style.cell">
            <p :class="$style.label">Первоначальный взнос</p>
            <RangeFilter :is-single="true"
                         :spec="specs.max_deposit"
                         :price="flatPrice"
                         :value="values.maxDeposit"
                         name="maxDeposit"
                         @change="val => $emit('change', val)"/>
        </div>
        <div :class="$style.cell">
            <p :class="$style.label">Срок кредита</p>
            <RangeFilter :is-single="true"
                         :spec="specs.min_term"
                         :value="values.minTerm"
                         name="minTerm"
                         postfix="лет"
                         @change="val => $emit('change', val)"/>
        </div>
        <div :class="$style.cell">
            <p :class="$style.label">Ваш ежемесячный платеж</p>
            <p v-if="!!payment"
               :class="$style.payment">
                от <span>{{ payment|splitThousands }}</span> руб.
            </p>
        </div>
    </div>
</template>

<script>
    import RangeFilter from '../../common/filter/RangeFilter';

    export default {
        name: 'MortgageCalculator',
        components: { RangeFilter },

        props: {
            specs: {
                type: Object,
                default() {
                    return {};
                }
            },
            values: {
                type: Object,
                default() {
                    return {};
                }
            },

            price: {
                type: [String, Number],
                default: 0
            },
            payment: {
                type: [String, Number],
                default: ''
            }
        },

        computed: {
            flatPrice() {
                return this.price ? this.price : this.values.price;
            }
        },
    };
</script>

<style lang="scss" module>
    .MortgageCalculator {
        display: flex;

        @include respond-to(mobile) {
            flex-direction: column;
        }
    }

    .label {
        margin-bottom: 2.4rem;
        font-size: 1.3rem;
        line-height: 1.6;
        color: rgba($black, .5);
        white-space: nowrap;

        @include respond-to(mobile) {
            margin-bottom: 12px;
        }
    }

    .cell {
        width: 100%;
        max-width: 21.5rem;

        @include respond-to(mobile) {
            max-width: 100%;
        }

        &:not(:last-child) {
            margin-right: 8.2rem;

            @include respond-to(mobile) {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }
    }

    .payment {
        font-size: 1.6rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $green;

        & > span {
            font-size: 2rem;
        }
    }

    .value {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;

        & > * {
            flex-shrink: 0;
        }
    }
</style>