<template>
    <div :class="[$style.MortgageOfferCard, {_special: isSpecial}, classDisplay]">
        <div :class="$style.logo"
             :style="{backgroundImage: `url(${logo})`}"></div>
        <div :class="$style.row">
            <div :class="[$style.cell, $style._rate]">
                <div :class="[$style.value]">{{ minRate|pointsByComma }} %</div>
                <div v-if="classDisplay === '_card'"
                     :class="$style.label">Ставка
                </div>
            </div>
            <div :class="[$style.cell, $style._term]">
                <div :class="[$style.value]">{{ maxTerm }} лет</div>
                <div v-if="classDisplay === '_card'"
                     :class="$style.label">Срок (до)
                </div>
            </div>
            <div :class="$style.cell">
                <div :class="[$style.value, $style._payment]">{{ payment|splitThousands }} руб.</div>
                <div v-if="classDisplay === '_card'"
                     :class="$style.label">Ежемесячный платеж
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MortgageOfferCard',
        props: {
            logo: {
                type: String,
                default: '',
            },
            minRate: {
                type: [String, Number],
                default: 0,
            },
            maxTerm: {
                type: [String, Number],
                default: 30,
            },
            payment: {
                type: [String, Number],
                default: 300000000,
            },

            isSpecial: {
                type: Boolean,
                default: false,
            },

            classDisplay: {
                type: String,
                default: '_card',
            },
        },
    };
</script>

<style lang="scss" module>
    $grass-green: #1a9f29;

    .MortgageOfferCard {
        position: relative;
        width: 100%;
        height: 100%;

        &:global(._pdfCard) {

            .value {
                font-size: 12px * $p-diff;
            }

            &:global(._special) {

                &:before {
                    font-size: 7px * $p-diff;
                }
            }
        }

        &:global(._special) {

            &:before {
                content: 'особое предложение';
                position: absolute;
                top: 0;
                left: 4.2rem;
                z-index: 2;
                display: inline-block;
                padding: 0 1rem;
                transform: translateY(-50%);
                font-size: 1.2rem;
                line-height: 1;
                color: $grass-green;
                font-weight: bold;
                text-transform: uppercase;
                background-color: $white;

                @include respond-to(mobile) {
                    left: 12px;
                }
            }

            ._payment {
                color: $grass-green;
            }
        }

        &:global(._card) {

            &:global(._special) {
                border-color: $grass-green;

                .value {
                    color: $grass-green;
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 80%;
                border: 1px solid $light-grey;

                @include respond-to(mobile) {
                    content: none;
                }
            }

            .logo {
                width: 55%;
                height: 12.5rem;
                margin: 0 auto;

                @include respond-to(mobile) {
                    width: 100%;
                    height: 48px;
                    margin: 0;
                }
            }

            .row {
                justify-content: space-around;

                @include respond-to(mobile) {
                    justify-content: flex-start;
                }
            }
        }

        &:global(._row) {
            display: flex;
            align-items: center;
            border: 2px solid $light-grey;

            &:global(._special) {
                border-color: $grass-green;

                .value {
                    color: $grass-green;
                }
            }

            .logo {
                height: 70%;
                width: 34%;
                background-size: 15rem auto;
            }

            ._rate {
                width: 27%;
            }

            ._term {
                width: 36%;
            }
        }

        @include respond-to(mobile) {
            padding: 26px 24px 20px;
            border: 1px solid $light-grey;
        }
    }

    .logo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .row {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-grow: 1;

        @include respond-to(mobile) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 24px;
        }
    }

    .cell {
        font-size: 1.3rem;
        line-height: 1.6;
        color: rgba($black, .5);

        @include respond-to(mobile) {
            margin-top: 16px;
        }
    }

    .value {
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
    }

    ._payment {
        color: $green;
    }
</style>