<template>
    <div :class="[$style.MortgageOfferRow, {_special: isSpecial}]">
        <div :class="[$style.cell,$style._bank]"
             :style="{backgroundImage: `url(${logo})`}">
        </div>
        <div :class="[$style.cell, $style._rate]">
            {{ minRate|pointsByComma }} %
        </div>
        <div :class="[$style.cell, $style._term]">
            {{ maxTerm }} лет
        </div>
        <div :class="[$style.cell, $style._payment]">
            {{ payment|splitThousands }} руб.
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MortgageOfferRow',
        props: {
            logo: {
                type: String,
                default: ''
            },
            minRate: {
                type: [String, Number],
                default: 0
            },
            maxTerm: {
                type: [String, Number],
                default: 30
            },
            payment: {
                type: [String, Number],
                default: 300000000
            },
            isSpecial: {
                type: Boolean,
                default: false,
            }
        }
    };
</script>

<style lang="scss" module>
    $grass-green: #1a9f29;

    .MortgageOfferRow {
        position: relative;
        display: flex;
        align-items: center;
        height: 10rem;
        border: 2px solid $light-grey;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
        color: $black;
        text-transform: uppercase;

        &:global(._special) {
            border-color: $grass-green;
            color: $grass-green;

            &:after {
                content: 'особое предложение';
                position: absolute;
                top: 0;
                left: 4.2rem;
                display: inline-block;
                padding: 0 1rem;
                transform: translateY(-50%);
                font-size: 1.2rem;
                line-height: 1;
                background-color: $white;
            }

            ._payment {
                color: $grass-green;
            }
        }
    }

    ._bank {
        height: 70%;
        width: 34%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    ._rate {
        width: 18%;
    }

    ._term {
        width: 23%;
    }

    ._payment {
        color: $green;
    }

</style>