<template>
    <div :class="[$style.FilterList, {_open: extended}]">
        <h1 :class="[$style.title, 'custom-title _m _white']">
            <span class="custom-title__origin">задать параметры</span>
            <span class="custom-title__shadow">задать параметры</span>
        </h1>
        <div :class="$style.top">
            <!--Rooms-->
            <div :class="[$style.filterBlock, $style._rooms]">
                <p :class="$style.label">Комнат</p>
                <FilterButtons :spec="specs.rooms"
                               :facet="facets.rooms"
                               :value="values.rooms"
                               name="rooms"
                               @change="val => $emit('change', val)"/>
            </div>

            <!--price-->
            <div :class="[$style.filterBlock, $style._price]">
                <p :class="$style.label">Стоимость</p>
                <RangeFilter :spec="specs.price"
                             :facet="facets.price"
                             :min-value="values.priceMin"
                             :max-value="values.priceMax"
                             :allow-facets="true"
                             :color="isMobileColor"
                             name="price"
                             @change="val => $emit('change', val)"/>
            </div>

            <!--area-->
            <div :class="[$style.filterBlock, $style._area]">
                <p :class="$style.label">Площадь</p>
                <RangeFilter :spec="specs.area"
                             :facet="facets.area"
                             :min-value="values.areaMin"
                             :max-value="values.areaMax"
                             :allow-facets="true"
                             :color="isMobileColor"
                             name="area"
                             @change="val => $emit('change', val)"/>
            </div>

            <!--building-->
            <div :class="[$style.filterBlock, $style._building]">
                <p :class="$style.label">Дом</p>
                <FilterButtons :spec="specs.building"
                               :facet="facets.building"
                               :value="values.building"
                               name="building"
                               @change="val => $emit('change', val)"/>
            </div>
        </div>
        <div :class="[$style.extended, {_visible: extended}]">
            <!--floors-->
            <div :class="[$style.filterBlock, $style._floors]">
                <p :class="$style.label">Этаж</p>
                <RangeFilter :spec="specs.floor"
                             :facet="facets.floor"
                             :min-value="values.floorMin"
                             :max-value="values.floorMax"
                             :allow-facets="true"
                             :color="isMobileColor"
                             name="floor"
                             @change="val => $emit('change', val)"/>
            </div>
            <!--additional-->
            <div :class="$style.filterBlock">
                <p :class="$style.label">Дополнительно</p>
                <div :class="$style.additional">
                    <!--sale-->
                    <FilterTrueFalse :class="[$style._sale, $style.additionalItem]"
                                     name="hasDiscount"
                                     :value="values.hasDiscount"
                                     :facet="facets.hasDiscount"
                                     label="Скидка"
                                     @change="val => $emit('change', val)"/>
                    <!--finish-->
                    <FilterTrueFalse :class="[$style._finish, $style.additionalItem]"
                                     name="facing"
                                     :value="values.facing"
                                     :facet="facets.facing"
                                     label="С отделкой"
                                     @change="val => $emit('change', val)"/>
                    <!--finish-->
                    <FilterTrueFalse :class="[$style._views, $style.additionalItem]"
                                     name="hasView"
                                     :value="values.hasView"
                                     :facet="facets.hasView"
                                     label="Видовая квартира"
                                     @change="val => $emit('change', val)"/>
                </div>
            </div>
        </div>

        <div :class="[$style.showFlats, {[$style._disable]: !showFilter}]"
             @click="$emit('showFlats')">
            <button>Показать {{ flatsCount }} {{ flatsCount|plural(['квартиру', 'квартиры', 'квартир']) }}</button>
        </div>
    </div>
</template>

<script>
    import FilterButtons from '../common/filter/FilterButtons';
    import RangeFilter from '../common/filter/RangeFilter';
    import FilterTrueFalse from '../common/filter/FilterTrueFalse';

    export default {
        name: 'FilterList',
        components: {
            FilterTrueFalse,
            FilterButtons,
            RangeFilter,
        },

        props: {
            extended: {
                type: Boolean,
                default: false,
            },
            specs: {
                type: Object,
                default: () => ({}),
            },
            facets: {
                type: Object,
                default: () => ({}),
            },
            values: {
                type: Object,
                default: () => ({}),
            },
            flatsCount: {
                type: [String, Number],
                default: 10,
            },
            showFilter: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            isMobileColor() {
                return this.$device.isMobile ? '_white' : '_black';
            }
        }
    };
</script>

<style lang="scss" module>
    .FilterList {
        max-height: 9rem;
        transition: max-height .22s ease-out;
        overflow: hidden;

        &:global(._open) {
            max-height: 21rem;
            transition: max-height .22s ease-out;
            overflow: visible;

            @include respond-to(mobile) {
                max-height: none;
                overflow: hidden;
            }
        }

        @include respond-to(mobile) {
            max-height: none;
        }
    }

    .title {
        display: none;

        @include respond-to(mobile) {
            display: block;
            margin-bottom: 3rem;
        }
    }

    .label {
        margin-bottom: .8rem;
        font-size: 1.3rem;
        line-height: 1.6;
        font-family: $font-primary;
        color: rgba($black, .5);

        @include respond-to(mobile) {
            margin-bottom: 1.2rem;
            color: rgba($white, .5);
            font-weight: 600;
        }
    }

    .top {
        display: flex;

        @include respond-to(mobile) {
            flex-direction: column;
        }
    }

    .filterBlock {
        @include respond-to(mobile) {

            & span {
                color: $white;
            }
        }

        &:not(:last-child) {
            margin-right: 4rem;

            @include respond-to(mobile) {
                margin-right: 0;
                margin-bottom: 2.4rem;
            }
        }
    }

    ._area {
        width: 100%;
        max-width: 21.5rem;

        @include respond-to(mobile) {
            max-width: none;
        }
    }

    ._price {
        width: 100%;
        max-width: 23.5rem;

        @include respond-to(mobile) {
            max-width: none;
        }
    }

    ._floors {
        width: 100%;
        max-width: 14.1rem;

        @include respond-to(mobile) {
            max-width: none;
        }
    }

    .extended {
        display: flex;
        padding-top: 3.2rem;
        opacity: 0;
        transition: opacity .3s ease-out;

        &:global(._visible) {
            opacity: 1;
            transition: opacity .3s ease-out;
        }

        @include respond-to(mobile) {
            flex-direction: column;
            height: 0;
            padding-top: 0;

            &:global(._visible) {
                height: auto;
                padding-top: 3.2rem;

                @include respond-to(mobile) {
                    padding-top: 2.6rem;
                }
            }
        }
    }

    .additional {
        display: flex;

        @include respond-to(mobile) {
            flex-direction: column;
            margin-top: -1.6rem;
        }
    }

    .additionalItem:not(:last-child) {
        margin-right: 4.8rem;

        @include respond-to(mobile) {
            margin-right: 0;
        }
    }

    .showFlats {
        display: none;

        @include respond-to(mobile) {
            position: fixed;
            bottom: 2.6rem;
            left: -.5rem;
            display: block;
            width: 30rem;
            height: 5rem;
            z-index: 5;
            font: 1.8rem $font-secondary;
            text-transform: uppercase;
            cursor: pointer;

            &:after {
                content: '';
                position: absolute;
                bottom: -2.7rem;
                left: -.2rem;
                z-index: -1;
                width: 30.4rem;
                height: 14.6rem;
                background: url("../../static/images/flats/show-flats-arrow.svg") no-repeat;
                background-size: cover;
                pointer-events: none;
            }

            button {
                position: relative;
                top: 2rem;
                left: 4.5rem;
                padding: 0;
                border: none;
                color: $white;
                background-color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
        }
    }

    ._disable {
        display: none;
    }

</style>