<template>
    <div :class="$style.FlatsList">
        <ul :class="$style.FlatsListWrapper">
            <li v-for="flat in list"
                :key="flat.node.id"
                :class="$style.cell">
                <!--FlatCard-->
                <FlatCard :flat="flat.node"/>
            </li>
        </ul>
    </div>
</template>

<script>
    import FlatCard from './FlatCard';

    export default {
        name: 'FlatsList',
        components: {
            FlatCard,
        },

        props: {
            list: {
                type: Array,
                default: () => [],
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsList {
        transition: opacity .3s ease-out, transform .3s ease-out;

        &:global(.list-enter),
        &:global(.list-leave-active) {
            opacity: 0;
            transform: translate3d(0, 10px, 0) scale(.999);
        }
    }

    .FlatsListWrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2rem;

        @include respond-to(mobile) {
            margin: 0 -16px;
        }

        @include respond-to(s-mobile) {
            margin: 0;
        }
    }

    .cell {
        width: 100%;
        max-width: 25rem;
        margin: 0 2rem 1.2rem;

        @include respond-to(mobile) {
            max-width: calc(50% - 32px);
            margin: 0 $mobile-padding $mobile-padding;
        }

        @include respond-to(s-mobile) {
            max-width: 100%;
            margin: 0 0 18px;
        }
    }
</style>