<template>
    <nuxt-link :to="url"
               :class="[$style.FlatCard]">
        <div :class="[$style.favorite, {_active: isInFavourite}]"
             @click.prevent="onFavoriteClick">
            <svg viewBox="0 0 24 50">
                <use xlink:href="#icon-favorite"></use>
            </svg>
        </div>
        <div :class="$style.plan">
            <div :class="[$style.planContainer, {'_placeholder': !planUrl}]"
                 :style="{backgroundImage: `url(${planUrl})`}">
                <svg :class="$style.planSvg"
                     xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <filter id="feMatrixWhite">
                            <feColorMatrix type="matrix"
                                           values="-1 0 0 0 1
                                                   0 -1 0 0 1
                                                   0 0 -1 0 1
                                                   0 0 0 1 0">
                            </feColorMatrix>
                        </filter>
                    </defs>
                    <image :xlink:href="planUrl"
                           filter="url(#feMatrixWhite)"
                           width="100%"
                           height="100%"
                           x="0" y="0">
                    </image>
                </svg>
            </div>

            <div v-if="!planUrl" :class="[$style.placeholder]">Нет планировки</div>
        </div>
        <div :class="$style.content">
            <div :class="[$style.row, $style._top]">
                <span v-html="flatName"></span>
                <span>{{ flat.area|pointsByComma }} м<sup>2</sup></span>
            </div>
            <div :class="[$style.row, $style._middle]">
                <span> Дом {{ flat.building.number }}</span>
                <span>Этаж {{ flat.floor.number }}</span>
            </div>
            <div :class="[$style.row, $style._bottom]">

                <template v-if="flat.promoPrice">
                    <span :class="$style.price">{{ flat.promoPrice|splitThousands }} <i>руб.</i></span>
                    <span :class="$style.oldPrice">{{ flat.price|splitThousands }} <i>руб.</i></span>
                    <span :class="$style.saleCount">-{{ saleCount }}%</span>
                </template>

                <template v-else>
                    <span :class="$style.price">{{ flat.price|splitThousands }} <i>руб.</i></span>
                </template>
            </div>
        </div>
    </nuxt-link>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        name: 'FlatCard',
        components: {},

        props: {
            flat: {
                type: Object,
                default: () => {
                },
            },

            isFavouritePage: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            ...mapState({
                favouriteList: state => state.favourite.favouriteList,
            }),

            flatName() {
                let name = '';

                if (this.flat.rooms === 0 || this.flat.rooms === null) name += 'Студ.';
                if (this.flat.rooms === 1) name += '1-ком.';
                if (this.flat.rooms === 2) name += '2-ком.';
                if (this.flat.rooms === 3) name += '3-ком.';
                if (this.flat.rooms === 4) name += '4-ком.';

                return name;
            },

            planUrl() {
                return this.flat.plan
                    ? this.flat.plan
                    : null;
            },

            isInFavourite() {
                return this.favouriteList.includes(this.flat.id);
            },

            url() {
                return { name: 'flats-id', params: { id: this.flat.id } };
            },

            saleCount() {
                return Math.floor((this.flat.price - this.flat.promoPrice) / this.flat.price * 100);
            },
        },

        methods: {
            onFavoriteClick() {
                this.$store.dispatch('favourite/toggleFavourites', this.flat.id);
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatCard {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-height: 44rem;
        padding: 7.5rem 2rem 3rem;
        text-decoration: none;
        color: $black;
        transition: color .3s ease-out;
        user-select: none;

        @include respond-to(mobile) {
            min-height: 41.5rem;
            padding-left: 4rem;
        }

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 2rem;
            left: 0;
            right: 0;
            height: 29.4rem;
            border: 2px solid rgba($black, .1);
            transition: height .3s ease, border-color .3s ease, transform .3s ease;

            @include respond-to(mobile) {
                top: 0;
                height: 100%;
            }
        }

        &:hover {
            color: $white;
            transition: color .3s ease-out;

            @include respond-to(mobile) {
                color: $black;
            }

            &:after {
                border-color: transparent;
                background-color: $orange;
                height: 100%;
                transform: translateY(-2rem);
                transition: height .3s ease, border-color .3s ease, transform .3s ease;

                @include respond-to(mobile) {
                    border-color: rgba($black, .1);
                    background-color: $white;
                    color: $black;
                    transform: none;
                }
            }

            .favorite :global {
                top: 0;
                transition: top .3s ease;

                & svg {
                    stroke: $white;
                }

                @include respond-to(mobile) {
                    top: -.2rem;

                    & svg {
                        stroke: $orange;
                    }
                }
            }

            .favorite:global(._active) {

                & svg {
                    fill: $white;

                    @include respond-to(mobile) {
                        fill: $orange;
                    }
                }
            }

            .oldPrice:global {

                &:after {
                    background-color: $white;
                    transition: background-color .3s ease;

                    @include respond-to(mobile) {
                        background-color: $black;
                    }
                }
            }

            .price:global {
                color: $white;
                transition: color .3s ease-out;

                @include respond-to(mobile) {
                    color: $green;
                }
            }

            .planContainer:global {
                filter: brightness(0) invert(1);

                @include respond-to(mobile) {
                    filter: none;
                }

                @include respond-ie {
                    background-size: 0;
                }

                &:after {
                    background-color: $white;
                    transition: background-color .3s ease-out;

                    @include respond-to(mobile) {
                        background-color: $black;
                    }
                }
            }

            .planSvg:global {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }
        }
    }

    .favorite {
        position: absolute;
        top: 1.8rem;
        right: 3.2rem;
        z-index: 2;
        width: 2.4rem;
        height: 5rem;
        transition: top .3s ease;

        @include respond-to(mobile) {
            top: -.2rem;
            background-color: $white;
        }

        & svg {
            display: block;
            width: 100%;
            height: 100%;
            stroke-width: 2px;
            fill: none;

            @include respond-to(mobile) {
                stroke: $orange;
            }
        }

        &:global(._active) {

            & svg {
                fill: $orange;
                stroke: $orange;
            }
        }
    }

    .plan {
        position: relative;
        padding: 0 1.5rem;

        @include respond-to(mobile) {
            padding-left: 0;
        }
    }

    .planContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 23.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include respond-to(mobile) {
            min-height: auto;
            height: 14rem;
        }

        &:global(._placeholder) {
            opacity: .15;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14.8rem;
            height: 14.8rem;
            background-color: $black;
            opacity: .05;
            transform: translate(-50%, -50%) skewY(-11deg);
            transition: background-color .3s ease-out;

            @include respond-to(mobile) {
                width: 12.8rem;
                height: 12.8rem;
                margin-top: -.7rem;
            }
        }
    }

    .planSvg {
        display: none;
        width: 100%;
        height: 100%;

        @include respond-ie {
            display: block;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }

    .placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    .content {
        margin-top: 2rem;

        @include respond-to(mobile) {
            margin-top: auto;
        }
    }

    ._top {
        font: 2.4rem $font-secondary;
        line-height: 1;

        @include respond-to(mobile) {
            margin-top: 6.3rem;
        }
    }

    ._middle {
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.15;
        opacity: .5;
        text-transform: uppercase;

        @include respond-to(mobile) {
            margin-top: 2.3rem;
        }

        & span {
            display: inline-block;
            vertical-align: middle;

            &:first-child {
                margin-right: 3.2rem;
            }
        }
    }

    ._bottom {
        margin-top: .8rem;
        font-weight: 700;
        text-transform: uppercase;

        @include respond-to(mobile) {
            margin-top: 1.3rem;
        }
    }

    .price {
        display: block;
        font-size: 2rem;
        line-height: 1.15;
        color: $green;
        transition: color .3s ease-out;

        & i {
            font-style: normal;
            font-size: 1.6rem;
        }
    }

    .oldPrice {
        position: relative;
        display: inline-block;
        margin-right: .8rem;
        font-size: 1.4rem;
        line-height: 1.15;
        opacity: .5;

        & i {
            font-style: normal;
            font-size: 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            height: 1px;
            background-color: $black;
            transition: background-color .3s ease;
        }
    }

    .saleCount {
        font-size: 1.4rem;
        line-height: 1.15;
    }
</style>
