<template>
    <div :class="$style.FlatsListControls">
        <div :class="$style.sort">
            <p :class="$style.label">Сортировать по</p>
            <!--price-->
            <FilterSort :class="$style.sortItem"
                        label="стоимость"
                        name="price"
                        :value="ordering"
                        @change="onSortClick"/>

            <!--area-->
            <FilterSort :class="$style.sortItem"
                        label="площадь"
                        name="area"
                        :value="ordering"
                        @change="onSortClick"/>

        </div>
        <div :class="$style.flatsCount">
            <template v-if="flatsCount !== 0">
                {{ flatsCount|plural(['Найдена', 'Найдено', 'Найдено']) }}
                {{ flatsCount }}
                {{ flatsCount|plural(['квартира', 'квартиры', 'квартир']) }}
            </template>
            <template v-else>Ничего не найдено :(</template>
        </div>
    </div>
</template>

<script>
    import FilterSort from '../common/filter/FilterSort.vue';

    export default {
        name: 'FlatsListControls',
        components: {
            FilterSort,
        },

        props: {
            ordering: {
                type: String,
                default: '',
            },

            flatsCount: {
                type: [String, Number],
                default: 10,
            },
        },

        methods: {
            onSortClick(newSort) {
                this.$emit('change', {'orderBy': newSort});
            },
        },
    };
</script>

<style lang="scss" module>
    .FlatsListControls {
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 0;
        font-size: 1.3rem;
        line-height: 1;
        color: rgba($black, .5);

        @include respond-to(mobile) {
            padding-top: 3.2rem;
            padding-bottom: 3rem;
        }
    }

    .sort {
        display: flex;
        align-items: baseline;

        @include respond-to(mobile) {
            width: 100%;
        }
    }

    .label {
        margin-right: 4.2rem;
        font-weight: 600;

        @include respond-to(mobile) {
            margin-right: 2rem;
        }
    }

    .sortItem {
        margin-left: 2.2rem;

        @include respond-to(mobile) {
            margin-left: 1.8rem;
        }

        &:first-of-type {
            @include respond-to(s-mobile) {
                margin-left: auto;
            }
        }
    }

    .flatsCount {
        font-weight: 600;

        @include respond-to(mobile) {
            display: none;
        }
    }
</style>