<template>
    <div :class="$style.PrintHeader">
        <a href="/">
            <svg :class="$style.logo">
                <use xlink:href="#sp-logo"></use>
            </svg>
        </a>

        <div :class="$style.contacts">
            <a href="tel:+74952680660"
               :class="$style.phone">
                <span>+7 495 268-06-60</span>
            </a>
            <a :href="`${link}`"
               :class="$style.link">{{ link }}</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            link: {
                type: String,
                default: ''
            }
        }
    };
</script>

<style lang="scss" module>
    .PrintHeader {
        display: flex;
        margin-bottom: 37px * $p-diff;
    }

    .logo {
        width: 96px * $p-diff;
        height: 38px * $p-diff;
        fill: $black;
        transition: fill .4s ease-in-out;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
    }

    .phone {
        font-size: 14px * $p-diff;
    }

    .link {
        font-size: 12px * $p-diff;
    }
</style>