<template>
    <div :class="$style.PrintPage">

        <PrintHeader :link="link"/>

        <div :class="$style.body">
            <slot/>
        </div>

        <PrintFooter :date="date" :office="office"/>

    </div>
</template>

<script>
    import PrintHeader from './PrintHeader';
    import PrintFooter from './PrintFooter';

    export default {
        name: 'PrintPage',

        components: {
            PrintHeader,
            PrintFooter,
        },

        props: {
            office: {
                type: Object,
                default: () => ({}),
            },

            date: {
                type: String,
                default: '',
            },

            link: {
                type: String,
                default: ''
            }
        },
    };
</script>

<style lang="scss" module>
    .PrintPage {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: $p-width;
        height: $p-height;
        padding: 42px * $p-diff;
        page-break-before: always;
        page-break-after: always;
    }
</style>