<template>
    <div :class="$style.PrintFooter">
        <div :class="$style.addressContainer">
            <p :class="$style.label">Офис продаж</p>
            <p :class="$style.data">{{ office.address }}</p>
        </div>

        <div :class="$style.worktimeContainer">
            <ul>
                <li v-for="workTime in workTimes" :key="workTime.id" :class="[$style.workTime, $style.data]">{{ workTime }}</li>
            </ul>
        </div>

        <div :class="$style.dateContainer">
            <p :class="$style.label">Актуально на:</p>
            <p :class="$style.data">{{ date }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            office: {
                type: Object,
                default: () => ({}),
            },

            date: {
                type: String,
                default: '',
            },
        },

        computed: {
            workTimes() {
                let workTimeArray = [];

                if (!this.office.officehoursSet) return null;

                this.office.officehoursSet.forEach(hours => {
                    let startTime = hours.startTime;
                    if (startTime[0] === '0') {
                        startTime = startTime.substr(1, 4);
                    } else {
                        startTime = startTime.substr(0, 5);
                    }

                    let endTime = hours.endTime;
                    if (endTime[0] === '0') {
                        endTime = endTime.substr(1, 4);
                    } else {
                        endTime = endTime.substr(0, 5);
                    }

                    let startDay = hours.startDay;
                    if (startDay === 'A_0') {
                        startDay = 'Пн';
                    } else if (startDay === 'A_1') {
                        startDay = 'Вт';
                    } else if (startDay === 'A_2') {
                        startDay = 'Ср';
                    } else if (startDay === 'A_3') {
                        startDay = 'Чт';
                    } else if (startDay === 'A_4') {
                        startDay = 'Пт';
                    } else if (startDay === 'A_5') {
                        startDay = 'Сб';
                    } else if (startDay === 'A_6') {
                        startDay = 'Вс';
                    }

                    let endDay = hours.endDay;
                    if (endDay === 'A_0') {
                        endDay = 'Пн';
                    } else if (endDay === 'A_1') {
                        endDay = 'Вт';
                    } else if (endDay === 'A_2') {
                        endDay = 'Ср';
                    } else if (endDay === 'A_3') {
                        endDay = 'Чт';
                    } else if (endDay === 'A_4') {
                        endDay = 'Пт';
                    } else if (endDay === 'A_5') {
                        endDay = 'Сб';
                    } else if (endDay === 'A_6') {
                        endDay = 'Вс';
                    }

                    workTimeArray.push(startDay + '-' + endDay + ' ' + startTime + ' - ' + endTime);
                });

                return workTimeArray;
            },
        },
    };
</script>

<style lang="scss" module>
    .PrintFooter {
        display: flex;
        margin-top: auto;
    }

    .data {
        font-size: 8px * $p-diff;
        color: #222326;
    }

    .label {
        margin-bottom: .5rem;
        font-size: 8px * $p-diff;
        color: #222326;
    }

    .addressContainer {
        margin-right: 40px * $p-diff;
    }

    .dateContainer {
        margin-left: auto;
    }

    .workTime {

        &:not(:first-child) {
            margin-top: .5rem;
        }
    }
</style>