<template>
    <section :class="[$style.PolicyPage, 'container']">
        <h1 :class="$style.title" class="custom-title">
            <span class="custom-title__origin">Согласие на обработку персональных данных</span>
            <span class="custom-title__shadow">Согласие на обработку персональных данных</span>
        </h1>

        <p> Пользователь, нажимая кнопки «Хорошо, жду звонка» или «Заказать» обязуется принять настоящее согласие на
            обработку персональных данных (далее — Согласие). Принятием (акцептом) оферты Согласия является отправка
            формы
            заказа обратного звонка на интернет-сайте. Пользователь дает свое согласие на обработку своих персональных
            данных со
            следующими
            условиями:
        </p>

        <p>Согласие дается на обработку персональных данных, как без использования средств автоматизации, так и с их
            использованием.</p>

        <p>Перечень персональных данных, на обработку которых дается мое согласие:</p>

        <ul>
            <li>Фамилия, имя, отчество;</li>
            <li>Адреса электронных почт (email);</li>
            <li>Контактный телефон.</li>
        </ul>

        <p>Цель обработки персональных данных: получение сводной информации о пользователях сайта в маркетинговых
            целях и
            исполнение договорных обязательств перед клиентами, контрагентами и иными субъектами персональных
            данных.</p>

        <p>Перечень действий с персональными данными, на совершение которых дается мое согласие, общее описание
            используемых Оператором способов обработки в соответствии с п. 3 ст. 3 Федерального закона от 27.07.2006
            г.№
            152-ФЗ «О персональных данных». В ходе обработки с персональными данными будут совершены следующие
            действия:
            сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); использование;
            обезличивание; удаление; уничтожение</p>

        <p>Согласие дается, в том числе на возможные информационные (рекламные) оповещения (в т. ч. осуществления
            информационных рассылок, рассылок о маркетинговых мероприятиях, специальных предложениях и акциях
            посредством
            SMS и e-mail).</p>

        <p>Передача персональных данных третьим лицам осуществляется на основании законодательства Российской
            Федерации,
            договора с участием субъекта персональных данных или согласия субъекта персональных данных. Я даю свое
            согласие
            на возможную передачу своих персональных данных следующим третьим лицам: ООО «» (ИНН
            00000000).</p>

        <p>Согласие действует с момента заполнения формы обратной связи на Сайте, срок его действия неограничен.
            Данное
            согласие может быть отозвано по моему письменному заявлению, направленному ООО «» или его
            представителю по адресу, указанному в начале Согласия.</p>

        <p>Я подтверждаю, что, давая такое согласие, я действую по собственной воле и в своих интересах</p>
    </section>
</template>

<script>
    export default {
        name: 'PolicyPage'
    };
</script>

<style lang="scss" module>
    .PolicyPage {

        p {
            padding: 1em 0;
        }

        ul {
            margin: -6px 0;
            padding-left: 1.8rem;

            @include respond-to(mobile) {
                padding-left: 18px;
            }
        }

        li {
            list-style: disc;
        }
    }

    .title {
        margin-bottom: 1.6rem;

        @include respond-to(mobile) {
            margin-bottom: 16px;
        }
    }
</style>