<template>
    <section :class="[$style.ParkingPage, 'container']">
        <div class="main-container">
            <UiBackLink v-if="isDisplayBack"
                        :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">Паркинг</span>
                <span class="custom-title__shadow">Паркинг</span>
            </h1>

            <!--description-->
            <div v-if="description"
                 :class="$style.description"
                 v-html="description">
            </div>

            <div :class="$style.controls">
                <!--price-->
                <div v-if="price"
                     :class="$style.price">
                    от <span>{{ price|splitThousands }}</span> руб.
                </div>
                <!--LayoutsSwitcher-->
                <LayoutsSwitcher :class="$style.LayoutsSwitcher"
                                 :active="activeNumber"
                                 :is-disabled-next="!!(activeIndex === floors.length - 1)"
                                 :is-disabled-prev="!!(activeIndex === 0)"
                                 label="этаж"
                                 @click="onClick"/>

                <!--LayoutsIncreaseButton-->
                <template v-if="$device.isMobile">
                    <LayoutsIncreaseButton :class="$style.LayoutsIncreaseButton"
                                           @click="$modal.open('LayoutZoom', {isFullScreen: true, plan: plan})"/>
                </template>
            </div>

            <div :class="$style.Layout">
                <Layout class="aspect-content"
                        :plan="plan"/>
            </div>

            <Feedback :class="$style.Feedback"/>
        </div>
    </section>
</template>

<script>
    //store
    import {mapState} from 'vuex';
    // components
    import UiBackLink from '../../components/ui/UiBackLink';
    import LayoutsSwitcher from '../../components/commercial/LayoutsSwitcher';
    import LayoutsIncreaseButton from '../../components/commercial/LayoutsIncreaseButton';
    import Layout from '../../components/commercial/Layout';

    export default {
        name: 'ParkingPage',
        components: {
            Layout,
            LayoutsIncreaseButton,
            LayoutsSwitcher,
            UiBackLink,
            Feedback: () => import('../../components/common/formBlocks/Feedback'),
        },
        data() {
            return {
                activeFloor: {},
                isDisabledNext: false,
                isDisabledPrev: false,
                isDisplayBack: false,
                activeIndex: 0,
            };
        },

        computed: {
            ...mapState({
                floors: state => state.parking.floors,
                description: state => state.parking.description,
            }),

            plan() {
                return this.activeFloor ? this.activeFloor.plan : '';
            },

            price() {
                return this.activeFloor ? this.activeFloor.minPrice : null;
            },

            activeNumber() {
                return this.activeFloor ? this.activeFloor.number : null;
            }
        },

        async fetch({ store }) {
            store.dispatch('footer/SET_COLOR', 'white');

            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.parking.floors.length)
                await store.dispatch('parking/getParkingPage');
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = !!from.name;
            });
        },

        mounted() {
            this.activeIndex = this.floors.findIndex(floor => floor.plan.length !== 0);
            this.activeFloor = this.floors[this.activeIndex];
        },

        methods: {
            onClick(counter) {
                this.activeIndex += counter;
                this.activeFloor = this.floors[this.activeIndex];
            }
        },
    };
</script>

<style lang="scss" module>
    .ParkingPage {
        position: relative;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .description {
        margin-top: 4.2rem;
        font-size: 1.3rem;
        line-height: 2.6;
        color: rgba($black, .85);

        @include respond-to(mobile) {
            margin-top: 30px;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3.2rem 0;
        border-bottom: 1px solid rgba($black, .1);

        @include respond-to(mobile) {
            flex-wrap: wrap;
            padding: 20px 0 30px;
        }
    }

    .price {
        color: $green;
        font-size: 2.4rem;
        line-height: 1.2;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            font-size: 16px;
        }

        @include respond-to(s-mobile) {
            width: 100%;
            margin-bottom: 20px;
        }

        span {
            font-size: 2.8rem;

            @include respond-to(mobile) {
                font-size: 24px;
            }
        }
    }

    .Layout {
        position: relative;

        &:global > .aspect-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @include aspect-ratio(850, 540);

        @include respond-to(s-mobile) {
            @include aspect-ratio(300, 280);
        }
    }

    .LayoutsSwitcher {
        margin-left: auto;

        @include respond-to(s-mobile) {
            margin-left: 0;
        }
    }

    .LayoutsIncreaseButton {
        display: none;

        @include respond-to(mobile) {
            display: flex;
        }
    }

</style>