<template>
    <section ref="page"
             :class="[$style.InstallmentPage, 'container']">
        <div class="main-container">
            <UiBackLink :class="$style.back"/>
            <h1 :class="$style.title" class="custom-title">
                <span class="custom-title__origin">{{ title }}</span>
                <span class="custom-title__shadow">{{ title }}</span>
            </h1>
            <div v-if="description"
                 :class="$style.description"
                 v-html="description">
            </div>

            <UiButton :class="$style.button"
                      type="button"
                      label="оставить заявку"
                      :is-long="true"
                      @click="$modal.open('Callback', {type: 'installment', title: 'Заявка на рассрочку'})"/>

            <!--FlatsList-->
            <transition name="list" appear>
                <FlatsList v-if="flats && flats.length"
                           :class="$style.FlatsList"
                           :list="flats"/>
            </transition>
        </div>
    </section>

</template>

<script>
    //vuex
    import {mapGetters} from 'vuex';

    //queries
    import allFlats from '../../../queries/flat/allFlats.gql';
    // components
    import UiBackLink from '../../../components/ui/UiBackLink';
    import UiButton from '../../../components/ui/UiButton';
    import FlatsList from '../../../components/flats/FlatsList';

    export default {
        name: 'InstallmentPage',

        components: {
            FlatsList,
            UiButton,
            UiBackLink
        },

        data() {
            return {
                flats: [],
                pageInfo: {
                    first: 12,
                    after: null,
                    hasNext: false,
                },

                flags: {
                    isTicking: false,
                },
            };
        },

        computed: {
            ...mapGetters('purchases', [
                'getPurchaseDescription',
                'getPurchaseTitle']),

            description() {
                return this.getPurchaseDescription('installment');
            },

            title() {
                return this.getPurchaseTitle('installment');
            }
        },

        async asyncData({ app, query, params, store, error }) {
            try {
                let { data } = await app.$gql.query({
                    query: allFlats,
                    variables: {
                        installment: true
                    }
                });

                if (!data) return;

                return {
                    flats: data.allFlats.edges,
                    pageInfo: {
                        first: 12,
                        after: data.allFlats.pageInfo.endCursor,
                        hasNext: data.allFlats.pageInfo.hasNextPage,
                    },
                };

            } catch (e) {
                console.log(e);
            }
        },

        async fetch({ store }) {

            if (store.state.menu.color !== '_black') {
                store.dispatch('menu/CHANGE_COLOR_BLACK');
            }
            if (!store.state.purchases.purchasesList.length)
                await store.dispatch('purchases/getPurchases');
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getFlats();
                }

                this.flags.isTicking = false;
            },

            async getFlats() {
                if (!this.pageInfo.hasNext) return;

                let flats = await this.$gql.query({
                    query: allFlats,
                    variables: {
                        installment: true,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });

                this.flats = [].concat.apply(this.flats, flats.data.allFlats.edges);

                this.pageInfo.after = flats.data.allFlats.pageInfo.endCursor;
                this.pageInfo.hasNext = flats.data.allFlats.pageInfo.hasNextPage;
            },
        },
    };
</script>

<style lang="scss" module>
    .InstallmentPage {
        position: relative;
    }

    .back {
        position: absolute;
        top: 8rem;
        right: 8.5rem;
        z-index: 2;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .description {
        margin-top: 4.2rem;
        font-size: 1.3rem;
        line-height: 2.6;

        @include respond-to(mobile) {
            margin-top: 28px;
        }
    }

    .button {
        margin-top: 3.2rem;
    }

    .FlatsList {
        padding-top: 4.2rem;
        border-top: 2px solid $light-grey;

        @include respond-to(mobile) {
            margin-top: 32px;
            border: none;
        }
    }

</style>