.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    display: inline;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
}

.btn-reset {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.container {
    padding-top: 6.2rem;
    padding-right: 8.5rem;
    padding-left: 42.6rem;

    @include respond-to(mobile) {
        padding-top: 96px;
        padding-left: $s-tablet-padding;
        padding-right: $s-tablet-padding;
    }

    @include respond-to(s-mobile) {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
    }
}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter,
.component-fade-leave-to {
    opacity: 0;
}

.offset-page {
    padding-top: 6.2rem;
    padding-right: 8.5rem;
    padding-left: 42.5rem;

    @include respond-to(mobile) {
        padding-top: 96px;
        padding-right: $s-tablet-padding;
        padding-left: $s-tablet-padding;
    }

    @include respond-to(s-mobile) {
        padding-right: $mobile-padding;
        padding-left: $mobile-padding;
    }

    @include respond-to(xxl) {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-container {
    @include respond-to(xxl) {
        width: 1200px;
        margin: 0 auto;
    }
}
