<template>
    <section ref="page"
             :class="[$style.IndexFlats, 'container']">
        <h1 ref="title"
            :class="$style.title" class="custom-title">
            <span class="custom-title__origin">Подбор квартиры</span>
            <span class="custom-title__shadow">Подбор квартиры</span>
        </h1>
        <div :class="[$style.filterContainer, {[$style._active]: showFilter}]">
            <div :class="$style.filterWrap">
                <!--FilterList-->
                <FilterList :class="$style.FilterList"
                            :specs="specs"
                            :facets="parsedFacets"
                            :values="values"
                            :extended="flags.isExtended"
                            :flats-count="flatsCount"
                            :show-filter="showFilter"
                            @showFlats="showFilter = false"
                            @change="onValueChange"/>

                <!--FilterControls-->
                <FilterControls :class="$style.FilterControls"
                                :extended="flags.isExtended"
                                @extend="flags.isExtended = !flags.isExtended"
                                @reset="onReset"/>
            </div>
        </div>
        <div :class="$style.content">
            <!--FlatsListControls-->
            <FlatsListControls ref="controls"
                               :class="$style.FlatsListControls"
                               :ordering="values.orderBy"
                               :flats-count="flatsCount"
                               @change="onSortChange"/>

            <!--FlatsList-->
            <transition name="list"
                        appear
                        @afterLeave="flags.reloading = false">
                <FlatsList v-if="!flags.reloading"
                           ref="list"
                           :list="flats"/>
            </transition>
        </div>
        <div :class="$style.showFilter"
             @click="showFilter = true">
            <button>
                Задать параметры
            </button>
        </div>
    </section>
</template>

<script>
    // Utils
    import {applyQuery} from '../../assets/js/utils';
    import {TweenLite} from 'gsap';

    // Queries
    import flatSpecs from '../../queries/flat/flatSpecs.gql';
    import flatFacets from '../../queries/flat/flatFacets.gql';
    import allFlats from '../../queries/flat/allFlats.gql';

    // Default variables
    const defaultValues = {
        rooms: [],
        priceMin: '',
        priceMax: '',
        areaMin: '',
        areaMax: '',
        facing: '',
        hasView: '',
        building: [],
        floorMin: '',
        hasDiscount: '',
        floorMax: '',
        orderBy: '',
    };

    const defaultSpecs = {
        ordering: [
            {
                name: 'price',
                label: 'по цене',
            },
            {
                name: 'area',
                label: 'по площади',
            },
        ],
    };

    //components
    import FilterList from '../../components/flats/FilterList';
    import FilterControls from '../../components/common/filter/FilterControls';
    import FlatsListControls from '../../components/flats/FlatsListControls';
    import FlatsList from '../../components/flats/FlatsList';

    export default {
        name: 'IndexFlats',

        components: {
            FlatsList,
            FlatsListControls,
            FilterControls,
            FilterList,
        },

        data() {
            return {
                ordering: 'area',
                specs: {},
                facets: [],
                values: { ...defaultValues },
                flatsCount: 0,
                flats: [],
                showFilter: false,

                pageInfo: {
                    first: 12,
                    after: null,
                    hasNext: false,
                },

                flags: {
                    loading: false,
                    reloading: false,
                    isTicking: false,
                    isFilterVisible: false, //for mobile
                    isExtended: false,
                },
            };
        },

        computed: {
            vars() {
                let vars = {};
                for (let key in this.values) {
                    if (this.values[key] !== '') {
                        vars[key] = this.values[key];

                        if (this.specs && this.specs.price) {
                            if (key === 'priceMin' && vars[key] === this.specs.price.max) {
                                vars[key] = this.specs.price.max - 1;
                            } else if (key === 'priceMax' && vars[key] === this.specs.price.min) {
                                vars[key] = this.specs.price.min + 1;
                            }
                        }

                        if (this.specs && this.specs.area) {
                            if (key === 'areaMin' && vars[key] === this.specs.area.max) {
                                vars[key] = this.specs.area.max - 1;
                            } else if (key === 'areaMax' && vars[key] === this.specs.area.min) {
                                vars[key] = this.specs.area.min + 1;
                            }
                        }
                    }

                    if (Array.isArray(this.values[key]) && key !== 'building') {
                        vars[key] = this.values[key].join(',');
                    }
                }
                return vars;
            },

            parsedFacets() {
                if (!this.facets) return {};
                let facets = {};
                this.facets.forEach(f => {
                    facets[f.name] = f.choices ? f.choices : f.range;
                });
                return facets;
            },
        },

        async asyncData({ app, query, params }) {

            let initialValues = applyQuery(defaultValues, query);

            if (query.buildingID) {
                initialValues.building.push(query.buildingID);
            }

            if (params.building) {
                initialValues.building = params.building;
            }

            let requestQuery = {...initialValues};

            for (let name in requestQuery) {
                if (!requestQuery[name] || !requestQuery[name].length) {
                    delete requestQuery[name];
                }

                if (Array.isArray(requestQuery[name])) {
                    requestQuery[name] = requestQuery[name].join(',');
                }
            }
            await app.$gql.clearStore();

            try {
                let specsResponse = app.$gql.query({
                    query: flatSpecs,
                });

                let facetsResponse = app.$gql.query({
                    query: flatFacets,
                    variables: {
                        ...requestQuery,
                    },
                });

                let flatsResponse = app.$gql.query({
                    query: allFlats,
                    variables: {
                        ...requestQuery,
                        first: 12,
                    },
                });

                let [
                    specsData,
                    facetsData,
                    flatsData,
                ] = await Promise.all([
                    specsResponse,
                    facetsResponse,
                    flatsResponse,
                ]);

                let specs = {};

                specsData.data.allFlatsSpecs.forEach(spec => {
                    specs[spec.name] = spec.choices ? spec.choices : spec.ranges;
                });

                return {
                    specs: specs,
                    facets: facetsData.data.allFlatsFacets,
                    values: initialValues,
                    flatsCount: flatsData.data.allFlats.totalCount || 0,
                    flats: flatsData.data.allFlats.edges || [],
                    pageInfo: {
                        first: 12,
                        after: flatsData.data.allFlats.pageInfo.endCursor,
                        hasNext: flatsData.data.allFlats.pageInfo.hasNextPage,
                    },
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({ store }) {
            store.dispatch('menu/CHANGE_COLOR_BLACK');
        },

        mounted() {
            document.addEventListener('scroll', this.onScroll);
            TweenLite.fromTo(this.$refs.title, .6, { opacity: 0, transform: 'translateY(-32px)' }, {
                opacity: 1,
                transform: 'translateY(0)'
            });
            if (this.$refs.controls.$el) {
                TweenLite.fromTo(this.$refs.controls.$el, .6, { opacity: 0 }, { opacity: 1 }).delay(.6);
            }
        },

        beforeDestroy() {
            document.removeEventListener('scroll', this.onScroll);
        },

        methods: {
            async getFacets() {
                const facetsResponse = await this.$gql.query({
                    query: flatFacets,
                    variables: {
                        ...this.vars,
                    },
                });

                this.facets = facetsResponse.data.allFlatsFacets;
            },

            async getFlats(append) {
                if (!this.pageInfo.hasNext || this.flags.loading) return;
                this.flags.loading = true;
                let flats = await this.$gql.query({
                    query: allFlats,
                    variables: {
                        ...this.vars,
                        first: this.pageInfo.first,
                        after: this.pageInfo.after,
                    },
                });

                if (!append) this.flags.reloading = true;

                this.flats = !append
                    ? flats.data.allFlats.edges.slice()
                    : [].concat.apply(this.flats, flats.data.allFlats.edges);

                if (!append) this.flatsCount = flats.data.allFlats.totalCount || 0;

                this.pageInfo.after = flats.data.allFlats.pageInfo.endCursor;
                this.pageInfo.hasNext = flats.data.allFlats.pageInfo.hasNextPage;

                this.$nextTick(() => {
                    this.flags.loading = false;
                });
            },

            pushQueries() {
                let query = {};
                Object.keys(this.values).forEach(key => {
                    if (this.values[key] !== '' && this.values[key] !== null) {
                        query[key] = this.values[key];
                    }
                });

                this.$router.replace({
                    query: query,
                });
            },

            resetPageInfo() {
                this.pageInfo.hasNext = true;
                this.pageInfo.after = '';
            },

            // Event listeners

            onValueChange(val) {
                this.values = { ...this.values, ...val };

                this.resetPageInfo();
                this.getFacets();
                this.getFlats();
                this.pushQueries();
            },

            onSortChange(val) {
                this.values = { ...this.values, ...val };
                this.resetPageInfo();
                this.getFlats();
                this.pushQueries();
            },

            onReset() {
                if (JSON.stringify(this.values) !== JSON.stringify(defaultValues)) {
                    this.values = { ...defaultValues };
                    this.resetPageInfo();
                    this.getFacets();
                    this.getFlats();
                    this.pushQueries();
                }
            },

            onScroll() {
                if (!this.flags.isTicking) {
                    this.flags.isTicking = true;
                    requestAnimationFrame(this.calculatePreload);
                }
            },

            calculatePreload() {
                if (window.pageYOffset > this.$refs.page.offsetHeight - window.innerHeight * 2.5) {
                    this.getFlats(true);
                }

                this.flags.isTicking = false;
            },
        },
    };
</script>

<style lang="scss" module>
    .filterContainer {
        @include respond-to(mobile) {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            padding: 2.4rem 1.6rem 9rem 1.6rem;
            background-color: $black;
            transform: translateY(calc(100% + 500px));
            transition: transform .3s;
        }
    }

    .title {

        & span {
            letter-spacing: normal;
        }
    }

    .filterWrap {
        @include respond-to(mobile) {
            height: 100%;
            overflow: auto;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    ._active {
        @include respond-to(mobile) {
            transform: translateY(0);
        }
    }

    .IndexFlats {
        padding-bottom: 6.2rem;

        @include respond-to(mobile) {
            position: relative;
            padding-bottom: 10px;
        }
    }

    .FilterList {
        margin-top: 4.2rem;

        @include respond-to(mobile) {
            margin-top: 0;
        }
    }

    .FilterControls {
        //
    }

    .showFilter {
        display: none;

        @include respond-to(mobile) {
            position: sticky;
            bottom: 26px;
            left: 0;
            display: block;
            width: 30rem;
            height: 5rem;
            margin-left: -48px;
            z-index: 5;
            font: 18px $font-secondary;
            cursor: pointer;

            &:after {
                content: "";
                position: absolute;
                bottom: -2.7rem;
                left: -.2rem;
                z-index: -1;
                width: 30.4rem;
                height: 14.6rem;
                background: url("../../static/images/flats/set-filters-arrow.svg") no-repeat;
                background-size: cover;
                cursor: default;
                pointer-events: none;
            }

            button {
                position: relative;
                top: 2rem;
                left: 6rem;
                padding: 0;
                border: none;
                color: $orange;
                background-color: rgba(0, 0, 0, 0);
                cursor: pointer;
            }
        }

        @include respond-to(s-mobile) {
            margin-left: -16px;
        }
    }
</style>