<template>
    <div :class="$style.MapContacts">
        <MapControls
            :class="$style.MapContacts__zoom"
            @zoom-in="map.zoomIn()"
            @zoom-out="map.zoomOut()"
        />
        <div ref="map" :class="$style.MapContacts__container"></div>
    </div>
</template>

<script>
    // Utils
    import {mapToken, getRadialCoords, mapStyles} from '../../assets/js/mapUtils';
    import MapboxLanguage from '@mapbox/mapbox-gl-language';
    import {MapboxClusterMarker} from '../../assets/js/MapboxClusterMarker/MapboxClusterMarker';

    let mapbox = undefined;

    //store
    import {mapState, mapGetters} from 'vuex';

    //components
    import MapControls from '../common/Map/MapControls';

    export default {
        name: 'ModalMap',
        components: {
            MapControls,
        },

        props: {
            longitude: {
                type: Number,
                default: null,
            },

            latitude: {
                type: Number,
                default: null,
            },
        },

        data() {
            return {
                inited: false,
                observer: null,
                map: undefined,

            };
        },

        computed: {
            ...mapGetters('home', {
                projectCoords: 'projectCoords',
            }),

            center() {
                return this.projectCoords.length ? this.projectCoords : [this.latitude, this.longitude];
            },
        },

        mounted() {
            this.loadMap();
        },

        methods: {

            loadMap() {
                if (process.client) {
                    this.inited = true;

                    let mapBoxLoad = import('mapbox-gl');
                    mapBoxLoad.then(result => {
                        mapbox = result.default;
                        this.initMap();
                    });
                }
            },

            initMap() {
                mapbox.accessToken = mapToken;
                const language = new MapboxLanguage();

                this.map = new mapbox.Map({
                    container: this.$refs.map,
                    center: this.center,
                    zoom: 15,
                    style: this.mapStyle ? this.mapStyle : mapStyles,
                    attributionControl: false,
                    antialias: true,
                });

                this.map.addControl(language);
                this.map.scrollZoom.disable();

                this.map.on('style.load', () => {
                    this.addProject();

                    this.map.on('zoom', () => {
                        let zoom = this.map.getZoom();
                    });
                });
            },

            projectMarkerTemplate() {
                let markerEl = document.createElement('div');
                markerEl.classList.add('project-marker');

                markerEl.innerHTML = `
                    <div class="project-marker__icon">
                        <svg viewBox="0 0 20 34">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M20 0L0 0.0779386V25.8196L10 33.7011L20 25.7416V0ZM14.8313 4.41712L5.16927 4.45477V16.8905L10.0003 20.6981L14.8313 16.8529V4.41712Z"/>
                        </svg>
                    </div>
                `;

                return markerEl;
            },

            addProject() {
                let marker = new mapbox.Marker(this.projectMarkerTemplate())
                    .setLngLat(this.center)
                    .addTo(this.map);
            },
        },
    }
    ;
</script>

<style lang="scss" module>
    .MapContacts {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        user-select: none;

        @include respond-to(s-tablet) {
            height: 80rem;
        }

        @include respond-to(mobile) {
            height: 48rem;
        }

        &__container {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
        }

        &__zoom {
            position: absolute;
            bottom: calc(50% - 40px);
            right: 8.5rem;
            z-index: 2;

            @include respond-to(mobile) {
                display: none;
            }
        }
    }

    .mapboxgl-canvas {
        outline: none;
    }

    .mapboxgl-canvas-container {
        width: 100%;
        height: 100%;
    }

    .mapboxgl-marker {
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
    }

    .mapboxgl-popup {
        position: absolute;
        top: 0;
        left: 0;
        will-change: transform;
    }
</style>

<style lang="scss">
    .project-marker {
        display: block;
        width: 20px;
        height: 34px;

        &__icon {
            display: block;
            height: 100%;
            transform: translate3d(0, -50%, 0);

            svg {
                display: block;
                height: 100%;
                fill: $orange;
            }
        }
    }
</style>