<template>
    <div :class="$style.Data">
        <div :class="$style.phoneNumberContainer">
            <p :class="$style.phoneNumberLabel">Телефон</p>
            <a :href="'tel:' + office.phone1" :class="$style.phoneNumber">{{ phoneNumber }}</a>
        </div>

        <div :class="$style.addressContainer">
            <p :class="$style.addressLabel">Адрес</p>
            <p :class="$style.address">{{ office.address }}</p>
            <ul>
                <li v-for="workTime in workTimes" :key="workTime.id" :class="$style.workTime">{{ workTime }}</li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            office: Object,
        },

        computed: {
            phoneNumber() {
                if (!this.office.phone1) return null;

                let match = this.office.phone1.match(/(7)?([0-9]{3})?([0-9]{3})?([0-9]{2})?([0-9]{2})/);
                if (match) {
                    return '+' + match[1] + ' ' + match[2] + ' ' + match[3] + '-' + match[4] + '-' + match[5];
                }

                return match;
            },

            workTimes() {
                let workTimeArray = [];

                if (!this.office.officehoursSet) return null;

                this.office.officehoursSet.forEach(hours => {
                    let startTime = hours.startTime;
                    if (startTime[0] === '0') {
                        startTime = startTime.substr(1, 4);
                    } else {
                        startTime = startTime.substr(0, 5);
                    }

                    let endTime = hours.endTime;
                    if (endTime[0] === '0') {
                        endTime = endTime.substr(1, 4);
                    } else {
                        endTime = endTime.substr(0, 5);
                    }

                    let startDay = hours.startDay;
                    if (startDay === 'A_0') {
                        startDay = 'Пн';
                    } else if (startDay === 'A_1') {
                        startDay = 'Вт';
                    } else if (startDay === 'A_2') {
                        startDay = 'Ср';
                    } else if (startDay === 'A_3') {
                        startDay = 'Чт';
                    } else if (startDay === 'A_4') {
                        startDay = 'Пт';
                    } else if (startDay === 'A_5') {
                        startDay = 'Сб';
                    } else if (startDay === 'A_6') {
                        startDay = 'Вс';
                    }

                    let endDay = hours.endDay;
                    if (endDay === 'A_0') {
                        endDay = 'Пн';
                    } else if (endDay === 'A_1') {
                        endDay = 'Вт';
                    } else if (endDay === 'A_2') {
                        endDay = 'Ср';
                    } else if (endDay === 'A_3') {
                        endDay = 'Чт';
                    } else if (endDay === 'A_4') {
                        endDay = 'Пт';
                    } else if (endDay === 'A_5') {
                        endDay = 'Сб';
                    } else if (endDay === 'A_6') {
                        endDay = 'Вс';
                    }

                    workTimeArray.push(startDay + '-' + endDay + ' ' + startTime + ' - ' + endTime);
                });

                return workTimeArray;
            },
        },
    };
</script>

<style lang='scss' module>
    .Data {
        width: 84%;

        @include respond-to(s-tablet) {
            width: 100%;
        }
    }

    .phoneNumberLabel {
        margin-bottom: .8rem;
        color: $grey;
        font-weight: 600;
    }

    .phoneNumber {
        margin-bottom: .8rem;
        font: 2.8rem $font-secondary;
        color: #4c4548;

        @include respond-to(mobile) {
            font-size: 2.4rem;
        }
    }

    .addressLabel {
        margin-bottom: .8rem;
        color: $grey;
        font-weight: 600;

        @include respond-to(mobile) {
            margin-bottom: 1.2rem;
        }
    }

    .address {
        margin-bottom: .8rem;
        font: 2.8rem $font-secondary;
        color: #4c4548;

        @include respond-to(mobile) {
            margin-bottom: 0;
            font-size: 2.4rem;
        }

        @include respond-min-max(mobile) {
            width: 70%;
            margin-bottom: 8px;
        }
    }

    .workTime {
        font: 2rem $font-secondary;
        color: #949393;

        @include respond-to(mobile) {
            font-size: 1.8rem;
        }
    }

    .addressContainer {
        margin-top: 2.6rem;

        @include respond-to(mobile) {
            margin-top: .8rem;
        }
    }
</style>