<template>
    <div :class="$style.Plan" @click="onClick">
        <div :class="$style.layout">
            <div :class="[$style.layoutContainer, {'_placeholder': !plan}]"
                 :style="{backgroundImage: `url(${plan})`}">
                <svg :class="$style.planSvg"
                     xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <filter id="feMatrixWhite">
                            <feColorMatrix type="matrix"
                                           values="-1 0 0 0 1
                                                   0 -1 0 0 1
                                                   0 0 -1 0 1
                                                   0 0 0 1 0">
                            </feColorMatrix>
                        </filter>
                    </defs>
                    <image :xlink:href="plan"
                           filter="url(#feMatrixWhite)"
                           width="100%"
                           height="100%"
                           x="0" y="0">
                    </image>
                </svg>
            </div>

            <div v-if="!plan" :class="[$style.placeholder]">Нет планировки</div>
        </div>
        <div :class="$style.info">
            <div :class="$style.label">{{ rooms }}-комнатные</div>

            <div :class="$style.inner">
                <div :class="$style.infoItem"> от <span>{{ price|roundToMillions }}</span> млн руб.</div>
                <div :class="$style.infoItem"> от <span>{{ area }}</span> м<sup>2</sup></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Plan',

        props: {
            rooms: {
                type: Number,
                default: 0,
            },
            area: {
                type: Number,
                default: 0,
            },
            price: {
                type: Number,
                default: 0,
            },
            plan: {
                type: String,
                default: '',
            },
        },

        data() {
            return {
                isHovered: false,
            };
        },

        methods: {
            onClick() {
                this.$router.push({
                    path: `/flats/?rooms=${this.rooms}`,
                });
            }
        },

    };
</script>

<style lang="scss" module>
    .Plan {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 7.4rem 2.1rem 4rem;
        cursor: pointer;

        @include respond-to(mobile) {
            padding-top: 44px;
        }

        @media screen and (min-width: 769px) {

            &:hover {

                &:after {
                    background-color: $orange;
                    border-color: transparent;
                    height: 105%;
                    transform: translateY(-4.3rem);

                    @include respond-to(mobile) {
                        height: 295px;
                        transform: scaleY(1.33);
                    }
                }

                .info {
                    transform: translate3d(0, 0, 0);

                    @include respond-to(mobile) {
                        transform: none;
                    }
                }

                .inner {
                    visibility: visible;
                }

                .label {
                    color: #fff;
                }

                .layout {
                    filter: brightness(0) invert(1);

                    @include respond-ie {
                        background-size: 0;
                    }
                }

                .planSvg {
                    opacity: 1;
                    transition: opacity .3s ease-in-out;
                }
            }
        }

        &:global(._active-slide) {

            &:after {
                background-color: $orange;
                border-color: transparent;
                height: 105%;
                transform: translateY(-4.3rem);

                @include respond-to(mobile) {
                    height: 295px;
                    transform: scaleY(1.33);
                }
            }

            .info {
                transform: translate3d(0, 0, 0);

                @include respond-to(mobile) {
                    transform: none;
                }
            }

            .inner {
                visibility: visible;
            }

            .label {
                color: #fff;
            }

            .layout {
                filter: brightness(0) invert(1);

                @include respond-ie {
                    background-size: 0;
                }
            }

            .planSvg {
                opacity: 1;
                transition: opacity .3s ease-in-out;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25rem;
            height: 29rem;
            border: .2rem solid rgba($black, .1);
            transition: transform .3s ease, border-color .3s ease, height .3s ease;

            @include respond-to(mobile) {
                width: 100%;
                box-sizing: border-box;
            }
        }

        @include respond-to(mobile) {
            bottom: .5rem;
        }
    }

    .layout {
        position: relative;
        z-index: 1;
        width: 14rem;
        height: 13rem;

        @include respond-to(mobile) {
            top: -3.6rem;
            width: 15rem;
            height: 15.1rem;
        }
    }

    .layoutContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &:global(._placeholder) {
            opacity: .15;
        }

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12.8rem;
            height: 12.8rem;
            background-color: $black;
            opacity: .05;
            transform: translate(-50%, -50%) skewY(-11deg);
            transition: background-color .3s ease-out;

            @include respond-to(mobile) {
                width: 12.8rem;
                height: 12.8rem;
                margin-top: -.7rem;
            }
        }
    }

    .planSvg {
        display: none;
        width: 100%;
        height: 100%;

        @include respond-ie {
            display: block;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }

    .placeholder {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }

    .label {
        font-size: 2.8rem;
        color: $orange;
    }

    .info {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(6.4rem - 16px);
        font-family: $font-secondary;
        text-align: center;
        text-transform: uppercase;
        transform: translateY(16px);
        transition: transform .3s ease;

        @include respond-to(mobile) {
            margin-top: -.3rem;
            transform: none;
        }
    }

    .inner {
        margin-top: 1rem;
        visibility: hidden;
        transition: visibility 0s ease;
    }

    .infoItem {
        color: #fff;
        opacity: .8;

        &:not(:first-child) {
            margin-top: .8rem;
        }
    }
</style>
