<template>
    <ul :class="$style.Facts">
        <li v-if="data.locationFact1Value"
            :class="$style.fact">
            <div :class="$style.factInner">
                <span :class="$style.value">{{ data.locationFact1Value }}</span>
                <span :class="$style.unit">{{ data.locationFact1Unit }}</span>
            </div>

            <span :class="$style.label">{{ data.locationFact1Label }}</span>
        </li>

        <li v-if="data.locationFact2Value"
            :class="$style.fact">
            <div :class="$style.factInner">
                <span :class="$style.value">{{ data.locationFact2Value }}</span>
                <span :class="$style.unit">{{ data.locationFact2Unit }}</span>
            </div>

            <span :class="$style.label">{{ data.locationFact2Label }}</span>
        </li>

        <li v-if="data.locationFact2Value"
            :class="$style.fact">
            <div :class="$style.factInner">
                <span :class="$style.value">{{ data.locationFact3Value }}</span>
                <span :class="$style.unit">{{ data.locationFact3Unit }}</span>
            </div>

            <span :class="$style.label">{{ data.locationFact3Label }}</span>
        </li>
    </ul>
</template>

<script>
    export default {
        name: 'Facts',

        props: {
            data: {
                type: Object,
                default: () => ({}),
            },
        },
    };
</script>

<style lang="scss" module>
    .Facts {
        position: absolute;
        top: 22.9rem;
        left: 42.5rem;
        z-index: 1;
        display: flex;
        min-height: 14.8rem;

        @include respond-to(mobile) {
            top: calc(1.2rem + 20vw);
            left: 1rem;
            z-index: 3;
            height: 10rem;
        }
    }

    .fact {
        position: relative;
        margin-right: 2.8rem;
        font-family: $font-secondary;
        font-size: 2rem;
        line-height: 1.2;

        @include respond-to(mobile) {
            font-size: 1.3rem;
            padding-left: .8rem;
            margin-right: 1.1rem;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 1.7rem;
            z-index: -1;
            width: 7rem;
            height: 7.2rem;
            background-color: $orange;
            transform: matrix(1, -.2, 0, .98, 0, 0);

            @include respond-to(mobile) {
                width: 4.8rem;
                height: 5rem;
            }
        }

        &:first-child {
            align-self: flex-end;

            @include respond-to(mobile) {
                top: 4.3rem;
                align-self: normal;
            }
        }

        &:nth-child(2) {
            align-self: center;

            @include respond-to(mobile) {
                top: 2.3rem;
                align-self: normal;
            }
        }

        &:last-child {
            margin-right: 0;

            @include respond-to(mobile) {
                top: 0;
            }
        }

        &:nth-child(even) {

            &:after {
                background-color: $green;
            }
        }
    }

    .factInner {
        display: flex;
        align-items: baseline;
    }

    .value {
        padding-top: .6rem;
        font-size: 6.2rem;
        line-height: .8;

        @include respond-to(mobile) {
            font-size: 4.2rem;
        }
    }
</style>
