<template>
    <div :class="$style.Decoration">
        <div class="main-container">
            <div class="offset-page" :class="$style.offsetPage">
                <div :class="$style.header">
                    <h1 :class="$style.title" class="custom-title">
                        <span class="custom-title__origin">Отделка</span>
                        <span class="custom-title__shadow">Отделка</span>
                    </h1>
                    <button v-if="isDisplayBack"
                            :class="$style.backButton"
                            @click="$router.back()">
                        Назад
                    </button>
                </div>
                <ul :class="$style.decorations">
                    <li v-for="decoration in decorations"
                        :key="decoration.id"
                        :class="[$style.decorationContainer, {[$style._paddingForGallery]: images && activeDecorationId === decoration.id && images.length > 1 }]">
                        <p :class="[$style.decorationText, {[$style._active]: activeDecorationId === decoration.id}]"
                           @click="setDecorationId(decoration.id)">{{ decoration.name }}</p>
                        <button
                            :class="[activeDecorationId === decoration.id ? [$style._close] : [$style._open], $style.decorationButton]"
                            @click="toggleDecorationId(decoration.id)">
                        </button>
                        <div v-if="activeDecorationId === decoration.id"
                             :class="$style.decorationInformationMobile">
                            <div>
                                <p :class="$style.description">
                                    {{ activeDecoration.description }}
                                </p>
                                <div
                                    :class="[$style.sliderContainer, {[$style._noMargin]: images && images.length < 2}]">
                                    <transition name="fade">
                                        <SliderWithGallery :key="rerenderSlider"
                                                           :images="images"
                                                           :class="$style.slider" />
                                    </transition>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div
                    :class="[$style.decorationInformationDesktop, {[$style._smallMargin]: images && images.length < 2}]">
                    <div>
                        <p :class="$style.description">
                            {{ activeDecoration.description }}
                        </p>
                        <div
                            :class="[$style.sliderContainer, {[$style._noMargin]: images && images.length < 2}]">
                            <transition name="fade">
                                <SliderWithGallery :key="rerenderSlider"
                                                   :images="images" />
                            </transition>
                        </div>
                    </div>
                </div>
                <Feedback />
            </div>
        </div>
    </div>
</template>

<script>
    import allFinishingTypes from '../../queries/decorations/allFinishingTypes.gql';
    import Feedback from '../../components/common/formBlocks/Feedback';
    import SliderWithGallery from '../../components/common/slider/SliderWithGallery';

    export default {
        components: {
            Feedback,
            SliderWithGallery,
        },

        data() {
            return {
                decorations: [],
                showSlider: false,
                rerenderSlider: 0,
                isDisplayBack: false,
            };
        },

        computed: {
            activeDecoration() {
                if (!this.decorations) return;
                return this.decorations.find(decoration => {
                    return decoration.id === this.activeDecorationId;
                }) || {};
            },

            images() {
                return this.activeDecoration.finishingtypeimageSet;
            },
        },

        async asyncData({app}) {
            await app.$gql.clearStore();

            try {
                let finishingTypesResponse = await app.$gql.query({
                    query: allFinishingTypes,
                });

                return {
                    decorations: finishingTypesResponse.data.allFinishingTypes,
                    activeDecorationId: finishingTypesResponse.data.allFinishingTypes[0].id,
                };
            } catch (e) {
                console.log('FlatList async', e);
            }
        },

        async fetch({store}) {
            if (store.state.menu.color !== '_white') {
                store.dispatch('menu/CHANGE_COLOR_DEFAULT');
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.isDisplayBack = !!from.name;
            });
        },

        mounted() {
            if (this.$device.isMobile) {
                this.activeDecorationId = null;
            }
        },

        methods: {
            setDecorationId(id) {
                if (this.activeDecorationId !== id) {
                    this.activeDecorationId = id;
                    this.rerenderSlider++;
                    this.showSlider = false;
                }
            },

            toggleDecorationId(id) {
                if (this.activeDecorationId === id) {
                    this.activeDecorationId = '';
                } else {
                    this.activeDecorationId = id;
                }
                this.rerenderSlider++;
                this.showSlider = false;
            },
        },
    };
</script>

<style lang='scss' module>
    .Decoration {
        overflow: hidden;

        @include respond-to(xxl) {
            padding-left: 34rem;
        }
    }

    .offsetPage {
        @include respond-to(xxl) {
            width: 100%;
        }
    }

    .header {
        display: flex;
        align-items: center;
    }

    .backButton {
        position: relative;
        margin: 2rem 2.5rem auto auto;
        padding: 0;
        border: none;
        font-size: 1.4rem;
        font-weight: bold;
        color: $black;
        background-color: white;
        cursor: pointer;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            right: -2.2rem;
            top: .3rem;
            border-left: .4rem solid $orange;
            border-top: .4rem solid white;
            border-right: .4rem solid white;
            border-bottom: .4rem solid white;
        }

        @include respond-to(mobile) {
            display: none;
        }
    }

    .decorations {
        display: flex;
        margin-top: 4.5rem;

        @include respond-to(mobile) {
            flex-direction: column;
            margin-top: .4rem;
        }
    }

    .decorationContainer {
        margin-right: 3.2rem;

        @include respond-to(mobile) {
            position: relative;
            margin-right: 0;
            padding-top: 2.4rem;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid $light-grey;

            &:last-of-type {
                margin-bottom: -.1rem;
                border-bottom: 1px solid white;
            }
        }
    }

    .decorationButton {
        display: none;

        @include respond-to(mobile) {
            position: absolute;
            right: 0;
            top: 2.2rem;
            display: block;
            width: 2rem;
            height: 2rem;
            background-size: cover;
            border: none;
            cursor: pointer;
        }
    }

    ._open {
        @include respond-to(mobile) {
            background: url('../../static/images/decoration/icon-open.svg') no-repeat;
        }
    }

    ._close {
        @include respond-to(mobile) {
            top: 2rem;
            right: -.2rem;
            width: 2.4rem;
            height: 2.4rem;
            background: url('../../static/images/decoration/icon-close.svg') no-repeat;
        }
    }

    p._active {
        color: $orange;
    }

    .sliderContainer {
        position: relative;
        height: 49.2rem;

        @include respond-to(mobile) {
            margin-bottom: 7.8rem;
            height: auto;
            width: 100vw;

            @include aspect-ratio(320, 185);
        }
    }

    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @include respond-to(mobile) {
            width: 100vw;
        }
    }

    ._noMargin {
        margin-bottom: 0;
    }

    .decorationInformationDesktop {
        margin-bottom: 8.5rem;

        @include respond-to(mobile) {
            display: none;
        }
    }

    .decorationInformationMobile {
        display: none;

        @include respond-to(mobile) {
            display: block;
        }
    }

    .description {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
        line-height: 200%;
        color: #413a3c;

        @include respond-to(mobile) {
            margin-bottom: 1.5rem;
        }
    }

    .decorationText {
        display: inline-block;
        user-select: none;
        cursor: pointer;
        font: 2rem $font-secondary;

        &:hover {
            color: $orange;
        }

        @include respond-to(mobile) {
            font-size: 1.8rem;
            color: #4c4548;
        }
    }

    ._smallMargin {
        margin-bottom: 4.2rem;

        @include respond-to(mobile) {
            margin-bottom: 0;
        }
    }

    ._paddingForGallery {
        @include respond-to(mobile) {
            padding-bottom: 9.4rem;
        }
    }
</style>