<template>
    <div>
        <PrintPage :date="date" :office="office" :link="link">
            <div :class="$style.title" class="custom-title">
                <span class="custom-title__origin">{{ flatName }} {{ flat.area|pointsByComma }} м<sup>2</sup></span>
                <span class="custom-title__shadow">{{ flatName }} {{ flat.area|pointsByComma }} м<sup>2</sup></span>
            </div>
            <div :class="$style.mainContent">
                <div :class="$style.info">
                    <div :class="$style.features">

                        <div v-if="flat.facing"
                             :class="$style.featuresItem">
                            <svg :class="$style.icon" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.33333 0.500031H14.6667C14.8877 0.500031 15.0996 0.587828 15.2559 0.744108C15.4122 0.900388 15.5 1.11235 15.5 1.33336V5.50003C15.5 5.72104 15.4122 5.93301 15.2559 6.08929C15.0996 6.24557 14.8877 6.33336 14.6667 6.33336H1.33333C1.11232 6.33336 0.900358 6.24557 0.744078 6.08929C0.587797 5.93301 0.5 5.72104 0.5 5.50003V1.33336C0.5 1.11235 0.587797 0.900388 0.744078 0.744108C0.900358 0.587828 1.11232 0.500031 1.33333 0.500031ZM3 8.00003H8C8.22101 8.00003 8.43298 8.08783 8.58926 8.24411C8.74554 8.40039 8.83333 8.61235 8.83333 8.83336V11.3334H9.66667V16.3334H6.33333V11.3334H7.16667V9.6667H2.16667C1.94565 9.6667 1.73369 9.5789 1.57741 9.42262C1.42113 9.26634 1.33333 9.05438 1.33333 8.83336V7.1667H3V8.00003ZM12.7767 9.44336L14.25 7.97003L15.7233 9.44336C16.0146 9.73475 16.213 10.106 16.2933 10.5101C16.3737 10.9142 16.3324 11.333 16.1747 11.7137C16.017 12.0943 15.75 12.4197 15.4074 12.6486C15.0648 12.8775 14.662 12.9996 14.25 12.9996C13.838 12.9996 13.4352 12.8775 13.0926 12.6486C12.75 12.4197 12.483 12.0943 12.3253 11.7137C12.1676 11.333 12.1263 10.9142 12.2067 10.5101C12.287 10.106 12.4854 9.73475 12.7767 9.44336Z"
                                    fill="#1F171A"/>
                            </svg>
                            <span>с отделкой</span>
                        </div>

                        <div v-if="flat && flat.combinedFlat"
                             :class="[$style.featuresItem, '_combine']">
                            <svg :class="$style.icon" viewBox="0 0 17 18" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.8333 4.00008H7.16667C6.94565 4.00008 6.73369 4.08788 6.57741 4.24416C6.42113 4.40044 6.33333 4.6124 6.33333 4.83342V15.6667H1.33333C1.11232 15.6667 0.900358 15.579 0.744078 15.4227C0.587797 15.2664 0.5 15.0544 0.5 14.8334V1.50008C0.5 1.27907 0.587797 1.06711 0.744078 0.910826C0.900358 0.754545 1.11232 0.666748 1.33333 0.666748H13C13.221 0.666748 13.433 0.754545 13.5893 0.910826C13.7455 1.06711 13.8333 1.27907 13.8333 1.50008V4.00008ZM8.83333 5.66675H15.5C15.721 5.66675 15.933 5.75455 16.0893 5.91083C16.2455 6.06711 16.3333 6.27907 16.3333 6.50008V16.5001C16.3333 16.7211 16.2455 16.9331 16.0893 17.0893C15.933 17.2456 15.721 17.3334 15.5 17.3334H8.83333C8.61232 17.3334 8.40036 17.2456 8.24408 17.0893C8.0878 16.9331 8 16.7211 8 16.5001V6.50008C8 6.27907 8.0878 6.06711 8.24408 5.91083C8.40036 5.75455 8.61232 5.66675 8.83333 5.66675Z"
                                    fill="#1F171A"/>
                            </svg>
                            <span>Совмещение</span>
                        </div>

                        <div v-if="flat.hasView"
                             :class="$style.featuresItem">
                            <svg :class="$style.icon" viewBox="0 0 20 16" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.984131 8C1.76746 3.73333 5.50663 0.5 9.99996 0.5C14.4933 0.5 18.2316 3.73333 19.0158 8C18.2325 12.2667 14.4933 15.5 9.99996 15.5C5.50663 15.5 1.7683 12.2667 0.984131 8ZM9.99996 12.1667C11.105 12.1667 12.1648 11.7277 12.9462 10.9463C13.7276 10.1649 14.1666 9.10507 14.1666 8C14.1666 6.89493 13.7276 5.83512 12.9462 5.05372C12.1648 4.27232 11.105 3.83333 9.99996 3.83333C8.8949 3.83333 7.83509 4.27232 7.05369 5.05372C6.27228 5.83512 5.8333 6.89493 5.8333 8C5.8333 9.10507 6.27228 10.1649 7.05369 10.9463C7.83509 11.7277 8.8949 12.1667 9.99996 12.1667ZM9.99996 10.5C9.33692 10.5 8.70104 10.2366 8.2322 9.76777C7.76336 9.29893 7.49996 8.66304 7.49996 8C7.49996 7.33696 7.76336 6.70107 8.2322 6.23223C8.70104 5.76339 9.33692 5.5 9.99996 5.5C10.663 5.5 11.2989 5.76339 11.7677 6.23223C12.2366 6.70107 12.5 7.33696 12.5 8C12.5 8.66304 12.2366 9.29893 11.7677 9.76777C11.2989 10.2366 10.663 10.5 9.99996 10.5Z"
                                    fill="#1F171A"/>
                            </svg>
                            <span>Вид на воду</span>
                        </div>
                    </div>
                    <div>
                        <div :class="$style.location">
                            <div v-if="flat.building && flat.building.number"><span
                                v-html="flat.building.number"></span> Дом
                            </div>
                            <div v-if="flat.section && flat.section.name"><span v-html="flat.section.name"></span>
                                секция
                            </div>
                            <div v-if="flat.floor && flat.floor.number"><span v-html="flat.floor.number"></span> этаж
                            </div>
                        </div>
                        <div>
                            <template v-if="flat && flat.promoPrice" :class="$style.priceBlock">
                                <span :class="$style.price">{{ flat.promoPrice|splitThousands }} <i>руб.</i></span>
                                <div>
                                    <span :class="$style.oldPrice">{{ flat.price|splitThousands }} <i>руб.</i></span>
                                    <span :class="$style.saleCount">-{{ saleCount }}%</span>
                                </div>
                            </template>
                            <template v-else>
                                <span :class="$style.price">{{ flat.price|splitThousands }} <i>руб.</i></span>
                            </template>
                        </div>
                        <div :class="$style.mortgageBlock">
                            <div v-if="offers"
                                 :class="$style.bankLogo">
                                <div v-for="(logo, i) in bankMinilogoArray"
                                     :key="i"
                                     :class="$style.logo"
                                     :style="{backgroundImage: `url(${logo})`}"></div>
                            </div>
                            <div :class="$style.mortgagePrice">
                                <span>Эта квартира в ипотеку</span>
                                <span>от <i>{{ mortgagePayment|splitThousands }}</i> руб./мес</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div :class="$style.imageWrap">
                    <div key="flat"
                         :class="$style.flatPlan"
                         :style="{backgroundImage: `url(${flat.plan})`}"></div>
                </div>
            </div>

            <div :class="$style.additionalSchemes">
                <div :class="$style.additionalCard">
                    <div :class="$style.description">
                        <div>На этаже</div>
                        <span v-if="flat.floor.number">
                        {{ flat.floor.number }} этаж
                        </span>
                        <span v-if="flat.section.name">
                        {{ flat.section.name }} секция
                        </span>
                    </div>
                    <div :class="$style.additionalImage"
                             :style="{backgroundImage: `url(${flat.floor.plan})`}">
                            <svg :viewBox="floorPlanViewbox"
                                 :class="[$style.hover, $style._visible]">
                                <defs>
                                    <filter id="feMatrix" x="-10%" y="-10%" width="120%" height="120%"
                                            filterUnits="objectBoundingBox"
                                            primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feColorMatrix type="matrix" values="1 0 0 0 0
                                                                                1 0 0 0 0
                                                                                1 0 0 0 0
                                                                                0 0 0 1 0"
                                                       in="SourceGraphic"
                                                       result="colormatrix"/>
                                        <feComponentTransfer in="colormatrix" result="componentTransfer">
                                            <feFuncR type="table" tableValues="0.98 1"/>
                                            <feFuncG type="table" tableValues="0.35 1"/>
                                            <feFuncB type="table" tableValues="0.07 1"/>
                                            <feFuncA type="table" tableValues="0 1"/>
                                        </feComponentTransfer>
                                        <feBlend mode="normal" in="componentTransfer" in2="SourceGraphic"
                                                 result="blend"/>
                                    </filter>
                                    <clipPath
                                        id="HOVERED_FLAT"
                                        v-html="flat.planHover ? flat.planHover : ''">
                                    </clipPath>
                                </defs>
                                <image :xlink:href="flat.floor.plan"
                                       x="0"
                                       y="0"
                                       width="100%"
                                       height="100%"
                                       style="overflow: visible;"
                                       filter="url(#feMatrix)"
                                       :style="{clipPath: `url(#HOVERED_FLAT)`}">
                                </image>
                            </svg>
                        </div>
                </div>
                <div :class="$style.additionalCard">
                    <div :class="$style.description">
                        <div>На генплане</div>
                        <span v-if="flat.section.name">
                        {{ flat.section.name }} секция
                        </span>
                    </div>
                    <div :class="$style.additionalImage" :style="{backgroundImage: `url(${flat.section.renderDisplay})`}"></div>
                </div>
            </div>
        </PrintPage>
    </div>
</template>

<script>
    //queries
    import oneFlat from '../../../../queries/flat/oneFlat.gql';
    import allOffices from '../../../../queries/allOffices.gql';
    import allMortgageOffers from '../../../../queries/mortgage/allMortgageOffers.gql';
    //components
    import PrintPage from '../../../../components/layout/print/PrintPage';

    export default {
        layout: 'print',

        components: {
            PrintPage
        },

        data() {
            return {
                date: '',
                office: {}
            };
        },

        computed: {

            flatName() {
                let name = '';

                if (this.flat.rooms === 0 || this.flat.rooms === null) name += 'Студ.';
                if (this.flat.rooms === 1) name += '1-ком.';
                if (this.flat.rooms === 2) name += '2-ком.';
                if (this.flat.rooms === 3) name += '3-ком.';
                if (this.flat.rooms === 4) name += '4-ком.';

                return name;
            },

            saleCount() {
                return Math.floor((this.flat.price - this.flat.promoPrice) / this.flat.price * 100);
            },

            mortgagePayment() {
                return Math.floor(this.flat.mortgagePayment);
            },

            bankMinilogoArray() {
                return this.offers.length ? this.offers.slice(0, 3).map(item => item.node?.bank?.miniLogo) : [];
            },

            floorPlanViewbox() {
                return `0 0 ${this.flat.floor.planWidth} ${this.flat.floor.planHeight}`;
            },
        },

        async asyncData({app, params, query}) {
            await app.$gql.clearStore();

            let flatData = await app.$gql.query({
                query: oneFlat,
                variables: {
                    id: params.id,
                    limit: 12
                }
            });

            const price = flatData.data.allFlats.edges[0].node.price || 0;

            const offers = await app.$gql.query({
                query: allMortgageOffers,
                variables: {
                    first: 4,
                    price: price
                }
            });

            let officesData = await app.$gql.query({
                query: allOffices,
            });

            return {
                date: query.date,
                link: `www.sp.ru/flats/${params.id}`,
                office: officesData.data.allOffices[0],
                flat: flatData?.data?.allFlats?.edges[0]?.node ? flatData.data.allFlats.edges[0].node : {},
                offers: offers?.data?.allMortgageOffers?.edges?.length ? offers.data.allMortgageOffers.edges : []
            };
        },
    };
</script>

<style lang="scss" module>
    .title {
        margin-bottom: 18px;
        font-size: 36px;
    }

    .features {
        width: 246px;
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;

        @include respond-to(mobile) {
            flex-direction: row;
            width: 100%;
        }
    }

    .mainContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 31px;
    }

    .imageWrap {
        width: 280px;
        height: auto;
    }

    .featuresItem {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 18px;

        svg {
            width: 16px;
            height: 16px;
        }

        span {
            font-size: 12px;
            line-height: 12px;
        }

        &:last-child {
            margin-bottom: 22px;
        }

        &:nth-child(2n) {
            margin-left: 22px;
        }

        @include respond-to(mobile) {

            &:not(:last-child) {
                margin-right: 16px;
            }
        }
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        line-height: 1;
        font-family: $font-secondary;
        color: rgba($black, .8);

        @include respond-to(mobile) {
            flex-direction: row;
            width: 100%;
        }

        div {
            font-size: 18px;

            &:last-child {
                margin-bottom: 24px;
            }
        }

        & > * {
            margin-bottom: 16px;

            @include respond-to(mobile) {
                margin-right: 16px;
            }
        }
    }

    .priceBlock {
        display: flex;
        flex-direction: column;
        font-family: $font-secondary;
    }

    .price {
        margin-right: 12px;
        font-size: 28px;
        font-weight: 800;
        line-height: 1;
        color: $green;

        & i {
            font-style: normal;
            font-size: 16px;
        }

        @include respond-to(mobile) {
            width: 100%;
            font-size: 28px;
        }
    }

    .hover {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 280px;
        height: 220px;
        display: block;
        transition: opacity .4s $easing .4s;
    }

    .oldPrice {
        position: relative;
        display: inline-block;
        margin-right: 8px;
        font-size: 18px;
        line-height: 1.15;
        opacity: .5;

        @include respond-to(mobile) {
            font-size: 18px;
        }

        & i {
            font-style: normal;
            font-size: 10px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            height: 1px;
            background-color: $black;
            transition: background-color .3s ease;
        }
    }

    .saleCount {
        font-size: 18px;
        line-height: 1.15;

        @include respond-to(mobile) {
            font-size: 18px;
        }
    }

    .mortgageBlock {
        display: flex;
        margin-left: auto;
        margin-top: 16px;

        @include respond-to(mobile) {
            margin-left: 0;
            margin-top: 24px;
        }
    }

    .bankLogo {
        position: relative;
        width: 48px;
        height: 32px;
        margin-right: 16px;
    }

    .mortgagePrice {
        display: flex;
        flex-direction: column;

        & :first-child {
            color: $grey;
            font-size: 13px;
            line-height: 1.6;
        }

        & :last-child {
            font-size: 10px;
            line-height: 1;
            color: $orange;
            font-family: $font-secondary;

            & i {
                font-style: normal;
                font-size: 12px;
            }
        }
    }

    .flatPlan {
        position: relative;
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 200px;
            background-color: $black;
            opacity: .05;
            transform: translate(-50%, -50%) skewY(-11deg);

            @include respond-to(mobile) {
                width: 200px;
                height: 200px;
            }
        }
    }

    .additionalSchemes {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 36px 0 32px 0;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 1px;
            background-color: #e9e8e8;
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }
    }

    .floorPlan {
        position: relative;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &:global(.fade-enter-active) {
            transition: opacity .5s ease-out;
            animation: bounce-out .7s;
        }

        &:global(.fade-leave-active) {
            transition: opacity .5s ease-out;
        }

        &:global(.fade-leave-to) {
            opacity: 0;
        }
    }

    .additionalCard {
        width: 320px;
    }

    .description {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        line-height: 1.4;
        font-size: 8px;
        color: #8f8b8c;

        span {
            margin-left: 22px;
            font-size: 10px;
            color: #1b1d1e;

            &:last-child {
                margin-left: 15px;
            }
        }
    }

    .additionalImage {
        position: relative;
        width: 280px;
        height: 220px;
        margin-top: 8px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .logo {
        width: 32px;
        height: 32px;
        border: 2px solid $white;
        border-radius: 50%;
        background-color: $green;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        &:not(:first-child) {
            position: absolute;
            top: 0;
        }

        &:nth-child(2) {
            left: 7px;
        }

        &:nth-child(3) {
            right: 0;
        }

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
</style>