<template>
    <button type="button"
            class="btn-reset"
            :class="$style.FilterResetButton"
            @click.prevent="$emit('reset')">
            <span :class="$style.label">
                сбросить фильтр
            </span>
        <span :class="$style.icon">
                <svg viewBox="0 0 10 10">
                    <use xlink:href="#icon-close"></use>
                </svg>
            </span>
    </button>
</template>

<script>
    export default {
        name: 'FilterResetButton',
    };
</script>

<style lang="scss" module>
    .FilterResetButton {
        display: flex;
        align-items: baseline;
        line-height: 1.5;
        font-family: $font-secondary;

        @include respond-to(mobile) {
            margin-top: 2.4rem;
        }
    }

    .icon {
        height: .9rem;
        width: .9rem;
        margin-left: 1.2rem;

        & svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: $orange;
        }
    }

    .label {
        color: $black;

        @include respond-to(mobile) {
            color: $white;
        }
    }
</style>