<template>
    <div :class="$style.FilterControls">
        <button type="button"
                class="btn-reset"
                :class="[$style.btn, '_extended']"
                @click.prevent="$emit('extend')">
            <span :class="$style.btnName">
                <template v-if="extended">Скрыть</template>
                <template v-else>Расширенный фильтр</template>
            </span>
            <span :class="[$style.btnIcon, {_extended: extended}]">
                <svg>
                    <use xlink:href="#icon-triangle"></use>
                </svg>
            </span>
        </button>
        <nuxt-link to="/#visual"
                   :class="[$style.btn, '_visual']">
            <span :class="$style.btnName">
                на генплане
            </span>
            <span :class="$style.btnIcon">
                <svg>
                    <use xlink:href="#icon-visual"></use>
                </svg>
            </span>
        </nuxt-link>
        <!--FilterResetButton-->
        <FilterResetButton @reset="$emit('reset')"/>
    </div>
</template>

<script>
    import FilterResetButton from './FilterResetButton';

    export default {
        name: 'FilterControls',
        components: {FilterResetButton},
        props: {
            extended: {
                type: Boolean,
                default: false,
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterControls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2rem 0;
        border-bottom: 2px solid rgba($black, .1);

        @include respond-to(mobile) {
            flex-direction: column;
            justify-content: normal;
        }
    }

    .btn {
        display: flex;
        align-items: baseline;
        line-height: 1.5;
        font-family: $font-secondary;

        &:global(._extended) {
            min-width: 18rem;
            font-size: 1.4rem;

            @include respond-to(mobile) {
                min-width: auto;
            }

            & .btnIcon {
                height: .8rem;
                width: 1rem;
                transform: rotate(90deg);
                transition: transform .4s ease-in-out;

                &:global(._extended) {
                    transform: rotate(-90deg);
                    transition: transform .4s ease-in-out;
                }
            }
        }

        &:global(._visual) {
            align-items: center;
            min-width: 18rem;
            font-size: 1.4rem;

            @include respond-to(mobile) {
                display: none;
            }
        }
    }

    .btnIcon {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 1.2rem;

        & svg {
            display: block;
            width: 100%;
            height: 100%;
            fill: $orange;
        }
    }

    .btnName {
        @include respond-to(mobile) {
            color: $white;
        }
    }

</style>