<template>
    <p :class="[$style.FilterTrueFalse, {_active: isChecked, _disabled: facet.length === 1}]">
        <input :id="name"
               class="visually-hidden"
               :class="$style.input"
               type="checkbox"
               :checked="isChecked"
               :disabled="facet.length === 1"
               :name="name"
               @change="onChange($event.target.checked)">
        <label :class="$style.icon"
               :for="name"></label>
        <label :class="$style.label"
               :for="name"
               v-html="label"></label>
    </p>
</template>

<script>
    export default {
        name: 'FilterTrueFalse',

        props: {
            name: {
                type: String,
                default: '',
            },

            value: {
                type: [Number, String, Boolean],
                default: false,
            },

            facet: {
                type: Array,
                default: () => [],
            },

            label: {
                type: String,
                default: '',
            },

            allowFacets: {
                type: Boolean,
                default: true,
            },
        },

        data() {
            return {
                isChecked: false,
            };
        },

        watch: {
            value() {
                this.isChecked = !!this.value;
            },
        },

        methods: {
            onChange(val) {
                let newVal = val ? true : null;
                this.$emit('change', {[this.name]: newVal});
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterTrueFalse {
        display: inline-block;
        vertical-align: bottom;
        white-space: nowrap;
        position: relative;
        padding-bottom: 1.8rem;

        @include respond-to(mobile) {
            padding-top: 1.6rem;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $light-grey;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 2px;
            background-color: $green;
            transform: scaleX(0);
            transition: transform .3s ease;
        }

        &:hover {

            &:before {
                transform: scaleX(1);
            }

            .icon {
                border-color: $green;
                transition: border-color .3s ease;
            }
        }

        &:global(._active) {

            &:before {
                transform: scaleX(1);
            }
        }

        &:global(._disabled) {
            opacity: .5;
            pointer-events: none;
        }
    }

    .label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;
        cursor: pointer;

        @include respond-to(mobile) {
            color: $white;
        }
    }

    .icon {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        width: 2.4rem;
        min-width: 24px;
        height: 2.4rem;
        min-height: 24px;
        margin-right: 1.2rem;
        border: 2px solid $light-grey;
        transition: opacity .3s ease, border-color .3s ease;
        cursor: pointer;

        @include respond-to(mobile) {
            margin-right: 1rem;
        }

        &:after {
            content: '';
            width: 80%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $green;
            opacity: 0;
            cursor: pointer;
            transition: opacity .3s ease;
        }
    }

    .input:checked + .icon {
        border-color: $green;
        transition: opacity .3s ease, border-color .3s ease;
    }

    .input:checked + .icon:after {
        opacity: 1;
        transition: opacity .3s ease;
    }
</style>