<template>
    <div :class="$style.FilterButtons">
        <FilterButton v-for="(item, i) in spec"
                      :key="i"
                      :class="$style.FilterButton"
                      :is-active="Array.isArray(value) ? value.includes(item.value) : value === item.value"
                      :is-disabled="facet && !facet.includes(item.value)"
                      :label="item.label"
                      :value="item.value"
                      @on-click="onClick"/>
    </div>
</template>

<script>
    import FilterButton from './filterButton';

    export default {
        name: 'FilterButtons',
        components: {FilterButton},

        props: {
            spec: {
                type: Array,
                default() {
                    return [];
                },
            },
            facet: {
                type: Array,
                default() {
                    return [];
                },
            },
            value: {
                type: [String, Array],
                // required: true,
            },
            name: {
                type: String,
                default: null,
            },
        },

        methods: {
            onClick(val) {
                let newVal = this.value.slice();
                if (this.value.includes(val)) {
                    newVal.splice(this.value.indexOf(val), 1);
                } else {
                    newVal = [...newVal, val];
                }
                this.$emit('change', {[this.name]: newVal});
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterButtons {
        display: flex;
    }

    .FilterButton:not(:last-child) {
        margin-right: .8rem;

        @include respond-to(mobile) {
            margin-right: 1.2rem;
        }
    }
</style>