<template>
    <button type="button"
            class="btn-reset"
            :class="[$style.FilterButton, {_active: isActive, _disabled: isDisabled}]"
            @click.prevent="$emit('on-click', value)">
        <span v-html="label"></span>
    </button>
</template>

<script>
    export default {
        name: 'FilterButton',

        props: {
            isActive: {
                type: Boolean,
                default: false,
            },

            isDisabled: {
                type: Boolean,
                default: false,
            },

            label: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number],
                default: null,
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.2rem;
        height: 6rem;
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;
        color: $black;
        background-color: $white;
        border: 2px solid rgba($black, .1);
        cursor: pointer;
        transition: color .3s ease, background-color .3s ease, border-color .3s ease;

        @include respond-to(mobile) {
            width: 8.8rem;
            height: 5.1rem;
            color: $white;
            background-color: $black;
            border-color: rgba($white, .1);
        }

        &:focus,
        &:hover,
        &:active {
            border-color: $green;
            transition: border-color .3s ease;

            @include respond-to(mobile) {
                border-color: rgba($white, .1);
            }
        }

        &:global(._active) {
            color: $white;
            border-color: $green;
            background-color: $green;
            transition: color .3s ease, background-color .3s ease, border-color .3s ease;

            @include respond-to(mobile) {
                color: $black;
            }
        }

        &:global(._disabled) {
            opacity: .5;
            pointer-events: none;
        }
    }
</style>