<template>
    <button type="button"
            class="btn-reset"
            :class="[$style.FilterSort, className]"
            @click.prevent="onSortClick">
        <span>{{ label }}</span>
        <span :class="[$style.icon, `_${name}`]">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
        </span>
    </button>
</template>

<script>
    export default {
        name: 'FilterSort',

        props: {
            label: {
                type: String,
                default: '',
            },

            name: {
                type: String,
                default: '',
            },

            value: {
                type: String,
                default: '',
            },
        },

        computed: {
            className() {
                if (this.isDisabled) return '_disabled';
                if (this.value) {
                    if (this.value === this.name) {
                        return '_ascending';
                    }
                    if (/-/.test(this.value) && this.name === this.value.slice(1)) {
                        return '_descending';
                    }
                }
                return '';

            },
        },

        methods: {
            onSortClick() {
                let newSort;

                if (!this.value) {
                    newSort = this.name;
                } else {
                    if (this.value === this.name) {
                        newSort = `-${this.name}`;
                    } else if (this.value === `-${this.name}`) {
                        newSort = '';
                    } else {
                        newSort = this.name;
                    }
                }

                this.$emit('change', newSort);
            },
        },
    };
</script>

<style lang="scss" module>
    .FilterSort {
        display: flex;
        align-items: center;
        color: $black;
        transition: color .3s ease-out;
        font-weight: 600;

        &:global(._descending) {
            color: $orange;

            & .icon {

                & > i {
                    background-color: $orange;
                    transition: background-color .3s ease-out, width .3s ease-out;
                }

                &:global(._price) {

                    & :first-child {
                        width: 40%;
                    }

                    & :nth-child(2) {
                        width: 60%;
                    }

                    & :nth-child(3) {
                        width: 80%;
                    }

                    & :nth-child(4) {
                        width: 100%;
                    }
                }

                &:global(._area) {

                    & :nth-child(odd) {
                        width: 70%;
                    }

                    & :nth-child(even) {
                        width: 100%;
                    }
                }
            }
        }

        &:global(._ascending) {
            color: $orange;

            & .icon {

                & > i {
                    background-color: $orange;
                    transition: background-color .3s ease-out, width .3s ease-out;
                }
            }
        }
    }

    .icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: .9rem;
        min-width: 9px;
        height: .7rem;
        min-height: 7px;
        margin-left: 1rem;

        & > i {
            height: 1px;
            background-color: $black;
            transition: background-color .3s ease-out, width .3s ease-out;
        }

        &:global(._price) {

            & :first-child {
                width: 100%;
            }

            & :nth-child(2) {
                width: 80%;
            }

            & :nth-child(3) {
                width: 60%;
            }

            & :nth-child(4) {
                width: 40%;
            }
        }

        &:global(._area) {

            & :nth-child(odd) {
                width: 100%;
            }

            & :nth-child(even) {
                width: 70%;
            }
        }
    }
</style>