<template>
    <div :class="[$style.RangeFilter, 'range-filter', color]">
        <div :class="$style.values">
            <template v-if="!isSingle">
                <span v-html="lower"></span>
                <span :class="$style.hyphen"> - </span>
                <span v-html="upper"></span>
            </template>
            <template v-else>
                <template v-if="!price">
                    <span>{{ sliderValue|splitThousands }} </span>
                    <span v-if="postfix">
                    &ensp;{{ sliderValue|plural(['год', 'года', 'лет']) }}
                </span>
                </template>
                <template v-else>
                    {{ Math.floor(price * (sliderValue / 100))|splitThousands }}
                </template>
            </template>
        </div>

        <client-only>
            <VueSlider v-model="sliderValue"
                       :class="$style.slider"
                       :min="spec.min"
                       :max="spec.max"
                       :interval="1"
                       :height="1"
                       :dot-size="$mq === 'xs' ? 50 : 24"
                       :contained="true"
                       tooltip="none"
                       :style="isSingle ? {paddingLeft: 0} : ''"
                       @dragging="emitInput"
                       @drag-end="emitChange">
            </VueSlider>
        </client-only>
    </div>
</template>

<script>
    export default {
        name: 'RangeFilter',

        props: {
            spec: {
                type: Object,
                default: () => {
                    return { min: 1, max: 100 };
                },
            },

            facet: {
                type: Object,
                default: () => {
                    return {};
                },
            },

            minValue: {
                type: [String, Number],
                default: null,
            },

            maxValue: {
                type: [String, Number],
                default: null,
            },

            value: {
                type: [String, Number],
                default: null,
            },

            isSingle: {
                type: Boolean,
                default: false,
            },

            price: {
                type: [String, Number],
                default: null,
            },

            postfix: {
                type: String,
                default: null,
            },

            name: {
                type: String,
                required: true,
            },

            allowFacets: {
                type: Boolean,
                default: false,
            },

            color: {
                type: String,
                default: '_black',
            },

        },

        data() {
            return {
                sliderValue: this.isSingle ? (this.value ? this.value : this.spec.min) :
                    [(this.minValue || this.minValue ? +this.minValue : this.spec.min), (this.maxValue ? +this.maxValue : this.spec.max)],
            };
        },

        computed: {
            lower() {
                return this.$options.filters.splitThousands(this.sliderValue[0]);
            },

            upper() {
                return this.$options.filters.splitThousands(this.sliderValue[1]);
            },
        },

        watch: {
            facet() {
                if (this.allowFacets) {
                    this.applyFacet();
                }
            },

            value() {
                if (this.isSingle) this.sliderValue = this.value;
            },
        },

        created() {
            if (this.allowFacets) {
                this.applyFacet();
            }
        },

        methods: {
            applyFacet() {
                if ((this.facet.min && this.facet.max) && (!this.minValue && !this.maxValue)) {
                    this.sliderValue = [this.facet.min, this.facet.max];
                } else if ((this.facet.min && this.facet.max) && !this.minValue) {
                    this.sliderValue = [this.facet.min, this.maxValue];
                } else if ((this.facet.min && this.facet.max) && !this.maxValue) {
                    this.sliderValue = [this.minValue, this.facet.max];
                } else {
                    console.log(this.name);
                    console.log(this.facet.min);
                    console.log(this.facet.max);
                    console.warn('Something wrong with range facets');
                }
            }
            ,

            emitChange() {
                if (this.isSingle) {
                    this.$emit('change', { [this.name]: this.sliderValue });
                } else {
                    let minValue = this.sliderValue[0].toString();
                    let maxValue = this.sliderValue[1].toString();

                    if (minValue <= this.spec.min) minValue = null;
                    if (maxValue >= this.spec.max) maxValue = null;

                    this.$emit('change', {
                        [`${this.name}Min`]: minValue,
                        [`${this.name}Max`]: maxValue,
                    });
                }
            }
            ,

            emitInput() {
                if (this.isSingle) {
                    this.$emit('update', { [this.name]: this.sliderValue });
                }
            }
            ,
        },
    }
    ;
</script>

<style lang="scss" module>
    .RangeFilter {
        width: 100%;

        &:global(._black) {

            .values {
                color: $black;
            }
        }

        &:global(._white) {

            .values {
                color: $white;
            }
        }
    }

    .values {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 2rem;
        line-height: 1;
        font-family: $font-secondary;

        & > * {
            flex-shrink: 0;
        }
    }

    .hyphen {
        white-space: pre;
    }
</style>

<style lang="scss">
    .range-filter {

        &._white {

            .vue-slider-rail {
                background-color: rgba($white, .1);
            }
        }

        &._black {

            .vue-slider-rail {
                background-color: rgba($black, .1);
            }
        }

        .vue-slider {
            margin-top: 1rem;

            @include respond-to(mobile) {
                margin-top: .7rem;
                margin-bottom: -.7rem;
                /* stylelint-disable */
                padding-left: 25px !important;
                /* stylelint-enable */
            }
        }

        .vue-slider-process {
            /* stylelint-disable */
            height: 200% !important;
            top: 50%;
            /* stylelint-enable */
            background-color: $green;
            transform: translateY(-50%);
        }

        .vue-slider-dot {
            cursor: pointer;

            &:hover {

                &:after {
                    transform: translate(-50%, -50%) scale(1.2);
                }
            }

            &:active {

                &:after {
                    transform: translate(-50%, -50%) scale(.9);
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1.4rem;
                height: 1rem;
                border-radius: 3px;
                border: 2px solid $green;
                background-color: $white;
                transform: translate(-50%, -50%) scale(1);
                transition: transform .1s ease;

                @include respond-to(mobile) {
                    height: .8rem;
                }
            }
        }
    }

</style>
